{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/campaigns": {
      "get": {
        "operationId": "get_campaigns_beta",
        "summary": "Get Campaigns",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nGet all campaigns, with optional filtering.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_campaigns_beta.json)",
        "parameters": [
          {
            "name": "fields[campaign-audience]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.excluded",
                  "definition.included",
                  "definition.name",
                  "definition.priority",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`<br>`archived`: `equals`<br>`builder`: `equals`<br>`created_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "any(id,['example'])"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign-audiences",
                  "campaign-messages"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 100. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "id",
                "-id",
                "name",
                "-name",
                "updated_at",
                "-updated_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-filters": {
          "id": {
            "operators": {
              "list": [
                "any"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "name": {
            "operators": {
              "single": [
                "contains"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "archived": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "boolean"
            }
          },
          "builder": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "created_at": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          },
          "updated_at": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "post": {
        "operationId": "create_campaign_beta",
        "summary": "Create Campaign",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nCreate a campaign with inline audiences, messages, and variations.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_campaign_beta.json)",
        "parameters": [
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create an omnicampaign with inline audiences, messages, and variations.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaigns/{id}": {
      "get": {
        "operationId": "get_campaign_beta",
        "summary": "Get Campaign",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nGet a campaign by ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_campaign_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The campaign ID to be retrieved",
            "required": true,
            "schema": {
              "description": "The campaign ID to be retrieved",
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-audience]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.excluded",
                  "definition.included",
                  "definition.name",
                  "definition.priority",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign-audiences",
                  "campaign-messages"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "patch": {
        "operationId": "update_campaign_beta",
        "summary": "Update Campaign",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nUpdate a campaign with the given campaign ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_campaign_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The campaign ID to be updated",
            "required": true,
            "schema": {
              "description": "The campaign ID to be updated",
              "type": "string"
            }
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update an omnicampaign.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "delete": {
        "operationId": "delete_campaign_beta",
        "summary": "Delete Campaign",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nDelete a campaign with the given campaign ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_campaign_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The campaign ID to be deleted",
            "required": true,
            "schema": {
              "description": "The campaign ID to be deleted",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-messages": {
      "get": {
        "operationId": "get_campaign_messages_beta",
        "summary": "Get Campaign Messages",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nReturns campaign messages based on filters.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_campaign_messages_beta.json)",
        "parameters": [
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.details.web_url",
                  "definition.name",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`campaign_id`: `equals`<br>`name`: `contains`<br>`status`: `equals`<br>`created`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(id,'example')"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign",
                  "campaign-variations"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "status",
                "-status",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-filters": {
          "id": {
            "operators": {
              "list": [
                "any",
                "equals"
              ],
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "campaign_id": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "name": {
            "operators": {
              "single": [
                "contains"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "status": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "created": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          },
          "updated": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "post": {
        "operationId": "create_campaign_message_beta",
        "summary": "Create Campaign Message",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nCreate a campaign message.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_campaign_message_beta.json)",
        "parameters": [
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-messages/{id}": {
      "get": {
        "operationId": "get_campaign_message_beta",
        "summary": "Get Campaign Message",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nGet a campaign message by ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_campaign_message_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message",
            "required": true,
            "schema": {
              "description": "The ID of the message",
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.details.web_url",
                  "definition.name",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "definition",
                  "definition.archived",
                  "definition.builder",
                  "definition.color",
                  "definition.description",
                  "definition.name",
                  "definition.send_settings",
                  "definition.send_settings.exit_condition_conversion_metric_id",
                  "definition.send_settings.exit_condition_enabled",
                  "definition.send_settings.send_passed_rltz_immediately",
                  "definition.send_settings.send_strategy",
                  "definition.send_settings.send_timezone",
                  "id",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign",
                  "campaign-variations"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "patch": {
        "operationId": "update_campaign_message_beta",
        "summary": "Update Campaign Message",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nUpdate a campaign message.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_campaign_message_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message",
            "required": true,
            "schema": {
              "description": "The ID of the message",
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttle_unit",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "id",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/MessagePartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "delete": {
        "operationId": "delete_campaign_message_beta",
        "summary": "Delete Campaign Message",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2026-10-15 revision.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs.\n\nDelete a campaign message.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_campaign_message_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the message",
            "required": true,
            "schema": {
              "description": "The ID of the message",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/sending-domains": {
      "get": {
        "operationId": "get_sending_domains_beta",
        "summary": "Get Sending Domains",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nList all sending domains configured for the account.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_sending_domains_beta.json)",
        "parameters": [
          {
            "name": "fields[sending-domain]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "configuration",
                  "created_at",
                  "dkim_selector",
                  "dns_records",
                  "domain",
                  "id",
                  "purpose",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 20,
              "minimum": 1
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSendingDomainResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Sending Domains"
      },
      "post": {
        "operationId": "create_sending_domain_beta",
        "summary": "Create Sending Domain",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nRegister a new sending domain and return the DNS records to configure.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`sender-config:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_sending_domain_beta.json)",
        "parameters": [
          {
            "name": "fields[sending-domain]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "configuration",
                  "created_at",
                  "dkim_selector",
                  "dns_records",
                  "domain",
                  "id",
                  "purpose",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a new sending domain.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/SendingDomainCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSendingDomainResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:write"
        ],
        "x-klaviyo-subtag": "Sending Domains"
      }
    },
    "/api/sending-domains/{id}": {
      "get": {
        "operationId": "get_sending_domain_beta",
        "summary": "Get Sending Domain",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the sending domain with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_sending_domain_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the sending domain.",
            "required": true,
            "schema": {
              "description": "The ID of the sending domain.",
              "type": "string",
              "example": "123"
            }
          },
          {
            "name": "fields[sending-domain]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "configuration",
                  "created_at",
                  "dkim_selector",
                  "dns_records",
                  "domain",
                  "id",
                  "purpose",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSendingDomainResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Sending Domains"
      },
      "delete": {
        "operationId": "delete_sending_domain_beta",
        "summary": "Delete Sending Domain",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete a sending domain.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`sender-config:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_sending_domain_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the sending domain.",
            "required": true,
            "schema": {
              "description": "The ID of the sending domain.",
              "type": "string",
              "example": "123"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:write"
        ],
        "x-klaviyo-subtag": "Sending Domains"
      }
    },
    "/api/text-messaging-configurations/{id}": {
      "get": {
        "operationId": "get_text_messaging_configuration_beta",
        "summary": "Get Text Messaging Configuration",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nRetrieve the SMS account for the calling company.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_text_messaging_configuration_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for this text messaging configuration (must equal the caller's company id).",
            "required": true,
            "schema": {
              "description": "The unique identifier for this text messaging configuration (must equal the caller's company id).",
              "type": "string"
            }
          },
          {
            "name": "fields[text-messaging-configuration]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "id",
                  "opt_out_language",
                  "org_prefix",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTextMessagingConfigurationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Text Messaging"
      }
    },
    "/api/text-messaging-senders": {
      "get": {
        "operationId": "get_text_messaging_senders_beta",
        "summary": "Get Text Messaging Senders",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nList the calling company's text-messaging senders.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_text_messaging_senders_beta.json)",
        "parameters": [
          {
            "name": "fields[text-messaging-sender-registration]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "decided_at",
                  "failures",
                  "id",
                  "status",
                  "submitted_at",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[text-messaging-sender]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "forwarding_number",
                  "id",
                  "sender_details",
                  "sender_details.country",
                  "sender_identifier",
                  "sender_type",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "text-messaging-sender-registration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 10. Min: 1. Max: 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 20,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTextMessagingSenderResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Text Messaging"
      },
      "post": {
        "operationId": "create_text_messaging_sender_beta",
        "summary": "Create Text Messaging Sender",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a sender and submit its initial registration.\n\nA toll-free number is provisioned in all supported regions (US + CA), so\nthe response is the sender for the requested country and the\nsibling-region sender also appears in list/retrieve.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`sender-config:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_text_messaging_sender_beta.json)",
        "parameters": [
          {
            "name": "fields[text-messaging-sender]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "forwarding_number",
                  "id",
                  "sender_details",
                  "sender_details.country",
                  "sender_identifier",
                  "sender_type",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a text-messaging sender.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TextMessagingSenderCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTextMessagingSenderResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:write"
        ],
        "x-klaviyo-subtag": "Text Messaging"
      }
    },
    "/api/text-messaging-senders/{id}": {
      "get": {
        "operationId": "get_text_messaging_sender_beta",
        "summary": "Get Text Messaging Sender",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nRetrieve a single text-messaging sender by ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_text_messaging_sender_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the text-messaging sender.",
            "required": true,
            "schema": {
              "description": "The unique identifier for the text-messaging sender.",
              "type": "string",
              "example": "01HX2Z8RG7Y4PWFQK3V0M5N1B7"
            }
          },
          {
            "name": "fields[text-messaging-sender-registration]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "decided_at",
                  "failures",
                  "id",
                  "status",
                  "submitted_at",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[text-messaging-sender]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "forwarding_number",
                  "id",
                  "sender_details",
                  "sender_details.country",
                  "sender_identifier",
                  "sender_type",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "text-messaging-sender-registration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTextMessagingSenderResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Text Messaging"
      }
    },
    "/api/text-messaging-sender-registrations/{id}": {
      "get": {
        "operationId": "get_text_messaging_sender_registration_beta",
        "summary": "Get Text Messaging Sender Registration",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nRetrieve a sender registration by ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`sender-config:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_text_messaging_sender_registration_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the sender registration.",
            "required": true,
            "schema": {
              "description": "The unique identifier of the sender registration.",
              "type": "string",
              "example": "01HX2Z8RG7Y4PWFQK3V0M5N1C8"
            }
          },
          {
            "name": "fields[text-messaging-sender-registration]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "decided_at",
                  "failures",
                  "id",
                  "status",
                  "submitted_at",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[text-messaging-sender]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "forwarding_number",
                  "id",
                  "sender_details",
                  "sender_details.country",
                  "sender_identifier",
                  "sender_type",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "text-messaging-sender"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTextMessagingSenderRegistrationResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "sender-config:read"
        ],
        "x-klaviyo-subtag": "Text Messaging"
      }
    },
    "/api/api-keys": {
      "get": {
        "operationId": "get_api_keys_beta",
        "summary": "Get API Keys",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nList the private API keys for the authenticated account.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`credentials:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_api_keys_beta.json)",
        "parameters": [
          {
            "name": "additional-fields[api-key]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'redacted_key'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "redacted_key"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[api-key]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "redacted_key",
                  "scopes",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeyResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "credentials:read"
        ],
        "x-klaviyo-subtag": "API Keys"
      }
    },
    "/api/api-keys/{id}": {
      "get": {
        "operationId": "get_api_key_beta",
        "summary": "Get API Key",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nRetrieve a single private API key by id.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`credentials:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_api_key_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the key.",
            "required": true,
            "schema": {
              "description": "Identifier for the key.",
              "type": "string",
              "example": "01HQXYZ"
            }
          },
          {
            "name": "additional-fields[api-key]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'redacted_key'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "redacted_key"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[api-key]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "redacted_key",
                  "scopes",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeyResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "credentials:read"
        ],
        "x-klaviyo-subtag": "API Keys"
      },
      "patch": {
        "operationId": "update_api_key_beta",
        "summary": "Update API Key",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the label or enable/disable the key.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`credentials:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_api_key_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the key to update.",
            "required": true,
            "schema": {
              "description": "Identifier for the key to update.",
              "type": "string",
              "example": "01HQXYZ"
            }
          },
          {
            "name": "additional-fields[api-key]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'redacted_key'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "redacted_key"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[api-key]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "redacted_key",
                  "scopes",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Body for ``PATCH /api/api-keys/{id}``.\n\nUse to update the label or enable/disable the key. Either field\nmay be omitted (omitted = preserve existing value), but neither\nmay be supplied as ``null`` — both attributes are required when\npresent.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchApiKeyResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "credentials:write"
        ],
        "x-klaviyo-subtag": "API Keys"
      }
    },
    "/api/profile-bulk-export-jobs/{job_id}": {
      "get": {
        "operationId": "get_profile_bulk_export_job_beta",
        "summary": "Get Profile Bulk Export Job",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the status and details of a profile bulk export job.\n\nWhen the job is complete, the response will include the expiration and file size\nof the exported profiles file.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`lists:read`\n`profiles:read`\n`segments:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_profile_bulk_export_job_beta.json)",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the job to retrieve.",
            "required": true,
            "schema": {
              "description": "ID of the job to retrieve.",
              "type": "string",
              "example": "01GSQPBF74KQ5YTDEPP41T1BZH"
            }
          },
          {
            "name": "fields[profile-bulk-export-job]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "error",
                  "id",
                  "result",
                  "result.expires_at",
                  "status"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileBulkExportJobStatusRetrieveResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "lists:read",
          "profiles:read",
          "segments:read"
        ],
        "x-klaviyo-subtag": "Profiles"
      }
    },
    "/api/event-bulk-export-jobs/{job_id}": {
      "get": {
        "operationId": "get_event_bulk_export_job_beta",
        "summary": "Get Event Bulk Export Job",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the status and details of an event bulk export job.\n\nWhen the job is complete, the response will include the expiration and file size\nof the exported events file.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`events:read`\n`metrics:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_event_bulk_export_job_beta.json)",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the job to retrieve.",
            "required": true,
            "schema": {
              "description": "ID of the job to retrieve.",
              "type": "string",
              "example": "01GSQPBF74KQ5YTDEPP41T1BZH"
            }
          },
          {
            "name": "fields[event-bulk-export-job]",
            "in": "query",
[...]
