{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2025-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/flow-actions/{id}": {
      "get": {
        "operationId": "get_flow_action_beta",
        "summary": "Get Flow Action",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet a flow action from a flow with the given flow action ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "updated",
                  "definition",
                  "definition.id",
                  "definition.temporary_id",
                  "definition.type",
                  "definition.links",
                  "definition.links.next",
                  "definition.links.next_if_true",
                  "definition.links.next_if_false",
                  "definition.data",
                  "definition.data.profile_filter",
                  "definition.data.profile_filter.condition_groups",
                  "definition.data.message",
                  "definition.data.message.from_email",
                  "definition.data.message.from_label",
                  "definition.data.message.reply_to_email",
                  "definition.data.message.cc_email",
                  "definition.data.message.bcc_email",
                  "definition.data.message.subject_line",
                  "definition.data.message.preview_text",
                  "definition.data.message.template_id",
                  "definition.data.message.smart_sending_enabled",
                  "definition.data.message.transactional",
                  "definition.data.message.add_tracking_params",
                  "definition.data.message.custom_tracking_params",
                  "definition.data.message.additional_filters",
                  "definition.data.message.additional_filters.condition_groups",
                  "definition.data.message.name",
                  "definition.data.message.id",
                  "definition.data.status",
                  "definition.data.message.title",
                  "definition.data.message.body",
                  "definition.data.message.sound",
                  "definition.data.message.badge",
                  "definition.data.message.badge_options",
                  "definition.data.message.badge_options.badge_config",
                  "definition.data.message.badge_options.value",
                  "definition.data.message.badge_options.set_from_property",
                  "definition.data.message.image_id",
                  "definition.data.message.dynamic_image",
                  "definition.data.message.on_open",
                  "definition.data.message.ios_link",
                  "definition.data.message.android_link",
                  "definition.data.message.conversion_metric_id",
                  "definition.data.message.shorten_links",
                  "definition.data.message.include_contact_card",
                  "definition.data.message.add_org_prefix",
                  "definition.data.message.add_info_link",
                  "definition.data.message.add_opt_out_language",
                  "definition.data.message.sms_quiet_hours_enabled",
                  "definition.data.message.url",
                  "definition.data.message.headers",
                  "definition.data.message.to_emails",
                  "definition.data.unit",
                  "definition.data.value",
                  "definition.data.secondary_value",
                  "definition.data.timezone",
                  "definition.data.delay_until_time",
                  "definition.data.delay_until_weekdays",
                  "definition.data.trigger_filter",
                  "definition.data.trigger_filter.condition_groups",
                  "definition.data.trigger_id",
                  "definition.data.trigger_type",
                  "definition.data.trigger_subtype",
                  "definition.data.profile_operations",
                  "definition.data.target_time",
                  "definition.data.target_days",
                  "definition.data.experiment_status",
                  "definition.data.main_action",
                  "definition.data.main_action.id",
                  "definition.data.main_action.temporary_id",
                  "definition.data.main_action.type",
                  "definition.data.main_action.links",
                  "definition.data.main_action.links.next",
                  "definition.data.main_action.data",
                  "definition.data.main_action.data.message",
                  "definition.data.main_action.data.message.from_email",
                  "definition.data.main_action.data.message.from_label",
                  "definition.data.main_action.data.message.reply_to_email",
                  "definition.data.main_action.data.message.cc_email",
                  "definition.data.main_action.data.message.bcc_email",
                  "definition.data.main_action.data.message.subject_line",
                  "definition.data.main_action.data.message.preview_text",
                  "definition.data.main_action.data.message.template_id",
                  "definition.data.main_action.data.message.smart_sending_enabled",
                  "definition.data.main_action.data.message.transactional",
                  "definition.data.main_action.data.message.add_tracking_params",
                  "definition.data.main_action.data.message.custom_tracking_params",
                  "definition.data.main_action.data.message.additional_filters",
                  "definition.data.main_action.data.message.additional_filters.condition_groups",
                  "definition.data.main_action.data.message.name",
                  "definition.data.main_action.data.message.id",
                  "definition.data.main_action.data.status",
                  "definition.data.main_action.data.message.body",
                  "definition.data.main_action.data.message.image_id",
                  "definition.data.main_action.data.message.dynamic_image",
                  "definition.data.main_action.data.message.shorten_links",
                  "definition.data.main_action.data.message.include_contact_card",
                  "definition.data.main_action.data.message.add_org_prefix",
                  "definition.data.main_action.data.message.add_info_link",
                  "definition.data.main_action.data.message.add_opt_out_language",
                  "definition.data.main_action.data.message.sms_quiet_hours_enabled",
                  "definition.data.current_experiment",
                  "definition.data.current_experiment.id",
                  "definition.data.current_experiment.name",
                  "definition.data.current_experiment.variations",
                  "definition.data.current_experiment.allocations",
                  "definition.data.current_experiment.started",
                  "definition.data.current_experiment.winner_metric",
                  "definition.data.current_experiment.automatic_winner_selection_settings",
                  "definition.data.current_experiment.automatic_winner_selection_settings.enabled",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty",
                  "definition.data.name",
                  "definition.data.on_execution",
                  "definition.data.list_id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "channel",
                  "content",
                  "content.subject",
                  "content.preview_text",
                  "content.from_email",
                  "content.from_label",
                  "content.reply_to_email",
                  "content.cc_email",
                  "content.bcc_email",
                  "content.body",
                  "content.media_url",
                  "content.title",
                  "content.sound",
                  "content.badge",
                  "content.dynamic_image",
                  "content.ios_link",
                  "content.android_link",
                  "content.on_open",
                  "created",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "status",
                  "archived",
                  "created",
                  "updated",
                  "trigger_type"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow",
                  "flow-messages"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowActionEncodedResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      },
      "patch": {
        "operationId": "update_flow_action_beta",
        "summary": "Update Flow Action",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate a flow action.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/FlowActionUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchFlowActionEncodedResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:write"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    },
    "/api/flow-messages/{id}": {
      "get": {
        "operationId": "get_flow_message_beta",
        "summary": "Get Flow Message",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet a flow message from a flow with the given flow message ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action_type",
                  "status",
                  "created",
                  "updated",
                  "settings",
                  "tracking_options",
                  "tracking_options.add_utm",
                  "tracking_options.utm_params",
                  "tracking_options.is_tracking_opens",
                  "tracking_options.is_tracking_clicks",
                  "send_options",
                  "send_options.use_smart_sending",
                  "send_options.is_transactional",
                  "badge_options",
                  "badge_options.badge_config",
                  "badge_options.value",
                  "badge_options.set_from_property",
                  "render_options",
                  "render_options.shorten_links",
                  "render_options.add_org_prefix",
                  "render_options.add_info_link",
                  "render_options.add_opt_out_language"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "updated",
                  "definition",
                  "definition.from_email",
                  "definition.from_label",
                  "definition.reply_to_email",
                  "definition.cc_email",
                  "definition.bcc_email",
                  "definition.subject_line",
                  "definition.preview_text",
                  "definition.template_id",
                  "definition.smart_sending_enabled",
                  "definition.transactional",
                  "definition.add_tracking_params",
                  "definition.custom_tracking_params",
                  "definition.additional_filters",
                  "definition.additional_filters.condition_groups",
                  "definition.name",
                  "definition.id",
                  "definition.to_emails",
                  "definition.title",
                  "definition.body",
                  "definition.sound",
                  "definition.badge",
                  "definition.badge_options",
                  "definition.badge_options.badge_config",
                  "definition.badge_options.value",
                  "definition.badge_options.set_from_property",
                  "definition.image_id",
                  "definition.dynamic_image",
                  "definition.on_open",
                  "definition.ios_link",
                  "definition.android_link",
                  "definition.conversion_metric_id",
                  "definition.shorten_links",
                  "definition.include_contact_card",
                  "definition.add_org_prefix",
                  "definition.add_info_link",
                  "definition.add_opt_out_language",
                  "definition.sms_quiet_hours_enabled",
                  "definition.url",
                  "definition.headers"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "editor_type",
                  "html",
                  "text",
                  "amp",
                  "created",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-action",
                  "template"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageEncodedResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    },
    "/api/data-sources": {
      "get": {
        "operationId": "get_data_sources_beta",
        "summary": "Get Data Sources",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2025-07-15 revision.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs.\n\nGet all data sources in an account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`",
        "parameters": [
          {
            "name": "fields[data-source]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "title",
                  "visibility",
                  "description"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataSourceResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "post": {
        "operationId": "create_data_source_beta",
        "summary": "Create Data Source",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2025-07-15 revision.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs.\n\nCreate a new data source in an account<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create data source",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDataSourceResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/data-sources/{id}": {
      "get": {
        "operationId": "get_data_source_beta",
        "summary": "Get Data Source",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2025-07-15 revision.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs.\n\nRetrieve a data source in an account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the data source",
            "required": true,
            "schema": {
              "description": "The ID of the data source",
              "type": "string"
            }
          },
          {
            "name": "fields[data-source]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "title",
                  "visibility",
                  "description"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDataSourceResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "delete": {
        "operationId": "delete_data_source_beta",
        "summary": "Delete Data Source",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2025-07-15 revision.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs.\n\nDelete a data source in an account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the data source to delete",
            "required": true,
            "schema": {
              "description": "The ID of the data source to delete",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/data-source-record-bulk-create-jobs": {
      "post": {
        "operationId": "bulk_create_data_source_records_beta",
        "summary": "Bulk Create Data Source Records",
        "description": "\n            > 🚧 This endpoint is in beta and will be released in GA in our 2025-07-15 revision.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs.\n\nCreate a data source record job.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `15/m`\n\n**Scopes:**\n`custom-objects:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a data source record job",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceRecordBulkCreateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "create_data_source_record_bulk_create_job"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/flows/{id}/flow-actions": {
      "get": {
        "operationId": "get_actions_for_flow_beta",
        "summary": "Get Actions for Flow",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all flow actions associated with the given flow ID.\n\nReturns a maximum of 50 flows per request, which can be paginated with cursor-based pagination.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "updated",
                  "definition",
                  "definition.id",
                  "definition.temporary_id",
                  "definition.type",
                  "definition.links",
                  "definition.links.next",
                  "definition.links.next_if_true",
                  "definition.links.next_if_false",
                  "definition.data",
                  "definition.data.profile_filter",
                  "definition.data.profile_filter.condition_groups",
                  "definition.data.message",
                  "definition.data.message.from_email",
                  "definition.data.message.from_label",
                  "definition.data.message.reply_to_email",
                  "definition.data.message.cc_email",
                  "definition.data.message.bcc_email",
                  "definition.data.message.subject_line",
                  "definition.data.message.preview_text",
                  "definition.data.message.template_id",
                  "definition.data.message.smart_sending_enabled",
                  "definition.data.message.transactional",
                  "definition.data.message.add_tracking_params",
                  "definition.data.message.custom_tracking_params",
                  "definition.data.message.additional_filters",
                  "definition.data.message.additional_filters.condition_groups",
                  "definition.data.message.name",
                  "definition.data.message.id",
                  "definition.data.status",
                  "definition.data.message.title",
                  "definition.data.message.body",
                  "definition.data.message.sound",
                  "definition.data.message.badge",
                  "definition.data.message.badge_options",
                  "definition.data.message.badge_options.badge_config",
                  "definition.data.message.badge_options.value",
                  "definition.data.message.badge_options.set_from_property",
                  "definition.data.message.image_id",
                  "definition.data.message.dynamic_image",
                  "definition.data.message.on_open",
                  "definition.data.message.ios_link",
                  "definition.data.message.android_link",
                  "definition.data.message.conversion_metric_id",
                  "definition.data.message.shorten_links",
                  "definition.data.message.include_contact_card",
                  "definition.data.message.add_org_prefix",
                  "definition.data.message.add_info_link",
                  "definition.data.message.add_opt_out_language",
                  "definition.data.message.sms_quiet_hours_enabled",
                  "definition.data.message.url",
                  "definition.data.message.headers",
                  "definition.data.message.to_emails",
                  "definition.data.unit",
                  "definition.data.value",
                  "definition.data.secondary_value",
                  "definition.data.timezone",
                  "definition.data.delay_until_time",
                  "definition.data.delay_until_weekdays",
                  "definition.data.trigger_filter",
                  "definition.data.trigger_filter.condition_groups",
                  "definition.data.trigger_id",
                  "definition.data.trigger_type",
                  "definition.data.trigger_subtype",
                  "definition.data.profile_operations",
                  "definition.data.target_time",
                  "definition.data.target_days",
                  "definition.data.experiment_status",
                  "definition.data.main_action",
                  "definition.data.main_action.id",
                  "definition.data.main_action.temporary_id",
                  "definition.data.main_action.type",
                  "definition.data.main_action.links",
                  "definition.data.main_action.links.next",
                  "definition.data.main_action.data",
                  "definition.data.main_action.data.message",
                  "definition.data.main_action.data.message.from_email",
                  "definition.data.main_action.data.message.from_label",
                  "definition.data.main_action.data.message.reply_to_email",
                  "definition.data.main_action.data.message.cc_email",
                  "definition.data.main_action.data.message.bcc_email",
                  "definition.data.main_action.data.message.subject_line",
                  "definition.data.main_action.data.message.preview_text",
                  "definition.data.main_action.data.message.template_id",
                  "definition.data.main_action.data.message.smart_sending_enabled",
                  "definition.data.main_action.data.message.transactional",
                  "definition.data.main_action.data.message.add_tracking_params",
                  "definition.data.main_action.data.message.custom_tracking_params",
                  "definition.data.main_action.data.message.additional_filters",
                  "definition.data.main_action.data.message.additional_filters.condition_groups",
                  "definition.data.main_action.data.message.name",
                  "definition.data.main_action.data.message.id",
                  "definition.data.main_action.data.status",
                  "definition.data.main_action.data.message.body",
                  "definition.data.main_action.data.message.image_id",
                  "definition.data.main_action.data.message.dynamic_image",
                  "definition.data.main_action.data.message.shorten_links",
                  "definition.data.main_action.data.message.include_contact_card",
                  "definition.data.main_action.data.message.add_org_prefix",
                  "definition.data.main_action.data.message.add_info_link",
                  "definition.data.main_action.data.message.add_opt_out_language",
                  "definition.data.main_action.data.message.sms_quiet_hours_enabled",
                  "definition.data.current_experiment",
                  "definition.data.current_experiment.id",
                  "definition.data.current_experiment.name",
                  "definition.data.current_experiment.variations",
                  "definition.data.current_experiment.allocations",
                  "definition.data.current_experiment.started",
                  "definition.data.current_experiment.winner_metric",
                  "definition.data.current_experiment.automatic_winner_selection_settings",
                  "definition.data.current_experiment.automatic_winner_selection_settings.enabled",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty",
                  "definition.data.name",
                  "definition.data.on_execution",
                  "definition.data.list_id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`action_type`: `any`, `equals`<br>`status`: `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "any(id,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 50. Min: 1. Max: 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "action_type",
                "-action_type",
                "created",
                "-created",
                "id",
                "-id",
                "status",
                "-status",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowActionEncodedResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_flow_actions",
          "get_flow_actions"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    },
    "/api/flow-actions/{id}/flow-messages": {
      "get": {
        "operationId": "get_flow_action_messages_beta",
        "summary": "Get Messages For Flow Action",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all flow messages associated with the given flow action ID.\n\nReturns a maximum of 50 flow message relationships per request, which can be paginated with cursor-based pagination.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "updated",
                  "definition",
                  "definition.from_email",
                  "definition.from_label",
                  "definition.reply_to_email",
                  "definition.cc_email",
                  "definition.bcc_email",
                  "definition.subject_line",
                  "definition.preview_text",
                  "definition.template_id",
                  "definition.smart_sending_enabled",
                  "definition.transactional",
                  "definition.add_tracking_params",
                  "definition.custom_tracking_params",
                  "definition.additional_filters",
                  "definition.additional_filters.condition_groups",
                  "definition.name",
                  "definition.id",
                  "definition.to_emails",
                  "definition.title",
                  "definition.body",
                  "definition.sound",
                  "definition.badge",
                  "definition.badge_options",
                  "definition.badge_options.badge_config",
                  "definition.badge_options.value",
                  "definition.badge_options.set_from_property",
                  "definition.image_id",
                  "definition.dynamic_image",
                  "definition.on_open",
                  "definition.ios_link",
                  "definition.android_link",
                  "definition.conversion_metric_id",
                  "definition.shorten_links",
                  "definition.include_contact_card",
                  "definition.add_org_prefix",
                  "definition.add_info_link",
                  "definition.add_opt_out_language",
                  "definition.sms_quiet_hours_enabled",
                  "definition.url",
                  "definition.headers"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "any(id,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 50. Min: 1. Max: 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageEncodedResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_messages_for_flow_action"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    },
    "/api/flow-messages/{id}/flow-action": {
      "get": {
        "operationId": "get_action_for_flow_message_beta",
        "summary": "Get Action for Flow Message",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the flow action for a flow message with the given message ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2025-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "updated",
                  "definition",
                  "definition.id",
                  "definition.temporary_id",
                  "definition.type",
                  "definition.links",
                  "definition.links.next",
                  "definition.links.next_if_true",
                  "definition.links.next_if_false",
                  "definition.data",
                  "definition.data.profile_filter",
                  "definition.data.profile_filter.condition_groups",
                  "definition.data.message",
                  "definition.data.message.from_email",
                  "definition.data.message.from_label",
                  "definition.data.message.reply_to_email",
                  "definition.data.message.cc_email",
                  "definition.data.message.bcc_email",
                  "definition.data.message.subject_line",
                  "definition.data.message.preview_text",
                  "definition.data.message.template_id",
                  "definition.data.message.smart_sending_enabled",
                  "definition.data.message.transactional",
                  "definition.data.message.add_tracking_params",
                  "definition.data.message.custom_tracking_params",
                  "definition.data.message.additional_filters",
                  "definition.data.message.additional_filters.condition_groups",
                  "definition.data.message.name",
                  "definition.data.message.id",
                  "definition.data.status",
                  "definition.data.message.title",
                  "definition.data.message.body",
                  "definition.data.message.sound",
                  "definition.data.message.badge",
                  "definition.data.message.badge_options",
                  "definition.data.message.badge_options.badge_config",
                  "definition.data.message.badge_options.value",
                  "definition.data.message.badge_options.set_from_property",
                  "definition.data.message.image_id",
                  "definition.data.message.dynamic_image",
                  "definition.data.message.on_open",
                  "definition.data.message.ios_link",
                  "definition.data.message.android_link",
                  "definition.data.message.conversion_metric_id",
                  "definition.data.message.shorten_links",
                  "definition.data.message.include_contact_card",
                  "definition.data.message.add_org_prefix",
                  "definition.data.message.add_info_link",
                  "definition.data.message.add_opt_out_language",
                  "definition.data.message.sms_quiet_hours_enabled",
                  "definition.data.message.url",
                  "definition.data.message.headers",
                  "definition.data.message.to_emails",
                  "definition.data.unit",
                  "definition.data.value",
                  "definition.data.secondary_value",
                  "definition.data.timezone",
                  "definition.data.delay_until_time",
                  "definition.data.delay_until_weekdays",
                  "definition.data.trigger_filter",
                  "definition.data.trigger_filter.condition_groups",
                  "definition.data.trigger_id",
                  "definition.data.trigger_type",
                  "definition.data.trigger_subtype",
                  "definition.data.profile_operations",
                  "definition.data.target_time",
                  "definition.data.target_days",
                  "definition.data.experiment_status",
                  "definition.data.main_action",
                  "definition.data.main_action.id",
                  "definition.data.main_action.temporary_id",
                  "definition.data.main_action.type",
                  "definition.data.main_action.links",
                  "definition.data.main_action.links.next",
                  "definition.data.main_action.data",
                  "definition.data.main_action.data.message",
                  "definition.data.main_action.data.message.from_email",
                  "definition.data.main_action.data.message.from_label",
                  "definition.data.main_action.data.message.reply_to_email",
                  "definition.data.main_action.data.message.cc_email",
                  "definition.data.main_action.data.message.bcc_email",
                  "definition.data.main_action.data.message.subject_line",
                  "definition.data.main_action.data.message.preview_text",
                  "definition.data.main_action.data.message.template_id",
                  "definition.data.main_action.data.message.smart_sending_enabled",
                  "definition.data.main_action.data.message.transactional",
                  "definition.data.main_action.data.message.add_tracking_params",
                  "definition.data.main_action.data.message.custom_tracking_params",
                  "definition.data.main_action.data.message.additional_filters",
                  "definition.data.main_action.data.message.additional_filters.condition_groups",
                  "definition.data.main_action.data.message.name",
                  "definition.data.main_action.data.message.id",
                  "definition.data.main_action.data.status",
                  "definition.data.main_action.data.message.body",
                  "definition.data.main_action.data.message.image_id",
                  "definition.data.main_action.data.message.dynamic_image",
                  "definition.data.main_action.data.message.shorten_links",
                  "definition.data.main_action.data.message.include_contact_card",
                  "definition.data.main_action.data.message.add_org_prefix",
                  "definition.data.main_action.data.message.add_info_link",
                  "definition.data.main_action.data.message.add_opt_out_language",
                  "definition.data.main_action.data.message.sms_quiet_hours_enabled",
                  "definition.data.current_experiment",
                  "definition.data.current_experiment.id",
                  "definition.data.current_experiment.name",
                  "definition.data.current_experiment.variations",
                  "definition.data.current_experiment.allocations",
                  "definition.data.current_experiment.started",
                  "definition.data.current_experiment.winner_metric",
                  "definition.data.current_experiment.automatic_winner_selection_settings",
                  "definition.data.current_experiment.automatic_winner_selection_settings.enabled",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty",
                  "definition.data.name",
                  "definition.data.on_execution",
                  "definition.data.list_id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowActionEncodedResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_message_action"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    },
    "/api/flow-messages/{id}/relationships/flow-action": {
      "get": {
        "operationId": "get_action_id_for_flow_message_beta",
        "summary": "Get Action ID for Flow Message",
        "description": "\n            > 🚧 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2025-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the [relationship](https://developers.klaviyo.com/en/reference/api_overview#relationships) for a flow message's flow action, given the flow ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageActionRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_message_relationships_action"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Flows"
      }
    }
  },
  "components": {
    "schemas": {
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FlowResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "archived": {
                "type": "boolean",
                "nullable": true
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "trigger_type": {
                "description": "Corresponds to the object which triggered the flow.",
                "type": "string",
                "enum": [
                  "Added to List",
                  "Date Based",
                  "Low Inventory",
                  "Metric",
                  "Price Drop",
                  "Unconfigured"
                ],
                "nullable": true
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ListEnum": {
        "type": "string",
        "enum": [
          "list"
        ]
      },
      "ProfileGroupMembershipEnum": {
        "type": "string",
        "enum": [
          "profile-group-membership"
        ]
      },
      "DateEnum": {
        "type": "string",
        "enum": [
          "date"
        ]
      },
      "StaticDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for static date filters.\n\nE.g. \"before 2023-01-01\"",
            "type": "string",
            "enum": [
              "after",
              "before"
            ]
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          }
        },
        "required": [
          "type",
          "operator",
          "date"
        ]
      },
      "StaticDateRangeFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for static date range filters.\n\nE.g. \"between 2023-01-01 and 2023-02-01\"",
            "type": "string",
            "enum": [
              "between-static"
            ]
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          }
        },
        "required": [
          "type",
          "operator",
          "start",
          "end"
        ]
      },
      "RelativeDateOperatorBaseFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for relative date filters.\n\ne.g. \"in the last 10 days\"",
            "type": "string",
            "enum": [
              "at-least",
              "in-the-last",
              "in-the-next"
            ]
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          },
          "quantity": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "unit",
          "quantity"
        ]
      },
      "RelativeDateRangeFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for relative date range filters.\n\ne.g. \"between 10 and 20 days ago\"",
            "type": "string",
            "enum": [
              "between"
            ]
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "start",
          "end",
          "unit"
        ]
      },
      "ProfileHasGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProfileGroupMembershipEnum"
          },
          "is_member": {
            "enum": [
              true
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeframe_filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfileNoGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProfileGroupMembershipEnum"
          },
          "is_member": {
            "enum": [
              false
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfileMetricEnum": {
        "type": "string",
        "enum": [
          "profile-metric"
        ]
      },
      "NumericEnum": {
        "type": "string",
        "enum": [
          "numeric"
        ]
      },
      "NumericOperatorFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/NumericEnum"
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "RelativeAnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for relative date filters.\n\ne.g. \"anniversary in the last 10 days\"",
            "type": "string",
            "enum": [
              "anniversary-last",
              "anniversary-next"
            ]
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          },
          "quantity": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "unit",
          "quantity"
        ]
      },
      "AlltimeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for alltime date filters.",
            "type": "string",
            "enum": [
              "alltime"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "StringEnum": {
        "type": "string",
        "enum": [
          "string"
        ]
      },
      "StringOperatorFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StringEnum"
          },
          "operator": {
            "description": "Operators for string filters.",
            "type": "string",
            "enum": [
              "contains",
              "ends-with",
              "equals",
              "not-contains",
              "not-ends-with",
              "not-equals",
              "not-starts-with",
              "starts-with"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "StringArrayOperatorFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StringEnum"
          },
          "operator": {
            "description": "Operators for string-in-array filters.",
            "type": "string",
            "enum": [
              "in",
              "not-in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ExistenceEnum": {
        "type": "string",
        "enum": [
          "existence"
        ]
      },
      "ExistenceOperatorFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ExistenceEnum"
          },
          "operator": {
            "description": "Operators for existence filters.",
            "type": "string",
            "enum": [
              "is-set",
              "not-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ListSetFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "operator": {
            "description": "Operators for list contains set filters.",
            "type": "string",
            "enum": [
              "contains-all",
              "contains-any",
              "not-contains-all",
              "not-contains-any"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListLengthFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "operator": {
            "description": "Operators for list length filters.",
            "type": "string",
            "enum": [
              "length-equals",
              "length-greater-than",
              "length-greater-than-or-equal",
              "length-less-than",
              "length-less-than-or-equal"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSubstringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "operator": {
            "description": "Operators for list substring filters.",
            "type": "string",
            "enum": [
              "contains-substring",
              "not-contains-substring"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "BooleanEnum": {
        "type": "string",
        "enum": [
          "boolean"
        ]
      },
      "BooleanFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/BooleanEnum"
          },
          "operator": {
            "description": "Operators for boolean filters.",
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ProfileMetricPropertyFilter": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string"
          },
          "filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorFilter"
              },
              {
                "$ref": "#/components/schemas/ListSetFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ListSubstringFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorFilter"
              }
            ]
          }
        },
        "required": [
          "property"
        ]
      },
      "ProfileMarketingConsentEnum": {
        "type": "string",
        "enum": [
          "profile-marketing-consent"
        ]
      },
      "EmailEnum": {
        "type": "string",
        "enum": [
          "email"
        ]
      },
      "AnyEnum": {
        "type": "string",
        "enum": [
          "any"
        ]
      },
      "HasEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/AnyEnum"
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "SubscribedEnum": {
        "type": "string",
        "enum": [
          "subscribed"
        ]
      },
      "Is_double_opt_inEnum": {
        "type": "string",
        "enum": [
          "is_double_opt_in"
        ]
      },
      "DoubleOptinFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Is_double_opt_inEnum"
          },
          "filter": {
            "$ref": "#/components/schemas/BooleanFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "Status_dateEnum": {
        "type": "string",
        "enum": [
          "status_date"
        ]
      },
      "CalendarDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for calendar date filters.",
            "type": "string",
            "enum": [
              "calendar-month"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "AnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateEnum"
          },
          "operator": {
            "description": "Operators for anniversary date filters.",
            "type": "string",
            "enum": [
              "anniversary",
              "anniversary-month"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "StatusDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Status_dateEnum"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "Custom_sourceEnum": {
        "type": "string",
        "enum": [
          "custom_source"
        ]
      },
      "EqualsEnum": {
        "type": "string",
        "enum": [
          "equals"
        ]
      },
      "EqualsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StringEnum"
          },
          "operator": {
            "$ref": "#/components/schemas/EqualsEnum"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "CustomSourceFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Custom_sourceEnum"
          },
          "filter": {
            "$ref": "#/components/schemas/EqualsStringFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "MethodEnum": {
        "type": "string",
        "enum": [
          "method"
        ]
      },
      "FormEnum": {
        "type": "string",
        "enum": [
          "form"
        ]
      },
      "InEnum": {
        "type": "string",
        "enum": [
          "in"
        ]
      },
      "InStringArrayFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StringEnum"
          },
          "operator": {
            "$ref": "#/components/schemas/InEnum"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "FormMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/FormEnum"
          },
          "filter": {
            "description": "Optional filter on a specific list of form ids",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Preference_pageEnum": {
        "type": "string",
        "enum": [
          "preference_page"
        ]
      },
      "PreferencePageFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Preference_pageEnum"
          },
          "filter": {
            "description": "Optional filter on a specific subscribe page url",
            "$ref": "#/components/schemas/EqualsStringFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ApiEnum": {
        "type": "string",
        "enum": [
          "api"
        ]
      },
      "APIMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/ApiEnum"
          },
          "filter": {
            "description": "Optional filter on a specific list of API keys (using last 4 digits of the key)",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Inbound_messageEnum": {
        "type": "string",
        "enum": [
          "inbound_message"
        ]
      },
      "InboundMessageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Inbound_messageEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Back_in_stockEnum": {
        "type": "string",
        "enum": [
          "back_in_stock"
        ]
      },
      "BackInStockMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Back_in_stockEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "SftpEnum": {
        "type": "string",
        "enum": [
          "sftp"
        ]
      },
      "SftpMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/SftpEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Manual_importEnum": {
        "type": "string",
        "enum": [
          "manual_import"
        ]
      },
      "ManualImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Manual_importEnum"
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Manual_addEnum": {
        "type": "string",
        "enum": [
          "manual_add"
        ]
      },
      "ManualAddMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Manual_addEnum"
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "IntegrationEnum": {
        "type": "string",
        "enum": [
          "integration"
        ]
      },
      "ShopifyEnum": {
        "type": "string",
        "enum": [
          "shopify"
        ]
      },
      "ShopifyIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StringEnum"
          },
          "operator": {
            "$ref": "#/components/schemas/InEnum"
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShopifyEnum"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ShopifyIntegrationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/IntegrationEnum"
          },
          "filter": {
            "$ref": "#/components/schemas/ShopifyIntegrationFilter"
          }
        },
        "required": [
          "field",
          "method",
          "filter"
        ]
      },
      "HasEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/SubscribedEnum"
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DoubleOptinFilter"
                },
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/CustomSourceFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageFilter"
                },
                {
                  "$ref": "#/components/schemas/APIMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BackInStockMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "Never_subscribedEnum": {
        "type": "string",
        "enum": [
          "never_subscribed"
        ]
      },
      "HasEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/Never_subscribedEnum"
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/EmailEnum"
          },
          "can_receive_marketing": {
            "enum": [
              true
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingSubscribed"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "Bounce_dateEnum": {
        "type": "string",
        "enum": [
          "bounce_date"
        ]
      },
      "IsSetEnum": {
        "type": "string",
        "enum": [
          "is-set"
        ]
      },
      "IsSetExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ExistenceEnum"
          },
          "operator": {
            "$ref": "#/components/schemas/IsSetEnum"
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "BounceDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Bounce_dateEnum"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "Manual_suppression_dateEnum": {
        "type": "string",
        "enum": [
          "manual_suppression_date"
        ]
      },
      "ManualSuppressionDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Manual_suppression_dateEnum"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "Invalid_email_dateEnum": {
        "type": "string",
        "enum": [
          "invalid_email_date"
        ]
      },
      "InvalidEmailDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/Invalid_email_dateEnum"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "NoEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/AnyEnum"
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "UnsubscribedEnum": {
        "type": "string",
        "enum": [
          "unsubscribed"
        ]
      },
      "PreferencePageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Preference_pageEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Manual_removeEnum": {
        "type": "string",
        "enum": [
          "manual_remove"
        ]
      },
      "ManualRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Manual_removeEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Spam_complaintEnum": {
        "type": "string",
        "enum": [
          "spam_complaint"
        ]
      },
      "SpamComplaintMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "$ref": "#/components/schemas/MethodEnum"
          },
          "method": {
            "$ref": "#/components/schemas/Spam_complaintEnum"
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "Mailbox_providerEnum": {
        "type": "string",
        "enum": [
          "mailbox_provider"
[...]
