{
  "openapi": "3.0.2",
  "info": {
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "license": {
      "url": "https://www.klaviyo.com/legal",
      "name": "License"
    },
    "title": "Klaviyo API",
    "contact": {
      "url": "https://developers.klaviyo.com",
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com"
    },
    "version": "2023-07-15"
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/catalog-variant-bulk-create-jobs/": {
      "post": {
        "operationId": "spawn_create_variants_job",
        "summary": "Spawn Create Variants Job",
        "description": "Create a catalog variant bulk create job to create a batch of catalog variants.\nAccepts up to 100 catalog variants per request. The maximum allowed payload size is 4MB.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`catalogs:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogVariantCreateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCatalogVariantCreateJobResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:write"
        ],
        "x-klaviyo-subtag": "Variants"
      },
      "get": {
        "operationId": "get_create_variants_jobs",
        "summary": "Get Create Variants Jobs",
        "description": "Get all catalog variant bulk create jobs.\nReturns a maximum of 100 jobs per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "fields[catalog-variant-bulk-create-job]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "job_id",
                  "status",
                  "created_at",
                  "total_count",
                  "completed_count",
                  "failed_count",
                  "completed_at",
                  "expires_at",
                  "errors"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`status`: `equals`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogVariantCreateJobResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "3500/m",
          "burst": "350/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:read"
        ],
        "x-klaviyo-subtag": "Variants"
      }
    },
    "/api/catalog-variant-bulk-create-jobs/{job_id}/": {
      "get": {
        "operationId": "get_create_variants_job",
        "summary": "Get Create Variants Job",
        "description": "Get a catalog variant bulk create job with the given job ID.\nAn `include` parameter can be provided to get the following related resource data: `variants`.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the job to retrieve.",
            "required": true,
            "schema": {
              "description": "ID of the job to retrieve.",
              "type": "string",
              "example": "01GSQPBF74KQ5YTDEPP41T1BZH"
            }
          },
          {
            "name": "fields[catalog-variant-bulk-create-job]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "job_id",
                  "status",
                  "created_at",
                  "total_count",
                  "completed_count",
                  "failed_count",
                  "completed_at",
                  "expires_at",
                  "errors"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[catalog-variant]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "external_id",
                  "title",
                  "description",
                  "sku",
                  "inventory_policy",
                  "inventory_quantity",
                  "price",
                  "url",
                  "image_full_url",
                  "image_thumbnail_url",
                  "images",
                  "custom_metadata",
                  "published",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "variants"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogVariantCreateJobResponseCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "3500/m",
          "burst": "350/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:read"
        ],
        "x-klaviyo-subtag": "Variants"
      }
    },
    "/api/tags/{id}/relationships/flows/": {
      "post": {
        "operationId": "create_tag_relationships_flows",
        "summary": "Create Tag Relationships Flows",
        "description": "Associate a tag with one or more flows. Any flow cannot be associated with more than **100** tags.\n\nUse the request body to pass in the ID(s) of the flow(s) that will be associated with the tag.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:write`\n`tags:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagFlowOp"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:write",
          "tags:write"
        ],
        "x-klaviyo-subtag": "Relationships"
      },
      "delete": {
        "operationId": "delete_tag_relationships_flows",
        "summary": "Delete Tag Relationships Flows",
        "description": "Remove a tag's association with one or more flows.\n\nUse the request body to pass in the ID(s) of the flows(s) whose association with the tag will be removed.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:write`\n`tags:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagFlowOp"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:write",
          "tags:write"
        ],
        "x-klaviyo-subtag": "Relationships"
      },
      "get": {
        "operationId": "get_tag_relationships_flows",
        "summary": "Get Tag Relationships Flows",
        "description": "Returns the IDs of all flows associated with the given tag.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagFlowRelationshipsResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "tags:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/flow-messages/{id}/": {
      "get": {
        "operationId": "get_flow_message",
        "summary": "Get Flow Message",
        "description": "Get the flow message of a flow with the given message ID.\nInclude parameters can be provided to get the following related resource data: 'flow-actions'<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "action_type",
                  "status",
                  "created",
                  "updated",
                  "settings",
                  "tracking_options",
                  "send_options",
                  "send_options.use_smart_sending",
                  "send_options.is_transactional",
                  "render_options",
                  "render_options.shorten_links",
                  "render_options.add_org_prefix",
                  "render_options.add_info_link",
                  "render_options.add_opt_out_language"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "channel",
                  "content",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "flow-action"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageResponseCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Flows"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ]
      }
    },
    "/api/tags/{id}/relationships/campaigns/": {
      "post": {
        "operationId": "create_tag_relationships_campaigns",
        "summary": "Create Tag Relationships Campaigns",
        "description": "Associate a tag with one or more campaigns. Any campaign cannot be associated with more than **100** tags.\n\nUse the request body to pass in the ID(s) of the campaign(s) that will be associated with the tag.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`campaigns:write`\n`tags:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCampaignOp"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write",
          "tags:write"
        ],
        "x-klaviyo-subtag": "Relationships"
      },
      "delete": {
        "operationId": "delete_tag_relationships_campaigns",
        "summary": "Delete Tag Relationships Campaigns",
        "description": "Remove a tag's association with one or more campaigns.\n\nUse the request body to pass in the ID(s) of the campaign(s) whose association with the tag will be removed.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`campaigns:write`\n`tags:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCampaignOp"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write",
          "tags:write"
        ],
        "x-klaviyo-subtag": "Relationships"
      },
      "get": {
        "operationId": "get_tag_relationships_campaigns",
        "summary": "Get Tag Relationships Campaigns",
        "description": "Returns the IDs of all campaigns associated with the given tag.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`campaigns:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagCampaignRelationshipsResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:read",
          "tags:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/flow-actions/{id}/flow-messages/": {
      "get": {
        "operationId": "get_flow_action_messages",
        "summary": "Get Flow Action Messages",
        "description": "Get all flow messages associated with the given action ID.\n\nFlow messages can be sorted by the following fields, in ascending and descending order:\n\nascending: `id`,  `name`, `created`, `updated`\ndescending: `-id`,  `-name`, `-created`, `-updated`\n\nReturns a maximum of 50 flows per request, which can be paginated with offset pagination. Offset pagination uses the following parameters: `page[size]` and `page[number]`<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "channel",
                  "content",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 50. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Flows"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ]
      }
    },
    "/api/campaigns/{id}/campaign-messages/": {
      "get": {
        "operationId": "get_campaign_campaign_messages",
        "summary": "Get Campaign Campaign Messages",
        "description": "Return all messages that belong to the given campaign.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "label",
                  "channel",
                  "content",
                  "send_times",
                  "render_options",
                  "render_options.shorten_links",
                  "render_options.add_org_prefix",
                  "render_options.add_info_link",
                  "render_options.add_opt_out_language",
                  "render_options.include_contact_card",
                  "created_at",
                  "updated_at"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "status",
                  "archived",
                  "audiences",
                  "audiences.included",
                  "audiences.excluded",
                  "send_options",
                  "tracking_options",
                  "send_strategy",
                  "send_strategy.method",
                  "send_strategy.options_static",
                  "send_strategy.options_static.datetime",
                  "send_strategy.options_static.is_local",
                  "send_strategy.options_static.send_past_recipients_immediately",
                  "send_strategy.options_throttled",
                  "send_strategy.options_throttled.datetime",
                  "send_strategy.options_throttled.throttle_percentage",
                  "send_strategy.options_sto",
                  "send_strategy.options_sto.date",
                  "created_at",
                  "scheduled_at",
                  "updated_at",
                  "send_time"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "editor_type",
                  "html",
                  "text",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "campaign",
                  "template"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignMessageResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/flows/{id}/relationships/tags/": {
      "get": {
        "operationId": "get_flow_relationships_tags",
        "summary": "Get Flow Relationships Tags",
        "description": "Return the tag IDs of all tags associated with the given flow.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowTagRelationshipListResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Flows"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "tags:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/flow-messages/{id}/relationships/flow-action/": {
      "get": {
        "operationId": "get_flow_message_relationships_action",
        "summary": "Get Flow Message Relationships Action",
        "description": "Get the [relationship](https://developers.klaviyo.com/en/reference/api_overview#relationships) for a flow message's flow action, given the flow ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageFlowActionRelationshipResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Flows"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/campaign-messages/{id}/campaign/": {
      "get": {
        "operationId": "get_campaign_message_campaign",
        "summary": "Get Campaign Message Campaign",
        "description": "Return the related campaign<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "label",
                  "channel",
                  "content",
                  "send_times",
                  "render_options",
                  "render_options.shorten_links",
                  "render_options.add_org_prefix",
                  "render_options.add_info_link",
                  "render_options.add_opt_out_language",
                  "render_options.include_contact_card",
                  "created_at",
                  "updated_at"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignMessageResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/segments/{id}/": {
      "patch": {
        "operationId": "update_segment",
        "summary": "Update Segment",
        "description": "Update the name of a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`segments:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSegmentPartialUpdateResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "segments:write"
        ]
      },
      "get": {
        "operationId": "get_segment",
        "summary": "Get Segment",
        "description": "Get a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`<br><br>Rate limits when using the `additional-fields[segment]=profile_count` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2023-07-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional-fields[segment]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'profile_count'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "profile_count"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "created",
                  "updated",
                  "profile_count"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "tags"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentRetrieveResponseCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "segments:read"
        ]
      }
    },
    "/api/catalog-items/": {
      "post": {
        "operationId": "create_catalog_item",
        "summary": "Create Catalog Item",
        "description": "Create a new catalog item.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`catalogs:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCatalogItemResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:write"
        ],
        "x-klaviyo-subtag": "Items"
      },
      "get": {
        "operationId": "get_catalog_items",
        "summary": "Get Catalog Items",
        "description": "Get all catalog items in an account.\nCatalog items can be sorted by the following fields, in ascending and descending order: `created`\nInclude parameters can be provided to get the following related resource data: `variants`\nReturns a maximum of 100 items per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "fields[catalog-item]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "external_id",
                  "title",
                  "description",
                  "price",
                  "url",
                  "image_full_url",
                  "image_thumbnail_url",
                  "images",
                  "custom_metadata",
                  "published",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[catalog-variant]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "external_id",
                  "title",
                  "description",
                  "sku",
                  "inventory_policy",
                  "inventory_quantity",
                  "price",
                  "url",
                  "image_full_url",
                  "image_thumbnail_url",
                  "images",
                  "custom_metadata",
                  "published",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`ids`: `any`<br>`category`: `equals`<br>`title`: `contains`<br>`published`: `equals`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "variants"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogItemResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "3500/m",
          "burst": "350/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:read"
        ],
        "x-klaviyo-subtag": "Items"
      }
    },
    "/api/template-clone/": {
      "post": {
        "operationId": "create_template_clone",
        "summary": "Create Template Clone",
        "description": "Create a clone of a template with the given template ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`template:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCloneQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTemplateResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "template:write"
        ]
      }
    },
    "/api/profile-suppression-bulk-create-jobs/": {
      "post": {
        "operationId": "suppress_profiles",
        "summary": "Suppress Profiles",
        "description": "Manually suppress one or more profiles. Such profiles will have `USER_SUPPRESSED` as their suppression reason. Manually suppressed profiles _will not_ receive email marketing. Learn more about suppressed profiles [in this document](https://help.klaviyo.com/hc/en-us/articles/115005246108-Understanding-suppressed-email-profiles#what-is-a-suppressed-profile-1).\nNot supported for SMS marketing.\nMaximum number of profile can be submitted for suppression: 100<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`profiles:write`\n`subscriptions:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Suppresses one or more profiles from receiving marketing. Currently, supports email only. If a profile is not found with the given email, one will be created and immediately suppressed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionCreateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": ""
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "profiles:write",
          "subscriptions:write"
        ]
      }
    },
    "/api/accounts/{id}/": {
      "get": {
        "operationId": "get_account",
        "summary": "Get Account",
        "description": "Retrieve a single account object by its account ID. You can only request the account by which the private API key was generated.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`accounts:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the account",
            "required": true,
            "schema": {
              "description": "The ID of the account",
              "type": "string",
              "example": "AbC123"
            }
          },
          {
            "name": "fields[account]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "contact_information",
                  "contact_information.default_sender_name",
                  "contact_information.default_sender_email",
                  "contact_information.website_url",
                  "contact_information.organization_name",
                  "contact_information.street_address",
                  "contact_information.street_address.address1",
                  "contact_information.street_address.address2",
                  "contact_information.street_address.city",
                  "contact_information.street_address.region",
                  "contact_information.street_address.country",
                  "contact_information.street_address.zip",
                  "industry",
                  "timezone",
                  "preferred_currency",
                  "public_api_key"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Accounts"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "15/m",
          "burst": "1/s"
        },
        "x-klaviyo-scopes": [
          "accounts:read"
        ]
      }
    },
    "/api/segments/": {
      "get": {
        "operationId": "get_segments",
        "summary": "Get Segments",
        "description": "Get all segments in an account.\nFilter to request a subset of all segments. Segments can be filtered by `name`, `created`, and `updated` fields.\nReturns a maximum of 10 results per page.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`segments:read`",
        "parameters": [
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`name`: `any`, `equals`<br>`id`: `any`, `equals`<br>`created`: `greater-than`<br>`updated`: `greater-than`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "tags"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentListResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "segments:read"
        ]
      }
    },
    "/api/campaign-clone/": {
      "post": {
        "operationId": "create_campaign_clone",
        "summary": "Create Campaign Clone",
        "description": "Clones an existing campaign, returning a new campaign based on the original with a new ID and name.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Clones a campaign from an existing campaign",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCloneQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-message-assign-template/": {
      "post": {
        "operationId": "create_campaign_message_assign_template",
        "summary": "Assign Campaign Message Template",
        "description": "Creates a non-reusable version of the template and assigns it to the message.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Takes a reusable template, clones it, and assigns the non-reusable clone to the message.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignMessageAssignTemplateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignMessageResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Messages"
      }
    },
    "/api/lists/{id}/relationships/tags/": {
      "get": {
        "operationId": "get_list_relationships_tags",
        "summary": "Get List Relationships Tags",
        "description": "Returns the tag IDs of all tags associated with the given list.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`list:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListTagRelationshipListResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "60/m",
          "burst": "3/s"
        },
        "x-klaviyo-scopes": [
          "list:read",
          "tags:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/catalog-category-bulk-update-jobs/{job_id}/": {
      "get": {
        "operationId": "get_update_categories_job",
        "summary": "Get Update Categories Job",
        "description": "Get a catalog category bulk update job with the given job ID.\nAn `include` parameter can be provided to get the following related resource data: `categories`.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the job to retrieve.",
            "required": true,
            "schema": {
              "description": "ID of the job to retrieve.",
              "type": "string",
              "example": "01GSQPBF74KQ5YTDEPP41T1BZH"
            }
          },
          {
            "name": "fields[catalog-category-bulk-update-job]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "job_id",
                  "status",
                  "created_at",
                  "total_count",
                  "completed_count",
                  "failed_count",
                  "completed_at",
                  "expires_at",
                  "errors"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[catalog-category]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "external_id",
                  "name",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "categories"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogCategoryUpdateJobResponseCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "3500/m",
          "burst": "350/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:read"
        ],
        "x-klaviyo-subtag": "Categories"
      }
    },
    "/api/catalog-category-bulk-update-jobs/": {
      "post": {
        "operationId": "spawn_update_categories_job",
        "summary": "Spawn Update Categories Job",
        "description": "Create a catalog category bulk update job to update a batch of catalog categories.\nAccepts up to 100 catalog categories per request. The maximum allowed payload size is 4MB.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`catalogs:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogCategoryUpdateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCatalogCategoryUpdateJobResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:write"
        ],
        "x-klaviyo-subtag": "Categories"
      },
      "get": {
        "operationId": "get_update_categories_jobs",
        "summary": "Get Update Categories Jobs",
        "description": "Get all catalog category bulk update jobs.\nReturns a maximum of 100 jobs per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "fields[catalog-category-bulk-update-job]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "job_id",
                  "status",
                  "created_at",
                  "total_count",
                  "completed_count",
                  "failed_count",
                  "completed_at",
                  "expires_at",
                  "errors"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`status`: `equals`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogCategoryUpdateJobResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "3500/m",
          "burst": "350/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:read"
        ],
        "x-klaviyo-subtag": "Categories"
      }
    },
    "/api/lists/": {
      "post": {
        "operationId": "create_list",
        "summary": "Create List",
        "description": "Create a new list.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`list:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListCreateResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "list:write"
        ]
      },
      "get": {
        "operationId": "get_lists",
        "summary": "Get Lists",
        "description": "Get all lists in an account.\nFilter to request a subset of all lists. Lists can be filtered by `id`, `name`, `created`, and `updated` fields.\nReturns a maximum of 10 results per page.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`list:read`",
        "parameters": [
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`name`: `any`, `equals`<br>`id`: `any`, `equals`<br>`created`: `greater-than`<br>`updated`: `greater-than`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "tags"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListListResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "list:read"
        ]
      }
    },
    "/api/campaign-recipient-estimation-jobs/": {
      "post": {
        "operationId": "create_campaign_recipient_estimation_job",
        "summary": "Create Campaign Recipient Estimation Job",
        "description": "Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the `Get Campaign Recipient Estimation Job` endpoint to retrieve the status of this estimation job. Use the `Get Campaign Recipient Estimation` endpoint to retrieve the estimated recipient count for a given campaign.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Trigger an asynchronous job to update the estimated number of recipients for the given campaign ID. Use the `Get Campaign Recipient Estimation Job` endpoint to retrieve the status of this estimation job. Use the `Get Campaign Recipient Estimation` endpoint to retrieve the estimated recipient count for a given campaign.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRecipientEstimationJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignRecipientEstimationJobResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Jobs"
      }
    },
    "/api/segments/{id}/relationships/profiles/": {
      "get": {
        "operationId": "get_segment_relationships_profiles",
        "summary": "Get Segment Relationships Profiles",
        "description": "Get all profile membership [relationships](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given segment ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`profiles:read`\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentRelationshipsResponseCollection"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "profiles:read",
          "segments:read"
        ],
        "x-klaviyo-subtag": "Relationships"
      }
    },
    "/api/campaign-messages/{id}/": {
      "patch": {
        "operationId": "update_campaign_message",
        "summary": "Update Campaign Message",
        "description": "Update a campaign message<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The message ID to be retrieved",
            "required": true,
            "schema": {
              "description": "The message ID to be retrieved",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Update a message and return it",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignMessagePartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCampaignMessageResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Messages"
      },
      "get": {
        "operationId": "get_campaign_message",
        "summary": "Get Campaign Message",
        "description": "Returns a specific message based on a required id.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The message ID to be retrieved",
            "required": true,
            "schema": {
              "description": "The message ID to be retrieved",
              "type": "string"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "label",
                  "channel",
                  "content",
                  "send_times",
                  "render_options",
                  "render_options.shorten_links",
                  "render_options.add_org_prefix",
                  "render_options.add_info_link",
                  "render_options.add_opt_out_language",
                  "render_options.include_contact_card",
                  "created_at",
                  "updated_at"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "status",
                  "archived",
                  "audiences",
                  "audiences.included",
                  "audiences.excluded",
                  "send_options",
                  "tracking_options",
                  "send_strategy",
                  "send_strategy.method",
                  "send_strategy.options_static",
                  "send_strategy.options_static.datetime",
                  "send_strategy.options_static.is_local",
                  "send_strategy.options_static.send_past_recipients_immediately",
                  "send_strategy.options_throttled",
                  "send_strategy.options_throttled.datetime",
                  "send_strategy.options_throttled.throttle_percentage",
                  "send_strategy.options_sto",
                  "send_strategy.options_sto.date",
                  "created_at",
                  "scheduled_at",
                  "updated_at",
                  "send_time"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "name",
                  "editor_type",
                  "html",
                  "text",
                  "created",
                  "updated"
                ],
                "type": "string"
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "campaign",
                  "template"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignMessageResponseCompoundDocument"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "150/m",
          "burst": "10/s"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Messages"
      }
    },
    "/api/catalog-variants/": {
      "post": {
        "operationId": "create_catalog_variant",
        "summary": "Create Catalog Variant",
        "description": "Create a new variant for a related catalog item.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `700/m`\n\n**Scopes:**\n`catalogs:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2023-07-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogVariantCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCatalogVariantResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "",
            "$ref": "#/components/responses/ServerError"
          },
          "4XX": {
            "description": "",
            "$ref": "#/components/responses/ClientError"
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "steady": "700/m",
          "burst": "75/s"
        },
        "x-klaviyo-scopes": [
          "catalogs:write"
        ],
        "x-klaviyo-subtag": "Variants"
      },
      "get": {
        "operationId": "get_catalog_variants",
        "summary": "Get Catalog Variants",
        "description": "Get all variants in an account.\nVariants can be sorted by the following fields, in ascending and descending order: `created`\nReturns a maximum of 100 variants per request.<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`\n\n**Scopes:**\n`catalogs:read`",
        "parameters": [
          {
            "name": "fields[catalog-variant]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2023-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "external_id",
                  "title",
                  "description",
                  "sku",
                  "inventory_policy",
                  "inventory_quantity",
                  "price",
                  "url",
                  "image_full_url",
                  "image_thumbnail_url",
                  "images",
                  "custom_metadata",
                  "published",
                  "created",
                  "updated"
                ],
[...]
