{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/forms": {
      "get": {
        "operationId": "get_forms",
        "summary": "Get Forms",
        "description": "Get all forms in an account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "fields[form]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "created_at",
                  "id",
                  "name",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`name`: `any`, `contains`, `equals`<br>`ab_test`: `equals`<br>`updated_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`created_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`status`: `equals`",
            "schema": {
              "type": "string",
              "example": "equals(id,'Y6nRLr')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "updated_at",
                "-updated_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      },
      "post": {
        "operationId": "create_form",
        "summary": "Create Form",
        "description": "Create a new form.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:write`",
        "parameters": [
          {
            "name": "fields[form]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "created_at",
                  "definition",
                  "definition.versions",
                  "id",
                  "name",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "description": "Creates a Form from parameters",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/FormCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostEncodedFormResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:write"
        ]
      }
    },
    "/api/forms/{id}": {
      "get": {
        "operationId": "get_form",
        "summary": "Get Form",
        "description": "Get the form with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form",
            "required": true,
            "schema": {
              "description": "The ID of the form",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "fields[form]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "created_at",
                  "definition",
                  "definition.versions",
                  "id",
                  "name",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEncodedFormResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      },
      "delete": {
        "operationId": "delete_form",
        "summary": "Delete Form",
        "description": "Delete a given form.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form",
            "required": true,
            "schema": {
              "description": "The ID of the form",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:write"
        ]
      }
    },
    "/api/form-versions/{id}": {
      "get": {
        "operationId": "get_form_version",
        "summary": "Get Form Version",
        "description": "Get the form version with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form version",
            "required": true,
            "schema": {
              "description": "The ID of the form version",
              "type": "string",
              "example": "1234567"
            }
          },
          {
            "name": "fields[form-version]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "ab_test.variation_name",
                  "created_at",
                  "form_type",
                  "id",
                  "status",
                  "updated_at",
                  "variation_name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormVersionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      }
    },
    "/api/forms/{id}/form-versions": {
      "get": {
        "operationId": "get_versions_for_form",
        "summary": "Get Versions for Form",
        "description": "Get the form versions for the given form.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form",
            "required": true,
            "schema": {
              "description": "The ID of the form",
              "type": "string",
              "example": "Y6nRLr",
              "nullable": true
            }
          },
          {
            "name": "fields[form-version]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "ab_test.variation_name",
                  "created_at",
                  "form_type",
                  "id",
                  "status",
                  "updated_at",
                  "variation_name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`form_type`: `any`, `equals`<br>`status`: `equals`<br>`updated_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`created_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(form_type,'popup')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "updated_at",
                "-updated_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormVersionResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-operation-aliases": [
          "get_form_form_versions",
          "get_form_versions"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      }
    },
    "/api/forms/{id}/relationships/form-versions": {
      "get": {
        "operationId": "get_version_ids_for_form",
        "summary": "Get Version IDs for Form",
        "description": "Get the IDs of the form versions for the given form.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form",
            "required": true,
            "schema": {
              "description": "The ID of the form",
              "type": "string",
              "example": "Y6nRLr",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`form_type`: `any`, `equals`<br>`status`: `equals`<br>`updated_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`created_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(form_type,'popup')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "updated_at",
                "-updated_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormVersionsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-operation-aliases": [
          "get_form_relationships_form_versions",
          "get_form_relationships_versions"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      }
    },
    "/api/form-versions/{id}/form": {
      "get": {
        "operationId": "get_form_for_form_version",
        "summary": "Get Form for Form Version",
        "description": "Get the form associated with the given form version.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form version",
            "required": true,
            "schema": {
              "description": "The ID of the form version",
              "type": "string",
              "example": "1234567"
            }
          },
          {
            "name": "fields[form]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ab_test",
                  "created_at",
                  "id",
                  "name",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-operation-aliases": [
          "get_form_version_form"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      }
    },
    "/api/form-versions/{id}/relationships/form": {
      "get": {
        "operationId": "get_form_id_for_form_version",
        "summary": "Get Form ID for Form Version",
        "description": "Get the ID of the form associated with the given form version.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`forms:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the form version",
            "required": true,
            "schema": {
              "description": "The ID of the form version",
              "type": "string",
              "example": "1234567"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFormVersionFormRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Forms"
        ],
        "x-klaviyo-operation-aliases": [
          "get_form_version_relationships_form"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "forms:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AdditionalField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "AfterCloseTimeout": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "after_close_or_submit_timeout"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/AfterCloseTimeoutProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "AfterCloseTimeoutProperties": {
        "type": "object",
        "properties": {
          "timeout_days": {
            "type": "integer",
            "example": 5,
            "default": 5
          }
        }
      },
      "AgeGate": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "age_gate"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/AgeGateStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/AgeGateProperties"
          },
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "AgeGateProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "property_name": {
            "type": "string",
            "example": "$age_gated_date_of_birth",
            "default": "$age_gated_date_of_birth",
            "enum": [
              "$age_gated_date_of_birth"
            ]
          },
          "date_format": {
            "type": "string",
            "example": "MM/DD/YYYY",
            "default": "MM/DD/YYYY"
          },
          "sms_country_code": {
            "description": "SMS County Code Enum.",
            "type": "string",
            "example": "US",
            "default": "US",
            "enum": [
              "AT",
              "AU",
              "CH",
              "DE",
              "ES",
              "FR",
              "GB",
              "IE",
              "IT",
              "PT",
              "US"
            ]
          },
          "required": {
            "type": "boolean",
            "example": true,
            "default": true,
            "enum": [
              true
            ]
          }
        }
      },
      "AgeGateStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BackInStock": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "back_in_stock"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/BackInStockProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "BackInStockDynamicButtonBorderStyles": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "color": {
            "type": "string",
            "example": "#000000",
            "default": "#000000"
          },
          "style": {
            "description": "Border pattern enumeration.",
            "type": "string",
            "example": "solid",
            "default": "solid",
            "enum": [
              "dashed",
              "dotted",
              "solid"
            ],
            "nullable": true
          },
          "width": {
            "type": "integer",
            "example": 1,
            "default": 1
          }
        }
      },
      "BackInStockDynamicButtonData": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "default": ""
          },
          "display": {
            "description": "Back In Stock Dynamic Button display type enumeration.",
            "type": "string",
            "example": "REPLACE",
            "default": "REPLACE",
            "enum": [
              "NEXT_TO",
              "REPLACE"
            ]
          },
          "text_styles": {
            "$ref": "#/components/schemas/BackInStockDynamicButtonTextStyles"
          },
          "button_styles": {
            "$ref": "#/components/schemas/BackInStockDynamicButtonStyles"
          }
        }
      },
      "BackInStockDynamicButtonDropShadowStyles": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "color": {
            "type": "string",
            "example": "#000000",
            "default": "#000000"
          },
          "blur": {
            "type": "integer",
            "example": 15,
            "default": 15
          },
          "x_offset": {
            "type": "integer",
            "default": 0
          },
          "y_offset": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "BackInStockDynamicButtonStyles": {
        "type": "object",
        "properties": {
          "color": {
            "type": "string",
            "example": "#000000",
            "default": "#000000"
          },
          "border_radius": {
            "type": "integer",
            "default": 0
          },
          "height": {
            "type": "integer",
            "example": 44,
            "default": 44
          },
          "width": {
            "description": "Back In Stock Dynamic Button display type enumeration.",
            "type": "string",
            "example": "fullWidth",
            "default": "fullWidth",
            "enum": [
              "fitToText",
              "fullWidth"
            ]
          },
          "alignment": {
            "description": "Horizontal alignment enumeration.",
            "type": "string",
            "example": "center",
            "default": "center",
            "enum": [
              "center",
              "left",
              "right"
            ]
          },
          "border": {
            "$ref": "#/components/schemas/BackInStockDynamicButtonBorderStyles"
          },
          "drop_shadow": {
            "$ref": "#/components/schemas/BackInStockDynamicButtonDropShadowStyles"
          }
        }
      },
      "BackInStockDynamicButtonTextStyles": {
        "type": "object",
        "properties": {
          "font_family": {
            "example": "Arial, 'Helvetica Neue', Helvetica, sans-serif",
            "default": "Arial, 'Helvetica Neue', Helvetica, sans-serif",
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "Arial Black,Arial",
                  "Arial, 'Helvetica Neue', Helvetica, sans-serif",
                  "Century Gothic,AppleGothic,Arial",
                  "Comic Sans MS,Comic Sans,cursive",
                  "Courier",
                  "Courier New",
                  "Geneva,Arial",
                  "Georgia",
                  "Helvetica,Arial",
                  "Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif",
                  "Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif",
                  "Lucida,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif",
                  "MS Serif,Georgia",
                  "New York,Georgia",
                  "Palatino Linotype,Palatino,Georgia",
                  "Palatino,Georgia",
                  "Tahoma,sans-serif",
                  "Times New Roman",
                  "Trebuchet MS",
                  "Verdana"
                ],
                "description": "Web safe font enumeration."
              },
              {
                "type": "string"
              }
            ]
          },
          "font_size": {
            "type": "integer",
            "example": 16,
            "default": 16
          },
          "font_weight": {
            "description": "Font weight enumeration.",
            "type": "integer",
            "example": 400,
            "default": 400,
            "enum": [
              100,
              200,
              300,
              400,
              500,
              600,
              700,
              800,
              900
            ],
            "nullable": true
          },
          "font_color": {
            "type": "string",
            "example": "#FFFFFF",
            "default": "#FFFFFF"
          },
          "font_style": {
            "type": "string",
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "BackInStockEmailConsentCheckbox": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "bis_promotional_email_checkbox"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/BackInStockEmailConsentCheckboxStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/BackInStockEmailConsentCheckboxProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "BackInStockEmailConsentCheckboxProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "required": {
            "type": "boolean",
            "default": false,
            "enum": [
              false
            ]
          },
          "property_name": {
            "type": "string",
            "example": "opt_in_promotional_email",
            "default": "opt_in_promotional_email",
            "enum": [
              "opt_in_promotional_email"
            ]
          },
          "checkbox_text": {
            "type": "string"
          },
          "placeholder": {
            "enum": [
              null
            ]
          }
        },
        "required": [
          "checkbox_text"
        ]
      },
      "BackInStockEmailConsentCheckboxStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "horizontal_alignment": {
            "description": "Horizontal alignment enumeration.",
            "type": "string",
            "example": "left",
            "default": "left",
            "enum": [
              "center",
              "left",
              "right"
            ]
          }
        }
      },
      "BackInStockProperties": {
        "type": "object",
        "properties": {
          "tag_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tag_blocklist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BackgroundImage": {
        "type": "object",
        "properties": {
          "styles": {
            "$ref": "#/components/schemas/BackgroundImageStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/ImageAssetProperties"
          }
        },
        "required": [
          "properties"
        ]
      },
      "BackgroundImageStyles": {
        "type": "object",
        "properties": {
          "horizontal_alignment": {
            "description": "Horizontal alignment enumeration.",
            "type": "string",
            "example": "center",
            "default": "center",
            "enum": [
              "center",
              "left",
              "right"
            ]
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "position": {
            "description": "Image position enumeration.",
            "type": "string",
            "example": "contain",
            "default": "contain",
            "enum": [
              "contain",
              "cover",
              "custom"
            ]
          },
          "vertical_alignment": {
            "description": "Vertical alignment enumeration.",
            "type": "string",
            "example": "center",
            "default": "center",
            "enum": [
              "bottom",
              "center",
              "top"
            ]
          },
          "custom_width": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "BannerStyles": {
        "type": "object",
        "properties": {
          "desktop_position": {
            "description": "Positioning of banner forms.",
            "type": "string",
            "example": "top",
            "default": "top",
            "enum": [
              "bottom",
              "top"
            ]
          },
          "mobile_position": {
            "description": "Positioning of banner forms.",
            "type": "string",
            "example": "top",
            "default": "top",
            "enum": [
              "bottom",
              "top"
            ]
          },
          "scroll_with_page": {
            "type": "boolean",
            "example": true,
            "default": true
          }
        }
      },
      "BorderStyle": {
        "type": "object",
        "properties": {
          "radius": {
            "type": "integer",
            "example": 8,
            "default": 8
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "style": {
            "description": "Border pattern enumeration.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "solid"
            ],
            "nullable": true
          },
          "thickness": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Button": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/ButtonStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/ButtonProperties"
          },
          "action": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Close"
              },
              {
                "$ref": "#/components/schemas/NextStep"
              },
              {
                "$ref": "#/components/schemas/OpenForm"
              },
              {
                "$ref": "#/components/schemas/PromotionalSMSSubscription"
              },
              {
                "$ref": "#/components/schemas/Redirect"
              },
              {
                "$ref": "#/components/schemas/ResendOptInCode"
              },
              {
                "$ref": "#/components/schemas/SubmitOptInCode"
              },
              {
                "$ref": "#/components/schemas/SubscribeViaSMS"
              },
              {
                "$ref": "#/components/schemas/SubscribeViaWhatsApp"
              },
              {
                "$ref": "#/components/schemas/GoToInbox"
              },
              {
                "$ref": "#/components/schemas/SubmitBackInStock"
              },
              {
                "$ref": "#/components/schemas/SkipToSuccess"
              }
            ]
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "ButtonDropShadowStyles": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "color": {
            "type": "string",
            "example": "#000000",
            "default": "#000000"
          },
          "blur": {
            "type": "integer",
            "example": 15,
            "default": 15
          },
          "x_offset": {
            "type": "integer",
            "default": 0
          },
          "y_offset": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "ButtonProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string"
          },
          "additional_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalField"
            },
            "nullable": true
          }
        },
        "required": [
          "label"
        ]
      },
      "ButtonStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "description": "Valid button block widths.",
            "type": "string",
            "example": "fill",
            "default": "fill",
            "enum": [
              "fill",
              "fit"
            ]
          },
          "height": {
            "example": 50,
            "default": 50,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "enum": [
                  "auto"
                ],
                "type": "string"
              }
            ]
          },
          "alignment": {
            "description": "Horizontal alignment enumeration.",
            "type": "string",
            "example": "center",
            "default": "center",
            "enum": [
              "center",
              "left",
              "right"
            ]
          },
          "hover_background_color": {
            "type": "string",
            "nullable": true
          },
          "hover_text_color": {
            "type": "string",
            "nullable": true
          },
          "border_styles": {
            "$ref": "#/components/schemas/BorderStyle"
          },
          "text_styles": {
            "$ref": "#/components/schemas/TextStyleV0"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "drop_shadow": {
            "$ref": "#/components/schemas/ButtonDropShadowStyles"
          }
        }
      },
      "CartItemCount": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "cart_item_count"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/CartItemCountProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "CartItemCountProperties": {
        "type": "object",
        "properties": {
          "comparison": {
            "description": "Number comparison enumeration.",
            "type": "string",
            "enum": [
              "equals",
              "greater_than",
              "less_than"
            ],
            "nullable": true
          },
          "value": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CartProduct": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "cart_product"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/CartProductProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "CartProductProperties": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Product descriptor enumeration.",
            "type": "string",
            "enum": [
              "brand",
              "categories",
              "id",
              "name"
            ],
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CartValue": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "cart_value"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/CartValueProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "CartValueProperties": {
        "type": "object",
        "properties": {
          "comparison": {
            "description": "Number comparison enumeration.",
            "type": "string",
            "enum": [
              "equals",
              "greater_than",
              "less_than"
            ],
            "nullable": true
          },
          "value": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "channel"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/ChannelProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "ChannelProperties": {
        "type": "object",
        "properties": {
          "channel": {
            "description": "Channel type enumeration.",
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          }
        },
        "required": [
          "channel"
        ]
      },
      "ChannelSettings": {
        "type": "object",
        "properties": {
          "sms": {
            "$ref": "#/components/schemas/PhoneNumberConsentChannelSettings"
          },
          "whatsapp": {
            "$ref": "#/components/schemas/PhoneNumberConsentChannelSettings"
          }
        }
      },
      "Checkboxes": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "checkboxes"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/CheckboxesStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/CheckboxesProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "CheckboxesProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "property_name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "required": {
            "type": "boolean",
            "default": false,
            "nullable": true
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyOption"
            }
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "property_name",
          "options"
        ]
      },
      "CheckboxesStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "arrangement": {
            "description": "Arrangement enumeration.",
            "type": "string",
            "example": "vertical",
            "default": "vertical",
            "enum": [
              "horizontal",
              "vertical"
            ]
          },
          "alignment": {
            "description": "Horizontal alignment enumeration.",
            "type": "string",
            "example": "left",
            "default": "left",
            "enum": [
              "center",
              "left",
              "right"
            ]
          }
        }
      },
      "Close": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "submit": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": [
              "close"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/CloseProperties",
            "nullable": true
          }
        },
        "required": [
          "submit",
          "type"
        ]
      },
      "CloseButtonStyle": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "example": "rgba(180, 187, 195, 0.65)",
            "default": "rgba(180, 187, 195, 0.65)"
          },
          "outline_color": {
            "type": "string",
            "example": "#FFFFFF",
            "default": "#FFFFFF"
          },
          "color": {
            "type": "string",
            "example": "#FFFFFF",
            "default": "#FFFFFF"
          },
          "stroke": {
            "type": "number",
            "example": 2,
            "default": 2
          },
          "size": {
            "type": "integer",
            "example": 20,
            "default": 20
          },
          "margin": {
            "$ref": "#/components/schemas/Margin"
          }
        }
      },
      "CloseProperties": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ColumnStyles": {
        "type": "object",
        "properties": {
          "background_image": {
            "$ref": "#/components/schemas/BackgroundImage",
            "nullable": true
          },
          "background_color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ColumnV0": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowV0"
            }
          },
          "styles": {
            "$ref": "#/components/schemas/ColumnStyles",
            "nullable": true
          }
        }
      },
      "CountdownTimer": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "countdown_timer"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/CountdownTimerStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/CountdownTimerProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "CountdownTimerProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "clock_face": {
            "description": "Options for displaying a timer.",
            "type": "string",
            "example": "simple",
            "default": "simple",
            "enum": [
              "flip",
              "simple"
            ]
          },
          "animation": {
            "description": "Options for timer completion animations.",
            "type": "string",
            "example": "heartbeat",
            "default": "heartbeat",
            "enum": [
              "flash",
              "heartbeat",
              "pulse"
            ],
            "nullable": true
          },
          "configuration": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FixedTimerConfiguration"
              },
              {
                "$ref": "#/components/schemas/VariableTimerConfiguration"
              }
            ]
          }
        },
        "required": [
          "configuration"
        ]
      },
      "CountdownTimerStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "text_styles": {
            "$ref": "#/components/schemas/TextStyleV0"
          },
          "card_color": {
            "type": "string",
            "example": "rgba(100,100,100, 1.0)",
            "default": "rgba(100,100,100, 1.0)"
          },
          "label_font_size": {
            "type": "integer",
            "example": 12,
            "default": 12
          },
          "label_font_weight": {
            "description": "Font weight enumeration.",
            "type": "integer",
            "example": 400,
            "default": 400,
            "enum": [
              100,
              200,
              300,
              400,
              500,
              600,
              700,
              800,
              900
            ]
          }
        }
      },
      "Coupon": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "coupon"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/CouponStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/CouponProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "CouponProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "coupon": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/UniqueCouponConfig"
              },
              {
                "$ref": "#/components/schemas/StaticCouponConfig"
              }
            ]
          },
          "success_message": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "coupon"
        ]
      },
      "CouponStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "text_styles": {
            "$ref": "#/components/schemas/TextStyleV0"
          },
          "border_styles": {
            "$ref": "#/components/schemas/BorderStyle",
            "nullable": true
          },
          "coupon_background_color": {
            "type": "string",
            "example": "#EEEEEE",
            "default": "#EEEEEE",
            "nullable": true
          }
        }
      },
      "CustomCss": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "css": {
            "type": "string",
            "default": ""
          }
        }
      },
      "CustomJavascript": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "properties": {
            "$ref": "#/components/schemas/TriggerBaseProperties"
          },
          "type": {
            "type": "string",
            "enum": [
              "custom_javascript"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "Date": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/DateStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/DateProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "DateProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "property_name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          },
          "required": {
            "type": "boolean",
            "default": false,
            "nullable": true
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "date_format": {
            "type": "string",
            "example": "MM/DD",
            "default": "MM/DD"
          }
        },
        "required": [
          "property_name"
        ]
      },
      "DateStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Delay": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "delay"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/DelayProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "DelayProperties": {
        "type": "object",
        "properties": {
          "seconds": {
            "type": "integer",
            "example": 5,
            "default": 5
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "device"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/DeviceProperties"
          }
        },
        "required": [
          "type"
        ]
      },
      "DeviceProperties": {
        "type": "object",
        "properties": {
          "device": {
            "description": "Enumeration for mobile and desktop.",
            "type": "string",
            "example": "desktop",
            "default": "desktop",
            "enum": [
              "both",
              "desktop",
              "mobile"
            ]
          }
        }
      },
      "DropShadow": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false
          },
          "blur": {
            "type": "integer",
            "example": 30,
            "default": 30
          },
          "color": {
            "type": "string",
            "example": "rgba(0,0,0,0.15)",
            "default": "rgba(0,0,0,0.15)",
            "nullable": true
          }
        }
      },
      "Dropdown": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "dropdown"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/DropdownStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/DropdownProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "DropdownProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "property_name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "required": {
            "type": "boolean",
            "default": false,
            "nullable": true
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyOption"
            }
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "property_name",
          "options"
        ]
      },
      "DropdownStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DynamicButton": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "description": "Dynamic Button type enumeration.",
            "type": "string",
            "enum": [
              "BACK_IN_STOCK_OPEN"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/BackInStockDynamicButtonData"
          }
        },
        "required": [
          "type",
          "data"
        ]
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/EmailStyles"
          },
          "properties": {
            "$ref": "#/components/schemas/EmailProperties"
          }
        },
        "required": [
          "type",
          "properties"
        ]
      },
      "EmailProperties": {
        "type": "object",
        "properties": {
          "display_device": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "both",
                "desktop",
                "mobile"
              ],
              "description": "Enumeration for mobile and desktop."
            }
          },
          "classname": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "show_label": {
            "type": "boolean",
            "default": false
          },
          "placeholder": {
            "type": "string",
            "nullable": true
          },
          "required": {
            "type": "boolean",
            "default": false,
            "nullable": true
          },
          "error_messages": {
            "$ref": "#/components/schemas/ErrorMessages",
            "nullable": true
          },
          "property_name": {
            "type": "string",
            "example": "$email",
            "default": "$email",
            "enum": [
              "$email"
            ]
          }
        }
      },
      "EmailStyles": {
        "type": "object",
        "properties": {
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "background_color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EncodedFormResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FormEnum"
          },
          "id": {
            "description": "The ID of the form",
            "type": "string",
            "example": "Y6nRLr"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "status": {
                "description": "The status of the form.",
                "type": "string",
                "example": "draft",
                "enum": [
                  "draft",
                  "live"
                ]
              },
              "ab_test": {
                "description": "Whether the form has an A/B test configured.",
                "type": "boolean"
              },
              "name": {
                "description": "The name of the form.",
                "type": "string",
                "example": "Cyber Monday Deals"
              },
              "definition": {
                "description": "The encoded form definition.",
                "$ref": "#/components/schemas/FormDefinition"
              },
              "created_at": {
                "description": "The ISO8601 timestamp when the form was created.",
                "type": "string",
                "format": "date-time",
                "example": "2024-03-04T00:00:00Z"
              },
              "updated_at": {
                "description": "The ISO8601 timestamp when the form was last updated.",
                "type": "string",
                "format": "date-time",
                "example": "2024-03-04T00:00:00Z"
              }
            },
            "required": [
              "status",
              "ab_test",
              "name",
              "definition",
              "created_at",
              "updated_at"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ErrorMessages": {
        "type": "object",
        "properties": {
          "required": {
            "type": "string",
            "example": "This field is required",
            "default": "This field is required"
          },
          "invalid": {
            "type": "string",
            "example": "This field is invalid",
            "default": "This field is invalid"
          }
        }
      },
      "ExitIntent": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "properties": {
            "$ref": "#/components/schemas/TriggerBaseProperties"
          },
          "type": {
            "type": "string",
            "enum": [
              "exit_intent"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "FixedTimerConfiguration": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "fixed"
            ]
          },
          "timezone": {
            "type": "string",
            "enum": [
              "Africa/Abidjan",
              "Africa/Accra",
              "Africa/Addis_Ababa",
              "Africa/Algiers",
              "Africa/Asmara",
              "Africa/Asmera",
              "Africa/Bamako",
              "Africa/Bangui",
              "Africa/Banjul",
              "Africa/Bissau",
              "Africa/Blantyre",
              "Africa/Brazzaville",
              "Africa/Bujumbura",
              "Africa/Cairo",
              "Africa/Casablanca",
              "Africa/Ceuta",
              "Africa/Conakry",
              "Africa/Dakar",
              "Africa/Dar_es_Salaam",
              "Africa/Djibouti",
              "Africa/Douala",
              "Africa/El_Aaiun",
              "Africa/Freetown",
              "Africa/Gaborone",
              "Africa/Harare",
              "Africa/Johannesburg",
              "Africa/Juba",
              "Africa/Kampala",
              "Africa/Khartoum",
              "Africa/Kigali",
              "Africa/Kinshasa",
              "Africa/Lagos",
              "Africa/Libreville",
              "Africa/Lome",
              "Africa/Luanda",
              "Africa/Lubumbashi",
              "Africa/Lusaka",
              "Africa/Malabo",
              "Africa/Maputo",
              "Africa/Maseru",
              "Africa/Mbabane",
              "Africa/Mogadishu",
              "Africa/Monrovia",
              "Africa/Nairobi",
              "Africa/Ndjamena",
              "Africa/Niamey",
              "Africa/Nouakchott",
              "Africa/Ouagadougou",
              "Africa/Porto-Novo",
              "Africa/Sao_Tome",
              "Africa/Timbuktu",
              "Africa/Tripoli",
              "Africa/Tunis",
              "Africa/Windhoek",
              "America/Adak",
              "America/Anchorage",
              "America/Anguilla",
              "America/Antigua",
              "America/Araguaina",
              "America/Argentina/Buenos_Aires",
              "America/Argentina/Catamarca",
              "America/Argentina/ComodRivadavia",
              "America/Argentina/Cordoba",
              "America/Argentina/Jujuy",
              "America/Argentina/La_Rioja",
              "America/Argentina/Mendoza",
              "America/Argentina/Rio_Gallegos",
              "America/Argentina/Salta",
              "America/Argentina/San_Juan",
              "America/Argentina/San_Luis",
              "America/Argentina/Tucuman",
              "America/Argentina/Ushuaia",
              "America/Aruba",
              "America/Asuncion",
              "America/Atikokan",
              "America/Atka",
              "America/Bahia",
              "America/Bahia_Banderas",
              "America/Barbados",
              "America/Belem",
              "America/Belize",
              "America/Blanc-Sablon",
              "America/Boa_Vista",
              "America/Bogota",
              "America/Boise",
              "America/Buenos_Aires",
              "America/Cambridge_Bay",
              "America/Campo_Grande",
              "America/Cancun",
              "America/Caracas",
              "America/Catamarca",
              "America/Cayenne",
              "America/Cayman",
              "America/Chicago",
              "America/Chihuahua",
              "America/Ciudad_Juarez",
              "America/Coral_Harbour",
              "America/Cordoba",
              "America/Costa_Rica",
              "America/Creston",
              "America/Cuiaba",
              "America/Curacao",
              "America/Danmarkshavn",
              "America/Dawson",
              "America/Dawson_Creek",
              "America/Denver",
              "America/Detroit",
              "America/Dominica",
              "America/Edmonton",
              "America/Eirunepe",
              "America/El_Salvador",
              "America/Ensenada",
              "America/Fort_Nelson",
              "America/Fort_Wayne",
              "America/Fortaleza",
              "America/Glace_Bay",
              "America/Godthab",
              "America/Goose_Bay",
              "America/Grand_Turk",
              "America/Grenada",
              "America/Guadeloupe",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Guyana",
              "America/Halifax",
              "America/Havana",
              "America/Hermosillo",
              "America/Indiana/Indianapolis",
              "America/Indiana/Knox",
              "America/Indiana/Marengo",
              "America/Indiana/Petersburg",
              "America/Indiana/Tell_City",
              "America/Indiana/Vevay",
              "America/Indiana/Vincennes",
              "America/Indiana/Winamac",
              "America/Indianapolis",
              "America/Inuvik",
              "America/Iqaluit",
              "America/Jamaica",
              "America/Jujuy",
              "America/Juneau",
              "America/Kentucky/Louisville",
              "America/Kentucky/Monticello",
              "America/Knox_IN",
              "America/Kralendijk",
              "America/La_Paz",
              "America/Lima",
              "America/Los_Angeles",
              "America/Louisville",
              "America/Lower_Princes",
              "America/Maceio",
              "America/Managua",
              "America/Manaus",
              "America/Marigot",
              "America/Martinique",
              "America/Matamoros",
              "America/Mazatlan",
              "America/Mendoza",
              "America/Menominee",
              "America/Merida",
              "America/Metlakatla",
              "America/Mexico_City",
              "America/Miquelon",
              "America/Moncton",
              "America/Monterrey",
              "America/Montevideo",
              "America/Montreal",
              "America/Montserrat",
              "America/Nassau",
              "America/New_York",
              "America/Nipigon",
              "America/Nome",
              "America/Noronha",
              "America/North_Dakota/Beulah",
              "America/North_Dakota/Center",
              "America/North_Dakota/New_Salem",
              "America/Nuuk",
              "America/Ojinaga",
              "America/Panama",
              "America/Pangnirtung",
              "America/Paramaribo",
              "America/Phoenix",
              "America/Port-au-Prince",
              "America/Port_of_Spain",
              "America/Porto_Acre",
              "America/Porto_Velho",
              "America/Puerto_Rico",
              "America/Punta_Arenas",
              "America/Rainy_River",
              "America/Rankin_Inlet",
              "America/Recife",
              "America/Regina",
              "America/Resolute",
              "America/Rio_Branco",
              "America/Rosario",
              "America/Santa_Isabel",
              "America/Santarem",
              "America/Santiago",
              "America/Santo_Domingo",
              "America/Sao_Paulo",
              "America/Scoresbysund",
              "America/Shiprock",
              "America/Sitka",
              "America/St_Barthelemy",
              "America/St_Johns",
              "America/St_Kitts",
              "America/St_Lucia",
              "America/St_Thomas",
              "America/St_Vincent",
              "America/Swift_Current",
              "America/Tegucigalpa",
              "America/Thule",
              "America/Thunder_Bay",
              "America/Tijuana",
              "America/Toronto",
              "America/Tortola",
              "America/Vancouver",
              "America/Virgin",
              "America/Whitehorse",
              "America/Winnipeg",
              "America/Yakutat",
              "America/Yellowknife",
              "Antarctica/Casey",
              "Antarctica/Davis",
              "Antarctica/DumontDUrville",
              "Antarctica/Macquarie",
              "Antarctica/Mawson",
              "Antarctica/McMurdo",
              "Antarctica/Palmer",
              "Antarctica/Rothera",
              "Antarctica/South_Pole",
              "Antarctica/Syowa",
              "Antarctica/Troll",
              "Antarctica/Vostok",
              "Arctic/Longyearbyen",
              "Asia/Aden",
              "Asia/Almaty",
              "Asia/Amman",
              "Asia/Anadyr",
              "Asia/Aqtau",
              "Asia/Aqtobe",
              "Asia/Ashgabat",
              "Asia/Ashkhabad",
              "Asia/Atyrau",
              "Asia/Baghdad",
              "Asia/Bahrain",
              "Asia/Baku",
              "Asia/Bangkok",
              "Asia/Barnaul",
              "Asia/Beirut",
              "Asia/Bishkek",
              "Asia/Brunei",
              "Asia/Calcutta",
              "Asia/Chita",
              "Asia/Choibalsan",
              "Asia/Chongqing",
              "Asia/Chungking",
              "Asia/Colombo",
              "Asia/Dacca",
              "Asia/Damascus",
              "Asia/Dhaka",
              "Asia/Dili",
              "Asia/Dubai",
              "Asia/Dushanbe",
              "Asia/Famagusta",
              "Asia/Gaza",
              "Asia/Harbin",
              "Asia/Hebron",
              "Asia/Ho_Chi_Minh",
              "Asia/Hong_Kong",
              "Asia/Hovd",
              "Asia/Irkutsk",
              "Asia/Istanbul",
              "Asia/Jakarta",
              "Asia/Jayapura",
              "Asia/Jerusalem",
              "Asia/Kabul",
              "Asia/Kamchatka",
              "Asia/Karachi",
              "Asia/Kashgar",
              "Asia/Kathmandu",
              "Asia/Katmandu",
              "Asia/Khandyga",
              "Asia/Kolkata",
              "Asia/Krasnoyarsk",
              "Asia/Kuala_Lumpur",
              "Asia/Kuching",
              "Asia/Kuwait",
              "Asia/Macao",
              "Asia/Macau",
              "Asia/Magadan",
              "Asia/Makassar",
              "Asia/Manila",
              "Asia/Muscat",
              "Asia/Nicosia",
              "Asia/Novokuznetsk",
              "Asia/Novosibirsk",
              "Asia/Omsk",
              "Asia/Oral",
              "Asia/Phnom_Penh",
              "Asia/Pontianak",
              "Asia/Pyongyang",
              "Asia/Qatar",
              "Asia/Qostanay",
              "Asia/Qyzylorda",
              "Asia/Rangoon",
              "Asia/Riyadh",
              "Asia/Saigon",
              "Asia/Sakhalin",
              "Asia/Samarkand",
              "Asia/Seoul",
              "Asia/Shanghai",
              "Asia/Singapore",
              "Asia/Srednekolymsk",
              "Asia/Taipei",
              "Asia/Tashkent",
              "Asia/Tbilisi",
              "Asia/Tehran",
              "Asia/Tel_Aviv",
              "Asia/Thimbu",
              "Asia/Thimphu",
              "Asia/Tokyo",
              "Asia/Tomsk",
              "Asia/Ujung_Pandang",
              "Asia/Ulaanbaatar",
              "Asia/Ulan_Bator",
              "Asia/Urumqi",
              "Asia/Ust-Nera",
              "Asia/Vientiane",
              "Asia/Vladivostok",
              "Asia/Yakutsk",
              "Asia/Yangon",
              "Asia/Yekaterinburg",
              "Asia/Yerevan",
              "Atlantic/Azores",
              "Atlantic/Bermuda",
              "Atlantic/Canary",
              "Atlantic/Cape_Verde",
              "Atlantic/Faeroe",
              "Atlantic/Faroe",
              "Atlantic/Jan_Mayen",
              "Atlantic/Madeira",
              "Atlantic/Reykjavik",
              "Atlantic/South_Georgia",
              "Atlantic/St_Helena",
              "Atlantic/Stanley",
              "Australia/ACT",
              "Australia/Adelaide",
              "Australia/Brisbane",
              "Australia/Broken_Hill",
              "Australia/Canberra",
              "Australia/Currie",
              "Australia/Darwin",
              "Australia/Eucla",
              "Australia/Hobart",
              "Australia/LHI",
              "Australia/Lindeman",
              "Australia/Lord_Howe",
              "Australia/Melbourne",
              "Australia/NSW",
              "Australia/North",
              "Australia/Perth",
              "Australia/Queensland",
              "Australia/South",
              "Australia/Sydney",
              "Australia/Tasmania",
              "Australia/Victoria",
              "Australia/West",
              "Australia/Yancowinna",
              "Brazil/Acre",
              "Brazil/DeNoronha",
              "Brazil/East",
              "Brazil/West",
              "CET",
              "CST6CDT",
              "Canada/Atlantic",
              "Canada/Central",
              "Canada/Eastern",
              "Canada/Mountain",
              "Canada/Newfoundland",
              "Canada/Pacific",
              "Canada/Saskatchewan",
              "Canada/Yukon",
              "Chile/Continental",
              "Chile/EasterIsland",
              "Cuba",
              "EET",
              "EST",
              "EST5EDT",
              "Egypt",
              "Eire",
              "Etc/GMT",
              "Etc/GMT+0",
              "Etc/GMT+1",
              "Etc/GMT+10",
              "Etc/GMT+11",
              "Etc/GMT+12",
              "Etc/GMT+2",
              "Etc/GMT+3",
              "Etc/GMT+4",
              "Etc/GMT+5",
              "Etc/GMT+6",
              "Etc/GMT+7",
              "Etc/GMT+8",
              "Etc/GMT+9",
              "Etc/GMT-0",
              "Etc/GMT-1",
              "Etc/GMT-10",
              "Etc/GMT-11",
              "Etc/GMT-12",
              "Etc/GMT-13",
              "Etc/GMT-14",
              "Etc/GMT-2",
              "Etc/GMT-3",
              "Etc/GMT-4",
              "Etc/GMT-5",
              "Etc/GMT-6",
              "Etc/GMT-7",
              "Etc/GMT-8",
              "Etc/GMT-9",
              "Etc/GMT0",
              "Etc/Greenwich",
              "Etc/UCT",
              "Etc/UTC",
              "Etc/Universal",
              "Etc/Zulu",
              "Europe/Amsterdam",
              "Europe/Andorra",
              "Europe/Astrakhan",
              "Europe/Athens",
              "Europe/Belfast",
              "Europe/Belgrade",
              "Europe/Berlin",
              "Europe/Bratislava",
              "Europe/Brussels",
              "Europe/Bucharest",
              "Europe/Budapest",
              "Europe/Busingen",
              "Europe/Chisinau",
              "Europe/Copenhagen",
              "Europe/Dublin",
              "Europe/Gibraltar",
              "Europe/Guernsey",
              "Europe/Helsinki",
              "Europe/Isle_of_Man",
              "Europe/Istanbul",
              "Europe/Jersey",
              "Europe/Kaliningrad",
              "Europe/Kiev",
              "Europe/Kirov",
              "Europe/Kyiv",
              "Europe/Lisbon",
              "Europe/Ljubljana",
              "Europe/London",
              "Europe/Luxembourg",
              "Europe/Madrid",
              "Europe/Malta",
              "Europe/Mariehamn",
              "Europe/Minsk",
              "Europe/Monaco",
              "Europe/Moscow",
              "Europe/Nicosia",
              "Europe/Oslo",
              "Europe/Paris",
              "Europe/Podgorica",
              "Europe/Prague",
              "Europe/Riga",
              "Europe/Rome",
              "Europe/Samara",
              "Europe/San_Marino",
              "Europe/Sarajevo",
              "Europe/Saratov",
              "Europe/Simferopol",
              "Europe/Skopje",
              "Europe/Sofia",
              "Europe/Stockholm",
              "Europe/Tallinn",
              "Europe/Tirane",
              "Europe/Tiraspol",
              "Europe/Ulyanovsk",
              "Europe/Uzhgorod",
              "Europe/Vaduz",
              "Europe/Vatican",
              "Europe/Vienna",
              "Europe/Vilnius",
              "Europe/Volgograd",
              "Europe/Warsaw",
              "Europe/Zagreb",
              "Europe/Zaporozhye",
              "Europe/Zurich",
              "GB",
              "GB-Eire",
              "GMT",
              "GMT+0",
              "GMT-0",
              "GMT0",
              "Greenwich",
              "HST",
              "Hongkong",
              "Iceland",
              "Indian/Antananarivo",
              "Indian/Chagos",
              "Indian/Christmas",
              "Indian/Cocos",
              "Indian/Comoro",
              "Indian/Kerguelen",
              "Indian/Mahe",
              "Indian/Maldives",
              "Indian/Mauritius",
              "Indian/Mayotte",
              "Indian/Reunion",
              "Iran",
              "Israel",
              "Jamaica",
              "Japan",
              "Kwajalein",
              "Libya",
              "MET",
              "MST",
              "MST7MDT",
              "Mexico/BajaNorte",
              "Mexico/BajaSur",
              "Mexico/General",
              "NZ",
              "NZ-CHAT",
              "Navajo",
              "PRC",
              "PST8PDT",
              "Pacific/Apia",
              "Pacific/Auckland",
              "Pacific/Bougainville",
              "Pacific/Chatham",
              "Pacific/Chuuk",
              "Pacific/Easter",
              "Pacific/Efate",
              "Pacific/Enderbury",
              "Pacific/Fakaofo",
              "Pacific/Fiji",
              "Pacific/Funafuti",
              "Pacific/Galapagos",
              "Pacific/Gambier",
              "Pacific/Guadalcanal",
              "Pacific/Guam",
              "Pacific/Honolulu",
              "Pacific/Johnston",
              "Pacific/Kanton",
              "Pacific/Kiritimati",
              "Pacific/Kosrae",
              "Pacific/Kwajalein",
              "Pacific/Majuro",
              "Pacific/Marquesas",
              "Pacific/Midway",
              "Pacific/Nauru",
              "Pacific/Niue",
              "Pacific/Norfolk",
              "Pacific/Noumea",
              "Pacific/Pago_Pago",
              "Pacific/Palau",
              "Pacific/Pitcairn",
              "Pacific/Pohnpei",
              "Pacific/Ponape",
              "Pacific/Port_Moresby",
              "Pacific/Rarotonga",
              "Pacific/Saipan",
              "Pacific/Samoa",
              "Pacific/Tahiti",
              "Pacific/Tarawa",
              "Pacific/Tongatapu",
              "Pacific/Truk",
              "Pacific/Wake",
              "Pacific/Wallis",
              "Pacific/Yap",
              "Poland",
              "Portugal",
              "ROC",
              "ROK",
              "Singapore",
              "Turkey",
              "UCT",
              "US/Alaska",
              "US/Aleutian",
              "US/Arizona",
              "US/Central",
              "US/East-Indiana",
              "US/Eastern",
              "US/Hawaii",
              "US/Indiana-Starke",
              "US/Michigan",
              "US/Mountain",
              "US/Pacific",
              "US/Samoa",
              "UTC",
              "Universal",
              "W-SU",
              "WET",
              "Zulu"
            ]
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          }
        },
        "required": [
          "type",
          "timezone"
        ]
      },
      "FormCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/FormCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "FormCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FormEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "definition": {
                "description": "The encoded form definition.",
                "$ref": "#/components/schemas/FormDefinition"
              },
              "status": {
                "description": "The status of the form.",
                "type": "string",
                "example": "draft",
                "enum": [
                  "draft",
                  "live"
                ]
              },
              "ab_test": {
[...]
