{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/lists": {
      "get": {
        "operationId": "get_lists",
        "summary": "Get Lists",
        "description": "Get all lists in an account.\n\nFilter to request a subset of all lists. Lists can be filtered by `id`, `name`, `created`, and `updated` fields.\n\nReturns a maximum of 10 results per page.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`lists:read`",
        "parameters": [
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "id",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "opt_in_process",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`name`: `any`, `equals`<br>`id`: `any`, `equals`<br>`created`: `greater-than`<br>`updated`: `greater-than`",
            "schema": {
              "type": "string",
              "example": "equals(name,['example'])"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-triggers",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 10. Min: 1. Max: 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListListResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "lists:read"
        ]
      },
      "post": {
        "operationId": "create_list",
        "summary": "Create List",
        "description": "Create a new list.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`<br>Daily: `150/d`\n\n**Scopes:**\n`lists:write`",
        "parameters": [
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "opt_in_process",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListCreateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m",
          "daily": "150/d"
        },
        "x-klaviyo-scopes": [
          "lists:write"
        ]
      }
    },
    "/api/lists/{id}": {
      "get": {
        "operationId": "get_list",
        "summary": "Get List",
        "description": "Get a list with the given list ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `additional-fields[list]=profile_count` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`lists:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "additional-fields[list]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'profile_count'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "profile_count"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "id",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "opt_in_process",
                  "profile_count",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-triggers",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListRetrieveResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "lists:read"
        ]
      },
      "patch": {
        "operationId": "update_list",
        "summary": "Update List",
        "description": "Update the name of a list with the given list ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`lists:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "opt_in_process",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ListPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchListPartialUpdateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "lists:write"
        ]
      },
      "delete": {
        "operationId": "delete_list",
        "summary": "Delete List",
        "description": "Delete a list with the given list ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`lists:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "lists:write"
        ]
      }
    },
    "/api/lists/{id}/tags": {
      "get": {
        "operationId": "get_tags_for_list",
        "summary": "Get Tags for List",
        "description": "Return all tags associated with the given list ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`lists:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_list_tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "lists:read",
          "tags:read"
        ]
      }
    },
    "/api/lists/{id}/relationships/tags": {
      "get": {
        "operationId": "get_tag_ids_for_list",
        "summary": "Get Tag IDs for List",
        "description": "Return all tags associated with the given list ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`lists:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListTagsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_list_relationships_tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "lists:read",
          "tags:read"
        ]
      }
    },
    "/api/lists/{id}/profiles": {
      "get": {
        "operationId": "get_profiles_for_list",
        "summary": "Get Profiles for List",
        "description": "Get all profiles within a list with the given list ID.\n\nFilter to request a subset of all profiles. Profiles can be filtered by `email`, `phone_number`, `push_token`, and `joined_group_at` fields. Profiles can be sorted by the following fields, in ascending and descending order: `joined_group_at`<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `additional-fields[profile]=predictive_analytics` parameter in your API request:<br>Burst: `10/s`<br>Steady: `150/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`lists:read`\n`profiles:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "additional-fields[profile]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'subscriptions', 'predictive_analytics'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "subscriptions",
                  "predictive_analytics"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[profile]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "email",
                  "external_id",
                  "first_name",
                  "id",
                  "image",
                  "joined_group_at",
                  "last_event_date",
                  "last_name",
                  "locale",
                  "location",
                  "location.address1",
                  "location.address2",
                  "location.city",
                  "location.country",
                  "location.ip",
                  "location.latitude",
                  "location.longitude",
                  "location.region",
                  "location.timezone",
                  "location.zip",
                  "organization",
                  "phone_number",
                  "predictive_analytics",
                  "predictive_analytics.average_days_between_orders",
                  "predictive_analytics.average_order_value",
                  "predictive_analytics.churn_probability",
                  "predictive_analytics.expected_date_of_next_order",
                  "predictive_analytics.historic_clv",
                  "predictive_analytics.historic_number_of_orders",
                  "predictive_analytics.predicted_clv",
                  "predictive_analytics.predicted_number_of_orders",
                  "predictive_analytics.ranked_channel_affinity",
                  "predictive_analytics.total_clv",
                  "properties",
                  "subscriptions",
                  "subscriptions.email",
                  "subscriptions.email.marketing",
                  "subscriptions.email.marketing.can_receive_email_marketing",
                  "subscriptions.email.marketing.consent",
                  "subscriptions.email.marketing.consent_timestamp",
                  "subscriptions.email.marketing.custom_method_detail",
                  "subscriptions.email.marketing.double_optin",
                  "subscriptions.email.marketing.last_updated",
                  "subscriptions.email.marketing.list_suppressions",
                  "subscriptions.email.marketing.method",
                  "subscriptions.email.marketing.method_detail",
                  "subscriptions.email.marketing.suppression",
                  "subscriptions.mobile_push",
                  "subscriptions.mobile_push.marketing",
                  "subscriptions.mobile_push.marketing.can_receive_push_marketing",
                  "subscriptions.mobile_push.marketing.consent",
                  "subscriptions.mobile_push.marketing.consent_timestamp",
                  "subscriptions.sms",
                  "subscriptions.sms.marketing",
                  "subscriptions.sms.marketing.can_receive_sms_marketing",
                  "subscriptions.sms.marketing.consent",
                  "subscriptions.sms.marketing.consent_timestamp",
                  "subscriptions.sms.marketing.last_updated",
                  "subscriptions.sms.marketing.method",
                  "subscriptions.sms.marketing.method_detail",
                  "subscriptions.sms.transactional",
                  "subscriptions.sms.transactional.can_receive_sms_transactional",
                  "subscriptions.sms.transactional.consent",
                  "subscriptions.sms.transactional.consent_timestamp",
                  "subscriptions.sms.transactional.last_updated",
                  "subscriptions.sms.transactional.method",
                  "subscriptions.sms.transactional.method_detail",
                  "subscriptions.whatsapp",
                  "subscriptions.whatsapp.conversational",
                  "subscriptions.whatsapp.conversational.can_receive",
                  "subscriptions.whatsapp.conversational.consent",
                  "subscriptions.whatsapp.conversational.consent_timestamp",
                  "subscriptions.whatsapp.conversational.created_timestamp",
                  "subscriptions.whatsapp.conversational.last_updated",
                  "subscriptions.whatsapp.conversational.metadata",
                  "subscriptions.whatsapp.conversational.phone_number",
                  "subscriptions.whatsapp.conversational.valid_until",
                  "subscriptions.whatsapp.marketing",
                  "subscriptions.whatsapp.marketing.can_receive",
                  "subscriptions.whatsapp.marketing.consent",
                  "subscriptions.whatsapp.marketing.consent_timestamp",
                  "subscriptions.whatsapp.marketing.created_timestamp",
                  "subscriptions.whatsapp.marketing.last_updated",
                  "subscriptions.whatsapp.marketing.metadata",
                  "subscriptions.whatsapp.marketing.phone_number",
                  "subscriptions.whatsapp.marketing.valid_until",
                  "subscriptions.whatsapp.transactional",
                  "subscriptions.whatsapp.transactional.can_receive",
                  "subscriptions.whatsapp.transactional.consent",
                  "subscriptions.whatsapp.transactional.consent_timestamp",
                  "subscriptions.whatsapp.transactional.created_timestamp",
                  "subscriptions.whatsapp.transactional.last_updated",
                  "subscriptions.whatsapp.transactional.metadata",
                  "subscriptions.whatsapp.transactional.phone_number",
                  "subscriptions.whatsapp.transactional.valid_until",
                  "title",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`email`: `any`, `equals`<br>`phone_number`: `any`, `equals`<br>`push_token`: `any`, `equals`<br>`_kx`: `equals`<br>`joined_group_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(email,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "joined_group_at",
                "-joined_group_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListMemberResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_list_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "lists:read",
          "profiles:read"
        ]
      }
    },
    "/api/lists/{id}/relationships/profiles": {
      "get": {
        "operationId": "get_profile_ids_for_list",
        "summary": "Get Profile IDs for List",
        "description": "Get profile membership [relationships](https://developers.klaviyo.com/en/reference/api_overview#relationships) for a list with the given list ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `additional-fields[profile]=predictive_analytics` parameter in your API request:<br>Burst: `10/s`<br>Steady: `150/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`lists:read`\n`profiles:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`email`: `any`, `equals`<br>`phone_number`: `any`, `equals`<br>`push_token`: `any`, `equals`<br>`_kx`: `equals`<br>`joined_group_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(email,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "joined_group_at",
                "-joined_group_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListProfilesRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_list_relationships_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "lists:read",
          "profiles:read"
        ]
      },
      "post": {
        "operationId": "add_profiles_to_list",
        "summary": "Add Profiles to List",
        "description": "Add a profile to a list with the given list ID.\n\nIt is recommended that you use the [Subscribe Profiles endpoint](https://developers.klaviyo.com/en/reference/subscribe_profiles) if you're trying to give a profile [consent](https://developers.klaviyo.com/en/docs/collect_email_and_sms_consent_via_api) to receive email marketing, SMS marketing, or both.\n\nThis endpoint accepts a maximum of 1000 profiles per call.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`lists:write`\n`profiles:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ListMembersAddQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "create_list_relationships",
          "create_list_relationships_profile",
          "create_list_relationships_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "lists:write",
          "profiles:write"
        ]
      },
      "delete": {
        "operationId": "remove_profiles_from_list",
        "summary": "Remove Profiles from List",
        "description": "Remove a profile from a list with the given list ID.\n\nThe provided profile will no longer receive marketing from this particular list once removed.\n\nRemoving a profile from a list will not impact the profile's [consent](https://developers.klaviyo.com/en/docs/collect_email_and_sms_consent_via_api) status or subscription status in general.\nTo update a profile's subscription status, please use the [Unsubscribe Profiles endpoint](https://developers.klaviyo.com/en/reference/unsubscribe_profiles).\n\nThis endpoint accepts a maximum of 1000 profiles per call.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`lists:write`\n`profiles:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ListMembersDeleteQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "delete_list_relationships",
          "delete_list_relationships_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "lists:write",
          "profiles:write"
        ]
      }
    },
    "/api/lists/{id}/flow-triggers": {
      "get": {
        "operationId": "get_flows_triggered_by_list",
        "summary": "Get Flows Triggered by List",
        "description": "Get all flows where the given list ID is being used as the trigger.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`lists:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "id",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_triggers_for_list",
          "get_list_flow_triggers"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "lists:read"
        ]
      }
    },
    "/api/lists/{id}/relationships/flow-triggers": {
      "get": {
        "operationId": "get_ids_for_flows_triggered_by_list",
        "summary": "Get IDs for Flows Triggered by List",
        "description": "Get the IDs of all flows where the given list is being used as the trigger.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`lists:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListFlowTriggersRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Lists"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_trigger_ids_for_list",
          "get_list_relationships_flow_triggers"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "lists:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "EmailChannel": {
        "type": "object",
        "properties": {
          "marketing": {
            "description": "The email marketing subscription.",
            "$ref": "#/components/schemas/EmailMarketing",
            "nullable": true
          }
        }
      },
      "EmailMarketing": {
        "type": "object",
        "properties": {
          "can_receive_email_marketing": {
            "description": "Whether or not this profile has implicit consent to receive email marketing. True if it does profile does not have any global suppressions.",
            "type": "boolean"
          },
          "consent": {
            "description": "The consent status for email marketing.",
            "type": "string",
            "example": "SUBSCRIBED"
          },
          "consent_timestamp": {
            "description": "The timestamp when consent was recorded or updated for email marketing, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "last_updated": {
            "description": "The timestamp when a field on the email marketing object was last modified.",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "method": {
            "description": "The method by which the profile was subscribed to email marketing.",
            "type": "string",
            "example": "PREFERENCE_PAGE",
            "nullable": true
          },
          "method_detail": {
            "description": "Additional details about the method by which the profile was subscribed to email marketing. This may be empty if no details were provided.",
            "type": "string",
            "example": "mydomain.com/signup",
            "default": "",
            "nullable": true
          },
          "custom_method_detail": {
            "description": "Additional detail provided by the caller when the profile was subscribed. This may be empty if no details were provided.",
            "type": "string",
            "example": "marketing drive",
            "nullable": true
          },
          "double_optin": {
            "description": "Whether the profile was subscribed to email marketing using a double opt-in.",
            "type": "boolean",
            "example": true,
            "nullable": true
          },
          "suppression": {
            "description": "The global email marketing suppression for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingSuppression"
            },
            "nullable": true
          },
          "list_suppressions": {
            "description": "The list suppressions for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingListSuppression"
            },
            "nullable": true
          }
        },
        "required": [
          "can_receive_email_marketing",
          "consent"
        ]
      },
      "EmailMarketingListSuppression": {
        "type": "object",
        "properties": {
          "list_id": {
            "description": "The ID of list to which the suppression applies.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "reason": {
            "description": "The reason the profile was suppressed from the list.",
            "type": "string",
            "example": "USER_SUPPRESSED"
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed from the list, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "list_id",
          "reason",
          "timestamp"
        ]
      },
      "EmailMarketingSuppression": {
        "type": "object",
        "properties": {
          "reason": {
            "description": "The reason the profile was suppressed.",
            "type": "string",
            "example": "HARD_BOUNCE",
            "enum": [
              "HARD_BOUNCE",
              "INVALID_EMAIL",
              "SPAM_COMPLAINT",
              "UNSUBSCRIBE",
              "USER_SUPPRESSED"
            ]
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "reason",
          "timestamp"
        ]
      },
      "FlowActionEnum": {
        "type": "string",
        "enum": [
          "flow-action"
        ]
      },
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FlowResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "archived": {
                "type": "boolean",
                "nullable": true
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "trigger_type": {
                "description": "Corresponds to the object which triggered the flow.",
                "type": "string",
                "enum": [
                  "Added to List",
                  "Date Based",
                  "Low Inventory",
                  "Metric",
                  "Price Drop",
                  "Unconfigured"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow-actions": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowActionEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "GetFlowResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListFlowTriggersRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/FlowEnum"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListListResponseCollectionCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListListResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowResponseObjectResource"
                }
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListMemberResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ProfileEnum"
                    },
                    "attributes": {
                      "properties": {
                        "subscriptions": {
                          "$ref": "#/components/schemas/Subscriptions",
                          "nullable": true
                        },
                        "predictive_analytics": {
                          "$ref": "#/components/schemas/PredictiveAnalytics",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/ListMemberResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListProfilesRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ProfileEnum"
                },
                "id": {
                  "description": "Primary key that uniquely identifies this profile. Generated by Klaviyo.",
                  "type": "string",
                  "example": "01GDDKASAP8TKDDA2GRZDSVP4H"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListRetrieveResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/ListEnum"
                  },
                  "attributes": {
                    "properties": {
                      "profile_count": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/ListRetrieveResponseObjectResource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetListTagsRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/TagEnum"
                },
                "id": {
                  "description": "The Tag ID",
                  "type": "string",
                  "example": "abcd1234-ef56-gh78-ij90-abcdef123456"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTagResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ListCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the list",
                "type": "string",
                "example": "Newsletter"
              },
              "opt_in_process": {
                "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'. If not provided, uses account default.",
                "type": "string",
                "example": "double_opt_in",
                "enum": [
                  "double_opt_in",
                  "single_opt_in"
                ],
                "nullable": true
              }
            },
            "required": [
              "name"
            ]
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "ListEnum": {
        "type": "string",
        "enum": [
          "list"
        ]
      },
      "ListListResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "id": {
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the list",
                "type": "string",
                "example": "Newsletter",
                "nullable": true
              },
              "created": {
                "description": "Date and time when the list was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "Date and time when the list was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "opt_in_process": {
                "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                "type": "string",
                "example": "double_opt_in",
                "enum": [
                  "double_opt_in",
                  "single_opt_in"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-triggers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ListMemberResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProfileEnum"
          },
          "id": {
            "description": "Primary key that uniquely identifies this profile. Generated by Klaviyo.",
            "type": "string",
            "example": "01GDDKASAP8TKDDA2GRZDSVP4H",
            "nullable": true
          },
          "attributes": {
            "type": "object",
            "properties": {
              "email": {
                "description": "Individual's email address",
                "type": "string",
                "example": "sarah.mason@klaviyo-demo.com",
                "nullable": true
              },
              "phone_number": {
                "description": "Individual's phone number in E.164 format",
                "type": "string",
                "example": "+15005550006",
                "nullable": true
              },
              "external_id": {
                "description": "A unique identifier used by customers to associate Klaviyo profiles with profiles in an external system, such as a point-of-sale system. Format varies based on the external system.",
                "type": "string",
                "nullable": true
              },
              "first_name": {
                "description": "Individual's first name",
                "type": "string",
                "example": "Sarah",
                "nullable": true
              },
              "last_name": {
                "description": "Individual's last name",
                "type": "string",
                "example": "Mason",
                "nullable": true
              },
              "organization": {
                "description": "Name of the company or organization within the company for whom the individual works",
                "type": "string",
                "example": "Example Corporation",
                "nullable": true
              },
              "locale": {
                "description": "The locale of the profile, in the IETF BCP 47 language tag format like (ISO 639-1/2)-(ISO 3166 alpha-2)",
                "type": "string",
                "example": "en-US",
                "nullable": true
              },
              "title": {
                "description": "Individual's job title",
                "type": "string",
                "example": "Regional Manager",
                "nullable": true
              },
              "image": {
                "description": "URL pointing to the location of a profile image",
                "type": "string",
                "example": "https://images.pexels.com/photos/3760854/pexels-photo-3760854.jpeg",
                "nullable": true
              },
              "created": {
                "description": "Date and time when the profile was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "Date and time when the profile was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "last_event_date": {
                "description": "Date and time of the most recent event the triggered an update to the profile, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "location": {
                "$ref": "#/components/schemas/ProfileLocation",
                "nullable": true
              },
              "properties": {
                "description": "An object containing key/value pairs for any custom properties assigned to this profile",
                "type": "object",
                "example": {
                  "pseudonym": "Dr. Octopus"
                },
                "nullable": true
              },
              "joined_group_at": {
                "description": "The datetime when this profile most recently joined the list.",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              }
            },
            "required": [
              "joined_group_at"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "lists": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ListEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "segments": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/SegmentEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "push-tokens": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/PushTokenEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "attributes",
          "links"
        ]
      },
      "ListMembersAddQuery": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ProfileEnum"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "ListMembersDeleteQuery": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ProfileEnum"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "ListPartialUpdateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ListPartialUpdateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListPartialUpdateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "id": {
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the list",
                "type": "string",
                "example": "Newsletter",
                "nullable": true
              },
              "opt_in_process": {
                "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                "type": "string",
                "example": "double_opt_in",
                "enum": [
                  "double_opt_in",
                  "single_opt_in"
                ],
                "nullable": true
              }
            }
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "ListRetrieveResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "id": {
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the list",
                "type": "string",
                "example": "Newsletter",
                "nullable": true
              },
              "created": {
                "description": "Date and time when the list was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "Date and time when the list was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "opt_in_process": {
                "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                "type": "string",
                "example": "double_opt_in",
                "enum": [
                  "double_opt_in",
                  "single_opt_in"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-triggers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PatchListPartialUpdateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/ListEnum"
              },
              "id": {
                "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
                "type": "string",
                "example": "Y6nRLr"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "A helpful name to label the list",
                    "type": "string",
                    "example": "Newsletter",
                    "nullable": true
                  },
                  "created": {
                    "description": "Date and time when the list was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated": {
                    "description": "Date and time when the list was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "opt_in_process": {
                    "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                    "type": "string",
                    "example": "double_opt_in",
                    "enum": [
                      "double_opt_in",
                      "single_opt_in"
                    ],
                    "nullable": true
                  }
                }
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "profiles": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/ProfileEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/TagEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "flow-triggers": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/FlowEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PostListCreateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/ListEnum"
              },
              "id": {
                "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
                "type": "string",
                "example": "Y6nRLr"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "A helpful name to label the list",
                    "type": "string",
                    "example": "Newsletter",
                    "nullable": true
                  },
                  "created": {
                    "description": "Date and time when the list was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated": {
                    "description": "Date and time when the list was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "opt_in_process": {
                    "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                    "type": "string",
                    "example": "double_opt_in",
                    "enum": [
                      "double_opt_in",
                      "single_opt_in"
                    ],
                    "nullable": true
                  }
                }
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "profiles": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/ProfileEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/TagEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "flow-triggers": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/FlowEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PredictiveAnalytics": {
        "type": "object",
        "properties": {
          "historic_clv": {
            "description": "Total value of all historically placed orders",
            "type": "number",
            "example": 93.87,
            "nullable": true
          },
          "predicted_clv": {
            "description": "Predicted value of all placed orders in the next 365 days",
            "type": "number",
            "example": 27.24,
            "nullable": true
          },
          "total_clv": {
            "description": "Sum of historic and predicted CLV",
            "type": "number",
            "example": 121.11,
            "nullable": true
          },
          "historic_number_of_orders": {
            "description": "Number of already placed orders",
            "type": "number",
            "example": 2,
            "nullable": true
          },
          "predicted_number_of_orders": {
            "description": "Predicted number of placed orders in the next 365 days",
            "type": "number",
            "example": 0.54,
            "nullable": true
          },
          "average_days_between_orders": {
            "description": "Average number of days between orders (None if only one order has been placed)",
            "type": "number",
            "example": 189,
            "nullable": true
          },
          "average_order_value": {
            "description": "Average value of placed orders",
            "type": "number",
            "example": 46.94,
            "nullable": true
          },
          "churn_probability": {
            "description": "Probability the customer has churned",
            "type": "number",
            "example": 0.89,
            "nullable": true
          },
          "expected_date_of_next_order": {
            "description": "Expected date of next order, as calculated at the time of their most recent order",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "ranked_channel_affinity": {
            "description": "List of channels ranked by their predicted effectiveness for this profile, with the best channel being listed first at index 0",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "push",
                "sms",
                "whatsapp"
              ],
              "description": "Enum for channel name return values used in the V3 API for channel affinity for the field `ranked_channel_affinity`."
            },
            "example": [
              "sms",
              "email",
              "push"
            ],
            "nullable": true
          }
        }
      },
[...]
