{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/segments": {
      "get": {
        "operationId": "get_segments",
        "summary": "Get Segments",
        "description": "Get all segments in an account.\n\nFilter to request a subset of all segments. Segments can be filtered by `name`, `created`, and `updated` fields.\n\nReturns a maximum of 10 results per page.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`segments:read`",
        "parameters": [
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.condition_groups",
                  "is_active",
                  "is_processing",
                  "is_starred",
                  "name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`name`: `any`, `equals`<br>`id`: `any`, `equals`<br>`created`: `greater-than`<br>`updated`: `greater-than`<br>`is_active`: `any`, `equals`<br>`is_starred`: `equals`",
            "schema": {
              "type": "string",
              "example": "equals(name,['example'])"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-triggers",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 10. Min: 1. Max: 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentListResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "segments:read"
        ]
      },
      "post": {
        "operationId": "create_segment",
        "summary": "Create Segment",
        "description": "Create a segment.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`<br>Daily: `100/d`\n\n**Scopes:**\n`segments:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSegmentCreateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m",
          "daily": "100/d"
        },
        "x-klaviyo-scopes": [
          "segments:write"
        ]
      }
    },
    "/api/segments/{id}": {
      "get": {
        "operationId": "get_segment",
        "summary": "Get Segment",
        "description": "Get a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `additional-fields[segment]=profile_count` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional-fields[segment]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'profile_count'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "profile_count"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.condition_groups",
                  "is_active",
                  "is_processing",
                  "is_starred",
                  "name",
                  "profile_count",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-triggers",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentRetrieveResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "segments:read"
        ]
      },
      "patch": {
        "operationId": "update_segment",
        "summary": "Update Segment",
        "description": "Update a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`<br>Daily: `100/d`\n\n**Scopes:**\n`segments:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSegmentPartialUpdateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m",
          "daily": "100/d"
        },
        "x-klaviyo-scopes": [
          "segments:write"
        ]
      },
      "delete": {
        "operationId": "delete_segment",
        "summary": "Delete Segment",
        "description": "Delete a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`segments:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "segments:write"
        ]
      }
    },
    "/api/segments/{id}/tags": {
      "get": {
        "operationId": "get_tags_for_segment",
        "summary": "Get Tags for Segment",
        "description": "Return all tags associated with the given segment ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`segments:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_segment_tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "segments:read",
          "tags:read"
        ]
      }
    },
    "/api/segments/{id}/relationships/tags": {
      "get": {
        "operationId": "get_tag_ids_for_segment",
        "summary": "Get Tag IDs for Segment",
        "description": "If `related_resource` is `tags`, returns the tag IDs of all tags associated with the given segment ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`segments:read`\n`tags:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentTagsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_segment_relationships_tags"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "segments:read",
          "tags:read"
        ]
      }
    },
    "/api/segments/{id}/profiles": {
      "get": {
        "operationId": "get_profiles_for_segment",
        "summary": "Get Profiles for Segment",
        "description": "Get all profiles within a segment with the given segment ID.\n\nFilter to request a subset of all profiles. Profiles can be filtered by `email`, `phone_number`, `push_token`, and `joined_group_at` fields. Profiles can be sorted by the following fields, in ascending and descending order: `joined_group_at`<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`profiles:read`\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "additional-fields[profile]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'subscriptions', 'predictive_analytics'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "subscriptions",
                  "predictive_analytics"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[profile]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "email",
                  "external_id",
                  "first_name",
                  "image",
                  "joined_group_at",
                  "last_event_date",
                  "last_name",
                  "locale",
                  "location",
                  "location.address1",
                  "location.address2",
                  "location.city",
                  "location.country",
                  "location.ip",
                  "location.latitude",
                  "location.longitude",
                  "location.region",
                  "location.timezone",
                  "location.zip",
                  "organization",
                  "phone_number",
                  "predictive_analytics",
                  "predictive_analytics.average_days_between_orders",
                  "predictive_analytics.average_order_value",
                  "predictive_analytics.churn_probability",
                  "predictive_analytics.expected_date_of_next_order",
                  "predictive_analytics.historic_clv",
                  "predictive_analytics.historic_number_of_orders",
                  "predictive_analytics.predicted_clv",
                  "predictive_analytics.predicted_number_of_orders",
                  "predictive_analytics.ranked_channel_affinity",
                  "predictive_analytics.total_clv",
                  "properties",
                  "subscriptions",
                  "subscriptions.email",
                  "subscriptions.email.marketing",
                  "subscriptions.email.marketing.can_receive_email_marketing",
                  "subscriptions.email.marketing.consent",
                  "subscriptions.email.marketing.consent_timestamp",
                  "subscriptions.email.marketing.custom_method_detail",
                  "subscriptions.email.marketing.double_optin",
                  "subscriptions.email.marketing.last_updated",
                  "subscriptions.email.marketing.list_suppressions",
                  "subscriptions.email.marketing.method",
                  "subscriptions.email.marketing.method_detail",
                  "subscriptions.email.marketing.suppression",
                  "subscriptions.mobile_push",
                  "subscriptions.mobile_push.marketing",
                  "subscriptions.mobile_push.marketing.can_receive_push_marketing",
                  "subscriptions.mobile_push.marketing.consent",
                  "subscriptions.mobile_push.marketing.consent_timestamp",
                  "subscriptions.sms",
                  "subscriptions.sms.marketing",
                  "subscriptions.sms.marketing.can_receive_sms_marketing",
                  "subscriptions.sms.marketing.consent",
                  "subscriptions.sms.marketing.consent_timestamp",
                  "subscriptions.sms.marketing.last_updated",
                  "subscriptions.sms.marketing.method",
                  "subscriptions.sms.marketing.method_detail",
                  "subscriptions.sms.transactional",
                  "subscriptions.sms.transactional.can_receive_sms_transactional",
                  "subscriptions.sms.transactional.consent",
                  "subscriptions.sms.transactional.consent_timestamp",
                  "subscriptions.sms.transactional.last_updated",
                  "subscriptions.sms.transactional.method",
                  "subscriptions.sms.transactional.method_detail",
                  "subscriptions.whatsapp",
                  "subscriptions.whatsapp.conversational",
                  "subscriptions.whatsapp.conversational.can_receive",
                  "subscriptions.whatsapp.conversational.consent",
                  "subscriptions.whatsapp.conversational.consent_timestamp",
                  "subscriptions.whatsapp.conversational.created_timestamp",
                  "subscriptions.whatsapp.conversational.last_updated",
                  "subscriptions.whatsapp.conversational.metadata",
                  "subscriptions.whatsapp.conversational.phone_number",
                  "subscriptions.whatsapp.conversational.valid_until",
                  "subscriptions.whatsapp.marketing",
                  "subscriptions.whatsapp.marketing.can_receive",
                  "subscriptions.whatsapp.marketing.consent",
                  "subscriptions.whatsapp.marketing.consent_timestamp",
                  "subscriptions.whatsapp.marketing.created_timestamp",
                  "subscriptions.whatsapp.marketing.last_updated",
                  "subscriptions.whatsapp.marketing.metadata",
                  "subscriptions.whatsapp.marketing.phone_number",
                  "subscriptions.whatsapp.marketing.valid_until",
                  "subscriptions.whatsapp.transactional",
                  "subscriptions.whatsapp.transactional.can_receive",
                  "subscriptions.whatsapp.transactional.consent",
                  "subscriptions.whatsapp.transactional.consent_timestamp",
                  "subscriptions.whatsapp.transactional.created_timestamp",
                  "subscriptions.whatsapp.transactional.last_updated",
                  "subscriptions.whatsapp.transactional.metadata",
                  "subscriptions.whatsapp.transactional.phone_number",
                  "subscriptions.whatsapp.transactional.valid_until",
                  "title",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`profile_id`: `any`, `equals`<br>`email`: `any`, `equals`<br>`phone_number`: `any`, `equals`<br>`push_token`: `any`, `equals`<br>`_kx`: `equals`<br>`joined_group_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(profile_id,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "joined_group_at",
                "-joined_group_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentMemberResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_segment_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "profiles:read",
          "segments:read"
        ]
      }
    },
    "/api/segments/{id}/relationships/profiles": {
      "get": {
        "operationId": "get_profile_ids_for_segment",
        "summary": "Get Profile IDs for Segment",
        "description": "Get all profile membership [relationships](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given segment ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`profiles:read`\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`profile_id`: `any`, `equals`<br>`email`: `any`, `equals`<br>`phone_number`: `any`, `equals`<br>`push_token`: `any`, `equals`<br>`_kx`: `equals`<br>`joined_group_at`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(profile_id,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "joined_group_at",
                "-joined_group_at"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentProfilesRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_segment_relationships_profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "profiles:read",
          "segments:read"
        ]
      }
    },
    "/api/segments/{id}/flow-triggers": {
      "get": {
        "operationId": "get_flows_triggered_by_segment",
        "summary": "Get Flows Triggered by Segment",
        "description": "Get all flows where the given segment ID is being used as the trigger.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_triggers_for_segment",
          "get_segment_flow_triggers"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "segments:read"
        ]
      }
    },
    "/api/segments/{id}/relationships/flow-triggers": {
      "get": {
        "operationId": "get_ids_for_flows_triggered_by_segment",
        "summary": "Get IDs for Flows Triggered by Segment",
        "description": "Get the IDs of all flows where the given segment is being used as the trigger.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`\n`segments:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
            "required": true,
            "schema": {
              "description": "Primary key that uniquely identifies this segment. Generated by Klaviyo.",
              "type": "string",
              "example": "Y6nRLr"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentFlowTriggersRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-operation-aliases": [
          "get_flow_trigger_ids_for_segment",
          "get_segment_relationships_flow_triggers"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "segments:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APIMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of API keys (using last 4 digits of the key)",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "AlltimeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for alltime date filters.",
            "type": "string",
            "enum": [
              "alltime"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "AnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for anniversary date filters.",
            "type": "string",
            "enum": [
              "anniversary",
              "anniversary-month"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "BackInStockMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "back_in_stock"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "BooleanFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "boolean"
            ]
          },
          "operator": {
            "description": "Operators for boolean filters.",
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "BounceDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "bounce_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "BulkRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "bulk_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CalendarDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for calendar date filters.",
            "type": "string",
            "enum": [
              "calendar-month"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CarrierDeactivationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "carrier_deactivation"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CheckoutMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "checkout"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ConditionGroup": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePropertyCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileRegionCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityPriorityCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityRankCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePermissionsCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricFunnelCondition"
                }
              ]
            }
          }
        },
        "required": [
          "conditions"
        ]
      },
      "ConstantContactIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "enum": [
                "constant_contact"
              ],
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ConstantContactIntegrationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "integration"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ConstantContactIntegrationFilter"
          }
        },
        "required": [
          "field",
          "method",
          "filter"
        ]
      },
      "CustomSourceFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "custom_source"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/EqualsStringFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "DataWarehouseImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "data_warehouse_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "DoubleOptinFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "is_double_opt_in"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/BooleanFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EffectiveDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "effective_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EmailChannel": {
        "type": "object",
        "properties": {
          "marketing": {
            "description": "The email marketing subscription.",
            "$ref": "#/components/schemas/EmailMarketing",
            "nullable": true
          }
        }
      },
      "EmailMarketing": {
        "type": "object",
        "properties": {
          "can_receive_email_marketing": {
            "description": "Whether or not this profile has implicit consent to receive email marketing. True if it does profile does not have any global suppressions.",
            "type": "boolean"
          },
          "consent": {
            "description": "The consent status for email marketing.",
            "type": "string",
            "example": "SUBSCRIBED"
          },
          "consent_timestamp": {
            "description": "The timestamp when consent was recorded or updated for email marketing, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "last_updated": {
            "description": "The timestamp when a field on the email marketing object was last modified.",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "method": {
            "description": "The method by which the profile was subscribed to email marketing.",
            "type": "string",
            "example": "PREFERENCE_PAGE",
            "nullable": true
          },
          "method_detail": {
            "description": "Additional details about the method by which the profile was subscribed to email marketing. This may be empty if no details were provided.",
            "type": "string",
            "example": "mydomain.com/signup",
            "default": "",
            "nullable": true
          },
          "custom_method_detail": {
            "description": "Additional detail provided by the caller when the profile was subscribed. This may be empty if no details were provided.",
            "type": "string",
            "example": "marketing drive",
            "nullable": true
          },
          "double_optin": {
            "description": "Whether the profile was subscribed to email marketing using a double opt-in.",
            "type": "boolean",
            "example": true,
            "nullable": true
          },
          "suppression": {
            "description": "The global email marketing suppression for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingSuppression"
            },
            "nullable": true
          },
          "list_suppressions": {
            "description": "The list suppressions for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingListSuppression"
            },
            "nullable": true
          }
        },
        "required": [
          "can_receive_email_marketing",
          "consent"
        ]
      },
      "EmailMarketingListSuppression": {
        "type": "object",
        "properties": {
          "list_id": {
            "description": "The ID of list to which the suppression applies.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "reason": {
            "description": "The reason the profile was suppressed from the list.",
            "type": "string",
            "example": "USER_SUPPRESSED"
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed from the list, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "list_id",
          "reason",
          "timestamp"
        ]
      },
      "EmailMarketingSuppression": {
        "type": "object",
        "properties": {
          "reason": {
            "description": "The reason the profile was suppressed.",
            "type": "string",
            "example": "HARD_BOUNCE",
            "enum": [
              "HARD_BOUNCE",
              "INVALID_EMAIL",
              "SPAM_COMPLAINT",
              "UNSUBSCRIBE",
              "USER_SUPPRESSED"
            ]
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "reason",
          "timestamp"
        ]
      },
      "EqualsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ExistenceOperatorExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "description": "Operators for existence filters.",
            "type": "string",
            "enum": [
              "is-set",
              "not-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_reachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "ExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_unreachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "FailedAgeGateMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "failed_age_gate"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FlowActionEnum": {
        "type": "string",
        "enum": [
          "flow-action"
        ]
      },
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FlowResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "archived": {
                "type": "boolean",
                "nullable": true
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "trigger_type": {
                "description": "Corresponds to the object which triggered the flow.",
                "type": "string",
                "enum": [
                  "Added to List",
                  "Date Based",
                  "Low Inventory",
                  "Metric",
                  "Price Drop",
                  "Unconfigured"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow-actions": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowActionEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "FormMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form ids",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FormSubscribeFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form IDs",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "GetFlowResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentFlowTriggersRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/FlowEnum"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentListResponseCollectionCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentListResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowResponseObjectResource"
                }
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentMemberResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ProfileEnum"
                    },
                    "attributes": {
                      "properties": {
                        "subscriptions": {
                          "$ref": "#/components/schemas/Subscriptions",
                          "nullable": true
                        },
                        "predictive_analytics": {
                          "$ref": "#/components/schemas/PredictiveAnalytics",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/SegmentMemberResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentProfilesRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ProfileEnum"
                },
                "id": {
                  "description": "Primary key that uniquely identifies this profile. Generated by Klaviyo.",
                  "type": "string",
                  "example": "01GDDKASAP8TKDDA2GRZDSVP4H"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentRetrieveResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/SegmentEnum"
                  },
                  "attributes": {
                    "properties": {
                      "profile_count": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/SegmentRetrieveResponseObjectResource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetSegmentTagsRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/TagEnum"
                },
                "id": {
                  "description": "The Tag ID",
                  "type": "string",
                  "example": "abcd1234-ef56-gh78-ij90-abcdef123456"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTagResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GreaterThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "greater-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "HasEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingSubscribed"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DoubleOptinFilter"
                },
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/CustomSourceFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageFilter"
                },
                {
                  "$ref": "#/components/schemas/APIMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BackInStockMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDateFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "push"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasPushMarketing"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasSMSMarketingSubscribed"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CheckoutMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SubscribedSMSIsRcsCapableFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "ImplicitlyOrExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyOrExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "InStringArrayFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InboundMessageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "inbound_message"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "IntegerFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InvalidEmailDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "invalid_email_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "IsSetExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "is-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "LessThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "less-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListContainsOperatorListContainsFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains filters.",
            "type": "string",
            "enum": [
              "contains",
              "not-contains"
            ]
          },
          "value": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListEnum": {
        "type": "string",
        "enum": [
          "list"
        ]
      },
      "ListLengthFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list length filters.",
            "type": "string",
            "enum": [
              "length-equals",
              "length-greater-than",
              "length-greater-than-or-equal",
              "length-less-than",
              "length-less-than-or-equal"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSetFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains set filters.",
            "type": "string",
            "enum": [
              "contains-all",
              "contains-any",
              "not-contains-all",
              "not-contains-any"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSubstringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list substring filters.",
            "type": "string",
            "enum": [
              "contains-substring",
              "not-contains-substring"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "MailboxProviderMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "mailbox_provider"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualAddManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_add"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualSuppressionDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "manual_suppression_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "MessageBlockedMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "message_blocked"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "MethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "description": "Method for subscribing / unsubscribing.",
            "type": "string",
            "enum": [
              "api",
              "back_in_stock",
              "bigcommerce",
              "bulk_remove",
              "campaign_monitor",
              "carrier_deactivation",
              "checkout",
              "constant_contact",
              "exact_target",
              "facebook",
              "failed_age_gate",
              "inbound_message",
              "integration",
              "mad_mimi",
              "magento_two",
              "mailbox_provider",
              "manual_add",
              "manual_import",
              "manual_remove",
              "message_blocked",
              "netsuite",
              "preference_page",
              "provided_landline",
              "provided_no_age",
              "sftp",
              "shopify",
              "social_instagram_message",
              "spam_complaint",
              "square",
              "wix",
              "woocommerce"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "NoEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingUnsubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingNeverSubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingUnsubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          },
          "filters": {
            "nullable": true,
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StatusDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/APIMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/InboundMessageMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/PreferencePageMethodFilter"
                    },
[...]
