{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/templates": {
      "get": {
        "operationId": "get_templates",
        "summary": "Get Templates",
        "description": "Get all templates in an account.\n\nUse `additional-fields[template]=definition` to include the full template\ndefinition for SYSTEM_DRAGGABLE templates.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:read`",
        "parameters": [
          {
            "name": "additional-fields[template]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'definition'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "definition"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "definition",
                  "definition.body",
                  "definition.body.id",
                  "definition.body.properties",
                  "definition.body.properties.css_class",
                  "definition.body.properties.id",
                  "definition.body.sections",
                  "definition.body.styles",
                  "definition.body.styles.background_color",
                  "definition.body.styles.width",
                  "definition.id",
                  "definition.styles",
                  "definition.template_id",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`name`: `any`, `contains`, `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(id,['example'])"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 10. Min: 1. Max: 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTemplateDndResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ]
      },
      "post": {
        "operationId": "create_template",
        "summary": "Create Template",
        "description": "Create a new HTML or drag-and-drop template.\n\nIf there are 1,000 or more templates in an account, creation will fail as there is a limit of 1,000 templates\nthat can be created via the API.\n\nRequest specific fields using [sparse fieldsets](https://developers.klaviyo.com/en/reference/api_overview#sparse-fieldsets).<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "additional-fields[template]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'definition'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "definition"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "definition",
                  "definition.body",
                  "definition.body.id",
                  "definition.body.properties",
                  "definition.body.properties.css_class",
                  "definition.body.properties.id",
                  "definition.body.sections",
                  "definition.body.styles",
                  "definition.body.styles.background_color",
                  "definition.body.styles.width",
                  "definition.id",
                  "definition.styles",
                  "definition.template_id",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreateHtmlOrDndQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTemplateDndResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ]
      }
    },
    "/api/templates/{id}": {
      "get": {
        "operationId": "get_template",
        "summary": "Get Template",
        "description": "Get a template with the given template ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of template",
            "required": true,
            "schema": {
              "description": "The ID of template",
              "type": "string"
            }
          },
          {
            "name": "additional-fields[template]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'definition'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "definition"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "definition",
                  "definition.body",
                  "definition.body.id",
                  "definition.body.properties",
                  "definition.body.properties.css_class",
                  "definition.body.properties.id",
                  "definition.body.sections",
                  "definition.body.styles",
                  "definition.body.styles.background_color",
                  "definition.body.styles.width",
                  "definition.id",
                  "definition.styles",
                  "definition.template_id",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTemplateDndResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ]
      },
      "patch": {
        "operationId": "update_template",
        "summary": "Update Template",
        "description": "Update a template with the given template ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of template",
            "required": true,
            "schema": {
              "description": "The ID of template",
              "type": "string"
            }
          },
          {
            "name": "additional-fields[template]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'definition'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "definition"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "definition",
                  "definition.body",
                  "definition.body.id",
                  "definition.body.properties",
                  "definition.body.properties.css_class",
                  "definition.body.properties.id",
                  "definition.body.sections",
                  "definition.body.styles",
                  "definition.body.styles.background_color",
                  "definition.body.styles.width",
                  "definition.id",
                  "definition.styles",
                  "definition.template_id",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdateHtmlOrDndQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTemplateDndResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ]
      },
      "delete": {
        "operationId": "delete_template",
        "summary": "Delete Template",
        "description": "Delete a template with the given template ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of template",
            "required": true,
            "schema": {
              "description": "The ID of template",
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ]
      }
    },
    "/api/template-universal-content": {
      "get": {
        "operationId": "get_all_universal_content",
        "summary": "Get All Universal Content",
        "description": "Get all universal content in an account.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:read`",
        "parameters": [
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "id",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`name`: `any`, `equals`<br>`created`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`definition.content_type`: `equals`<br>`definition.type`: `equals`",
            "schema": {
              "type": "string",
              "example": "equals(id,'01HWWWKAW4RHXQJCMW4R2KRYR4')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUniversalContentResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "get_template_universal_content"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ],
        "x-klaviyo-subtag": "Universal Content"
      },
      "post": {
        "operationId": "create_universal_content",
        "summary": "Create Universal Content",
        "description": "Create universal content. Currently supported block types are: `button`, `drop_shadow`, `horizontal_rule`, `html`, `image`, `spacer`, and `text`.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "id",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "description": "Create a template universal content",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/UniversalContentCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUniversalContentResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "create_template_universal_content"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ],
        "x-klaviyo-subtag": "Universal Content"
      }
    },
    "/api/template-universal-content/{id}": {
      "get": {
        "operationId": "get_universal_content",
        "summary": "Get Universal Content",
        "description": "Get the universal content with the given ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the universal content",
            "required": true,
            "schema": {
              "description": "The ID of the universal content",
              "type": "string",
              "example": "01HWWWKAW4RHXQJCMW4R2KRYR4"
            }
          },
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "id",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUniversalContentResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ],
        "x-klaviyo-subtag": "Universal Content"
      },
      "patch": {
        "operationId": "update_universal_content",
        "summary": "Update Universal Content",
        "description": "Update universal content. The `definition` field can only be updated on the following block types at this time: `button`, `drop_shadow`, `horizontal_rule`, `html`, `image`, `spacer`, and `text`.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the template universal content",
            "required": true,
            "schema": {
              "description": "The ID of the template universal content",
              "type": "string",
              "example": "01HWWWKAW4RHXQJCMW4R2KRYR4"
            }
          },
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "id",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "description": "Update a universal content by ID",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/UniversalContentPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchUniversalContentResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "update_template_universal_content"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ],
        "x-klaviyo-subtag": "Universal Content"
      },
      "delete": {
        "operationId": "delete_universal_content",
        "summary": "Delete Universal Content",
        "description": "Delete the universal content with the given ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the template universal content",
            "required": true,
            "schema": {
              "description": "The ID of the template universal content",
              "type": "string",
              "example": "01HWWWKAW4RHXQJCMW4R2KRYR4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "delete_template_universal_content"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ],
        "x-klaviyo-subtag": "Universal Content"
      }
    },
    "/api/template-render": {
      "post": {
        "operationId": "render_template",
        "summary": "Render Template",
        "description": "Render a template with the given template ID and context attribute. Returns the AMP, HTML, and plain text versions of the email template.\n\n**Request body parameters** (nested under `attributes`):\n\n* `return_fields`: Request specific fields using [sparse fieldsets](https://developers.klaviyo.com/en/reference/api_overview#sparse-fieldsets).\n\n* `context`: This is the context your email template will be rendered with. You must pass in a `context` object as a JSON object.\n\nEmail templates are rendered with contexts in a similar manner to Django templates. Nested template variables can be referenced via dot notation. Template variables without corresponding `context` values are treated as `FALSE` and output nothing.\n\nEx. `{ \"name\" : \"George Washington\", \"state\" : \"VA\" }`<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`templates:read`",
        "parameters": [
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRenderQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "create_template_render"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ]
      }
    },
    "/api/template-clone": {
      "post": {
        "operationId": "clone_template",
        "summary": "Clone Template",
        "description": "Create a clone of a template with the given template ID.\n\nIf there are 1,000 or more templates in an account, cloning will fail as there is a limit of 1,000 templates\nthat can be created via the API.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:write`",
        "parameters": [
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "editor_type",
                  "html",
                  "id",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCloneQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Templates"
        ],
        "x-klaviyo-operation-aliases": [
          "create_template_clone"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:write"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "BaseStyle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "style_type": {
            "type": "string",
            "enum": [
              "base-styles"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/BaseStyleProperties"
          },
          "styles": {
            "$ref": "#/components/schemas/BaseStyleStyles"
          }
        },
        "required": [
          "style_type",
          "properties",
          "styles"
        ]
      },
      "BaseStyleProperties": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "nullable": true
          },
          "currency_set_on_template": {
            "type": "boolean",
            "nullable": true
          },
          "disable_websafe_fonts": {
            "type": "boolean",
            "nullable": true
          },
          "is_user_draggable": {
            "type": "boolean",
            "nullable": true
          },
          "mobile_optimizations": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "BaseStyleStyles": {
        "type": "object",
        "properties": {
          "background_asset_id": {
            "type": "string",
            "nullable": true
          },
          "background_format": {
            "description": "Background format.",
            "type": "string",
            "enum": [
              "auto",
              "contain",
              "cover",
              "initial",
              "repeat"
            ],
            "nullable": true
          },
          "background_position": {
            "description": "Background position.",
            "type": "string",
            "enum": [
              "center-bottom",
              "center-center",
              "center-top",
              "left-bottom",
              "left-center",
              "left-top",
              "right-bottom",
              "right-center",
              "right-top"
            ],
            "nullable": true
          },
          "background_repeat": {
            "type": "boolean",
            "nullable": true
          },
          "background_url": {
            "type": "string",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "content_background_color": {
            "type": "string",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "margin_top": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "BlockDisplayOptions": {
        "type": "object",
        "properties": {
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "visible_check": {
            "type": "string",
            "nullable": true
          },
          "content_repeat": {
            "$ref": "#/components/schemas/ContentRepeatV0",
            "nullable": true
          }
        }
      },
      "Body": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "properties": {
            "$ref": "#/components/schemas/BodyProperties"
          },
          "styles": {
            "$ref": "#/components/schemas/BodyStyles"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionV1"
            },
            "nullable": true
          }
        },
        "required": [
          "properties",
          "styles"
        ]
      },
      "BodyProperties": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "css_class": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BodyStyles": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ButtonBlockData": {
        "type": "object",
        "properties": {
          "content": {
            "nullable": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ButtonBlockProperties"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/ButtonBlockStyles"
          }
        },
        "required": [
          "content",
          "properties",
          "display_options",
          "styles"
        ]
      },
      "ButtonBlockProperties": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ButtonBlockStyles": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "drop_shadow_color": {
            "type": "string",
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "stretch": {
            "type": "boolean",
            "nullable": true
          },
          "text_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ButtonBlockV0": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "ButtonBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ButtonBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ColumnData": {
        "type": "object",
        "maxProperties": 0
      },
      "ColumnV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/ColumnData",
            "nullable": true
          },
          "blocks": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ButtonBlockV1"
                },
                {
                  "$ref": "#/components/schemas/CouponBlockV1"
                },
                {
                  "$ref": "#/components/schemas/DropShadowBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HeaderBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HorizontalRuleBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HTMLBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ImageBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ProductBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ReviewBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SocialBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SpacerBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SplitBlockV1"
                },
                {
                  "$ref": "#/components/schemas/TableBlockV1"
                },
                {
                  "$ref": "#/components/schemas/TextBlockV1"
                },
                {
                  "$ref": "#/components/schemas/VideoBlockV1"
                }
              ]
            },
            "nullable": true
          }
        }
      },
      "ContentRepeatV0": {
        "type": "object",
        "properties": {
          "repeat_for": {
            "type": "string"
          },
          "item_alias": {
            "type": "string"
          }
        },
        "required": [
          "repeat_for",
          "item_alias"
        ]
      },
      "ContentRepeatV1": {
        "type": "object",
        "properties": {
          "repeat_for": {
            "type": "string"
          },
          "item_alias": {
            "type": "string"
          }
        },
        "required": [
          "repeat_for",
          "item_alias"
        ]
      },
      "CouponBlockData": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CouponBlockProperties"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/CouponBlockStyles"
          }
        },
        "required": [
          "content",
          "properties",
          "display_options",
          "styles"
        ]
      },
      "CouponBlockProperties": {
        "type": "object",
        "properties": {
          "coupon_id": {
            "type": "string",
            "nullable": true
          },
          "coupon": {
            "type": "string",
            "nullable": true
          },
          "header_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CouponBlockStyles": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "header_font_family": {
            "type": "string",
            "nullable": true
          },
          "header_font_size": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "stretch": {
            "type": "boolean",
            "nullable": true
          },
          "text_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CouponBlockV0": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "coupon"
            ]
          },
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "CouponBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "coupon"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/CouponBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DisplayOptions": {
        "type": "object",
        "properties": {
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "content_repeat": {
            "$ref": "#/components/schemas/ContentRepeatV1",
            "nullable": true
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility",
            "nullable": true
          },
          "layout_type": {
            "type": "string",
            "nullable": true
          },
          "layout_config": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "DropShadowBlockData": {
        "type": "object",
        "properties": {
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/DropShadowBlockStyles"
          }
        },
        "required": [
          "display_options",
          "styles"
        ]
      },
      "DropShadowBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "shadow_color": {
            "description": "Shadow color.",
            "type": "string",
            "enum": [
              "dark",
              "light",
              "medium"
            ],
            "nullable": true
          }
        }
      },
      "DropShadowBlockV0": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "drop_shadow"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DropShadowBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "drop_shadow"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/DropShadowBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DynamicImageBlockProperties": {
        "type": "object",
        "properties": {
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicProductBlockProperties": {
        "type": "object",
        "properties": {
          "is_ai_generated": {
            "type": "boolean",
            "nullable": true
          },
          "is_prebuilt_content": {
            "type": "boolean",
            "nullable": true
          },
          "item_subtype_id": {
            "type": "integer",
            "nullable": true
          },
          "show_button": {
            "type": "boolean",
            "nullable": true
          },
          "show_original_price": {
            "type": "boolean",
            "nullable": true
          },
          "show_price": {
            "type": "boolean",
            "nullable": true
          },
          "show_rating": {
            "type": "boolean",
            "nullable": true
          },
          "show_rating_count": {
            "type": "boolean",
            "nullable": true
          },
          "show_title": {
            "type": "boolean",
            "nullable": true
          },
          "show_title_links": {
            "type": "boolean",
            "nullable": true
          },
          "title_placeholder": {
            "type": "string",
            "nullable": true
          },
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "button_text": {
            "type": "string",
            "nullable": true
          },
          "feed": {
            "type": "string",
            "nullable": true
          },
          "feed_offset": {
            "type": "integer",
            "nullable": true
          },
          "is_nbp": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicReviewBlockProperties": {
        "type": "object",
        "properties": {
          "show_rating": {
            "type": "boolean",
            "nullable": true
          },
          "show_reviewer_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_product_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_variant_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_verified_badge": {
            "type": "boolean",
            "nullable": true
          },
          "author_placeholder": {
            "type": "string",
            "nullable": true
          },
          "quote_placeholder": {
            "type": "string",
            "nullable": true
          },
          "product_name_placeholder": {
            "type": "string",
            "nullable": true
          },
          "product_variant_name_placeholder": {
            "type": "string",
            "nullable": true
          },
          "verified_badge_language": {
            "description": "Review block verified badge language.",
            "type": "string",
            "enum": [
              "dutch",
              "english",
              "french",
              "german",
              "hungarian",
              "italian",
              "japanese",
              "korean",
              "portuguese",
              "spanish"
            ],
            "nullable": true
          },
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "fallback_options": {
            "description": "Review block fallback options for dynamic selection.",
            "type": "string",
            "enum": [
              "high-quality-review",
              "high-quality-review-or-static",
              "no-review",
              "recent",
              "static-only"
            ],
            "nullable": true
          },
          "fallback_content_type": {
            "description": "Review block fallback content type.",
            "type": "string",
            "enum": [
              "full",
              "quote"
            ],
            "nullable": true
          },
          "fallback_review_id": {
            "type": "string",
            "nullable": true
          },
          "product_selection_mode": {
            "description": "Review block product selection mode.",
            "type": "string",
            "enum": [
              "automatic",
              "manual"
            ],
            "nullable": true
          },
          "product_id": {
            "type": "string",
            "nullable": true
          },
          "product_event_variable": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicTableBlockProperties": {
        "type": "object",
        "properties": {
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "num_columns": {
            "type": "integer",
            "nullable": true
          },
          "row_content_repeat": {
            "$ref": "#/components/schemas/ContentRepeatV1",
            "nullable": true
          },
          "show_headers": {
            "type": "boolean",
            "nullable": true
          },
          "show_fallback_content": {
            "type": "boolean",
            "nullable": true
          },
          "show_static_row": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "GetTemplateDndResponse": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/TemplateEnum"
                  },
                  "attributes": {
                    "properties": {
                      "definition": {
                        "description": "Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.",
                        "$ref": "#/components/schemas/TemplateDefinition",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/TemplateDndResponseObjectResource"
              }
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTemplateDndResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/TemplateEnum"
                    },
                    "attributes": {
                      "properties": {
                        "definition": {
                          "description": "Template definition for SYSTEM_DRAGGABLE templates. Omitted for CODE/USER_DRAGGABLE. Use additional-fields[template]=definition to include in list responses.",
                          "$ref": "#/components/schemas/TemplateDefinition",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                {
                  "$ref": "#/components/schemas/TemplateDndResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetUniversalContentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UniversalContentResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetUniversalContentResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UniversalContentResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "HTMLBlockDataV0": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "display_options": {
            "$ref": "#/components/schemas/BlockDisplayOptions"
          }
        },
        "required": [
          "content",
          "display_options"
        ]
      },
      "HTMLBlockDataV1": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          }
        },
        "required": [
          "content",
          "display_options"
        ]
      },
      "HTMLBlockV0": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "html"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HTMLBlockDataV0"
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HTMLBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "html"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HTMLBlockDataV1"
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HeaderBlockData": {
        "type": "object",
        "properties": {
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/HeaderBlockStyles"
          }
        },
        "required": [
          "display_options",
          "styles"
        ]
      },
      "HeaderBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "desktop_layout": {
            "description": "Header block desktop layout.",
            "type": "string",
            "enum": [
              "centered",
              "inline",
              "links",
              "stacked"
            ],
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "item_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "item_spacing": {
            "type": "integer",
            "nullable": true
          },
          "item_spacing_type": {
            "description": "Header block item spacing type.",
            "type": "string",
            "enum": [
              "auto",
              "manual"
            ],
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "logo_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "logo_link_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_layout": {
            "description": "Header block mobile layout.",
            "type": "string",
            "enum": [
              "inline",
              "links",
              "links-stacked",
              "logo-stacked",
              "stacked"
            ],
            "nullable": true
          },
          "mobile_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_wrap": {
            "type": "boolean",
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          },
          "vertical_align": {
            "description": "Vertical alignment.",
            "type": "string",
            "enum": [
              "baseline",
              "bottom",
              "middle",
              "top"
            ],
            "nullable": true
          }
        }
      },
      "HeaderBlockV0": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "header"
            ]
          },
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HeaderBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "header"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HeaderBlockData",
            "nullable": true
          },
          "subblocks": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/HeaderLinkSubBlock"
                },
                {
                  "$ref": "#/components/schemas/HeaderImageSubBlock"
                },
                {
                  "$ref": "#/components/schemas/HeaderLogoSubBlock"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HeaderImageSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_image"
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "nullable": true
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "max_width": {
            "type": "integer",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "HeaderLinkSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_button"
            ]
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "nullable": true,
            "type": "string"
          },
          "drop_shadow_color": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "HeaderLogoSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_logo"
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "max_width": {
            "type": "integer",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "Heading1Style": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "style_type": {
            "type": "string",
            "enum": [
              "heading-1-styles"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/HeadingStyleStyles"
          }
        },
        "required": [
          "style_type",
          "styles"
        ]
      },
      "Heading2Style": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "style_type": {
            "type": "string",
            "enum": [
              "heading-2-styles"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/HeadingStyleStyles"
          }
        },
        "required": [
          "style_type",
          "styles"
        ]
      },
      "Heading3Style": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "style_type": {
            "type": "string",
            "enum": [
              "heading-3-styles"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/HeadingStyleStyles"
          }
        },
        "required": [
          "style_type",
          "styles"
        ]
      },
      "Heading4Style": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "style_type": {
            "type": "string",
            "enum": [
              "heading-4-styles"
            ]
          },
          "styles": {
            "$ref": "#/components/schemas/HeadingStyleStyles"
          }
        },
        "required": [
          "style_type",
          "styles"
        ]
      },
      "HeadingStyleStyles": {
        "type": "object",
        "properties": {
          "color": {
            "type": "string",
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "line_height": {
            "type": "number",
            "nullable": true
          },
          "margin_bottom": {
            "type": "integer",
            "nullable": true
          },
          "mobile_font_size": {
            "type": "integer",
            "nullable": true
          },
          "mobile_line_height": {
            "type": "number",
[...]
