{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-07-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/data-source-record-bulk-create-jobs": {
      "post": {
        "operationId": "bulk_create_data_source_records",
        "summary": "Bulk Create Data Source Records",
        "description": "Create a bulk data source record import job to create a batch of records.\n\nAccepts up to 500 records per request. The maximum allowed payload size is 4MB. The maximum allowed payload size per-record is 512KB.\n\nTo learn more, see our [Custom Objects API overview](https://developers.klaviyo.com/en/reference/custom_objects_api_overview).<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `15/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/stable/apis/bulk_create_data_source_records.json)",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15"
            }
          }
        ],
        "requestBody": {
          "description": "Create a data source record job",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceRecordBulkCreateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Custom Objects"
        ],
        "x-klaviyo-operation-aliases": [
          "create_data_source_record_bulk_create_job"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "DataSourceEnum": {
        "type": "string",
        "enum": [
          "data-source"
        ]
      },
      "DataSourceRecordBulkCreateJobCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataSourceRecordBulkCreateJobCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "DataSourceRecordBulkCreateJobCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DataSourceRecordBulkCreateJobEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "data-source-records": {
                "description": "The records to ingest.",
                "type": "object",
                "example": {
                  "data": [
                    {
                      "type": "data-source-record",
                      "attributes": {
                        "record": {
                          "object_record": {
                            "subscription_id": "sub-001",
                            "service_plan": "Monthly Grooming",
                            "visits_per_month": 2,
                            "monthly_rate": 79.99,
                            "is_active": true,
                            "next_appointment": "2026-08-15T10:00:00Z",
                            "pet_id": "pet-001"
                          },
                          "relationships": {
                            "owners": [
                              {
                                "id": "sub-001",
                                "email": "alex@example.com",
                                "phone": "+15550001000"
                              },
                              {
                                "id": "sub-001",
                                "email": "jordan@example.com",
                                "phone": "+15550001001"
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                },
                "nullable": true,
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DataSourceRecordResourceObject"
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "data-source": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/DataSourceEnum"
                      },
                      "id": {
                        "description": "The data source to which the records belong.",
                        "type": "string",
                        "example": "01JXKX2HM7NV4QPTR5WE8BF6GY"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "DataSourceRecordBulkCreateJobEnum": {
        "type": "string",
        "enum": [
          "data-source-record-bulk-create-job"
        ]
      },
      "DataSourceRecordEnum": {
        "type": "string",
        "enum": [
          "data-source-record"
        ]
      },
      "DataSourceRecordResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DataSourceRecordEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "record": {
                "type": "object"
              }
            },
            "required": [
              "record"
            ]
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Custom Objects",
      "description": "custom objects"
    }
  ]
}
