{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/data-source-record-create-jobs": {
      "post": {
        "operationId": "create_data_source_record",
        "summary": "Create Data Source Record",
        "description": "Create a data source record import job to create a single record.\n\nThe maximum allowed payload size per-record is 512KB.\n\nTo learn more, see our [Custom Objects API overview](https://developers.klaviyo.com/en/reference/custom_objects_api_overview).<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`custom-objects:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "description": "Create a data source record job",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceRecordCreateJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Custom Objects"
        ],
        "x-klaviyo-operation-aliases": [
          "create_data_source_record_create_job"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "DataSourceEnum": {
        "type": "string",
        "enum": [
          "data-source"
        ]
      },
      "DataSourceRecordCreateJobCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DataSourceRecordCreateJobCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "DataSourceRecordCreateJobCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DataSourceRecordCreateJobEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "data-source-record": {
                "description": "The records to ingest.",
                "type": "object",
                "example": {
                  "data": {
                    "type": "data-source-record",
                    "attributes": {
                      "record": {
                        "key1": "value1",
                        "key2": "value2"
                      }
                    }
                  }
                },
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/DataSourceRecordResourceObject"
                  }
                },
                "required": [
                  "data"
                ]
              }
            },
            "required": [
              "data-source-record"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "data-source": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/DataSourceEnum"
                      },
                      "id": {
                        "description": "The data source to which the records belong.",
                        "type": "string",
                        "example": "01J7C23V8XWMRG13FMD7VZN6GW"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "DataSourceRecordCreateJobEnum": {
        "type": "string",
        "enum": [
          "data-source-record-create-job"
        ]
      },
      "DataSourceRecordEnum": {
        "type": "string",
        "enum": [
          "data-source-record"
        ]
      },
      "DataSourceRecordResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DataSourceRecordEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "record": {
                "type": "object"
              }
            },
            "required": [
              "record"
            ]
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Custom Objects",
      "description": "custom objects"
    }
  ]
}
