{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/campaigns": {
      "post": {
        "operationId": "create_campaign",
        "summary": "Create Campaign",
        "description": "Creates a campaign given a set of parameters, then returns it.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "requestBody": {
          "description": "Creates a campaign from parameters",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Campaigns"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "ABTestSendStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "ab_test_campaign"
            ]
          }
        },
        "required": [
          "method"
        ]
      },
      "Audiences": {
        "type": "object",
        "properties": {
          "included": {
            "description": "A list of included audiences",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Y6nRLr"
            ]
          },
          "excluded": {
            "description": "An optional list of excluded audiences",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "UTd5ui"
            ],
            "nullable": true
          }
        },
        "required": [
          "included"
        ]
      },
      "CampaignCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CampaignCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "The campaign name",
                "type": "string",
                "example": "My new campaign"
              },
              "audiences": {
                "description": "The audiences to be included and/or excluded from the campaign",
                "$ref": "#/components/schemas/Audiences"
              },
              "send_strategy": {
                "description": "The send strategy the campaign will send with. Defaults to 'Immediate' send strategy.",
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/StaticSendStrategy"
                  },
                  {
                    "$ref": "#/components/schemas/ThrottledSendStrategy"
                  },
                  {
                    "$ref": "#/components/schemas/ImmediateSendStrategy"
                  },
                  {
                    "$ref": "#/components/schemas/SmartSendTimeStrategy"
                  }
                ]
              },
              "send_options": {
                "description": "Options to use when sending a campaign",
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EmailSendOptions"
                  },
                  {
                    "$ref": "#/components/schemas/SMSSendOptions"
                  },
                  {
                    "$ref": "#/components/schemas/PushSendOptions"
                  }
                ]
              },
              "tracking_options": {
                "description": "The tracking options associated with the campaign",
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CampaignsEmailTrackingOptions"
                  },
                  {
                    "$ref": "#/components/schemas/CampaignsSMSTrackingOptions"
                  }
                ]
              },
              "campaign-messages": {
                "description": "The message(s) associated with the campaign",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessageCreateQueryResourceObject"
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            },
            "required": [
              "name",
              "audiences",
              "campaign-messages"
            ]
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CampaignMessageCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignMessageEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "definition": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EmailMessageDefinition"
                  },
                  {
                    "$ref": "#/components/schemas/SMSMessageDefinitionCreate"
                  },
                  {
                    "$ref": "#/components/schemas/MobilePushMessageStandardDefinitionCreate"
                  },
                  {
                    "$ref": "#/components/schemas/MobilePushMessageSilentDefinitionCreate"
                  }
                ]
              }
            },
            "required": [
              "definition"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "image": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ImageEnum"
                      },
                      "id": {
                        "description": "The associated image for mobile_push messages",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "CampaignMessageIncrement": {
        "type": "object",
        "properties": {
          "badge_config": {
            "type": "string",
            "enum": [
              "increment_one"
            ]
          }
        },
        "required": [
          "badge_config"
        ]
      },
      "CampaignMessageProperty": {
        "type": "object",
        "properties": {
          "badge_config": {
            "type": "string",
            "enum": [
              "set_property"
            ]
          },
          "set_from_property": {
            "type": "string"
          }
        },
        "required": [
          "badge_config",
          "set_from_property"
        ]
      },
      "CampaignMessageStaticCount": {
        "type": "object",
        "properties": {
          "badge_config": {
            "type": "string",
            "enum": [
              "set_count"
            ]
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "badge_config",
          "value"
        ]
      },
      "CampaignsEmailTrackingOptions": {
        "type": "object",
        "properties": {
          "add_tracking_params": {
            "description": "Whether the campaign needs custom tracking parameters. If set to False, tracking params will not be used.",
            "type": "boolean",
            "nullable": true
          },
          "custom_tracking_params": {
            "description": "A list of custom tracking parameters. If an empty list is given and add_tracking_params is True, uses company defaults.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DynamicTrackingParam"
                },
                {
                  "$ref": "#/components/schemas/StaticTrackingParam"
                }
              ]
            },
            "nullable": true
          },
          "is_tracking_clicks": {
            "description": "Whether the campaign is tracking click events. If not specified, uses company defaults.",
            "type": "boolean",
            "nullable": true
          },
          "is_tracking_opens": {
            "description": "Whether the campaign is tracking open events. If not specified, uses company defaults.",
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "CampaignsSMSTrackingOptions": {
        "type": "object",
        "properties": {
          "add_tracking_params": {
            "description": "Whether the campaign needs custom tracking parameters. If set to False, tracking params will not be used.",
            "type": "boolean",
            "nullable": true
          },
          "custom_tracking_params": {
            "description": "A list of custom tracking parameters. If an empty list is given and add_tracking_params is True, uses company defaults.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DynamicTrackingParam"
                },
                {
                  "$ref": "#/components/schemas/StaticTrackingParam"
                }
              ]
            },
            "nullable": true
          }
        }
      },
      "DynamicTrackingParam": {
        "type": "object",
        "properties": {
          "type": {
            "description": "The type of the tracking parameter",
            "type": "string",
            "enum": [
              "dynamic"
            ]
          },
          "value": {
            "description": "The value of the tracking parameter",
            "type": "string",
            "enum": [
              "campaign_id",
              "campaign_name",
              "campaign_name_id",
              "campaign_name_send_day",
              "email_subject",
              "group_id",
              "group_name",
              "group_name_id",
              "link_alt_text",
              "message_type",
              "profile_external_id",
              "profile_id"
            ]
          },
          "name": {
            "description": "Name of the tracking param",
            "type": "string",
            "example": "utm_medium"
          }
        },
        "required": [
          "type",
          "value",
          "name"
        ]
      },
      "EmailContent": {
        "type": "object",
        "properties": {
          "subject": {
            "description": "The subject of the message",
            "type": "string",
            "example": "Buy our product!",
            "nullable": true
          },
          "preview_text": {
            "description": "Preview text associated with the message",
            "type": "string",
            "example": "My preview text",
            "nullable": true
          },
          "from_email": {
            "description": "The email the message should be sent from",
            "type": "string",
            "example": "store@my-company.com",
            "nullable": true
          },
          "from_label": {
            "description": "The label associated with the from_email",
            "type": "string",
            "example": "My Company",
            "nullable": true
          },
          "reply_to_email": {
            "description": "Optional Reply-To email address",
            "type": "string",
            "example": "reply-to@my-company.com",
            "nullable": true
          },
          "cc_email": {
            "description": "Optional CC email address",
            "type": "string",
            "example": "cc@my-company.com",
            "nullable": true
          },
          "bcc_email": {
            "description": "Optional BCC email address",
            "type": "string",
            "example": "bcc@my-company.com",
            "nullable": true
          }
        }
      },
      "EmailMessageDefinition": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "label": {
            "description": "The label or name on the message",
            "type": "string",
            "example": "My message name",
            "nullable": true
          },
          "content": {
            "$ref": "#/components/schemas/EmailContent",
            "description": "Additional attributes relating to the content of the message",
            "nullable": true
          }
        },
        "required": [
          "channel"
        ]
      },
      "EmailSendOptions": {
        "type": "object",
        "properties": {
          "use_smart_sending": {
            "description": "Use smart sending.",
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          }
        }
      },
      "ImageEnum": {
        "type": "string",
        "enum": [
          "image"
        ]
      },
      "ImmediateSendStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "immediate"
            ]
          }
        },
        "required": [
          "method"
        ]
      },
      "LocalStaticSend": {
        "type": "object",
        "properties": {
          "is_local": {
            "description": "Whether the campaign should be sent with local recipient timezone send (requires UTC time) or statically sent at the given time.",
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "send_past_recipients_immediately": {
            "description": "Determines if we should send to local recipient timezone if the given time has passed. Only applicable to local sends.",
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "is_local"
        ]
      },
      "MobilePushBadge": {
        "type": "object",
        "properties": {
          "display": {
            "description": "Whether to display a badge on the app icon",
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "badge_options": {
            "description": "Badge options",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CampaignMessageIncrement"
              },
              {
                "$ref": "#/components/schemas/CampaignMessageStaticCount"
              },
              {
                "$ref": "#/components/schemas/CampaignMessageProperty"
              }
            ]
          }
        },
        "required": [
          "display"
        ]
      },
      "MobilePushContentCreate": {
        "type": "object",
        "properties": {
          "title": {
            "description": "The title of the message",
            "type": "string",
            "nullable": true
          },
          "body": {
            "description": "The message body",
            "type": "string",
            "example": "My preview push notification"
          },
          "dynamic_image": {
            "description": "The dynamic image to be used in the push notification",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "body"
        ]
      },
      "MobilePushMessageSilentDefinitionCreate": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "mobile_push"
            ]
          },
          "kv_pairs": {
            "description": "The key-value pairs to be sent with the push notification",
            "type": "object",
            "nullable": true
          },
          "notification_type": {
            "description": "The type of notification to send",
            "type": "string",
            "example": "silent",
            "default": "silent",
            "enum": [
              "silent"
            ]
          }
        },
        "required": [
          "channel"
        ]
      },
      "MobilePushMessageStandardDefinitionCreate": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "mobile_push"
            ]
          },
          "content": {
            "$ref": "#/components/schemas/MobilePushContentCreate",
            "description": "Additional attributes relating to the content of the message"
          },
          "kv_pairs": {
            "description": "The key-value pairs to be sent with the push notification",
            "type": "object",
            "nullable": true
          },
          "options": {
            "$ref": "#/components/schemas/MobilePushOptions",
            "nullable": true
          },
          "notification_type": {
            "description": "The type of notification to send",
            "type": "string",
            "example": "standard",
            "default": "standard",
            "enum": [
              "standard"
            ]
          }
        },
        "required": [
          "channel",
          "content"
        ]
      },
      "MobilePushNoBadge": {
        "type": "object",
        "properties": {
          "display": {
            "description": "Whether to display a badge on the app icon",
            "type": "boolean",
            "enum": [
              false
            ]
          }
        },
        "required": [
          "display"
        ]
      },
      "MobilePushOptions": {
        "type": "object",
        "properties": {
          "on_open": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PushOnOpenApp"
              },
              {
                "$ref": "#/components/schemas/PushOnOpenDeepLink"
              }
            ]
          },
          "badge": {
            "description": "Only supported on iOS.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MobilePushBadge"
              },
              {
                "$ref": "#/components/schemas/MobilePushNoBadge"
              }
            ]
          },
          "play_sound": {
            "description": "Only supported on iOS.",
            "type": "boolean",
            "default": false,
            "nullable": true
          }
        }
      },
      "NonLocalStaticSend": {
        "type": "object",
        "properties": {
          "is_local": {
            "description": "Whether the campaign should be sent with local recipient timezone send (requires UTC time) or statically sent at the given time.",
            "type": "boolean",
            "enum": [
              false
            ]
          }
        },
        "required": [
          "is_local"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PostCampaignResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignEnum"
              },
              "id": {
                "description": "The campaign ID",
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The campaign name",
                    "type": "string"
                  },
                  "status": {
                    "description": "The current status of the campaign",
                    "type": "string",
                    "enum": [
                      "Adding Recipients",
                      "Cancelled",
                      "Cancelled: Account Disabled",
                      "Cancelled: Billing Limit",
                      "Cancelled: Internal Error",
                      "Cancelled: Misconfigured",
                      "Cancelled: No Recipients",
                      "Cancelled: Smart Sending",
                      "Draft",
                      "Preparing to schedule",
                      "Preparing to send",
                      "Queued without Recipients",
                      "Scheduled",
                      "Sending",
                      "Sending Segments",
                      "Sent",
                      "Unknown",
                      "Variations Sent"
                    ]
                  },
                  "archived": {
                    "description": "Whether the campaign has been archived or not",
                    "type": "boolean"
                  },
                  "audiences": {
                    "description": "The audiences to be included and/or excluded from the campaign",
                    "$ref": "#/components/schemas/Audiences"
                  },
                  "send_options": {
                    "description": "Options to use when sending a campaign",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/EmailSendOptions"
                      },
                      {
                        "$ref": "#/components/schemas/SMSSendOptions"
                      },
                      {
                        "$ref": "#/components/schemas/PushSendOptions"
                      }
                    ]
                  },
                  "tracking_options": {
                    "description": "The tracking options associated with the campaign",
                    "nullable": true,
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/CampaignsEmailTrackingOptions"
                      },
                      {
                        "$ref": "#/components/schemas/CampaignsSMSTrackingOptions"
                      }
                    ]
                  },
                  "send_strategy": {
                    "description": "The send strategy the campaign will send with",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/StaticSendStrategy"
                      },
                      {
                        "$ref": "#/components/schemas/SmartSendTimeStrategy"
                      },
                      {
                        "$ref": "#/components/schemas/ThrottledSendStrategy"
                      },
                      {
                        "$ref": "#/components/schemas/ImmediateSendStrategy"
                      },
                      {
                        "$ref": "#/components/schemas/ABTestSendStrategy"
                      },
                      {
                        "$ref": "#/components/schemas/UnsupportedSendStrategy"
                      }
                    ]
                  },
                  "created_at": {
                    "description": "The datetime when the campaign was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "scheduled_at": {
                    "description": "The datetime when the campaign was scheduled for future sending",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated_at": {
                    "description": "The datetime when the campaign was last updated by a user or the system",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "send_time": {
                    "description": "The datetime when the campaign will be / was sent or None if not yet scheduled by a send_job.",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  }
                },
                "required": [
                  "name",
                  "status",
                  "archived",
                  "audiences",
                  "send_options",
                  "send_strategy",
                  "created_at",
                  "updated_at"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-messages": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignMessageEnum"
                            },
                            "id": {
                              "description": "The message(s) associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/TagEnum"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PushOnOpenApp": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "open_app"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "PushOnOpenDeepLink": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "deep_link"
            ]
          },
          "ios_deep_link": {
            "description": "required for all platforms enabled for push",
            "type": "string",
            "nullable": true
          },
          "android_deep_link": {
            "description": "required for all platforms enabled for push",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "PushSendOptions": {
        "type": "object",
        "properties": {
          "use_smart_sending": {
            "description": "Use smart sending.",
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          }
        }
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "RenderOptions": {
        "type": "object",
        "properties": {
          "shorten_links": {
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          },
          "add_org_prefix": {
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          },
          "add_info_link": {
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          },
          "add_opt_out_language": {
            "type": "boolean",
            "default": false,
            "nullable": true
          }
        }
      },
      "SMSContentCreate": {
        "type": "object",
        "properties": {
          "body": {
            "description": "The message body",
            "type": "string",
            "example": "My preview sms",
            "nullable": true
          }
        }
      },
      "SMSMessageDefinitionCreate": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "content": {
            "$ref": "#/components/schemas/SMSContentCreate",
            "description": "Additional attributes relating to the content of the message",
            "nullable": true
          },
          "render_options": {
            "description": "Additional options for rendering the message",
            "$ref": "#/components/schemas/RenderOptions",
            "nullable": true
          }
        },
        "required": [
          "channel"
        ]
      },
      "SMSSendOptions": {
        "type": "object",
        "properties": {
          "use_smart_sending": {
            "description": "Use smart sending.",
            "type": "boolean",
            "example": true,
            "default": true,
            "nullable": true
          }
        }
      },
      "SmartSendTimeStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "smart_send_time"
            ]
          },
          "date": {
            "description": "The day to send on",
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "method",
          "date"
        ]
      },
      "StaticSendStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "static"
            ]
          },
          "datetime": {
            "description": "The time to send at",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          },
          "options": {
            "description": "If the campaign should be sent with local recipient timezone send (requires UTC time) or statically sent at the given time.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LocalStaticSend"
              },
              {
                "$ref": "#/components/schemas/NonLocalStaticSend"
              }
            ]
          }
        },
        "required": [
          "method",
          "datetime"
        ]
      },
      "StaticTrackingParam": {
        "type": "object",
        "properties": {
          "type": {
            "description": "The type of the tracking parameter",
            "type": "string",
            "enum": [
              "static"
            ]
          },
          "value": {
            "description": "The value of the tracking parameter",
            "type": "string"
          },
          "name": {
            "description": "Name of the tracking param",
            "type": "string",
            "example": "utm_medium"
          }
        },
        "required": [
          "type",
          "value",
          "name"
        ]
      },
      "TagEnum": {
        "type": "string",
        "enum": [
          "tag"
        ]
      },
      "ThrottledSendStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "throttled"
            ]
          },
          "datetime": {
            "description": "The time to send at",
            "type": "string",
            "format": "date-time"
          },
          "throttle_percentage": {
            "description": "The percentage of recipients per hour to send to.",
            "type": "integer",
            "enum": [
              10,
              11,
              13,
              14,
              17,
              20,
              25,
              33,
              50
            ]
          }
        },
        "required": [
          "method",
          "datetime",
          "throttle_percentage"
        ]
      },
      "UnsupportedSendStrategy": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "unsupported"
            ]
          }
        },
        "required": [
          "method"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Campaigns",
      "description": "campaigns"
    }
  ]
}
