{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-07-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/object-types/{id}": {
      "get": {
        "operationId": "get_object_type",
        "summary": "Get Object Type",
        "description": "Get the object type with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/stable/apis/get_object_type.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[object-type]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "id",
                  "meta",
                  "meta.description",
                  "meta.name",
                  "meta.relationship_id",
                  "namespace",
                  "status",
                  "title",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[profile-object-type]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "meta",
                  "meta.description",
                  "meta.name",
                  "meta.relationship_id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "current-schema",
                  "draft-schema",
                  "object-types",
                  "profile-object-types",
                  "schema-versions"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Custom Objects"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Object Types"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APISchemaProperty": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the schema property. Must be a postive integer.",
            "type": "integer",
            "example": 1
          },
          "name": {
            "description": "The name of the schema property",
            "type": "string",
            "example": "age"
          },
          "type": {
            "description": "The type of the schema property",
            "type": "string",
            "enum": [
              "boolean",
              "float",
              "int",
              "string",
              "timestamp"
            ]
          },
          "description": {
            "description": "The description of the schema property",
            "type": "string",
            "default": "",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ]
      },
      "GetObjectTypeResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ObjectTypeResponseObjectResource"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ObjectTypeRelationshipResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/ObjectSchemaResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/ProfileTypeRelationshipResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ObjectSchemaEnum": {
        "type": "string",
        "enum": [
          "object-schema"
        ]
      },
      "ObjectSchemaResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectSchemaEnum"
          },
          "id": {
            "description": "The ULID ID of the object schema",
            "type": "string",
            "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "description": "The title for this object schema",
                "type": "string"
              },
              "description": {
                "description": "The description of this object schema",
                "type": "string"
              },
              "status": {
                "description": "The status of this object schema",
                "type": "string",
                "enum": [
                  "active",
                  "draft",
                  "publishing",
                  "undefined"
                ]
              },
              "properties": {
                "description": "Properties of the object schema",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/APISchemaProperty"
                }
              },
              "required": {
                "description": "Properties that are required on the object schema",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "published_at": {
                "description": "The datetime when this object schema was activated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "visibility": {
                "description": "The visibility of this object schema",
                "type": "string",
                "enum": [
                  "private",
                  "shared"
                ]
              }
            },
            "required": [
              "title",
              "description",
              "status",
              "properties",
              "required",
              "visibility"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "source-mapping": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/SourceMappingEnum"
                      },
                      "id": {
                        "description": "The source mapping for this object schema",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "object-schemas": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ObjectSchemaEnum"
                        },
                        "id": {
                          "description": "The object schema relationships for this object schema",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "profile-object-schemas": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileObjectSchemaEnum"
                        },
                        "id": {
                          "description": "The profile object schema relationships for this object schema",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ObjectTypeEnum": {
        "type": "string",
        "enum": [
          "object-type"
        ]
      },
      "ObjectTypeRelationshipMeta": {
        "type": "object",
        "properties": {
          "relationship_id": {
            "description": "The ULID ID of the relationship",
            "type": "string",
            "example": "01K5YKKQKM819VVGCPZZKGE6D4"
          },
          "name": {
            "description": "The name of the relationship",
            "type": "string",
            "example": "related_items"
          },
          "description": {
            "description": "The description of the relationship",
            "type": "string",
            "example": "Items related to this object",
            "nullable": true
          }
        },
        "required": [
          "relationship_id",
          "name"
        ]
      },
      "ObjectTypeRelationshipResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectTypeEnum"
          },
          "id": {
            "description": "A compound ID uniquely identifying this relationship, in the format '{related_object_type_id}:::{relationship_name}'.",
            "type": "string",
            "example": "01K5YKKQKM819VVGCPZZKGE6D4:::related_items"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "meta": {
                "$ref": "#/components/schemas/ObjectTypeRelationshipMeta",
                "nullable": true
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ObjectTypeResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectTypeEnum"
          },
          "id": {
            "description": "The ULID ID of the object type",
            "type": "string",
            "example": "01K5YKKQKM819VVGCPZZKGE6D4"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "description": "The title for this object type",
                "type": "string",
                "example": "My object"
              },
              "description": {
                "description": "The description of this object type",
                "type": "string"
              },
              "status": {
                "description": "The status of the schema associated with this object type",
                "type": "string",
                "enum": [
                  "active",
                  "draft",
                  "publishing",
                  "undefined"
                ]
              },
              "namespace": {
                "description": "The namespace of this object type. Either `custom-objects` or `applications/<application_id>`, where `<application_id>` is the ULID of the OAuth application that owns the object type.",
                "type": "string"
              },
              "created_at": {
                "description": "The date and time when this object type was created",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              },
              "updated_at": {
                "description": "The date and time when this object type was last updated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              }
            },
            "required": [
              "title",
              "description",
              "status",
              "namespace",
              "created_at",
              "updated_at"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "current-schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ObjectSchemaEnum"
                      },
                      "id": {
                        "description": "The current active schema for this object type",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "draft-schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ObjectSchemaEnum"
                      },
                      "id": {
                        "description": "The draft schema for this object type, if one exists",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "schema-versions": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ObjectSchemaEnum"
                        },
                        "id": {
                          "description": "All schema versions for this object type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "object-types": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ObjectTypeEnum"
                        },
                        "id": {
                          "description": "The object type relationships for this object type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "profile-object-types": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileObjectTypeEnum"
                        },
                        "id": {
                          "description": "The profile object type relationships for this object type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ProfileObjectSchemaEnum": {
        "type": "string",
        "enum": [
          "profile-object-schema"
        ]
      },
      "ProfileObjectTypeEnum": {
        "type": "string",
        "enum": [
          "profile-object-type"
        ]
      },
      "ProfileTypeRelationshipResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProfileObjectTypeEnum"
          },
          "id": {
            "description": "A compound ID uniquely identifying this relationship, in the format 'profile:::{relationship_name}'.",
            "type": "string",
            "example": "profile:::related_items"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "meta": {
                "$ref": "#/components/schemas/ObjectTypeRelationshipMeta",
                "nullable": true
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "SourceMappingEnum": {
        "type": "string",
        "enum": [
          "source-mapping"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Custom Objects",
      "description": "custom objects"
    }
  ]
}
