{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-07-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/object-types/{id}/relationships/object-ingestion-logs": {
      "get": {
        "operationId": "get_ingestion_log_ids_for_object_type",
        "summary": "Get Ingestion Log IDs for Object Type",
        "description": "Get the ingestion logs for a given object type.\n\nOnly ingestion failures are logged \u2014 the absence of a log entry for a\nrecord does not mean the record was ingested successfully.\n\nLogs are retained for 14 days; time filters outside that window return\nan empty page. Results are returned newest first with a fixed page\nsize of 50.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/stable/apis/get_ingestion_log_ids_for_object_type.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`record_id`: `equals`<br>`status`: `any`, `equals`<br>`event_type`: `any`, `equals`<br>`timestamp`: `greater-or-equal`, `less-than`",
            "schema": {
              "type": "string",
              "example": "equals(record_id,'A3LD92')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeIngestionLogsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Custom Objects"
        ],
        "x-klaviyo-filters": {
          "record_id": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "status": {
            "operators": {
              "list": [
                "any",
                "equals"
              ],
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string",
              "enum": [
                "error",
                "warning",
                "info"
              ]
            }
          },
          "event_type": {
            "operators": {
              "list": [
                "any",
                "equals"
              ],
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string",
              "enum": [
                "validation_error"
              ]
            }
          },
          "timestamp": {
            "operators": {
              "single": [
                "greater-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_ingestion_logs"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Ingestion Logs"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AgentHints": {
        "description": "Optional hints emitted by the API for agent callers",
        "type": "object",
        "properties": {
          "next_steps": {
            "description": "Suggested follow-up actions for agents to take after this response",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "GetObjectTypeIngestionLogsRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ObjectIngestionLogEnum"
                },
                "id": {
                  "description": "The unique ID of the ingestion log entry.",
                  "type": "string",
                  "example": "5f0e7b1a-4a4e-4d0a-b8a1-2f47f1e59c2d"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ObjectIngestionLogEnum": {
        "type": "string",
        "enum": [
          "object-ingestion-log"
        ]
      },
      "ResponseMeta": {
        "description": "Response-level metadata",
        "type": "object",
        "properties": {
          "agent_hints": {
            "$ref": "#/components/schemas/AgentHints"
          }
        }
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Custom Objects",
      "description": "custom objects"
    }
  ]
}
