{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/flows": {
      "get": {
        "operationId": "get_flows",
        "summary": "Get Flows",
        "description": "Get all flows in an account.\n\nReturns a maximum of 50 flows per request, which can be paginated with cursor-based pagination.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`flows:read`",
        "parameters": [
          {
            "name": "fields[flow-action]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.data",
                  "definition.data.action_output_filter",
                  "definition.data.action_output_filter.condition_groups",
                  "definition.data.branches",
                  "definition.data.current_experiment",
                  "definition.data.current_experiment.allocations",
                  "definition.data.current_experiment.automatic_winner_selection_settings",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_date",
                  "definition.data.current_experiment.automatic_winner_selection_settings.automatic_end_statistical_certainty",
                  "definition.data.current_experiment.automatic_winner_selection_settings.enabled",
                  "definition.data.current_experiment.id",
                  "definition.data.current_experiment.name",
                  "definition.data.current_experiment.started",
                  "definition.data.current_experiment.variations",
                  "definition.data.current_experiment.winner_metric",
                  "definition.data.delay_until_time",
                  "definition.data.delay_until_weekdays",
                  "definition.data.experiment_status",
                  "definition.data.list_id",
                  "definition.data.main_action",
                  "definition.data.main_action.data",
                  "definition.data.main_action.data.message",
                  "definition.data.main_action.data.message.action_buttons",
                  "definition.data.main_action.data.message.add_info_link",
                  "definition.data.main_action.data.message.add_opt_out_language",
                  "definition.data.main_action.data.message.add_org_prefix",
                  "definition.data.main_action.data.message.add_tracking_params",
                  "definition.data.main_action.data.message.additional_filters",
                  "definition.data.main_action.data.message.additional_filters.condition_groups",
                  "definition.data.main_action.data.message.android_link",
                  "definition.data.main_action.data.message.badge",
                  "definition.data.main_action.data.message.badge_options",
                  "definition.data.main_action.data.message.badge_options.badge_config",
                  "definition.data.main_action.data.message.badge_options.set_from_property",
                  "definition.data.main_action.data.message.badge_options.value",
                  "definition.data.main_action.data.message.bcc_email",
                  "definition.data.main_action.data.message.body",
                  "definition.data.main_action.data.message.cc_email",
                  "definition.data.main_action.data.message.conversion_metric_id",
                  "definition.data.main_action.data.message.custom_tracking_params",
                  "definition.data.main_action.data.message.dynamic_image",
                  "definition.data.main_action.data.message.from_email",
                  "definition.data.main_action.data.message.from_label",
                  "definition.data.main_action.data.message.id",
                  "definition.data.main_action.data.message.image_id",
                  "definition.data.main_action.data.message.include_contact_card",
                  "definition.data.main_action.data.message.ios_link",
                  "definition.data.main_action.data.message.kv_pairs",
                  "definition.data.main_action.data.message.name",
                  "definition.data.main_action.data.message.on_open",
                  "definition.data.main_action.data.message.preview_text",
                  "definition.data.main_action.data.message.push_type",
                  "definition.data.main_action.data.message.reply_to_email",
                  "definition.data.main_action.data.message.shorten_links",
                  "definition.data.main_action.data.message.smart_sending_enabled",
                  "definition.data.main_action.data.message.sms_quiet_hours_enabled",
                  "definition.data.main_action.data.message.sound",
                  "definition.data.main_action.data.message.subject_line",
                  "definition.data.main_action.data.message.template_id",
                  "definition.data.main_action.data.message.title",
                  "definition.data.main_action.data.message.transactional",
                  "definition.data.main_action.data.message.video_asset_id",
                  "definition.data.main_action.data.status",
                  "definition.data.main_action.id",
                  "definition.data.main_action.links",
                  "definition.data.main_action.links.next",
                  "definition.data.main_action.temporary_id",
                  "definition.data.main_action.type",
                  "definition.data.message",
                  "definition.data.message.action_buttons",
                  "definition.data.message.add_info_link",
                  "definition.data.message.add_opt_out_language",
                  "definition.data.message.add_org_prefix",
                  "definition.data.message.add_tracking_params",
                  "definition.data.message.additional_filters",
                  "definition.data.message.additional_filters.condition_groups",
                  "definition.data.message.android_link",
                  "definition.data.message.badge",
                  "definition.data.message.badge_options",
                  "definition.data.message.badge_options.badge_config",
                  "definition.data.message.badge_options.set_from_property",
                  "definition.data.message.badge_options.value",
                  "definition.data.message.bcc_email",
                  "definition.data.message.body",
                  "definition.data.message.cc_email",
                  "definition.data.message.conversion_metric_id",
                  "definition.data.message.custom_tracking_params",
                  "definition.data.message.dynamic_image",
                  "definition.data.message.from_email",
                  "definition.data.message.from_label",
                  "definition.data.message.headers",
                  "definition.data.message.id",
                  "definition.data.message.image_id",
                  "definition.data.message.include_contact_card",
                  "definition.data.message.ios_link",
                  "definition.data.message.kv_pairs",
                  "definition.data.message.name",
                  "definition.data.message.on_open",
                  "definition.data.message.preview_text",
                  "definition.data.message.push_type",
                  "definition.data.message.reply_to_email",
                  "definition.data.message.shorten_links",
                  "definition.data.message.smart_sending_enabled",
                  "definition.data.message.sms_quiet_hours_enabled",
                  "definition.data.message.sound",
                  "definition.data.message.subject_line",
                  "definition.data.message.template_id",
                  "definition.data.message.title",
                  "definition.data.message.to_emails",
                  "definition.data.message.transactional",
                  "definition.data.message.url",
                  "definition.data.message.vendor_id",
                  "definition.data.message.video_asset_id",
                  "definition.data.name",
                  "definition.data.on_execution",
                  "definition.data.profile_filter",
                  "definition.data.profile_filter.condition_groups",
                  "definition.data.profile_operations",
                  "definition.data.secondary_value",
                  "definition.data.service_configuration",
                  "definition.data.service_configuration.event_key",
                  "definition.data.service_configuration.event_payload",
                  "definition.data.service_configuration.report_id",
                  "definition.data.service_configuration.service_method_type",
                  "definition.data.service_configuration.tracking_company_id",
                  "definition.data.status",
                  "definition.data.target_days",
                  "definition.data.target_time",
                  "definition.data.timezone",
                  "definition.data.trigger_filter",
                  "definition.data.trigger_filter.condition_groups",
                  "definition.data.trigger_id",
                  "definition.data.trigger_subtype",
                  "definition.data.trigger_type",
                  "definition.data.unit",
                  "definition.data.value",
                  "definition.id",
                  "definition.links",
                  "definition.links.next",
                  "definition.links.next_if_false",
                  "definition.links.next_if_true",
                  "definition.temporary_id",
                  "definition.type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`<br>`name`: `contains`, `ends-with`, `equals`, `starts-with`<br>`status`: `equals`<br>`archived`: `equals`<br>`created`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`updated`: `equals`, `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than`<br>`trigger_type`: `equals`",
            "schema": {
              "type": "string",
              "example": "any(id,['example'])"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-actions",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 50. Min: 1. Max: 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "status",
                "-status",
                "trigger_type",
                "-trigger_type",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Flows"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "flows:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APIMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of API keys (using last 4 digits of the key)",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "AbTestAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "ab-test"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Link",
            "nullable": true
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "description": "Flow action status.",
                "type": "string",
                "example": "draft",
                "default": "draft",
                "enum": [
                  "disabled",
                  "draft",
                  "live",
                  "manual"
                ]
              },
              "experiment_status": {
                "description": "Not allowed on create.",
                "type": "string",
                "example": "draft",
                "default": "draft",
                "enum": [
                  "completed",
                  "draft",
                  "live"
                ]
              },
              "main_action": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SendEmailAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendSmsAction"
                  }
                ]
              },
              "current_experiment": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "description": "Not allowed on create.",
                    "type": "string",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "variations": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/SendEmailAction"
                        },
                        {
                          "$ref": "#/components/schemas/SendSmsAction"
                        }
                      ]
                    }
                  },
                  "allocations": {
                    "type": "object",
                    "nullable": true
                  },
                  "started": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true,
                    "readOnly": true
                  },
                  "winner_metric": {
                    "description": "The metric to use to determine the winner of the A/B test action.\n\nNote that this is different from the metrics used as a flow trigger.",
                    "type": "string",
                    "enum": [
                      "submission",
                      "unique-clicks",
                      "unique-opens",
                      "unique-placed-orders"
                    ],
                    "nullable": true
                  },
                  "automatic_winner_selection_settings": {
                    "$ref": "#/components/schemas/AutomaticWinnerSelectionSettings",
                    "nullable": true
                  }
                },
                "required": [
                  "variations"
                ]
              }
            },
            "required": [
              "main_action"
            ]
          }
        },
        "required": [
          "type",
          "data"
        ]
      },
      "ActionOutputCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "action-output"
            ]
          },
          "output_config_id": {
            "type": "integer"
          },
          "field": {
            "type": "string"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/NumericRangeFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "output_config_id",
          "field",
          "filter"
        ]
      },
      "ActionOutputConditionConditionGroup": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionOutputCondition"
            }
          }
        },
        "required": [
          "conditions"
        ]
      },
      "ActionOutputConditionFilter": {
        "type": "object",
        "properties": {
          "condition_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionOutputConditionConditionGroup"
            }
          }
        },
        "required": [
          "condition_groups"
        ]
      },
      "ActionOutputSplitAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "action-output-split"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/BooleanBranchLinks",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/ActionOutputSplitActionData",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "ActionOutputSplitActionData": {
        "type": "object",
        "properties": {
          "action_output_filter": {
            "$ref": "#/components/schemas/ActionOutputConditionFilter",
            "nullable": true
          }
        },
        "required": [
          "action_output_filter"
        ]
      },
      "AlltimeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for alltime date filters.",
            "type": "string",
            "enum": [
              "alltime"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "AnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for anniversary date filters.",
            "type": "string",
            "enum": [
              "anniversary",
              "anniversary-month"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "AutomaticWinnerSelectionSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "automatic_end_date": {
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "automatic_end_statistical_certainty": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled",
          "automatic_end_statistical_certainty"
        ]
      },
      "BackInStockDelayAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "back-in-stock-delay"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Link",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "BackInStockMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "back_in_stock"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "BooleanBranchLinks": {
        "type": "object",
        "properties": {
          "next_if_true": {
            "type": "string",
            "nullable": true
          },
          "next_if_false": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "next_if_true",
          "next_if_false"
        ]
      },
      "BooleanFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "boolean"
            ]
          },
          "operator": {
            "description": "Operators for boolean filters.",
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "BounceDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "bounce_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "BulkRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "bulk_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CalendarDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for calendar date filters.",
            "type": "string",
            "enum": [
              "calendar-month"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CarrierDeactivationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "carrier_deactivation"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CheckoutMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "checkout"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CodeAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Link",
            "nullable": true
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ConditionalBranchAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "conditional-split"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/BooleanBranchLinks",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/ConditionalBranchActionData",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "ConditionalBranchActionData": {
        "type": "object",
        "properties": {
          "profile_filter": {
            "type": "object",
            "nullable": true,
            "properties": {
              "condition_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ProfilePropertyCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRegionCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                          },
                          {
                            "$ref": "#/components/schemas/FlowsProfileMetricCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRandomSampleCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePermissionsCondition"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "conditions"
                  ]
                }
              }
            },
            "required": [
              "condition_groups"
            ]
          }
        },
        "required": [
          "profile_filter"
        ]
      },
      "ConstantContactIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "enum": [
                "constant_contact"
              ],
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ConstantContactIntegrationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "integration"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ConstantContactIntegrationFilter"
          }
        },
        "required": [
          "field",
          "method",
          "filter"
        ]
      },
      "ContentExperimentAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "content-experiment"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Link",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/SendPushNotificationActionContentExperimentActionData"
          }
        },
        "required": [
          "type",
          "data"
        ]
      },
      "CountdownDelayAction": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The real ID of an action. Not allowed on create.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "temporary_id": {
            "description": "A temporary ID to use only during a create operation. Existing actions should use the id field.",
            "type": "string",
            "example": "action-1",
            "nullable": true,
            "writeOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "countdown-delay"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Link",
            "nullable": true
          },
          "data": {
            "$ref": "#/components/schemas/CountdownDelayActionData"
          }
        },
        "required": [
          "type",
          "data"
        ]
      },
      "CountdownDelayActionData": {
        "type": "object",
        "properties": {
          "unit": {
            "description": "Defined as FlowDateTrigger attributes in app.",
            "type": "string",
            "example": "days",
            "default": "days",
            "enum": [
              "days",
              "months",
              "weeks"
            ]
          },
          "value": {
            "type": "integer",
            "default": 0
          },
          "timezone": {
            "type": "string",
            "example": "profile",
            "default": "profile",
            "enum": [
              "Africa/Abidjan",
              "Africa/Accra",
              "Africa/Addis_Ababa",
              "Africa/Algiers",
              "Africa/Asmara",
              "Africa/Bamako",
              "Africa/Bangui",
              "Africa/Banjul",
              "Africa/Bissau",
              "Africa/Blantyre",
              "Africa/Brazzaville",
              "Africa/Bujumbura",
              "Africa/Cairo",
              "Africa/Casablanca",
              "Africa/Ceuta",
              "Africa/Conakry",
              "Africa/Dakar",
              "Africa/Dar_es_Salaam",
              "Africa/Djibouti",
              "Africa/Douala",
              "Africa/El_Aaiun",
              "Africa/Freetown",
              "Africa/Gaborone",
              "Africa/Harare",
              "Africa/Johannesburg",
              "Africa/Juba",
              "Africa/Kampala",
              "Africa/Khartoum",
              "Africa/Kigali",
              "Africa/Kinshasa",
              "Africa/Lagos",
              "Africa/Libreville",
              "Africa/Lome",
              "Africa/Luanda",
              "Africa/Lubumbashi",
              "Africa/Lusaka",
              "Africa/Malabo",
              "Africa/Maputo",
              "Africa/Maseru",
              "Africa/Mbabane",
              "Africa/Mogadishu",
              "Africa/Monrovia",
              "Africa/Nairobi",
              "Africa/Ndjamena",
              "Africa/Niamey",
              "Africa/Nouakchott",
              "Africa/Ouagadougou",
              "Africa/Porto-Novo",
              "Africa/Sao_Tome",
              "Africa/Tripoli",
              "Africa/Tunis",
              "Africa/Windhoek",
              "America/Adak",
              "America/Anchorage",
              "America/Anguilla",
              "America/Antigua",
              "America/Araguaina",
              "America/Argentina/Buenos_Aires",
              "America/Argentina/Catamarca",
              "America/Argentina/Cordoba",
              "America/Argentina/Jujuy",
              "America/Argentina/La_Rioja",
              "America/Argentina/Mendoza",
              "America/Argentina/Rio_Gallegos",
              "America/Argentina/Salta",
              "America/Argentina/San_Juan",
              "America/Argentina/San_Luis",
              "America/Argentina/Tucuman",
              "America/Argentina/Ushuaia",
              "America/Aruba",
              "America/Asuncion",
              "America/Atikokan",
              "America/Bahia",
              "America/Bahia_Banderas",
              "America/Barbados",
              "America/Belem",
              "America/Belize",
              "America/Blanc-Sablon",
              "America/Boa_Vista",
              "America/Bogota",
              "America/Boise",
              "America/Cambridge_Bay",
              "America/Campo_Grande",
              "America/Cancun",
              "America/Caracas",
              "America/Cayenne",
              "America/Cayman",
              "America/Chicago",
              "America/Chihuahua",
              "America/Ciudad_Juarez",
              "America/Costa_Rica",
              "America/Creston",
              "America/Cuiaba",
              "America/Curacao",
              "America/Danmarkshavn",
              "America/Dawson",
              "America/Dawson_Creek",
              "America/Denver",
              "America/Detroit",
              "America/Dominica",
              "America/Edmonton",
              "America/Eirunepe",
              "America/El_Salvador",
              "America/Fort_Nelson",
              "America/Fortaleza",
              "America/Glace_Bay",
              "America/Goose_Bay",
              "America/Grand_Turk",
              "America/Grenada",
              "America/Guadeloupe",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Guyana",
              "America/Halifax",
              "America/Havana",
              "America/Hermosillo",
              "America/Indiana/Indianapolis",
              "America/Indiana/Knox",
              "America/Indiana/Marengo",
              "America/Indiana/Petersburg",
              "America/Indiana/Tell_City",
              "America/Indiana/Vevay",
              "America/Indiana/Vincennes",
              "America/Indiana/Winamac",
              "America/Inuvik",
              "America/Iqaluit",
              "America/Jamaica",
              "America/Juneau",
              "America/Kentucky/Louisville",
              "America/Kentucky/Monticello",
              "America/Kralendijk",
              "America/La_Paz",
              "America/Lima",
              "America/Los_Angeles",
              "America/Lower_Princes",
              "America/Maceio",
              "America/Managua",
              "America/Manaus",
              "America/Marigot",
              "America/Martinique",
              "America/Matamoros",
              "America/Mazatlan",
              "America/Menominee",
              "America/Merida",
              "America/Metlakatla",
              "America/Mexico_City",
              "America/Miquelon",
              "America/Moncton",
              "America/Monterrey",
              "America/Montevideo",
              "America/Montserrat",
              "America/Nassau",
              "America/New_York",
              "America/Nome",
              "America/Noronha",
              "America/North_Dakota/Beulah",
              "America/North_Dakota/Center",
              "America/North_Dakota/New_Salem",
              "America/Nuuk",
              "America/Ojinaga",
              "America/Panama",
              "America/Paramaribo",
              "America/Phoenix",
              "America/Port-au-Prince",
              "America/Port_of_Spain",
              "America/Porto_Velho",
              "America/Puerto_Rico",
              "America/Punta_Arenas",
              "America/Rankin_Inlet",
              "America/Recife",
              "America/Regina",
              "America/Resolute",
              "America/Rio_Branco",
              "America/Santarem",
              "America/Santiago",
              "America/Santo_Domingo",
              "America/Sao_Paulo",
              "America/Scoresbysund",
              "America/Sitka",
              "America/St_Barthelemy",
              "America/St_Johns",
              "America/St_Kitts",
              "America/St_Lucia",
              "America/St_Thomas",
              "America/St_Vincent",
              "America/Swift_Current",
              "America/Tegucigalpa",
              "America/Thule",
              "America/Tijuana",
              "America/Toronto",
              "America/Tortola",
              "America/Vancouver",
              "America/Whitehorse",
              "America/Winnipeg",
              "America/Yakutat",
              "Antarctica/Casey",
              "Antarctica/Davis",
              "Antarctica/DumontDUrville",
              "Antarctica/Macquarie",
              "Antarctica/Mawson",
              "Antarctica/McMurdo",
              "Antarctica/Palmer",
              "Antarctica/Rothera",
              "Antarctica/Syowa",
              "Antarctica/Troll",
              "Antarctica/Vostok",
              "Arctic/Longyearbyen",
              "Asia/Aden",
              "Asia/Almaty",
              "Asia/Amman",
              "Asia/Anadyr",
              "Asia/Aqtau",
              "Asia/Aqtobe",
              "Asia/Ashgabat",
              "Asia/Atyrau",
              "Asia/Baghdad",
              "Asia/Bahrain",
              "Asia/Baku",
              "Asia/Bangkok",
              "Asia/Barnaul",
              "Asia/Beirut",
              "Asia/Bishkek",
              "Asia/Brunei",
              "Asia/Chita",
              "Asia/Choibalsan",
              "Asia/Colombo",
              "Asia/Damascus",
              "Asia/Dhaka",
              "Asia/Dili",
              "Asia/Dubai",
              "Asia/Dushanbe",
              "Asia/Famagusta",
              "Asia/Gaza",
              "Asia/Hebron",
              "Asia/Ho_Chi_Minh",
              "Asia/Hong_Kong",
              "Asia/Hovd",
              "Asia/Irkutsk",
              "Asia/Jakarta",
              "Asia/Jayapura",
              "Asia/Jerusalem",
              "Asia/Kabul",
              "Asia/Kamchatka",
              "Asia/Karachi",
              "Asia/Kathmandu",
              "Asia/Khandyga",
              "Asia/Kolkata",
              "Asia/Krasnoyarsk",
              "Asia/Kuala_Lumpur",
              "Asia/Kuching",
              "Asia/Kuwait",
              "Asia/Macau",
              "Asia/Magadan",
              "Asia/Makassar",
              "Asia/Manila",
              "Asia/Muscat",
              "Asia/Nicosia",
              "Asia/Novokuznetsk",
              "Asia/Novosibirsk",
              "Asia/Omsk",
              "Asia/Oral",
              "Asia/Phnom_Penh",
              "Asia/Pontianak",
              "Asia/Pyongyang",
              "Asia/Qatar",
              "Asia/Qostanay",
              "Asia/Qyzylorda",
              "Asia/Riyadh",
              "Asia/Sakhalin",
              "Asia/Samarkand",
              "Asia/Seoul",
              "Asia/Shanghai",
              "Asia/Singapore",
              "Asia/Srednekolymsk",
              "Asia/Taipei",
              "Asia/Tashkent",
              "Asia/Tbilisi",
              "Asia/Tehran",
              "Asia/Thimphu",
              "Asia/Tokyo",
              "Asia/Tomsk",
              "Asia/Ulaanbaatar",
              "Asia/Urumqi",
              "Asia/Ust-Nera",
              "Asia/Vientiane",
              "Asia/Vladivostok",
              "Asia/Yakutsk",
              "Asia/Yangon",
              "Asia/Yekaterinburg",
              "Asia/Yerevan",
              "Atlantic/Azores",
              "Atlantic/Bermuda",
              "Atlantic/Canary",
              "Atlantic/Cape_Verde",
              "Atlantic/Faroe",
              "Atlantic/Madeira",
              "Atlantic/Reykjavik",
              "Atlantic/South_Georgia",
              "Atlantic/St_Helena",
              "Atlantic/Stanley",
              "Australia/Adelaide",
              "Australia/Brisbane",
              "Australia/Broken_Hill",
              "Australia/Darwin",
              "Australia/Eucla",
              "Australia/Hobart",
              "Australia/Lindeman",
              "Australia/Lord_Howe",
              "Australia/Melbourne",
              "Australia/Perth",
              "Australia/Sydney",
              "Canada/Atlantic",
              "Canada/Central",
              "Canada/Eastern",
              "Canada/Mountain",
              "Canada/Newfoundland",
              "Canada/Pacific",
              "Europe/Amsterdam",
              "Europe/Andorra",
              "Europe/Astrakhan",
              "Europe/Athens",
              "Europe/Belgrade",
              "Europe/Berlin",
              "Europe/Bratislava",
              "Europe/Brussels",
              "Europe/Bucharest",
              "Europe/Budapest",
              "Europe/Busingen",
              "Europe/Chisinau",
              "Europe/Copenhagen",
              "Europe/Dublin",
              "Europe/Gibraltar",
              "Europe/Guernsey",
              "Europe/Helsinki",
              "Europe/Isle_of_Man",
              "Europe/Istanbul",
              "Europe/Jersey",
              "Europe/Kaliningrad",
              "Europe/Kirov",
              "Europe/Kyiv",
              "Europe/Lisbon",
              "Europe/Ljubljana",
              "Europe/London",
              "Europe/Luxembourg",
              "Europe/Madrid",
              "Europe/Malta",
              "Europe/Mariehamn",
              "Europe/Minsk",
              "Europe/Monaco",
              "Europe/Moscow",
              "Europe/Oslo",
              "Europe/Paris",
              "Europe/Podgorica",
              "Europe/Prague",
              "Europe/Riga",
              "Europe/Rome",
              "Europe/Samara",
              "Europe/San_Marino",
              "Europe/Sarajevo",
              "Europe/Saratov",
              "Europe/Simferopol",
              "Europe/Skopje",
              "Europe/Sofia",
              "Europe/Stockholm",
              "Europe/Tallinn",
              "Europe/Tirane",
              "Europe/Ulyanovsk",
              "Europe/Vaduz",
              "Europe/Vatican",
              "Europe/Vienna",
              "Europe/Vilnius",
              "Europe/Volgograd",
              "Europe/Warsaw",
              "Europe/Zagreb",
              "Europe/Zurich",
              "GMT",
              "Indian/Antananarivo",
              "Indian/Chagos",
              "Indian/Christmas",
              "Indian/Cocos",
              "Indian/Comoro",
              "Indian/Kerguelen",
              "Indian/Mahe",
              "Indian/Maldives",
              "Indian/Mauritius",
              "Indian/Mayotte",
              "Indian/Reunion",
              "Pacific/Apia",
              "Pacific/Auckland",
              "Pacific/Bougainville",
              "Pacific/Chatham",
              "Pacific/Chuuk",
              "Pacific/Easter",
              "Pacific/Efate",
              "Pacific/Fakaofo",
              "Pacific/Fiji",
              "Pacific/Funafuti",
              "Pacific/Galapagos",
              "Pacific/Gambier",
              "Pacific/Guadalcanal",
              "Pacific/Guam",
              "Pacific/Honolulu",
              "Pacific/Kanton",
              "Pacific/Kiritimati",
              "Pacific/Kosrae",
              "Pacific/Kwajalein",
              "Pacific/Majuro",
              "Pacific/Marquesas",
              "Pacific/Midway",
              "Pacific/Nauru",
              "Pacific/Niue",
              "Pacific/Norfolk",
              "Pacific/Noumea",
              "Pacific/Pago_Pago",
              "Pacific/Palau",
              "Pacific/Pitcairn",
              "Pacific/Pohnpei",
              "Pacific/Port_Moresby",
              "Pacific/Rarotonga",
              "Pacific/Saipan",
              "Pacific/Tahiti",
              "Pacific/Tarawa",
              "Pacific/Tongatapu",
              "Pacific/Wake",
              "Pacific/Wallis",
              "US/Alaska",
              "US/Arizona",
              "US/Central",
              "US/Eastern",
              "US/Hawaii",
              "US/Mountain",
              "US/Pacific",
              "UTC",
              "profile"
            ]
          },
          "delay_until_time": {
            "type": "string",
            "format": "time",
            "nullable": true
          },
          "delay_until_weekdays": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "friday",
                "monday",
                "saturday",
                "sunday",
                "thursday",
                "tuesday",
                "wednesday"
              ],
              "description": "Days of the week."
            },
            "nullable": true
          }
        }
      },
      "CustomObjectPropertyCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom-object-property"
            ]
          },
          "custom_object_label": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/NumericRangeFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/ListContainsOperatorListContainsFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "custom_object_label",
          "field",
          "filter"
        ]
      },
      "CustomObjectTriggerCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "custom-object-trigger-property"
            ]
          },
          "property_id": {
            "type": "integer"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/NumericRangeFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/ListContainsOperatorListContainsFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "property_id",
          "filter"
        ]
      },
      "CustomSourceFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "custom_source"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/EqualsStringFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "DataWarehouseImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "data_warehouse_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "DoubleOptinFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "is_double_opt_in"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/BooleanFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EffectiveDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "effective_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EqualsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ExistenceOperatorExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "description": "Operators for existence filters.",
            "type": "string",
            "enum": [
              "is-set",
              "not-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_reachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "ExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_unreachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "FailedAgeGateMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "failed_age_gate"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FlowActionEncodedResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowActionEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "definition": {
                "description": "The encoded flow action definition.",
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ActionOutputSplitAction"
                  },
                  {
                    "$ref": "#/components/schemas/BackInStockDelayAction"
                  },
                  {
                    "$ref": "#/components/schemas/ConditionalBranchAction"
                  },
                  {
                    "$ref": "#/components/schemas/ContentExperimentAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendEmailAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendPushNotificationAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendSmsAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendWebhookAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendInternalAlertAction"
                  },
                  {
                    "$ref": "#/components/schemas/SendWhatsAppAction"
                  },
                  {
                    "$ref": "#/components/schemas/TimeDelayAction"
                  },
                  {
                    "$ref": "#/components/schemas/TriggerBranchAction"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateProfileAction"
                  },
                  {
                    "$ref": "#/components/schemas/TargetDateAction"
                  },
                  {
                    "$ref": "#/components/schemas/CountdownDelayAction"
                  },
                  {
                    "$ref": "#/components/schemas/AbTestAction"
                  },
                  {
                    "$ref": "#/components/schemas/InternalServiceAction"
                  },
                  {
                    "$ref": "#/components/schemas/CodeAction"
                  },
                  {
                    "$ref": "#/components/schemas/MultiBranchSplitAction"
                  },
                  {
                    "$ref": "#/components/schemas/ListUpdateAction"
                  }
                ]
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/FlowEnum"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-messages": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowMessageEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "FlowActionEnum": {
        "type": "string",
        "enum": [
          "flow-action"
        ]
      },
      "FlowEmail": {
        "type": "object",
        "properties": {
          "from_email": {
            "type": "string",
            "nullable": true
          },
          "from_label": {
            "type": "string",
            "nullable": true
          },
          "reply_to_email": {
            "type": "string",
            "nullable": true
          },
          "cc_email": {
            "type": "string",
            "nullable": true
          },
          "bcc_email": {
            "type": "string",
            "nullable": true
          },
          "subject_line": {
            "type": "string",
            "nullable": true
          },
          "preview_text": {
            "type": "string",
            "nullable": true
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "smart_sending_enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "transactional": {
            "type": "boolean",
            "default": false
          },
          "add_tracking_params": {
            "type": "boolean",
            "default": false
          },
          "custom_tracking_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UtmParam"
            },
            "nullable": true
          },
          "additional_filters": {
            "type": "object",
            "nullable": true,
            "properties": {
              "condition_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ProfilePropertyCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRegionCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                          },
                          {
                            "$ref": "#/components/schemas/FlowsProfileMetricCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRandomSampleCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePermissionsCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasNotReceivedEmailMessageCondition"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "conditions"
                  ]
                }
              }
            },
            "required": [
              "condition_groups"
            ]
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "from_email",
          "from_label",
          "reply_to_email",
          "cc_email",
          "bcc_email",
          "subject_line",
          "preview_text"
        ]
      },
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FlowInternalAlert": {
        "type": "object",
        "properties": {
          "from_email": {
            "type": "string",
            "nullable": true
          },
          "from_label": {
            "type": "string",
            "nullable": true
          },
          "to_emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject_line": {
            "type": "string",
            "nullable": true
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "from_email",
          "from_label",
          "to_emails",
          "subject_line"
        ]
      },
      "FlowMessageEnum": {
        "type": "string",
        "enum": [
          "flow-message"
        ]
      },
      "FlowPushNotification": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "sound": {
            "type": "boolean",
            "default": false
          },
          "badge": {
            "type": "boolean",
            "default": false
          },
          "badge_options": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Increment"
              },
              {
                "$ref": "#/components/schemas/StaticCount"
              },
              {
                "$ref": "#/components/schemas/Property"
              }
            ]
          },
          "image_id": {
            "description": "The id of an ImageAsset. If provided, this will take precedence over a dynamic_image.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "dynamic_image": {
            "description": "A dynamic image asset to include in the push notification.",
            "type": "string",
            "example": "{{ event.items.0.url }}",
            "nullable": true
          },
          "video_asset_id": {
            "description": "The ULID of a video asset. If provided, videos and images are mutually exclusive.",
            "type": "string",
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
            "nullable": true
          },
          "on_open": {
            "description": "See PushLinkAction in app.\n\nThis is not a flow action, but the literal action that should be\n    taken when the push notification is tapped.",
            "type": "string",
            "example": "home",
            "default": "home",
            "enum": [
              "home",
              "link"
            ]
          },
          "ios_link": {
            "type": "string",
            "nullable": true
          },
          "android_link": {
            "type": "string",
            "nullable": true
          },
          "push_type": {
            "description": "The type of push notification to send.",
            "type": "string",
            "enum": [
              "silent",
              "standard"
            ],
            "nullable": true
          },
          "kv_pairs": {
            "type": "object",
            "nullable": true
          },
          "conversion_metric_id": {
            "type": "string",
            "nullable": true
          },
          "smart_sending_enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "additional_filters": {
            "type": "object",
            "nullable": true,
            "properties": {
              "condition_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ProfilePropertyCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRegionCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                          },
                          {
                            "$ref": "#/components/schemas/FlowsProfileMetricCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRandomSampleCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePermissionsCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasNotReceivedPushMessageCondition"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "conditions"
                  ]
                }
              }
            },
            "required": [
              "condition_groups"
            ]
          },
          "action_buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushActionButton"
            },
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "body"
        ]
      },
      "FlowResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "archived": {
                "type": "boolean",
                "nullable": true
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "trigger_type": {
                "description": "Corresponds to the object which triggered the flow.",
                "type": "string",
                "enum": [
                  "Added to List",
                  "Date Based",
                  "Low Inventory",
                  "Metric",
                  "Price Drop",
                  "Unconfigured"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow-actions": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowActionEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "FlowSms": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string"
          },
          "image_id": {
            "description": "The id of an ImageAsset. If provided, this will take precedence over a dynamic_image.",
            "type": "string",
            "example": "123",
            "nullable": true
          },
          "dynamic_image": {
            "description": "A dynamic image asset to include in the SMS message.",
            "type": "string",
            "example": "{{ person|lookup:'image_url' }}",
            "nullable": true
          },
          "shorten_links": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "include_contact_card": {
            "type": "boolean",
            "default": false
          },
          "add_org_prefix": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "add_info_link": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "add_opt_out_language": {
            "type": "boolean",
            "default": false
          },
          "smart_sending_enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "sms_quiet_hours_enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "transactional": {
            "type": "boolean",
            "default": false
          },
          "add_tracking_params": {
            "type": "boolean",
            "default": false
          },
          "custom_tracking_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UtmParam"
            },
            "nullable": true
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "additional_filters": {
            "type": "object",
            "nullable": true,
            "properties": {
              "condition_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ProfilePropertyCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRegionCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                          },
                          {
                            "$ref": "#/components/schemas/FlowsProfileMetricCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRandomSampleCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePermissionsCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasNotReceivedSmsMessageCondition"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "conditions"
                  ]
                }
              }
            },
            "required": [
              "condition_groups"
            ]
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "body"
        ]
      },
      "FlowWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "url"
        ]
      },
      "FlowWhatsApp": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Not allowed on create.",
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "vendor_id": {
            "type": "string",
            "nullable": true
          },
          "smart_sending_enabled": {
            "type": "boolean",
            "example": true,
            "default": true
          },
          "transactional": {
            "type": "boolean",
            "default": false
          },
          "add_tracking_params": {
            "type": "boolean",
            "default": false
          },
          "additional_filters": {
            "type": "object",
            "nullable": true,
            "properties": {
              "condition_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/ProfilePropertyCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRegionCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                          },
                          {
                            "$ref": "#/components/schemas/FlowsProfileMetricCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileRandomSampleCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                          },
                          {
                            "$ref": "#/components/schemas/ProfilePermissionsCondition"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "conditions"
                  ]
                }
              }
            },
            "required": [
              "condition_groups"
            ]
          }
        }
      },
      "FlowsProfileMetricCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-metric"
            ]
          },
          "metric_id": {
            "type": "string"
          },
          "measurement": {
            "description": "Measurements for profile metrics.",
            "type": "string",
            "enum": [
              "count",
              "sum"
            ]
          },
          "measurement_filter": {
            "$ref": "#/components/schemas/NumericOperatorNumericFilter"
          },
          "timeframe_filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/AlltimeDateFilter"
              },
              {
                "$ref": "#/components/schemas/SinceFlowStartDateFilter"
              }
            ]
          },
          "metric_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileMetricPropertyFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "type",
          "metric_id",
          "measurement",
          "measurement_filter",
          "timeframe_filter"
        ]
      },
      "FormMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form ids",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
[...]
