{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/profiles/{id}": {
      "get": {
        "operationId": "get_profile",
        "summary": "Get Profile",
        "description": "Get the profile with the given profile ID.\n\nUse the `additional-fields` parameter to include subscriptions and predictive analytics data in your response.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `include=list` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>Rate limits when using the `include=segment` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>To learn more about how the `include` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`profiles:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/stable/apis/get_profile.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional-fields[profile]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'subscriptions', 'predictive_analytics'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "subscriptions",
                  "predictive_analytics"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[conversation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[list]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "id",
                  "name",
                  "opt_in_process",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[profile]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "email",
                  "external_id",
                  "first_name",
                  "id",
                  "image",
                  "last_event_date",
                  "last_name",
                  "locale",
                  "location",
                  "location.address1",
                  "location.address2",
                  "location.city",
                  "location.country",
                  "location.ip",
                  "location.latitude",
                  "location.longitude",
                  "location.region",
                  "location.timezone",
                  "location.zip",
                  "organization",
                  "phone_number",
                  "predictive_analytics",
                  "predictive_analytics.average_days_between_orders",
                  "predictive_analytics.average_order_value",
                  "predictive_analytics.churn_probability",
                  "predictive_analytics.expected_date_of_next_order",
                  "predictive_analytics.historic_clv",
                  "predictive_analytics.historic_number_of_orders",
                  "predictive_analytics.predicted_clv",
                  "predictive_analytics.predicted_number_of_orders",
                  "predictive_analytics.ranked_channel_affinity",
                  "predictive_analytics.total_clv",
                  "properties",
                  "subscriptions",
                  "subscriptions.email",
                  "subscriptions.email.marketing",
                  "subscriptions.email.marketing.can_receive_email_marketing",
                  "subscriptions.email.marketing.consent",
                  "subscriptions.email.marketing.consent_timestamp",
                  "subscriptions.email.marketing.custom_method_detail",
                  "subscriptions.email.marketing.double_optin",
                  "subscriptions.email.marketing.last_updated",
                  "subscriptions.email.marketing.list_suppressions",
                  "subscriptions.email.marketing.method",
                  "subscriptions.email.marketing.method_detail",
                  "subscriptions.email.marketing.suppression",
                  "subscriptions.mobile_push",
                  "subscriptions.mobile_push.marketing",
                  "subscriptions.mobile_push.marketing.can_receive_push_marketing",
                  "subscriptions.mobile_push.marketing.consent",
                  "subscriptions.mobile_push.marketing.consent_timestamp",
                  "subscriptions.sms",
                  "subscriptions.sms.marketing",
                  "subscriptions.sms.marketing.can_receive_sms_marketing",
                  "subscriptions.sms.marketing.consent",
                  "subscriptions.sms.marketing.consent_timestamp",
                  "subscriptions.sms.marketing.last_updated",
                  "subscriptions.sms.marketing.method",
                  "subscriptions.sms.marketing.method_detail",
                  "subscriptions.sms.transactional",
                  "subscriptions.sms.transactional.can_receive_sms_transactional",
                  "subscriptions.sms.transactional.consent",
                  "subscriptions.sms.transactional.consent_timestamp",
                  "subscriptions.sms.transactional.last_updated",
                  "subscriptions.sms.transactional.method",
                  "subscriptions.sms.transactional.method_detail",
                  "subscriptions.whatsapp",
                  "subscriptions.whatsapp.conversational",
                  "subscriptions.whatsapp.conversational.can_receive",
                  "subscriptions.whatsapp.conversational.consent",
                  "subscriptions.whatsapp.conversational.consent_timestamp",
                  "subscriptions.whatsapp.conversational.created_timestamp",
                  "subscriptions.whatsapp.conversational.last_updated",
                  "subscriptions.whatsapp.conversational.metadata",
                  "subscriptions.whatsapp.conversational.phone_number",
                  "subscriptions.whatsapp.conversational.valid_until",
                  "subscriptions.whatsapp.marketing",
                  "subscriptions.whatsapp.marketing.can_receive",
                  "subscriptions.whatsapp.marketing.consent",
                  "subscriptions.whatsapp.marketing.consent_timestamp",
                  "subscriptions.whatsapp.marketing.created_timestamp",
                  "subscriptions.whatsapp.marketing.last_updated",
                  "subscriptions.whatsapp.marketing.metadata",
                  "subscriptions.whatsapp.marketing.phone_number",
                  "subscriptions.whatsapp.marketing.valid_until",
                  "subscriptions.whatsapp.transactional",
                  "subscriptions.whatsapp.transactional.can_receive",
                  "subscriptions.whatsapp.transactional.consent",
                  "subscriptions.whatsapp.transactional.consent_timestamp",
                  "subscriptions.whatsapp.transactional.created_timestamp",
                  "subscriptions.whatsapp.transactional.last_updated",
                  "subscriptions.whatsapp.transactional.metadata",
                  "subscriptions.whatsapp.transactional.phone_number",
                  "subscriptions.whatsapp.transactional.valid_until",
                  "title",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[push-token]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "background",
                  "created",
                  "enablement_status",
                  "id",
                  "metadata",
                  "metadata.app_build",
                  "metadata.app_id",
                  "metadata.app_name",
                  "metadata.app_version",
                  "metadata.device_id",
                  "metadata.device_model",
                  "metadata.environment",
                  "metadata.klaviyo_sdk",
                  "metadata.manufacturer",
                  "metadata.os_name",
                  "metadata.os_version",
                  "metadata.sdk_version",
                  "platform",
                  "recorded_date",
                  "token",
                  "vendor"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.condition_groups",
                  "id",
                  "is_active",
                  "is_processing",
                  "is_starred",
                  "name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "conversation",
                  "lists",
                  "push-tokens",
                  "segments"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Profiles"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "profiles:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APIMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of API keys (using last 4 digits of the key)",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "AlltimeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for alltime date filters.",
            "type": "string",
            "enum": [
              "alltime"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "AnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for anniversary date filters.",
            "type": "string",
            "enum": [
              "anniversary",
              "anniversary-month"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "BackInStockMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "back_in_stock"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "BooleanFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "boolean"
            ]
          },
          "operator": {
            "description": "Operators for boolean filters.",
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "BounceDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "bounce_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "BulkRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "bulk_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CalendarDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for calendar date filters.",
            "type": "string",
            "enum": [
              "calendar-month"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "CarrierDeactivationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "carrier_deactivation"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CheckoutMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "checkout"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ConditionGroup": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePropertyCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileRegionCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityPriorityCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityRankCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePermissionsCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricFunnelCondition"
                }
              ]
            }
          }
        },
        "required": [
          "conditions"
        ]
      },
      "ConstantContactIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "enum": [
                "constant_contact"
              ],
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ConstantContactIntegrationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "integration"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ConstantContactIntegrationFilter"
          }
        },
        "required": [
          "field",
          "method",
          "filter"
        ]
      },
      "ConversationEnum": {
        "type": "string",
        "enum": [
          "conversation"
        ]
      },
      "ConversationResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ConversationEnum"
          },
          "id": {
            "type": "string"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ProfileEnum"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "links"
        ]
      },
      "CustomSourceFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "custom_source"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/EqualsStringFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "DataWarehouseImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "data_warehouse_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "DeviceMetadata": {
        "type": "object",
        "properties": {
          "device_id": {
            "description": "Relatively stable ID for the device. Will update on app uninstall and reinstall",
            "type": "string",
            "example": "1234567890",
            "nullable": true
          },
          "klaviyo_sdk": {
            "description": "The name of the SDK used to create the push token.",
            "type": "string",
            "example": "swift",
            "enum": [
              "android",
              "flutter",
              "flutter_community",
              "react_native",
              "swift"
            ],
            "nullable": true
          },
          "sdk_version": {
            "description": "The version of the SDK used to create the push token",
            "type": "string",
            "example": "1.0.0",
            "nullable": true
          },
          "device_model": {
            "description": "The model of the device",
            "type": "string",
            "example": "iPhone12,1",
            "nullable": true
          },
          "os_name": {
            "description": "The name of the operating system on the device.",
            "type": "string",
            "example": "ios",
            "enum": [
              "android",
              "ios",
              "ipados",
              "macos",
              "tvos"
            ],
            "nullable": true
          },
          "os_version": {
            "description": "The version of the operating system on the device",
            "type": "string",
            "example": "14.0",
            "nullable": true
          },
          "manufacturer": {
            "description": "The manufacturer of the device",
            "type": "string",
            "example": "Apple",
            "nullable": true
          },
          "app_name": {
            "description": "The name of the app that created the push token",
            "type": "string",
            "example": "Klaviyo",
            "nullable": true
          },
          "app_version": {
            "description": "The version of the app that created the push token",
            "type": "string",
            "example": "1.0.0",
            "nullable": true
          },
          "app_build": {
            "description": "The build of the app that created the push token",
            "type": "string",
            "example": "1",
            "nullable": true
          },
          "app_id": {
            "description": "The ID of the app that created the push token",
            "type": "string",
            "example": "com.klaviyo.app",
            "nullable": true
          },
          "environment": {
            "description": "The environment in which the push token was created",
            "type": "string",
            "example": "release",
            "enum": [
              "debug",
              "release"
            ],
            "nullable": true
          }
        }
      },
      "DoubleOptinFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "is_double_opt_in"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/BooleanFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EffectiveDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "effective_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EmailChannel": {
        "type": "object",
        "properties": {
          "marketing": {
            "description": "The email marketing subscription.",
            "$ref": "#/components/schemas/EmailMarketing",
            "nullable": true
          }
        }
      },
      "EmailMarketing": {
        "type": "object",
        "properties": {
          "can_receive_email_marketing": {
            "description": "Whether or not this profile has implicit consent to receive email marketing. True if it does profile does not have any global suppressions.",
            "type": "boolean"
          },
          "consent": {
            "description": "The consent status for email marketing.",
            "type": "string",
            "example": "SUBSCRIBED"
          },
          "consent_timestamp": {
            "description": "The timestamp when consent was recorded or updated for email marketing, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "last_updated": {
            "description": "The timestamp when a field on the email marketing object was last modified.",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00",
            "nullable": true
          },
          "method": {
            "description": "The method by which the profile was subscribed to email marketing.",
            "type": "string",
            "example": "PREFERENCE_PAGE",
            "nullable": true
          },
          "method_detail": {
            "description": "Additional details about the method by which the profile was subscribed to email marketing. This may be empty if no details were provided.",
            "type": "string",
            "example": "mydomain.com/signup",
            "default": "",
            "nullable": true
          },
          "custom_method_detail": {
            "description": "Additional detail provided by the caller when the profile was subscribed. This may be empty if no details were provided.",
            "type": "string",
            "example": "marketing drive",
            "nullable": true
          },
          "double_optin": {
            "description": "Whether the profile was subscribed to email marketing using a double opt-in.",
            "type": "boolean",
            "example": true,
            "nullable": true
          },
          "suppression": {
            "description": "The global email marketing suppression for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingSuppression"
            },
            "nullable": true
          },
          "list_suppressions": {
            "description": "The list suppressions for this profile.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailMarketingListSuppression"
            },
            "nullable": true
          }
        },
        "required": [
          "can_receive_email_marketing",
          "consent"
        ]
      },
      "EmailMarketingListSuppression": {
        "type": "object",
        "properties": {
          "list_id": {
            "description": "The ID of list to which the suppression applies.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "reason": {
            "description": "The reason the profile was suppressed from the list.",
            "type": "string",
            "example": "USER_SUPPRESSED"
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed from the list, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "list_id",
          "reason",
          "timestamp"
        ]
      },
      "EmailMarketingSuppression": {
        "type": "object",
        "properties": {
          "reason": {
            "description": "The reason the profile was suppressed.",
            "type": "string",
            "example": "HARD_BOUNCE",
            "enum": [
              "HARD_BOUNCE",
              "INVALID_EMAIL",
              "SPAM_COMPLAINT",
              "UNSUBSCRIBE",
              "USER_SUPPRESSED"
            ]
          },
          "timestamp": {
            "description": "The timestamp when the profile was suppressed, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm).",
            "type": "string",
            "format": "date-time",
            "example": "2023-02-21T20:07:38+00:00"
          }
        },
        "required": [
          "reason",
          "timestamp"
        ]
      },
      "EqualsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ExistenceOperatorExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "description": "Operators for existence filters.",
            "type": "string",
            "enum": [
              "is-set",
              "not-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_reachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "ExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_unreachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "FailedAgeGateMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "failed_age_gate"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FormMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form ids",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FormSubscribeFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form IDs",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "GetProfileResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/ProfileEnum"
                  },
                  "attributes": {
                    "properties": {
                      "subscriptions": {
                        "$ref": "#/components/schemas/Subscriptions",
                        "nullable": true
                      },
                      "predictive_analytics": {
                        "$ref": "#/components/schemas/PredictiveAnalytics",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/ProfileResponseObjectResource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ListResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/SegmentResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/ConversationResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/PushTokenResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GreaterThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "greater-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "HasEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingSubscribed"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DoubleOptinFilter"
                },
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/CustomSourceFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageFilter"
                },
                {
                  "$ref": "#/components/schemas/APIMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BackInStockMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDateFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "push"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasPushMarketing"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasSMSMarketingSubscribed"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CheckoutMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SubscribedSMSIsRcsCapableFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "ImplicitlyOrExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyOrExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "InStringArrayFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InboundMessageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "inbound_message"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "IntegerFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InvalidEmailDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "invalid_email_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "IsSetExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "is-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "LessThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "less-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListContainsOperatorListContainsFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains filters.",
            "type": "string",
            "enum": [
              "contains",
              "not-contains"
            ]
          },
          "value": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListEnum": {
        "type": "string",
        "enum": [
          "list"
        ]
      },
      "ListLengthFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list length filters.",
            "type": "string",
            "enum": [
              "length-equals",
              "length-greater-than",
              "length-greater-than-or-equal",
              "length-less-than",
              "length-less-than-or-equal"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ListEnum"
          },
          "id": {
            "description": "Primary key that uniquely identifies this list. Generated by Klaviyo.",
            "type": "string",
            "example": "Y6nRLr"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the list",
                "type": "string",
                "example": "Newsletter",
                "nullable": true
              },
              "created": {
                "description": "Date and time when the list was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "Date and time when the list was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "opt_in_process": {
                "description": "The opt-in process for this list. Valid values: 'double_opt_in', 'single_opt_in'.",
                "type": "string",
                "example": "double_opt_in",
                "enum": [
                  "double_opt_in",
                  "single_opt_in"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-triggers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ListSetFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains set filters.",
            "type": "string",
            "enum": [
              "contains-all",
              "contains-any",
              "not-contains-all",
              "not-contains-any"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSubstringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list substring filters.",
            "type": "string",
            "enum": [
              "contains-substring",
              "not-contains-substring"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "MailboxProviderMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "mailbox_provider"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualAddManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_add"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualSuppressionDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "manual_suppression_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "MessageBlockedMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "message_blocked"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "MethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "description": "Method for subscribing / unsubscribing.",
            "type": "string",
            "enum": [
              "api",
              "back_in_stock",
              "bigcommerce",
              "bulk_remove",
              "campaign_monitor",
              "carrier_deactivation",
              "checkout",
              "constant_contact",
              "exact_target",
              "facebook",
              "failed_age_gate",
              "inbound_message",
              "integration",
              "mad_mimi",
              "magento_two",
              "mailbox_provider",
              "manual_add",
              "manual_import",
              "manual_remove",
              "message_blocked",
              "netsuite",
              "preference_page",
              "provided_landline",
              "provided_no_age",
              "sftp",
              "shopify",
              "social_instagram_message",
              "spam_complaint",
              "square",
              "wix",
              "woocommerce"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "NoEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingUnsubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingNeverSubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingUnsubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          },
          "filters": {
            "nullable": true,
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StatusDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/APIMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/InboundMessageMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/PreferencePageMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualRemoveMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/SpamComplaintMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/MailboxProviderMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/OneClickUnsubscribeMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualImportMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/SftpMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/DataWarehouseImportMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ProfileModificationMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ConstantContactIntegrationMethodFilter"
                    }
                  ]
                }
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BounceDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEmailDateFilter"
                    }
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoPushMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoPushMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "push"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/NoPushMarketing"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoSMSMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoSMSMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoSMSMarketing"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingUnsubscribed"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoSMSMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoSMSMarketingUnsubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualRemoveMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BulkRemoveMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CheckoutMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CarrierDeactivationMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ProvidedLandlineMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/MessageBlockedMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ProvidedNoAgeMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FailedAgeGateMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NumericOperatorNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "NumericRangeFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric range filters.",
            "type": "string",
            "enum": [
              "between"
            ]
          },
          "start": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          },
          "end": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "start",
          "end"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "OneClickUnsubscribeMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "one_click_unsubscribe"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "PredictiveAnalytics": {
        "type": "object",
        "properties": {
          "historic_clv": {
            "description": "Total value of all historically placed orders",
            "type": "number",
            "example": 93.87,
            "nullable": true
          },
          "predicted_clv": {
            "description": "Predicted value of all placed orders in the next 365 days",
            "type": "number",
            "example": 27.24,
            "nullable": true
          },
          "total_clv": {
            "description": "Sum of historic and predicted CLV",
            "type": "number",
            "example": 121.11,
            "nullable": true
          },
          "historic_number_of_orders": {
            "description": "Number of already placed orders",
            "type": "number",
            "example": 2,
            "nullable": true
          },
          "predicted_number_of_orders": {
            "description": "Predicted number of placed orders in the next 365 days",
            "type": "number",
            "example": 0.54,
            "nullable": true
          },
          "average_days_between_orders": {
            "description": "Average number of days between orders (None if only one order has been placed)",
            "type": "number",
            "example": 189,
            "nullable": true
          },
          "average_order_value": {
            "description": "Average value of placed orders",
            "type": "number",
            "example": 46.94,
            "nullable": true
          },
          "churn_probability": {
            "description": "Probability the customer has churned",
            "type": "number",
            "example": 0.89,
            "nullable": true
          },
          "expected_date_of_next_order": {
            "description": "Expected date of next order, as calculated at the time of their most recent order",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "ranked_channel_affinity": {
            "description": "List of channels ranked by their predicted effectiveness for this profile, with the best channel being listed first at index 0",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "push",
                "sms",
                "whatsapp"
              ],
              "description": "Enum for channel name return values used in the V3 API for channel affinity for the field `ranked_channel_affinity`."
            },
            "example": [
              "sms",
              "email",
              "push"
            ],
            "nullable": true
          }
        }
      },
      "PreferencePageFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "preference_page"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific subscribe page url",
            "$ref": "#/components/schemas/EqualsStringFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "PreferencePageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "preference_page"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ProfileEnum": {
        "type": "string",
        "enum": [
          "profile"
        ]
      },
      "ProfileHasCustomObjectCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-has-custom-object"
            ]
          },
          "object_type_id": {
            "type": "string"
          },
          "object_type_relationship_id": {
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/IntegerFilter"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileHasCustomObjectFilter"
            }
          }
        },
        "required": [
          "type",
          "object_type_id",
          "object_type_relationship_id",
          "filter",
          "filters"
        ]
      },
      "ProfileHasCustomObjectFilter": {
        "type": "object",
        "properties": {
          "property_id": {
            "type": "integer"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/NumericRangeFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "property_id",
          "filter"
        ]
      },
      "ProfileHasGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-group-membership"
            ]
          },
          "is_member": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeframe_filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfileLocation": {
        "type": "object",
        "properties": {
          "address1": {
            "description": "First line of street address",
            "type": "string",
            "example": "89 E 42nd St",
            "nullable": true
          },
          "address2": {
            "description": "Second line of street address",
            "type": "string",
            "example": "1st floor",
            "nullable": true
          },
          "city": {
            "description": "City name",
            "type": "string",
            "example": "New York",
            "nullable": true
          },
          "country": {
            "description": "Country name",
            "type": "string",
            "example": "United States",
            "nullable": true
          },
          "latitude": {
            "description": "Latitude coordinate. We recommend providing a precision of four decimal places.",
            "example": "40.7128",
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "longitude": {
            "description": "Longitude coordinate. We recommend providing a precision of four decimal places.",
            "example": "74.0060",
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "region": {
            "description": "Region within a country, such as state or province",
            "type": "string",
            "example": "NY",
            "nullable": true
          },
          "zip": {
            "description": "Zip code",
            "type": "string",
            "example": "10017",
            "nullable": true
          },
          "timezone": {
            "description": "Time zone name. We recommend using time zones from the IANA Time Zone Database.",
            "type": "string",
            "example": "America/New_York",
            "nullable": true
          },
          "ip": {
            "description": "IP Address",
            "type": "string",
            "example": "127.0.0.1",
            "nullable": true
          }
        }
      },
      "ProfileMarketingConsentCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-marketing-consent"
            ]
          },
          "consent": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/HasSMSMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/HasPushMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoPushMarketingConsent"
              }
            ]
          }
        },
        "required": [
          "type",
          "consent"
        ]
      },
      "ProfileMetricFunnelSteps": {
        "type": "object",
        "properties": {
          "metric_exists": {
            "type": "boolean"
          },
          "metric_id": {
            "type": "string"
          },
          "metric_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileMetricPropertyFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "metric_exists",
          "metric_id"
        ]
      },
      "ProfileMetricPropertyFilter": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string"
          },
          "filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              },
              {
                "$ref": "#/components/schemas/ListSetFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ListSubstringFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              }
            ]
          }
        },
        "required": [
          "property"
        ]
      },
      "ProfileModificationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "profile_modification"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ProfileNoGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-group-membership"
            ]
          },
          "is_member": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfilePermissionsCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-permissions"
            ]
          },
          "permission": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyOrExplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ExplicitlyUnreachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyUnreachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyOrExplicitlyUnreachable"
              }
            ]
          },
          "channel": {
            "description": "Possible channels for profile permissions criterion.",
            "type": "string",
            "enum": [
              "whatsapp_marketing",
              "whatsapp_transactional"
            ]
          }
        },
        "required": [
          "type",
          "permission",
          "channel"
        ]
      },
      "ProfilePostalCodeDistanceCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-postal-code-distance"
            ]
          },
          "country_code": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "unit": {
            "description": "Units for profile postal code distance conditions.",
            "type": "string",
            "enum": [
              "kilometers",
              "miles"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GreaterThanPositiveNumericFilter"
              },
              {
                "$ref": "#/components/schemas/LessThanPositiveNumericFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "country_code",
          "postal_code",
          "unit",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityPriorityCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          },
          "dimension": {
            "description": "Possible dimension for channel affinity criterion.",
            "type": "string",
            "enum": [
              "channel_affinity"
            ]
          },
          "measurement": {
            "type": "string",
            "enum": [
              "priority"
            ]
          },
          "predicted_channel": {
            "description": "Possible channels in a channel affinity definition.",
            "type": "string",
            "enum": [
              "email",
              "push",
              "sms",
              "whatsapp"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityPriorityFilter"
          }
        },
        "required": [
          "type",
          "dimension",
          "measurement",
          "predicted_channel",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityPriorityFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "integer"
          }
[...]
