{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API",
    "version": "2026-04-15",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/segments/{id}": {
      "get": {
        "operationId": "get_segment",
        "summary": "Get Segment",
        "description": "Get a segment with the given segment ID.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`<br><br>Rate limits when using the `additional-fields[segment]=profile_count` parameter in your API request:<br>Burst: `1/s`<br>Steady: `15/m`<br><br>To learn more about how the `additional-fields` parameter impacts rate limits, check out our [Rate limits, status codes, and errors](https://developers.klaviyo.com/en/v2026-04-15/docs/rate_limits_and_error_handling) guide.\n\n**Scopes:**\n`segments:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/stable/apis/get_segment.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional-fields[segment]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'profile_count'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "profile_count"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "archived",
                  "created",
                  "id",
                  "name",
                  "status",
                  "trigger_type",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[segment]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.condition_groups",
                  "id",
                  "is_active",
                  "is_processing",
                  "is_starred",
                  "name",
                  "profile_count",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[tag]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "flow-triggers",
                  "tags"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentRetrieveResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Segments"
        ],
        "x-klaviyo-pre-release": "None",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "segments:read"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APIMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of API keys (using last 4 digits of the key)",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "AlltimeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for alltime date filters.",
            "type": "string",
            "enum": [
              "alltime"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "AnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for anniversary date filters.",
            "type": "string",
            "enum": [
              "anniversary",
              "anniversary-month"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "BackInStockMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "back_in_stock"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "BooleanFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "boolean"
            ]
          },
          "operator": {
            "description": "Operators for boolean filters.",
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "BounceDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "bounce_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "BulkRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "bulk_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CalendarDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for calendar date filters.",
            "type": "string",
            "enum": [
              "calendar-month"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CarrierDeactivationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "carrier_deactivation"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "CheckoutMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "checkout"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ConditionGroup": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ProfileHasGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileNoGroupMembershipCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileMarketingConsentCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePostalCodeDistanceCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePropertyCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileRegionCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsDateCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsNumericCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityPriorityCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityRankCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfileHasCustomObjectCondition"
                },
                {
                  "$ref": "#/components/schemas/ProfilePermissionsCondition"
                },
                {
                  "$ref": "#/components/schemas/SegmentsProfileMetricFunnelCondition"
                }
              ]
            }
          }
        },
        "required": [
          "conditions"
        ]
      },
      "ConstantContactIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "enum": [
                "constant_contact"
              ],
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ConstantContactIntegrationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "integration"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ConstantContactIntegrationFilter"
          }
        },
        "required": [
          "field",
          "method",
          "filter"
        ]
      },
      "CustomSourceFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "custom_source"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/EqualsStringFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "DataWarehouseImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "data_warehouse_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "DoubleOptinFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "is_double_opt_in"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/BooleanFilter"
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EffectiveDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "effective_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "EqualsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ExistenceOperatorExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "description": "Operators for existence filters.",
            "type": "string",
            "enum": [
              "is-set",
              "not-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_reachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "ExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "explicitly_unreachable"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EffectiveDateFilter"
                },
                {
                  "$ref": "#/components/schemas/RecordedDateFilter"
                },
                {
                  "$ref": "#/components/schemas/MethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FormSubscribeFilter"
                }
              ]
            }
          }
        },
        "required": [
          "reachable_status",
          "filters"
        ]
      },
      "FailedAgeGateMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "failed_age_gate"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FlowActionEnum": {
        "type": "string",
        "enum": [
          "flow-action"
        ]
      },
      "FlowEnum": {
        "type": "string",
        "enum": [
          "flow"
        ]
      },
      "FlowResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "archived": {
                "type": "boolean",
                "nullable": true
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "trigger_type": {
                "description": "Corresponds to the object which triggered the flow.",
                "type": "string",
                "enum": [
                  "Added to List",
                  "Date Based",
                  "Low Inventory",
                  "Metric",
                  "Price Drop",
                  "Unconfigured"
                ],
                "nullable": true
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow-actions": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowActionEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "FormMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form ids",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "FormSubscribeFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "form"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of form IDs",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "GetSegmentRetrieveResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/SegmentEnum"
                  },
                  "attributes": {
                    "properties": {
                      "profile_count": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/SegmentRetrieveResponseObjectResource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GreaterThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "greater-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "HasEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingSubscribed"
              },
              {
                "$ref": "#/components/schemas/HasEmailMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/DoubleOptinFilter"
                },
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/CustomSourceFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageFilter"
                },
                {
                  "$ref": "#/components/schemas/APIMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BackInStockMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDateFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "HasPushMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "push"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasPushMarketing"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/HasSMSMarketingSubscribed"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "HasSMSMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CheckoutMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SubscribedSMSIsRcsCapableFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "ImplicitlyOrExplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyOrExplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_or_explicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyReachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_reachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "ImplicitlyUnreachable": {
        "type": "object",
        "properties": {
          "reachable_status": {
            "type": "string",
            "enum": [
              "implicitly_unreachable"
            ]
          }
        },
        "required": [
          "reachable_status"
        ]
      },
      "InStringArrayFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InboundMessageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "inbound_message"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "IntegerFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "InvalidEmailDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "invalid_email_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "IsSetExistenceFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "existence"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "is-set"
            ]
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "LessThanPositiveNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "less-than"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListContainsOperatorListContainsFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains filters.",
            "type": "string",
            "enum": [
              "contains",
              "not-contains"
            ]
          },
          "value": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListEnum": {
        "type": "string",
        "enum": [
          "list"
        ]
      },
      "ListLengthFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list length filters.",
            "type": "string",
            "enum": [
              "length-equals",
              "length-greater-than",
              "length-greater-than-or-equal",
              "length-less-than",
              "length-less-than-or-equal"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSetFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list contains set filters.",
            "type": "string",
            "enum": [
              "contains-all",
              "contains-any",
              "not-contains-all",
              "not-contains-any"
            ]
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ListSubstringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "operator": {
            "description": "Operators for list substring filters.",
            "type": "string",
            "enum": [
              "contains-substring",
              "not-contains-substring"
            ]
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "MailboxProviderMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "mailbox_provider"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualAddManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_add"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportManualMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific list of user email addresses who initiated the manual action",
            "$ref": "#/components/schemas/InStringArrayFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualImportMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_import"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualRemoveMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "manual_remove"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ManualSuppressionDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "manual_suppression_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/IsSetExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "MessageBlockedMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "message_blocked"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "MethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "subscribe_method"
            ]
          },
          "method": {
            "description": "Method for subscribing / unsubscribing.",
            "type": "string",
            "enum": [
              "api",
              "back_in_stock",
              "bigcommerce",
              "bulk_remove",
              "campaign_monitor",
              "carrier_deactivation",
              "checkout",
              "constant_contact",
              "exact_target",
              "facebook",
              "failed_age_gate",
              "inbound_message",
              "integration",
              "mad_mimi",
              "magento_two",
              "mailbox_provider",
              "manual_add",
              "manual_import",
              "manual_remove",
              "message_blocked",
              "netsuite",
              "preference_page",
              "provided_landline",
              "provided_no_age",
              "sftp",
              "shopify",
              "social_instagram_message",
              "spam_complaint",
              "square",
              "wix",
              "woocommerce"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "NoEmailMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoEmailMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoEmailMarketing"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingUnsubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingNeverSubscribed"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoEmailMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "subscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BounceDateFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                },
                {
                  "$ref": "#/components/schemas/InvalidEmailDateFilter"
                }
              ]
            }
          }
        },
        "required": [
          "subscription",
          "filters"
        ]
      },
      "NoEmailMarketingUnsubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          },
          "filters": {
            "nullable": true,
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StatusDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/APIMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/InboundMessageMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/PreferencePageMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualRemoveMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/SpamComplaintMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/MailboxProviderMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/OneClickUnsubscribeMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualImportMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/SftpMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/DataWarehouseImportMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ProfileModificationMethodFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ConstantContactIntegrationMethodFilter"
                    }
                  ]
                }
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BounceDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/ManualSuppressionDateFilter"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEmailDateFilter"
                    }
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoPushMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoPushMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "push"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "$ref": "#/components/schemas/NoPushMarketing"
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoSMSMarketing": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "any"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoSMSMarketingConsent": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "sms"
            ]
          },
          "can_receive_marketing": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "consent_status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoSMSMarketing"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingUnsubscribed"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingNeverSubscribed"
              }
            ]
          }
        },
        "required": [
          "channel",
          "can_receive_marketing",
          "consent_status"
        ]
      },
      "NoSMSMarketingNeverSubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "never_subscribed"
            ]
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NoSMSMarketingUnsubscribed": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "string",
            "enum": [
              "unsubscribed"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StatusDateFilter"
                },
                {
                  "$ref": "#/components/schemas/FormMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualImportManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualAddManualMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ManualRemoveMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/BulkRemoveMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CheckoutMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/InboundMessageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/PreferencePageMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/SftpMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/CarrierDeactivationMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ProvidedLandlineMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/MessageBlockedMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ProvidedNoAgeMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/FailedAgeGateMethodFilter"
                },
                {
                  "$ref": "#/components/schemas/ShopifyIntegrationMethodFilter"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "subscription"
        ]
      },
      "NumericOperatorNumericFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric filters.",
            "type": "string",
            "enum": [
              "equals",
              "greater-than",
              "greater-than-or-equal",
              "less-than",
              "less-than-or-equal",
              "not-equals"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "NumericRangeFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "description": "Operators for numeric range filters.",
            "type": "string",
            "enum": [
              "between"
            ]
          },
          "start": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          },
          "end": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "start",
          "end"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "OneClickUnsubscribeMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "one_click_unsubscribe"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "PreferencePageFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "preference_page"
            ]
          },
          "filter": {
            "description": "Optional filter on a specific subscribe page url",
            "$ref": "#/components/schemas/EqualsStringFilter",
            "nullable": true
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "PreferencePageMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "preference_page"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ProfileEnum": {
        "type": "string",
        "enum": [
          "profile"
        ]
      },
      "ProfileHasCustomObjectCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-has-custom-object"
            ]
          },
          "object_type_id": {
            "type": "string"
          },
          "object_type_relationship_id": {
            "type": "string"
          },
          "filter": {
            "$ref": "#/components/schemas/IntegerFilter"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileHasCustomObjectFilter"
            }
          }
        },
        "required": [
          "type",
          "object_type_id",
          "object_type_relationship_id",
          "filter",
          "filters"
        ]
      },
      "ProfileHasCustomObjectFilter": {
        "type": "object",
        "properties": {
          "property_id": {
            "type": "integer"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/NumericRangeFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "property_id",
          "filter"
        ]
      },
      "ProfileHasGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-group-membership"
            ]
          },
          "is_member": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeframe_filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfileMarketingConsentCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-marketing-consent"
            ]
          },
          "consent": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/HasEmailMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoEmailMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/HasSMSMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoSMSMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/HasPushMarketingConsent"
              },
              {
                "$ref": "#/components/schemas/NoPushMarketingConsent"
              }
            ]
          }
        },
        "required": [
          "type",
          "consent"
        ]
      },
      "ProfileMetricFunnelSteps": {
        "type": "object",
        "properties": {
          "metric_exists": {
            "type": "boolean"
          },
          "metric_id": {
            "type": "string"
          },
          "metric_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileMetricPropertyFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "metric_exists",
          "metric_id"
        ]
      },
      "ProfileMetricPropertyFilter": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string"
          },
          "filter": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              },
              {
                "$ref": "#/components/schemas/ListSetFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ListSubstringFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              }
            ]
          }
        },
        "required": [
          "property"
        ]
      },
      "ProfileModificationMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "profile_modification"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ProfileNoGroupMembershipCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-group-membership"
            ]
          },
          "is_member": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "group_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "type",
          "is_member",
          "group_ids"
        ]
      },
      "ProfilePermissionsCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-permissions"
            ]
          },
          "permission": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyOrExplicitlyReachable"
              },
              {
                "$ref": "#/components/schemas/ExplicitlyUnreachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyUnreachable"
              },
              {
                "$ref": "#/components/schemas/ImplicitlyOrExplicitlyUnreachable"
              }
            ]
          },
          "channel": {
            "description": "Possible channels for profile permissions criterion.",
            "type": "string",
            "enum": [
              "whatsapp_marketing",
              "whatsapp_transactional"
            ]
          }
        },
        "required": [
          "type",
          "permission",
          "channel"
        ]
      },
      "ProfilePostalCodeDistanceCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-postal-code-distance"
            ]
          },
          "country_code": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "unit": {
            "description": "Units for profile postal code distance conditions.",
            "type": "string",
            "enum": [
              "kilometers",
              "miles"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/GreaterThanPositiveNumericFilter"
              },
              {
                "$ref": "#/components/schemas/LessThanPositiveNumericFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "country_code",
          "postal_code",
          "unit",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityPriorityCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          },
          "dimension": {
            "description": "Possible dimension for channel affinity criterion.",
            "type": "string",
            "enum": [
              "channel_affinity"
            ]
          },
          "measurement": {
            "type": "string",
            "enum": [
              "priority"
            ]
          },
          "predicted_channel": {
            "description": "Possible channels in a channel affinity definition.",
            "type": "string",
            "enum": [
              "email",
              "push",
              "sms",
              "whatsapp"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityPriorityFilter"
          }
        },
        "required": [
          "type",
          "dimension",
          "measurement",
          "predicted_channel",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityPriorityFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "numeric"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals"
            ]
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityRankCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          },
          "dimension": {
            "description": "Possible dimension for channel affinity criterion.",
            "type": "string",
            "enum": [
              "channel_affinity"
            ]
          },
          "measurement": {
            "type": "string",
            "enum": [
              "rank"
            ]
          },
          "predicted_channel": {
            "description": "Possible channels in a channel affinity definition.",
            "type": "string",
            "enum": [
              "email",
              "push",
              "sms",
              "whatsapp"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsChannelAffinityRankFilter"
          }
        },
        "required": [
          "type",
          "dimension",
          "measurement",
          "predicted_channel",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsChannelAffinityRankFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "oneOf": [
              {
                "enum": [
                  "equals"
                ],
                "type": "string"
              },
              {
                "enum": [
                  "not-equals"
                ],
                "type": "string"
              }
            ]
          },
          "value": {
            "description": "Possible rank values in a channel affinity definition.",
            "type": "string",
            "enum": [
              "high",
              "low",
              "medium"
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ProfilePredictiveAnalyticsDateCondition": {
        "type": "object",
        "properties": {
          "dimension": {
            "description": "Dimension for date profile predictive analytics conditions.",
            "type": "string",
            "enum": [
              "expected_date_of_next_purchase"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          }
        },
        "required": [
          "dimension",
          "filter",
          "type"
        ]
      },
      "ProfilePredictiveAnalyticsNumericCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          },
          "dimension": {
            "description": "Dimensions for numeric profile predictive analytics conditions.",
            "type": "string",
            "enum": [
              "average_days_between_orders",
              "average_order_value",
              "churn_probability",
              "historic_clv",
              "historic_number_of_orders",
              "predicted_clv",
              "predicted_number_of_orders",
              "total_clv"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/NumericOperatorNumericFilter"
          }
        },
        "required": [
          "type",
          "dimension",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsStringCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-predictive-analytics"
            ]
          },
          "dimension": {
            "description": "Dimension for string profile predictive analytics conditions.",
            "type": "string",
            "enum": [
              "predicted_gender"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/ProfilePredictiveAnalyticsStringFilter"
          }
        },
        "required": [
          "type",
          "dimension",
          "filter"
        ]
      },
      "ProfilePredictiveAnalyticsStringFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "oneOf": [
              {
                "enum": [
                  "equals"
                ],
                "type": "string"
              },
              {
                "enum": [
                  "not-equals"
                ],
                "type": "string"
              }
            ]
          },
          "value": {
            "description": "Values for profile predictive analytics gender conditions.",
            "type": "string",
            "enum": [
              "likely_female",
              "likely_male",
              "uncertain"
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "value"
        ]
      },
      "ProfilePropertyCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-property"
            ]
          },
          "property": {
            "type": "string"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StringOperatorStringFilter"
              },
              {
                "$ref": "#/components/schemas/StringArrayOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/StringPhoneOperatorStringArrayFilter"
              },
              {
                "$ref": "#/components/schemas/NumericOperatorNumericFilter"
              },
              {
                "$ref": "#/components/schemas/BooleanFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/ListContainsOperatorListContainsFilter"
              },
              {
                "$ref": "#/components/schemas/ListLengthFilter"
              },
              {
                "$ref": "#/components/schemas/ExistenceOperatorExistenceFilter"
              }
            ]
          }
        },
        "required": [
          "type",
          "property",
          "filter"
        ]
      },
      "ProfileRegionCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-region"
            ]
          },
          "in_region": {
            "type": "boolean"
          },
          "region": {
            "description": "Regions for profile region conditions.",
            "type": "string",
            "enum": [
              "european_union",
              "united_states"
            ]
          }
        },
        "required": [
          "type",
          "in_region",
          "region"
        ]
      },
      "ProvidedLandlineMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "provided_landline"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ProvidedNoAgeMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "provided_no_age"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "RecordedDateFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "recorded_date"
            ]
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/CalendarDateFilter"
              },
              {
                "$ref": "#/components/schemas/AnniversaryDateFilter"
              }
            ]
          }
        },
        "required": [
          "field",
          "filter"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "RelativeAnniversaryDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for relative date filters.\n\ne.g. \"anniversary in the last 10 days\"",
            "type": "string",
            "enum": [
              "anniversary-last",
              "anniversary-next"
            ]
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          },
          "quantity": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "unit",
          "quantity"
        ]
      },
      "RelativeDateOperatorBaseRelativeDateFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for relative date filters.\n\ne.g. \"in the last 10 days\"",
            "type": "string",
            "enum": [
              "at-least",
              "in-the-last",
              "in-the-next"
            ]
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          },
          "quantity": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "operator",
          "unit",
          "quantity"
        ]
      },
      "RelativeDateRangeFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date"
            ]
          },
          "operator": {
            "description": "Operators for relative date range filters.\n\ne.g. \"between 10 and 20 days ago\"",
            "type": "string",
            "enum": [
              "between"
            ]
          },
          "start": {
            "type": "integer"
          },
          "end": {
            "type": "integer"
          },
          "unit": {
            "description": "Units for relative date filters.",
            "type": "string",
            "enum": [
              "day",
              "hour",
              "week"
            ]
          }
        },
        "required": [
          "type",
          "operator",
          "start",
          "end",
          "unit"
        ]
      },
      "SegmentDefinition": {
        "type": "object",
        "properties": {
          "condition_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConditionGroup"
            }
          }
        },
        "required": [
          "condition_groups"
        ]
      },
      "SegmentEnum": {
        "type": "string",
        "enum": [
          "segment"
        ]
      },
      "SegmentRetrieveResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SegmentEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "A helpful name to label the segment",
                "type": "string",
                "example": "Repeat Purchasers",
                "nullable": true
              },
              "definition": {
                "$ref": "#/components/schemas/SegmentDefinition",
                "nullable": true
              },
              "created": {
                "description": "Date and time when the segment was created, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "Date and time when the segment was last updated, in ISO 8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm)",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "is_active": {
                "description": "Whether the segment is active. Inactive segments are not processed and their membership does not update.",
                "type": "boolean"
              },
              "is_processing": {
                "type": "boolean"
              },
              "is_starred": {
                "type": "boolean"
              }
            },
            "required": [
              "is_active",
              "is_processing",
              "is_starred"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-triggers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/FlowEnum"
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "SegmentsProfileMetricCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-metric"
            ]
          },
          "metric_id": {
            "type": "string"
          },
          "measurement": {
            "description": "Measurements for profile metrics.",
            "type": "string",
            "enum": [
              "count",
              "sum"
            ]
          },
          "measurement_filter": {
            "$ref": "#/components/schemas/NumericOperatorNumericFilter"
          },
          "timeframe_filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateFilter"
              },
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeAnniversaryDateFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/AlltimeDateFilter"
              }
            ]
          },
          "metric_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileMetricPropertyFilter"
            },
            "nullable": true
          }
        },
        "required": [
          "type",
          "metric_id",
          "measurement",
          "measurement_filter",
          "timeframe_filter"
        ]
      },
      "SegmentsProfileMetricFunnelCondition": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "profile-metric-funnel"
            ]
          },
          "timeframe_filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateRangeFilter"
              },
              {
                "$ref": "#/components/schemas/RelativeDateOperatorBaseRelativeDateFilter"
              }
            ]
          },
          "completion_window_seconds": {
            "description": "Allowed completion window durations for funnel conditions (in\n    seconds).",
            "type": "string",
            "enum": [
              "DAYS_1",
              "DAYS_180",
              "DAYS_3",
              "DAYS_30",
              "DAYS_5",
              "DAYS_90",
              "HOURS_1",
              "WEEKS_1",
              "YEARS_1"
            ],
            "nullable": true
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProfileMetricFunnelSteps"
            }
          }
        },
        "required": [
          "type",
          "timeframe_filter",
          "steps"
        ]
      },
      "SftpMethodFilter": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "method"
            ]
          },
          "method": {
            "type": "string",
            "enum": [
              "sftp"
            ]
          }
        },
        "required": [
          "field",
          "method"
        ]
      },
      "ShopifyIntegrationFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "string"
            ]
          },
          "operator": {
            "type": "string",
            "enum": [
              "in"
            ]
          },
          "value": {
            "type": "array",
[...]
