{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/campaign-message-clone": {
      "post": {
        "operationId": "clone_campaign_message_beta",
        "summary": "Clone Campaign Message",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nClone an existing campaign message to a target audience.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCloneQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "create_campaign_message_clone"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "CampaignAudienceEnum": {
        "type": "string",
        "enum": [
          "campaign-audience"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "CampaignVariationEnum": {
        "type": "string",
        "enum": [
          "campaign-variation"
        ]
      },
      "MessageCloneQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MessageCloneQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "MessageCloneQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignMessageEnum"
          },
          "id": {
            "description": "The ID of the message",
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "id": {
                "description": "The ID of the message",
                "type": "string"
              },
              "name": {
                "description": "The name of the message",
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign-audience": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignAudienceEnum"
                      },
                      "id": {
                        "description": "The audience this message targets",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            },
            "required": [
              "campaign-audience"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "relationships"
        ]
      },
      "MessageDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the message",
            "type": "string",
            "nullable": true
          },
          "status": {
            "description": "The status of the message",
            "type": "string",
            "enum": [
              "cancelled",
              "draft",
              "scheduled",
              "sending",
              "sent"
            ],
            "nullable": true
          },
          "tracking_options": {
            "description": "The tracking options for this message",
            "$ref": "#/components/schemas/MessageTrackingOptions",
            "nullable": true
          },
          "send_options": {
            "description": "The send options for this message",
            "$ref": "#/components/schemas/MessageSendOptions",
            "nullable": true
          }
        }
      },
      "MessageSendOptions": {
        "type": "object",
        "properties": {
          "send_time": {
            "description": "The UTC send time for this message",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "send_times": {
            "description": "Per-variation send times, keyed by variation ID. Populated for send-time optimization and AB send time test strategies.",
            "type": "object",
            "nullable": true
          },
          "send_strategy": {
            "description": "The scheduling strategy for this message.",
            "type": "string",
            "enum": [
              "ab_send_time_test",
              "content_variation",
              "content_variation_local_timezone",
              "local_timezone",
              "personalized_send_time_optimization",
              "send_time_optimization",
              "static",
              "throttled",
              "variation_per_second_throttled"
            ],
            "nullable": true
          },
          "recipient_percentage": {
            "description": "The percentage of recipients to send this message to",
            "type": "integer",
            "nullable": true
          },
          "throttling_type": {
            "description": "The throttling type for this message",
            "type": "string",
            "enum": [
              "none",
              "throttle-for-campaigns",
              "throttle-for-campaigns-and-flows",
              "throttle-for-flows"
            ],
            "nullable": true
          },
          "is_ignoring_unsubscribes": {
            "description": "Whether to ignore unsubscribes for this message",
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "MessageTrackingOptions": {
        "type": "object",
        "properties": {
          "is_add_utm": {
            "type": "boolean",
            "nullable": true
          },
          "is_tracking_clicks": {
            "type": "boolean",
            "nullable": true
          },
          "is_tracking_opens": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PostMessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignMessageEnum"
              },
              "id": {
                "description": "The ID of the message",
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "created": {
                    "description": "The datetime when this message was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "updated": {
                    "description": "The datetime when this message was updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "definition": {
                    "description": "The definition of this message",
                    "$ref": "#/components/schemas/MessageDefinition"
                  }
                },
                "required": [
                  "created",
                  "updated",
                  "definition"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignEnum"
                          },
                          "id": {
                            "description": "The parent campaign",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "campaign-audience": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignAudienceEnum"
                          },
                          "id": {
                            "description": "The audience this message targets",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "campaign-variations": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignVariationEnum"
                            },
                            "id": {
                              "description": "The content variations for this message",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
