{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/campaign-clone": {
      "post": {
        "operationId": "clone_campaign_beta",
        "summary": "Clone Campaign",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nClones an existing campaign, returning a new campaign based on the original with a new ID and name.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Clone a campaign by id.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCloneQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "create_campaign_clone"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "CampaignAudienceEnum": {
        "type": "string",
        "enum": [
          "campaign-audience"
        ]
      },
      "CampaignCloneQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CampaignCloneQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignCloneQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignEnum"
          },
          "id": {
            "description": "The campaign ID to be cloned",
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name for the cloned campaign. Defaults to 'Copy of {source name}'.",
                "type": "string",
                "nullable": true
              }
            }
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "CampaignDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The campaign name",
            "type": "string",
            "nullable": true
          },
          "builder": {
            "description": "Builder type: canvas or wizard",
            "type": "string",
            "example": "canvas",
            "nullable": true
          },
          "archived": {
            "description": "Whether the campaign has been archived",
            "type": "boolean",
            "nullable": true
          },
          "color": {
            "description": "Campaign display color as a hex string (e.g. 'ff5733')",
            "type": "string",
            "nullable": true
          },
          "description": {
            "description": "A short description of the campaign",
            "type": "string",
            "nullable": true
          },
          "send_settings": {
            "description": "Campaign-level send configuration",
            "$ref": "#/components/schemas/SendSettings",
            "nullable": true
          }
        }
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PostCampaignResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignEnum"
              },
              "id": {
                "description": "The campaign ID",
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "created_at": {
                    "description": "The datetime when the campaign was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated_at": {
                    "description": "The datetime when the campaign was last updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "definition": {
                    "description": "The campaign definition",
                    "$ref": "#/components/schemas/CampaignDefinition"
                  }
                },
                "required": [
                  "definition"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-audiences": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignAudienceEnum"
                            },
                            "id": {
                              "description": "The audiences associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "campaign-messages": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignMessageEnum"
                            },
                            "id": {
                              "description": "The messages associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/TagEnum"
                            },
                            "id": {
                              "description": "The tags associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "SendSettings": {
        "type": "object",
        "properties": {
          "send_timezone": {
            "description": "Timezone for send scheduling (IANA format)",
            "type": "string",
            "nullable": true
          },
          "send_strategy": {
            "description": "Send strategy type",
            "type": "string",
            "nullable": true
          },
          "send_passed_rltz_immediately": {
            "description": "Send to past-timezone recipients immediately",
            "type": "boolean",
            "nullable": true
          },
          "exit_condition_enabled": {
            "description": "Whether exit conditions are enabled for this campaign",
            "type": "boolean",
            "nullable": true
          },
          "exit_condition_conversion_metric_id": {
            "description": "The conversion metric ID used for exit conditions",
            "type": "string",
            "nullable": true
          }
        }
      },
      "TagEnum": {
        "type": "string",
        "enum": [
          "tag"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
