{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/campaigns": {
      "post": {
        "operationId": "create_campaign_beta",
        "summary": "Create Campaign",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nCreate a campaign with inline audiences, messages, and variations.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create an omnicampaign with inline audiences, messages, and variations.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AudienceInlineCreate": {
        "type": "object",
        "properties": {
          "temporary_id": {
            "description": "Client-supplied temporary ID. Messages reference this value via audience_temporary_id to establish the audience-message relationship.",
            "type": "string",
            "example": "aud_01HTXYZ"
          },
          "name": {
            "description": "The name of the audience",
            "type": "string",
            "example": "My Audience",
            "nullable": true
          },
          "included": {
            "description": "The list of included group IDs",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "abc123"
            ],
            "nullable": true
          },
          "excluded": {
            "description": "The list of excluded group IDs",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "abc123"
            ],
            "nullable": true
          }
        },
        "required": [
          "temporary_id"
        ]
      },
      "CampaignAudienceEnum": {
        "type": "string",
        "enum": [
          "campaign-audience"
        ]
      },
      "CampaignCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CampaignCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "definition": {
                "description": "The campaign definition containing audiences and optional messages",
                "$ref": "#/components/schemas/CampaignDefinition"
              },
              "messages": {
                "description": "Messages to create on this campaign. Each references an audience via audience_temporary_id.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageInlineCreate"
                },
                "nullable": true
              },
              "audiences": {
                "description": "Audiences to create on this campaign. Each references a message via audience_temporary_id.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AudienceInlineCreate"
                },
                "nullable": true
              }
            },
            "required": [
              "definition"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign-audiences": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/CampaignAudienceEnum"
                        },
                        "id": {
                          "description": "The audiences associated with the campaign",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "campaign-messages": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/CampaignMessageEnum"
                        },
                        "id": {
                          "description": "The messages associated with the campaign",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "tags": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/TagEnum"
                        },
                        "id": {
                          "description": "The tags associated with the campaign",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "CampaignDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The campaign name",
            "type": "string",
            "nullable": true
          },
          "builder": {
            "description": "Builder type: canvas or wizard",
            "type": "string",
            "example": "canvas",
            "nullable": true
          },
          "archived": {
            "description": "Whether the campaign has been archived",
            "type": "boolean",
            "nullable": true
          },
          "color": {
            "description": "Campaign display color as a hex string (e.g. 'ff5733')",
            "type": "string",
            "nullable": true
          },
          "description": {
            "description": "A short description of the campaign",
            "type": "string",
            "nullable": true
          },
          "send_settings": {
            "description": "Campaign-level send configuration",
            "$ref": "#/components/schemas/SendSettings",
            "nullable": true
          }
        }
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "EmailChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "email",
            "default": "email",
            "enum": [
              "email"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "from_label": {
            "type": "string",
            "default": ""
          },
          "from_email": {
            "type": "string",
            "default": ""
          },
          "reply_to_email": {
            "type": "string",
            "default": ""
          },
          "cc_email": {
            "type": "string",
            "default": ""
          },
          "bcc_email": {
            "type": "string",
            "default": ""
          },
          "subject": {
            "type": "string",
            "default": ""
          },
          "preview_text": {
            "type": "string",
            "default": ""
          }
        }
      },
      "MessageInlineCreate": {
        "type": "object",
        "properties": {
          "audience_temporary_id": {
            "description": "Must match a temporary_id in the definition.audiences array.",
            "type": "string"
          },
          "name": {
            "description": "Message display name",
            "type": "string",
            "nullable": true
          },
          "is_add_utm": {
            "description": "Whether to add UTM parameters to links in this message",
            "type": "boolean",
            "nullable": true
          },
          "throttling_type": {
            "description": "Smart sending throttling configuration for this message",
            "type": "string",
            "enum": [
              "FOR_CAMPAIGNS",
              "FOR_CAMPAIGNS_AND_FLOWS",
              "FOR_FLOWS",
              "NONE"
            ],
            "nullable": true
          },
          "variations": {
            "description": "Inline variations for this message. Default variation created if omitted.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariationInlineCreate"
            },
            "nullable": true
          }
        },
        "required": [
          "audience_temporary_id"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PostCampaignResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignEnum"
              },
              "id": {
                "description": "The campaign ID",
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "created_at": {
                    "description": "The datetime when the campaign was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated_at": {
                    "description": "The datetime when the campaign was last updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "definition": {
                    "description": "The campaign definition",
                    "$ref": "#/components/schemas/CampaignDefinition"
                  }
                },
                "required": [
                  "definition"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-audiences": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignAudienceEnum"
                            },
                            "id": {
                              "description": "The audiences associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "campaign-messages": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/CampaignMessageEnum"
                            },
                            "id": {
                              "description": "The messages associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "id"
                          ],
                          "properties": {
                            "type": {
                              "$ref": "#/components/schemas/TagEnum"
                            },
                            "id": {
                              "description": "The tags associated with the campaign",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PushActionButton": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "action_type": {
            "description": "The action type for a push notification action button.",
            "type": "string",
            "enum": [
              "deep_link",
              "dismiss",
              "open_app",
              "open_url"
            ]
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "custom_action_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "label",
          "action_type"
        ]
      },
      "PushChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "push",
            "default": "push",
            "enum": [
              "push"
            ]
          },
          "title": {
            "type": "string",
            "default": ""
          },
          "body": {
            "type": "string",
            "default": ""
          },
          "badge": {
            "type": "boolean",
            "default": false
          },
          "badge_config": {
            "description": "A push message variation's badge config.",
            "type": "string",
            "example": "increment-one",
            "default": "increment-one",
            "enum": [
              "increment-one",
              "set-count",
              "set-property"
            ]
          },
          "badge_value": {
            "type": "string",
            "example": "1",
            "default": "1"
          },
          "sound_file_name": {
            "type": "string",
            "default": ""
          },
          "static_asset_id": {
            "type": "integer",
            "nullable": true
          },
          "sound": {
            "type": "boolean",
            "default": false
          },
          "open_action": {
            "type": "integer",
            "default": 0
          },
          "dynamic_media_template": {
            "type": "string",
            "default": ""
          },
          "kv_pairs": {
            "type": "object",
            "nullable": true
          },
          "push_type": {
            "description": "A push message variation's push type.",
            "type": "string",
            "example": "standard",
            "default": "standard",
            "enum": [
              "silent",
              "standard"
            ]
          },
          "ios_deep_link": {
            "type": "string",
            "nullable": true
          },
          "android_deep_link": {
            "type": "string",
            "nullable": true
          },
          "content_available": {
            "type": "boolean",
            "nullable": true
          },
          "mutable_content": {
            "type": "boolean",
            "nullable": true
          },
          "video_asset_id": {
            "type": "string",
            "nullable": true
          },
          "action_buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushActionButton"
            },
            "nullable": true
          }
        }
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "SMSChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "sms",
            "default": "sms",
            "enum": [
              "sms"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "cost": {
            "description": "Not allowed on create.",
            "type": "number",
            "nullable": true
          },
          "mms_static_image_asset_id": {
            "type": "integer",
            "nullable": true
          },
          "shorten_links": {
            "type": "boolean",
            "nullable": true
          },
          "include_contact_card": {
            "type": "boolean",
            "nullable": true
          },
          "body": {
            "type": "string",
            "default": ""
          },
          "add_org_prefix": {
            "type": "boolean",
            "nullable": true
          },
          "add_info_link": {
            "type": "boolean",
            "nullable": true
          },
          "add_opt_out_language": {
            "type": "boolean",
            "nullable": true
          },
          "mms_dynamic_image_template": {
            "type": "string",
            "nullable": true
          },
          "text_message_type": {
            "description": "A sms message variation's text message type.\n\nValues match the Django OmniSMSTextMessageType (MESSAGE_FORMAT_*)\n    constants.",
            "type": "string",
            "example": "SMS",
            "default": "SMS",
            "enum": [
              "MMS",
              "RCS",
              "SMS"
            ]
          },
          "message_hierarchy": {
            "nullable": true
          }
        }
      },
      "SendSettings": {
        "type": "object",
        "properties": {
          "send_timezone": {
            "description": "Timezone for send scheduling (IANA format)",
            "type": "string",
            "nullable": true
          },
          "send_strategy": {
            "description": "Send strategy type",
            "type": "string",
            "nullable": true
          },
          "send_passed_rltz_immediately": {
            "description": "Send to past-timezone recipients immediately",
            "type": "boolean",
            "nullable": true
          },
          "exit_condition_enabled": {
            "description": "Whether exit conditions are enabled for this campaign",
            "type": "boolean",
            "nullable": true
          },
          "exit_condition_conversion_metric_id": {
            "description": "The conversion metric ID used for exit conditions",
            "type": "string",
            "nullable": true
          }
        }
      },
      "TagEnum": {
        "type": "string",
        "enum": [
          "tag"
        ]
      },
      "VariationDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the variation",
            "type": "string",
            "nullable": true
          },
          "details": {
            "description": "The channel-specific content details for this variation",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmailChannelDetails"
              },
              {
                "$ref": "#/components/schemas/SMSChannelDetails"
              },
              {
                "$ref": "#/components/schemas/PushChannelDetails"
              },
              {
                "$ref": "#/components/schemas/WhatsappChannelDetails"
              }
            ]
          }
        }
      },
      "VariationInlineCreate": {
        "type": "object",
        "properties": {
          "definition": {
            "description": "The definition of this variation",
            "$ref": "#/components/schemas/VariationDefinition"
          }
        },
        "required": [
          "definition"
        ]
      },
      "WhatsappChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "whatsapp",
            "default": "whatsapp",
            "enum": [
              "whatsapp"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "shorten_links": {
            "type": "boolean",
            "example": true,
            "default": true
          }
        }
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
