{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/customer-agent-responses": {
      "post": {
        "operationId": "create_customer_agent_response_beta",
        "summary": "Generate Customer Agent Response",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nSends one user message into Customer Agent and returns every public\nevent Customer Agent emits in response.\n\nEach call is one turn: the caller supplies the conversation\nhistory with the new user message as the last entry, and\nCustomer Agent runs one routing and response cycle against it.\nThe response is non-streaming; the caller receives the entire\nevent list at once and renders it in order. Continue an existing\nconversation by passing the optional ``conversation``\nrelationship; omit it to start a new one.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_customer_agent_response_beta.json)",
        "parameters": [
          {
            "name": "fields[customer-agent-response]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "conversation_id",
                  "events",
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "JSON:API request for running Customer Agent for one conversation\nturn.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAgentResponseCreateRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAgentResponseCreateResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AgentEnum": {
        "type": "string",
        "enum": [
          "agent"
        ]
      },
      "CustomerAgentConversationResourceName": {
        "type": "string",
        "enum": [
          "customer-agent-conversation"
        ]
      },
      "CustomerAgentResponseCreateRequestRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "description": "Whether the response is for testing or a real shopper interaction. `preview` responses are not billed and are excluded from production conversations and metrics. `live` responses count toward billing, Customer Agent conversations, and production metrics.",
            "type": "string",
            "enum": [
              "preview",
              "live"
            ]
          },
          "channel": {
            "description": "Channel whose response conventions the agent should use, such as SMS terseness, email greetings and sign-offs, or web-chat formatting. This does not route or send the response through that channel; the caller delivers the output. Optional; defaults to `web-chat`.",
            "type": "string",
            "example": "web-chat",
            "default": "web-chat",
            "enum": [
              "web-chat",
              "sms",
              "email",
              "whatsapp"
            ]
          },
          "messages": {
            "description": "Conversation history for this turn. The final message must have `role: user`.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageRequest"
            }
          },
          "customer": {
            "description": "Optional public customer identity for this conversation.",
            "$ref": "#/components/schemas/CustomerRequest",
            "nullable": true
          }
        },
        "required": [
          "mode",
          "messages"
        ]
      },
      "CustomerAgentResponseCreateRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentResponseResourceName"
          },
          "attributes": {
            "$ref": "#/components/schemas/CustomerAgentResponseCreateRequestRequest"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "conversation": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CustomerAgentConversationResourceName"
                      },
                      "id": {
                        "description": "Conversation to continue. Omit to start a new conversation; the server generates and returns a UUID.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "CustomerAgentResponseCreateRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerAgentResponseCreateRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerAgentResponseCreateResponse": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "description": "Conversation id continued or created by this turn.",
            "type": "string"
          },
          "events": {
            "description": "Ordered public events emitted by Customer Agent for this turn.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CustomerAgentResponseMessageEvent"
                },
                {
                  "$ref": "#/components/schemas/CustomerAgentResponseHandoffEvent"
                },
                {
                  "$ref": "#/components/schemas/CustomerAgentResponseRequireAuthenticationEvent"
                },
                {
                  "$ref": "#/components/schemas/CustomerAgentResponseErrorEvent"
                }
              ]
            }
          }
        },
        "required": [
          "conversation_id",
          "events"
        ]
      },
      "CustomerAgentResponseCreateResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentResponseResourceName"
          },
          "id": {
            "description": "Customer Agent response id. This is the same value as `conversation_id`.",
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/CustomerAgentResponseCreateResponse"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "conversation": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CustomerAgentConversationResourceName"
                      },
                      "id": {
                        "description": "Conversation continued or created by this turn.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            },
            "required": [
              "conversation"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "relationships",
          "links"
        ]
      },
      "CustomerAgentResponseCreateResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerAgentResponseCreateResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerAgentResponseErrorEvent": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ErrorEnum"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "code",
          "message"
        ]
      },
      "CustomerAgentResponseHandoffEvent": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/HandoffEnum"
          },
          "mode": {
            "$ref": "#/components/schemas/CustomerAgentResponseHandoffMode"
          },
          "category": {
            "description": "Public handoff category.",
            "type": "string",
            "enum": [
              "explicit-ask",
              "escalation-rule",
              "unintelligible-input",
              "bad-billing-state"
            ],
            "nullable": true
          }
        },
        "required": [
          "type",
          "mode"
        ]
      },
      "CustomerAgentResponseHandoffMode": {
        "description": "Public handoff mode.",
        "type": "string",
        "enum": [
          "hard",
          "soft",
          "silent"
        ]
      },
      "CustomerAgentResponseMessageEvent": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/MessageEnum"
          },
          "role": {
            "$ref": "#/components/schemas/AgentEnum"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "role",
          "content"
        ]
      },
      "CustomerAgentResponseRequireAuthenticationEvent": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/RequireAuthenticationEnum"
          }
        },
        "required": [
          "type"
        ]
      },
      "CustomerAgentResponseResourceName": {
        "type": "string",
        "enum": [
          "customer-agent-response"
        ]
      },
      "CustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "profile_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorEnum": {
        "type": "string",
        "enum": [
          "error"
        ]
      },
      "HandoffEnum": {
        "type": "string",
        "enum": [
          "handoff"
        ]
      },
      "MessageEnum": {
        "type": "string",
        "enum": [
          "message"
        ]
      },
      "MessageRequest": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Message text.",
            "type": "string"
          },
          "role": {
            "description": "Author of a message in a Customer Agent conversation.",
            "type": "string",
            "enum": [
              "user",
              "agent"
            ]
          }
        },
        "required": [
          "content",
          "role"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "RequireAuthenticationEnum": {
        "type": "string",
        "enum": [
          "require-authentication"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
