{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/ksql-ask": {
      "post": {
        "operationId": "create_ksql_ask_beta",
        "summary": "Create Ksql Ask",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nAsk K-SQL a natural-language question and get back an answer.\n\nNo public ``deadline_sec`` -- this layer owns the run budget\n(see ``KsqlPublicApiSettings.ask_deadline_sec``) rather than\nletting a caller hold a run open past this service's own\nceiling.<br><br>*Rate limits*:<br>Burst: `1/s`<br>Steady: `15/m`\n\n**Scopes:**\n`events:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_ksql_ask_beta.json)",
        "parameters": [
          {
            "name": "fields[ksql-ask]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "answer",
                  "id",
                  "result_sets",
                  "status",
                  "warnings"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "A natural-language question to ask k-sql.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/KsqlAskRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/KsqlAskResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "1/s",
          "steady": "15/m"
        },
        "x-klaviyo-scopes": [
          "events:read"
        ],
        "x-klaviyo-subtag": "Ksqls"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "KsqlAskRequestRequest": {
        "type": "object",
        "properties": {
          "question": {
            "description": "The natural-language question to ask. 1-2000 characters.",
            "type": "string",
            "example": "How many orders were placed last week?"
          },
          "max_rows": {
            "description": "Cap on rows per result set. 1-1000.",
            "type": "integer",
            "example": 100,
            "default": 100
          }
        },
        "required": [
          "question"
        ]
      },
      "KsqlAskRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/KsqlAskResourceName"
          },
          "attributes": {
            "$ref": "#/components/schemas/KsqlAskRequestRequest"
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "KsqlAskRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/KsqlAskRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "KsqlAskResourceName": {
        "type": "string",
        "enum": [
          "ksql-ask"
        ]
      },
      "KsqlAskResponse": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Whether this ask was answered or needs more input.",
            "type": "string",
            "enum": [
              "success",
              "clarification"
            ]
          },
          "answer": {
            "description": "Plain-language answer when `status` is `success`, or the clarifying question back to the caller when `status` is `clarification`.",
            "type": "string"
          },
          "result_sets": {
            "description": "The executed queries' typed result sets supporting `answer`. Always empty when `status` is `clarification`; may also be empty on `success` when the answer required no query execution.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KsqlResultSet"
            },
            "default": []
          },
          "warnings": {
            "description": "Caveats that change how `answer` and `result_sets` should be read -- a sampled result set, row data elided by a cap, a table withheld from this ask. Several conditions are reported nowhere else, so surface these alongside the answer rather than discarding them.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Showing the first 100 of 4,182 matching orders."
            ],
            "default": []
          }
        },
        "required": [
          "status",
          "answer"
        ]
      },
      "KsqlAskResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/KsqlAskResourceName"
          },
          "id": {
            "description": "Identifier for this ask, for joining logs across services.",
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/KsqlAskResponse"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "KsqlAskResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/KsqlAskResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "KsqlColumnSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/KsqlDataTypeKind"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "KsqlDataTypeKind": {
        "description": "The kind of a k-sql result column's type.",
        "type": "string",
        "enum": [
          "boolean",
          "long",
          "double",
          "string",
          "timestamptz",
          "unknown"
        ]
      },
      "KsqlResultSet": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KsqlColumnSchema"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "integer"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  }
                ],
                "nullable": true
              }
            }
          },
          "row_count": {
            "type": "integer"
          },
          "rows_returned": {
            "type": "integer"
          },
          "completeness": {
            "description": "Whether the QUERY's result was complete -- it says nothing about this payload. `sample` means the query's row count equalled its own `LIMIT`, so the underlying result may be larger; `truncated` means it hit K-SQL's own result cap. Compare `rows_returned` to `row_count` for payload elision, which is separate: `complete` with `rows_returned` below `row_count` is a full query result only partially included here.",
            "type": "string",
            "example": "complete",
            "enum": [
              "complete",
              "sample",
              "truncated"
            ]
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "columns",
          "rows",
          "row_count",
          "rows_returned",
          "completeness"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
