{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/template-universal-content": {
      "get": {
        "operationId": "get_all_universal_content_beta",
        "summary": "Get All Universal Content",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all universal content in an account.<br><br>*Rate limits*:<br>Burst: `75/s`<br>Steady: `750/m`\n\n**Scopes:**\n`templates:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_all_universal_content_beta.json)",
        "parameters": [
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.layout_config",
                  "definition.data.display_options.layout_type",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visibility",
                  "definition.data.display_options.visibility.check",
                  "definition.data.display_options.visibility.definition",
                  "definition.data.display_options.visibility.is_code_only",
                  "definition.data.properties",
                  "definition.data.properties.alt_text",
                  "definition.data.properties.asset_id",
                  "definition.data.properties.author",
                  "definition.data.properties.author_placeholder",
                  "definition.data.properties.button_text",
                  "definition.data.properties.coupon",
                  "definition.data.properties.coupon_id",
                  "definition.data.properties.cropping_properties",
                  "definition.data.properties.cropping_properties.aspect_ratio",
                  "definition.data.properties.cropping_properties.asset_id",
                  "definition.data.properties.cropping_properties.height",
                  "definition.data.properties.cropping_properties.src",
                  "definition.data.properties.cropping_properties.width",
                  "definition.data.properties.cropping_properties.x",
                  "definition.data.properties.cropping_properties.y",
                  "definition.data.properties.dynamic",
                  "definition.data.properties.fallback_content_type",
                  "definition.data.properties.fallback_options",
                  "definition.data.properties.fallback_review_id",
                  "definition.data.properties.feed",
                  "definition.data.properties.feed_offset",
                  "definition.data.properties.header_enabled",
                  "definition.data.properties.href",
                  "definition.data.properties.is_ai_generated",
                  "definition.data.properties.is_nbp",
                  "definition.data.properties.is_prebuilt_content",
                  "definition.data.properties.item_subtype_id",
                  "definition.data.properties.language",
                  "definition.data.properties.localize_for_recipient",
                  "definition.data.properties.num_columns",
                  "definition.data.properties.overlay_toggle",
                  "definition.data.properties.product_event_variable",
                  "definition.data.properties.product_id",
                  "definition.data.properties.product_name",
                  "definition.data.properties.product_name_placeholder",
                  "definition.data.properties.product_selection_mode",
                  "definition.data.properties.product_variant_name",
                  "definition.data.properties.product_variant_name_placeholder",
                  "definition.data.properties.quote",
                  "definition.data.properties.quote_placeholder",
                  "definition.data.properties.raw_asset_id",
                  "definition.data.properties.raw_src",
                  "definition.data.properties.region",
                  "definition.data.properties.row_content_repeat",
                  "definition.data.properties.row_content_repeat.item_alias",
                  "definition.data.properties.row_content_repeat.repeat_for",
                  "definition.data.properties.show_button",
                  "definition.data.properties.show_description",
                  "definition.data.properties.show_fallback_content",
                  "definition.data.properties.show_headers",
                  "definition.data.properties.show_labels",
                  "definition.data.properties.show_original_price",
                  "definition.data.properties.show_price",
                  "definition.data.properties.show_product_name",
                  "definition.data.properties.show_rating",
                  "definition.data.properties.show_rating_count",
                  "definition.data.properties.show_reviewer_name",
                  "definition.data.properties.show_static_row",
                  "definition.data.properties.show_title",
                  "definition.data.properties.show_title_links",
                  "definition.data.properties.show_variant_name",
                  "definition.data.properties.show_verified_badge",
                  "definition.data.properties.src",
                  "definition.data.properties.src_asset_id",
                  "definition.data.properties.stars",
                  "definition.data.properties.title_placeholder",
                  "definition.data.properties.verified",
                  "definition.data.properties.verified_badge_language",
                  "definition.data.styles",
                  "definition.data.styles.align",
                  "definition.data.styles.author_align",
                  "definition.data.styles.author_color",
                  "definition.data.styles.author_font_family",
                  "definition.data.styles.author_font_size",
                  "definition.data.styles.author_font_style",
                  "definition.data.styles.author_font_weight",
                  "definition.data.styles.author_letter_spacing",
                  "definition.data.styles.author_text_decoration",
                  "definition.data.styles.background_asset_id",
                  "definition.data.styles.background_color",
                  "definition.data.styles.background_format",
                  "definition.data.styles.background_image_full_width",
                  "definition.data.styles.background_position",
                  "definition.data.styles.background_repeat",
                  "definition.data.styles.background_url",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.border_color",
                  "definition.data.styles.border_radius",
                  "definition.data.styles.border_style",
                  "definition.data.styles.border_width",
                  "definition.data.styles.button_alignment",
                  "definition.data.styles.button_background_color",
                  "definition.data.styles.button_border_color",
                  "definition.data.styles.button_border_radius",
                  "definition.data.styles.button_border_style",
                  "definition.data.styles.button_border_width",
                  "definition.data.styles.button_drop_shadow_color",
                  "definition.data.styles.button_font_color",
                  "definition.data.styles.button_font_family",
                  "definition.data.styles.button_font_size",
                  "definition.data.styles.button_font_style",
                  "definition.data.styles.button_font_weight",
                  "definition.data.styles.button_letter_spacing",
                  "definition.data.styles.button_padding_bottom",
                  "definition.data.styles.button_padding_left",
                  "definition.data.styles.button_padding_right",
                  "definition.data.styles.button_padding_top",
                  "definition.data.styles.button_text_decoration",
                  "definition.data.styles.cell_horizontal_border_color",
                  "definition.data.styles.cell_horizontal_border_style",
                  "definition.data.styles.cell_horizontal_border_width",
                  "definition.data.styles.cell_padding_bottom",
                  "definition.data.styles.cell_padding_left",
                  "definition.data.styles.cell_padding_right",
                  "definition.data.styles.cell_padding_top",
                  "definition.data.styles.cell_vertical_align",
                  "definition.data.styles.cell_vertical_border_color",
                  "definition.data.styles.cell_vertical_border_style",
                  "definition.data.styles.cell_vertical_border_width",
                  "definition.data.styles.color",
                  "definition.data.styles.column_align",
                  "definition.data.styles.column_direction",
                  "definition.data.styles.column_widths",
                  "definition.data.styles.content_color",
                  "definition.data.styles.content_color_type",
                  "definition.data.styles.description_font_color",
                  "definition.data.styles.description_font_family",
                  "definition.data.styles.description_font_size",
                  "definition.data.styles.description_font_style",
                  "definition.data.styles.description_font_weight",
                  "definition.data.styles.description_letter_spacing",
                  "definition.data.styles.description_padding_bottom",
                  "definition.data.styles.description_padding_top",
                  "definition.data.styles.description_text_decoration",
                  "definition.data.styles.desktop_layout",
                  "definition.data.styles.drop_shadow_color",
                  "definition.data.styles.empty_star_color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.full_width_mobile",
                  "definition.data.styles.header_background_color",
                  "definition.data.styles.header_font_color",
                  "definition.data.styles.header_font_family",
                  "definition.data.styles.header_font_size",
                  "definition.data.styles.header_font_style",
                  "definition.data.styles.header_font_weight",
                  "definition.data.styles.header_letter_spacing",
                  "definition.data.styles.header_line_height",
                  "definition.data.styles.header_padding_bottom",
                  "definition.data.styles.header_padding_left",
                  "definition.data.styles.header_padding_right",
                  "definition.data.styles.header_padding_top",
                  "definition.data.styles.header_text_decoration",
                  "definition.data.styles.height",
                  "definition.data.styles.icon_align",
                  "definition.data.styles.icon_color",
                  "definition.data.styles.icon_size",
                  "definition.data.styles.icon_spacing",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.item_align",
                  "definition.data.styles.item_border_color",
                  "definition.data.styles.item_border_style",
                  "definition.data.styles.item_border_width",
                  "definition.data.styles.item_max_height",
                  "definition.data.styles.item_padding_bottom",
                  "definition.data.styles.item_padding_left",
                  "definition.data.styles.item_padding_right",
                  "definition.data.styles.item_padding_top",
                  "definition.data.styles.item_spacing",
                  "definition.data.styles.item_spacing_type",
                  "definition.data.styles.item_text_alignment",
                  "definition.data.styles.label_color",
                  "definition.data.styles.label_font_family",
                  "definition.data.styles.label_font_size",
                  "definition.data.styles.label_font_style",
                  "definition.data.styles.label_font_weight",
                  "definition.data.styles.label_text_decoration",
                  "definition.data.styles.layout",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.logo_align",
                  "definition.data.styles.logo_link_spacing",
                  "definition.data.styles.max_width",
                  "definition.data.styles.mobile_layout",
                  "definition.data.styles.mobile_spacing",
                  "definition.data.styles.mobile_stack_order",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.mobile_wrap",
                  "definition.data.styles.num_columns",
                  "definition.data.styles.num_rows",
                  "definition.data.styles.original_price_font_color",
                  "definition.data.styles.original_price_font_family",
                  "definition.data.styles.original_price_font_size",
                  "definition.data.styles.original_price_font_style",
                  "definition.data.styles.original_price_font_weight",
                  "definition.data.styles.original_price_text_decoration",
                  "definition.data.styles.padding_in_between",
                  "definition.data.styles.price_font_color",
                  "definition.data.styles.price_font_family",
                  "definition.data.styles.price_font_size",
                  "definition.data.styles.price_font_style",
                  "definition.data.styles.price_font_weight",
                  "definition.data.styles.price_letter_spacing",
                  "definition.data.styles.price_padding_bottom",
                  "definition.data.styles.price_padding_top",
                  "definition.data.styles.price_text_decoration",
                  "definition.data.styles.product_name_align",
                  "definition.data.styles.product_name_color",
                  "definition.data.styles.product_name_font_family",
                  "definition.data.styles.product_name_font_size",
                  "definition.data.styles.product_name_font_style",
                  "definition.data.styles.product_name_font_weight",
                  "definition.data.styles.product_name_letter_spacing",
                  "definition.data.styles.product_name_text_decoration",
                  "definition.data.styles.quote_align",
                  "definition.data.styles.quote_color",
                  "definition.data.styles.quote_font_family",
                  "definition.data.styles.quote_font_size",
                  "definition.data.styles.quote_font_style",
                  "definition.data.styles.quote_font_weight",
                  "definition.data.styles.quote_letter_spacing",
                  "definition.data.styles.quote_line_height",
                  "definition.data.styles.quote_style",
                  "definition.data.styles.quote_text_decoration",
                  "definition.data.styles.rating_font_color",
                  "definition.data.styles.rating_font_family",
                  "definition.data.styles.rating_font_size",
                  "definition.data.styles.rating_font_style",
                  "definition.data.styles.rating_font_weight",
                  "definition.data.styles.rating_letter_spacing",
                  "definition.data.styles.rating_padding_bottom",
                  "definition.data.styles.rating_padding_top",
                  "definition.data.styles.rating_text_decoration",
                  "definition.data.styles.shadow_color",
                  "definition.data.styles.stack_on_mobile",
                  "definition.data.styles.star_alignment",
                  "definition.data.styles.star_color",
                  "definition.data.styles.star_icon_spacing",
                  "definition.data.styles.star_rating_shape",
                  "definition.data.styles.star_size",
                  "definition.data.styles.stretch",
                  "definition.data.styles.table_background_color",
                  "definition.data.styles.table_font_color",
                  "definition.data.styles.table_font_family",
                  "definition.data.styles.table_font_size",
                  "definition.data.styles.table_text_align",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_area_bg_color",
                  "definition.data.styles.text_area_border_color",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.data.styles.title_font_color",
                  "definition.data.styles.title_font_family",
                  "definition.data.styles.title_font_size",
                  "definition.data.styles.title_font_style",
                  "definition.data.styles.title_font_weight",
                  "definition.data.styles.title_letter_spacing",
                  "definition.data.styles.title_padding_bottom",
                  "definition.data.styles.title_padding_top",
                  "definition.data.styles.title_text_decoration",
                  "definition.data.styles.use_legacy_mobile_padding",
                  "definition.data.styles.verified_badge_color",
                  "definition.data.styles.verified_badge_size",
                  "definition.data.styles.verified_badge_style",
                  "definition.data.styles.verified_color",
                  "definition.data.styles.verified_font_family",
                  "definition.data.styles.verified_font_size",
                  "definition.data.styles.verified_font_style",
                  "definition.data.styles.verified_font_weight",
                  "definition.data.styles.verified_letter_spacing",
                  "definition.data.styles.verified_text_decoration",
                  "definition.data.styles.vertical_align",
                  "definition.data.styles.width",
                  "definition.data_id",
                  "definition.id",
                  "definition.rows",
                  "definition.subblocks",
                  "definition.type",
                  "definition.universal_id",
                  "id",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals` (string)<br>`name`: `any`, `equals` (string)<br>`created`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than` (date-time)<br>`updated`: `greater-or-equal`, `greater-than`, `less-or-equal`, `less-than` (date-time)<br>`definition.content_type`: `equals` (allowed values: `'block'`, `'section'`)<br>`definition.type`: `equals` (allowed values: `'button'`, `'coupon'`, `'drop_shadow'`, `'header'`, `'horizontal_rule'`, `'html'`, `'image'`, `'product'`, `'review'`, `'social'`, `'spacer'`, `'split'`, `'table'`, `'text'`, `'unsupported'`, `'video'`)",
            "schema": {
              "type": "string",
              "example": "equals(id,'01HWWWKAW4RHXQJCMW4R2KRYR4')"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "id",
                "-id",
                "name",
                "-name",
                "updated",
                "-updated"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUniversalContentResponseV1Collection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-filters": {
          "id": {
            "operators": {
              "list": [
                "any",
                "equals"
              ],
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "name": {
            "operators": {
              "list": [
                "any",
                "equals"
              ],
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          },
          "created": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          },
          "updated": {
            "operators": {
              "single": [
                "greater-or-equal",
                "greater-than",
                "less-or-equal",
                "less-than"
              ]
            },
            "value": {
              "type": "string",
              "format": "date-time"
            }
          },
          "definition.content_type": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string",
              "enum": [
                "block",
                "section"
              ]
            }
          },
          "definition.type": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string",
              "enum": [
                "button",
                "coupon",
                "drop_shadow",
                "header",
                "horizontal_rule",
                "html",
                "image",
                "product",
                "review",
                "social",
                "spacer",
                "split",
                "table",
                "text",
                "unsupported",
                "video"
              ]
            }
          }
        },
        "x-klaviyo-operation-aliases": [
          "get_template_universal_content"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "75/s",
          "steady": "750/m"
        },
        "x-klaviyo-scopes": [
          "templates:read"
        ],
        "x-klaviyo-subtag": "Templates"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AgentHints": {
        "description": "Optional hints emitted by the API for agent callers",
        "type": "object",
        "properties": {
          "next_steps": {
            "description": "Suggested follow-up actions for agents to take after this response",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ButtonBlockData": {
        "type": "object",
        "properties": {
          "content": {
            "nullable": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ButtonBlockProperties"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/ButtonBlockStyles"
          }
        },
        "required": [
          "content",
          "properties",
          "display_options",
          "styles"
        ]
      },
      "ButtonBlockProperties": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ButtonBlockStyles": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "drop_shadow_color": {
            "type": "string",
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "stretch": {
            "type": "boolean",
            "nullable": true
          },
          "text_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ButtonBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ButtonBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/ColumnData",
            "nullable": true
          },
          "blocks": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ButtonBlockV1"
                },
                {
                  "$ref": "#/components/schemas/CouponBlockV1"
                },
                {
                  "$ref": "#/components/schemas/DropShadowBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HeaderBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HorizontalRuleBlockV1"
                },
                {
                  "$ref": "#/components/schemas/HTMLBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ImageBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ProductBlockV1"
                },
                {
                  "$ref": "#/components/schemas/ReviewBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SocialBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SpacerBlockV1"
                },
                {
                  "$ref": "#/components/schemas/SplitBlockV1"
                },
                {
                  "$ref": "#/components/schemas/TableBlockV1"
                },
                {
                  "$ref": "#/components/schemas/TextBlockV1"
                },
                {
                  "$ref": "#/components/schemas/VideoBlockV1"
                }
              ]
            },
            "nullable": true
          }
        }
      },
      "ColumnData": {
        "type": "object",
        "maxProperties": 0
      },
      "ContentRepeatV1": {
        "type": "object",
        "properties": {
          "repeat_for": {
            "type": "string"
          },
          "item_alias": {
            "type": "string"
          }
        },
        "required": [
          "repeat_for",
          "item_alias"
        ]
      },
      "CouponBlockData": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/CouponBlockProperties"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/CouponBlockStyles"
          }
        },
        "required": [
          "content",
          "properties",
          "display_options",
          "styles"
        ]
      },
      "CouponBlockProperties": {
        "type": "object",
        "properties": {
          "coupon_id": {
            "type": "string",
            "nullable": true
          },
          "coupon": {
            "type": "string",
            "nullable": true
          },
          "header_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CouponBlockStyles": {
        "type": "object",
        "properties": {
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "header_font_family": {
            "type": "string",
            "nullable": true
          },
          "header_font_size": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "header_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "stretch": {
            "type": "boolean",
            "nullable": true
          },
          "text_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CouponBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "coupon"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/CouponBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DisplayOptions": {
        "type": "object",
        "properties": {
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "content_repeat": {
            "$ref": "#/components/schemas/ContentRepeatV1",
            "nullable": true
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility",
            "nullable": true
          },
          "layout_type": {
            "type": "string",
            "nullable": true
          },
          "layout_config": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "DropShadowBlockData": {
        "type": "object",
        "properties": {
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/DropShadowBlockStyles"
          }
        },
        "required": [
          "display_options",
          "styles"
        ]
      },
      "DropShadowBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "shadow_color": {
            "description": "Shadow color.",
            "type": "string",
            "enum": [
              "dark",
              "light",
              "medium"
            ],
            "nullable": true
          }
        }
      },
      "DropShadowBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "drop_shadow"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/DropShadowBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DynamicImageBlockProperties": {
        "type": "object",
        "properties": {
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicProductBlockProperties": {
        "type": "object",
        "properties": {
          "is_ai_generated": {
            "type": "boolean",
            "nullable": true
          },
          "is_prebuilt_content": {
            "type": "boolean",
            "nullable": true
          },
          "item_subtype_id": {
            "type": "integer",
            "nullable": true
          },
          "show_button": {
            "type": "boolean",
            "nullable": true
          },
          "show_original_price": {
            "type": "boolean",
            "nullable": true
          },
          "show_price": {
            "type": "boolean",
            "nullable": true
          },
          "show_rating": {
            "type": "boolean",
            "nullable": true
          },
          "show_rating_count": {
            "type": "boolean",
            "nullable": true
          },
          "show_title": {
            "type": "boolean",
            "nullable": true
          },
          "show_title_links": {
            "type": "boolean",
            "nullable": true
          },
          "title_placeholder": {
            "type": "string",
            "nullable": true
          },
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "button_text": {
            "type": "string",
            "nullable": true
          },
          "feed": {
            "type": "string",
            "nullable": true
          },
          "feed_offset": {
            "type": "integer",
            "nullable": true
          },
          "is_nbp": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicReviewBlockProperties": {
        "type": "object",
        "properties": {
          "show_rating": {
            "type": "boolean",
            "nullable": true
          },
          "show_reviewer_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_product_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_variant_name": {
            "type": "boolean",
            "nullable": true
          },
          "show_verified_badge": {
            "type": "boolean",
            "nullable": true
          },
          "author_placeholder": {
            "type": "string",
            "nullable": true
          },
          "quote_placeholder": {
            "type": "string",
            "nullable": true
          },
          "product_name_placeholder": {
            "type": "string",
            "nullable": true
          },
          "product_variant_name_placeholder": {
            "type": "string",
            "nullable": true
          },
          "verified_badge_language": {
            "description": "Review block verified badge language.",
            "type": "string",
            "enum": [
              "dutch",
              "english",
              "french",
              "german",
              "hungarian",
              "italian",
              "japanese",
              "korean",
              "portuguese",
              "spanish"
            ],
            "nullable": true
          },
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "fallback_options": {
            "description": "Review block fallback options for dynamic selection.",
            "type": "string",
            "enum": [
              "high-quality-review",
              "high-quality-review-or-static",
              "no-review",
              "recent",
              "static-only"
            ],
            "nullable": true
          },
          "fallback_content_type": {
            "description": "Review block fallback content type.",
            "type": "string",
            "enum": [
              "full",
              "quote"
            ],
            "nullable": true
          },
          "fallback_review_id": {
            "type": "string",
            "nullable": true
          },
          "product_selection_mode": {
            "description": "Review block product selection mode.",
            "type": "string",
            "enum": [
              "automatic",
              "manual"
            ],
            "nullable": true
          },
          "product_id": {
            "type": "string",
            "nullable": true
          },
          "product_event_variable": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "DynamicTableBlockProperties": {
        "type": "object",
        "properties": {
          "dynamic": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "num_columns": {
            "type": "integer",
            "nullable": true
          },
          "row_content_repeat": {
            "$ref": "#/components/schemas/ContentRepeatV1",
            "nullable": true
          },
          "show_headers": {
            "type": "boolean",
            "nullable": true
          },
          "show_fallback_content": {
            "type": "boolean",
            "nullable": true
          },
          "show_static_row": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "dynamic"
        ]
      },
      "GetUniversalContentResponseV1Collection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UniversalContentResponseV1ObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "HTMLBlockDataV1": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          }
        },
        "required": [
          "content",
          "display_options"
        ]
      },
      "HTMLBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "html"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HTMLBlockDataV1"
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HeaderBlockData": {
        "type": "object",
        "properties": {
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/HeaderBlockStyles"
          }
        },
        "required": [
          "display_options",
          "styles"
        ]
      },
      "HeaderBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "desktop_layout": {
            "description": "Header block desktop layout.",
            "type": "string",
            "enum": [
              "centered",
              "inline",
              "links",
              "stacked"
            ],
            "nullable": true
          },
          "font_family": {
            "type": "string",
            "nullable": true
          },
          "font_size": {
            "type": "integer",
            "nullable": true
          },
          "font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "font_weight": {
            "type": "string",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "item_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "item_spacing": {
            "type": "integer",
            "nullable": true
          },
          "item_spacing_type": {
            "description": "Header block item spacing type.",
            "type": "string",
            "enum": [
              "auto",
              "manual"
            ],
            "nullable": true
          },
          "letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "logo_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "logo_link_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_layout": {
            "description": "Header block mobile layout.",
            "type": "string",
            "enum": [
              "inline",
              "links",
              "links-stacked",
              "logo-stacked",
              "stacked"
            ],
            "nullable": true
          },
          "mobile_spacing": {
            "type": "integer",
            "nullable": true
          },
          "mobile_wrap": {
            "type": "boolean",
            "nullable": true
          },
          "text_decoration": {
            "type": "string",
            "nullable": true
          },
          "vertical_align": {
            "description": "Vertical alignment.",
            "type": "string",
            "enum": [
              "baseline",
              "bottom",
              "middle",
              "top"
            ],
            "nullable": true
          }
        }
      },
      "HeaderBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "header"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HeaderBlockData",
            "nullable": true
          },
          "subblocks": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/HeaderLinkSubBlock"
                },
                {
                  "$ref": "#/components/schemas/HeaderImageSubBlock"
                },
                {
                  "$ref": "#/components/schemas/HeaderLogoSubBlock"
                }
              ]
            },
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HeaderImageSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_image"
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "nullable": true
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "max_width": {
            "type": "integer",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "HeaderLinkSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_button"
            ]
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "nullable": true,
            "type": "string"
          },
          "drop_shadow_color": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "HeaderLogoSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "header_link_bar_logo"
            ]
          },
          "alt_text": {
            "type": "string",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "max_width": {
            "type": "integer",
            "nullable": true
          },
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "HorizontalRuleBlockData": {
        "type": "object",
        "properties": {
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/HorizontalRuleBlockStyles"
          }
        },
        "required": [
          "display_options",
          "styles"
        ]
      },
      "HorizontalRuleBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_color": {
            "type": "string",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "HorizontalRuleBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "horizontal_rule"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HorizontalRuleBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "ImageBlockCroppingProperties": {
        "type": "object",
        "properties": {
          "aspect_ratio": {
            "type": "string",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "src": {
            "type": "string",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "x": {
            "type": "integer",
            "nullable": true
          },
          "y": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ImageBlockData": {
        "type": "object",
        "properties": {
          "properties": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticImageBlockProperties"
              },
              {
                "$ref": "#/components/schemas/DynamicImageBlockProperties"
              }
            ]
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/ImageBlockStyles"
          }
        },
        "required": [
          "properties",
          "display_options",
          "styles"
        ]
      },
      "ImageBlockStyles": {
        "type": "object",
        "properties": {
          "align": {
            "description": "Image Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "background_color": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_border_color": {
            "type": "string",
            "nullable": true
          },
          "block_border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "block_border_width": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "full_width_mobile": {
            "type": "boolean",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "inner_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "max_width": {
            "type": "integer",
            "nullable": true
          },
          "mobile_stretch_content": {
            "type": "boolean",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ImageBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "image"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ImageBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ProductBlockData": {
        "type": "object",
        "properties": {
          "properties": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticProductBlockProperties"
              },
              {
                "$ref": "#/components/schemas/DynamicProductBlockProperties"
              }
            ]
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/ProductBlockStyles"
          }
        },
        "required": [
          "properties",
          "display_options",
          "styles"
        ]
      },
      "ProductBlockStyles": {
        "type": "object",
        "properties": {
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "button_alignment": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "button_background_color": {
            "type": "string",
            "nullable": true
          },
          "button_border_color": {
            "type": "string",
            "nullable": true
          },
          "button_border_radius": {
            "type": "integer",
            "nullable": true
          },
          "button_border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "button_border_width": {
            "type": "integer",
            "nullable": true
          },
          "button_drop_shadow_color": {
            "type": "string",
            "nullable": true
          },
          "button_font_color": {
            "type": "string",
            "nullable": true
          },
          "button_font_family": {
            "type": "string",
            "nullable": true
          },
          "button_font_size": {
            "type": "integer",
            "nullable": true
          },
          "button_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "button_font_weight": {
            "type": "string",
            "nullable": true
          },
          "button_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "button_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "button_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "button_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "button_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "button_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "description_font_color": {
            "type": "string",
            "nullable": true
          },
          "description_font_family": {
            "type": "string",
            "nullable": true
          },
          "description_font_size": {
            "type": "integer",
            "nullable": true
          },
          "description_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "description_font_weight": {
            "type": "string",
            "nullable": true
          },
          "description_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "description_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "description_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "description_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "item_border_color": {
            "type": "string",
            "nullable": true
          },
          "item_border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "item_border_width": {
            "type": "integer",
            "nullable": true
          },
          "item_max_height": {
            "type": "integer",
            "nullable": true
          },
          "item_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "item_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "item_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "item_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "item_text_alignment": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "layout": {
            "description": "Product layout options.",
            "type": "string",
            "enum": [
              "horizontal",
              "vertical-left-image",
              "vertical-right-image"
            ],
            "nullable": true
          },
          "num_columns": {
            "type": "integer",
            "nullable": true
          },
          "num_rows": {
            "type": "integer",
            "nullable": true
          },
          "original_price_font_color": {
            "type": "string",
            "nullable": true
          },
          "original_price_font_family": {
            "type": "string",
            "nullable": true
          },
          "original_price_font_size": {
            "type": "integer",
            "nullable": true
          },
          "original_price_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "original_price_font_weight": {
            "type": "string",
            "nullable": true
          },
          "original_price_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "price_font_color": {
            "type": "string",
            "nullable": true
          },
          "price_font_family": {
            "type": "string",
            "nullable": true
          },
          "price_font_size": {
            "type": "integer",
            "nullable": true
          },
          "price_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "price_font_weight": {
            "type": "string",
            "nullable": true
          },
          "price_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "price_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "price_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "price_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "rating_font_color": {
            "type": "string",
            "nullable": true
          },
          "rating_font_family": {
            "type": "string",
            "nullable": true
          },
          "rating_font_size": {
            "type": "integer",
            "nullable": true
          },
          "rating_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "rating_font_weight": {
            "type": "string",
            "nullable": true
          },
          "rating_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "rating_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "rating_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "rating_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "stack_on_mobile": {
            "type": "boolean",
            "nullable": true
          },
          "title_font_color": {
            "type": "string",
            "nullable": true
          },
          "title_font_family": {
            "type": "string",
            "nullable": true
          },
          "title_font_size": {
            "type": "integer",
            "nullable": true
          },
          "title_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "title_font_weight": {
            "type": "string",
            "nullable": true
          },
          "title_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "title_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "title_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "title_text_decoration": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProductBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "product"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ProductBlockData",
            "nullable": true
          },
          "subblocks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductSubBlock"
            },
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "ProductSubBlock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "product"
            ]
          },
          "product_id": {
            "type": "string",
            "nullable": true
          },
          "external_id": {
            "type": "string",
            "nullable": true
          },
          "autogenerate_link": {
            "type": "boolean",
            "nullable": true
          },
          "button_text": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "original_price": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "string",
            "nullable": true
          },
          "currency_code": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "ResponseMeta": {
        "description": "Response-level metadata",
        "type": "object",
        "properties": {
          "agent_hints": {
            "$ref": "#/components/schemas/AgentHints"
          }
        }
      },
      "ReviewBlockData": {
        "type": "object",
        "properties": {
          "properties": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StaticReviewBlockProperties"
              },
              {
                "$ref": "#/components/schemas/DynamicReviewBlockProperties"
              }
            ]
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/ReviewBlockStyles"
          }
        },
        "required": [
          "properties",
          "display_options",
          "styles"
        ]
      },
      "ReviewBlockStyles": {
        "type": "object",
        "properties": {
          "author_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "author_color": {
            "type": "string",
            "nullable": true
          },
          "author_font_family": {
            "type": "string",
            "nullable": true
          },
          "author_font_size": {
            "type": "integer",
            "nullable": true
          },
          "author_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "author_font_weight": {
            "type": "string",
            "nullable": true
          },
          "author_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "author_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "block_background_color": {
            "type": "string",
            "nullable": true
          },
          "block_padding_bottom": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_left": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_right": {
            "type": "integer",
            "nullable": true
          },
          "block_padding_top": {
            "type": "integer",
            "nullable": true
          },
          "border_radius": {
            "type": "integer",
            "nullable": true
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "groove",
              "inset",
              "none",
              "outset",
              "ridge",
              "solid"
            ],
            "nullable": true
          },
          "border_width": {
            "type": "integer",
            "nullable": true
          },
          "empty_star_color": {
            "type": "string",
            "nullable": true
          },
          "layout": {
            "description": "Review block layout options.",
            "type": "string",
            "enum": [
              "big-quotes",
              "centered-in-quote-bubble",
              "centered-rating-first",
              "centered-review-first",
              "clean",
              "left-aligned",
              "message-bubble",
              "rating-highlight",
              "right-aligned-with-quotation-icon",
              "square",
              "stacked-card",
              "subtle-background"
            ],
            "nullable": true
          },
          "product_name_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "product_name_color": {
            "type": "string",
            "nullable": true
          },
          "product_name_font_family": {
            "type": "string",
            "nullable": true
          },
          "product_name_font_size": {
            "type": "integer",
            "nullable": true
          },
          "product_name_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "product_name_font_weight": {
            "type": "string",
            "nullable": true
          },
          "product_name_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "product_name_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "quote_align": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "quote_color": {
            "type": "string",
            "nullable": true
          },
          "quote_font_family": {
            "type": "string",
            "nullable": true
          },
          "quote_font_size": {
            "type": "integer",
            "nullable": true
          },
          "quote_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "quote_font_weight": {
            "type": "string",
            "nullable": true
          },
          "quote_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "quote_line_height": {
            "type": "number",
            "nullable": true
          },
          "quote_style": {
            "description": "Review block quote style.",
            "type": "string",
            "enum": [
              "line",
              "square",
              "standard"
            ],
            "nullable": true
          },
          "quote_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "shadow_color": {
            "type": "string",
            "nullable": true
          },
          "star_color": {
            "type": "string",
            "nullable": true
          },
          "star_size": {
            "description": "Review block star size.",
            "type": "string",
            "enum": [
              "large",
              "medium",
              "small"
            ],
            "nullable": true
          },
          "star_rating_shape": {
            "description": "Review block star rating shape.",
            "type": "string",
            "enum": [
              "circle",
              "heart",
              "star"
            ],
            "nullable": true
          },
          "star_icon_spacing": {
            "type": "integer",
            "nullable": true
          },
          "star_alignment": {
            "description": "Text Alignment.",
            "type": "string",
            "enum": [
              "center",
              "left",
              "right"
            ],
            "nullable": true
          },
          "text_area_bg_color": {
            "type": "string",
            "nullable": true
          },
          "text_area_border_color": {
            "type": "string",
            "nullable": true
          },
          "verified_color": {
            "type": "string",
            "nullable": true
          },
          "verified_font_family": {
            "type": "string",
            "nullable": true
          },
          "verified_font_size": {
            "type": "integer",
            "nullable": true
          },
          "verified_font_style": {
            "description": "Font style.",
            "type": "string",
            "enum": [
              "italic",
              "normal"
            ],
            "nullable": true
          },
          "verified_font_weight": {
            "type": "string",
            "nullable": true
          },
          "verified_letter_spacing": {
            "type": "integer",
            "nullable": true
          },
          "verified_text_decoration": {
            "type": "string",
            "nullable": true
          },
          "verified_badge_color": {
            "description": "Review block verified badge color.",
            "type": "string",
            "enum": [
              "dark",
              "default",
              "light"
            ],
            "nullable": true
          },
          "verified_badge_size": {
            "type": "integer",
            "nullable": true
          },
          "verified_badge_style": {
            "description": "Review block verified badge style.",
            "type": "string",
            "enum": [
              "badge-and-text",
              "badge-only",
              "text-only"
            ],
            "nullable": true
          }
        }
      },
      "ReviewBlockV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "universal_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "review"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ReviewBlockData",
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "Row": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/RowData"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Column"
            },
            "nullable": true
          }
        },
        "required": [
          "data"
        ]
      },
      "RowData": {
        "type": "object",
        "properties": {
          "styles": {
            "$ref": "#/components/schemas/RowStyles"
          }
        },
        "required": [
          "styles"
        ]
      },
      "RowStyles": {
        "type": "object",
        "properties": {
          "column_layout": {
            "description": "Column layout.",
            "type": "string",
            "enum": [
              "1-column-full-width",
              "2-columns-25%-75%",
              "2-columns-33%-67%",
              "2-columns-67%-33%",
              "2-columns-75%-25%",
              "2-columns-equal-width",
              "3-columns-25%-25%-50%",
              "3-columns-25%-50%-25%",
              "3-columns-50%-25%-25%",
              "3-columns-equal-width",
              "4-columns-equal-width"
            ],
            "nullable": true
          }
        }
      },
      "SectionData": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SectionProperties"
          },
          "display_options": {
            "$ref": "#/components/schemas/DisplayOptions"
          },
          "styles": {
            "$ref": "#/components/schemas/SectionStyles"
          }
        },
        "required": [
          "properties",
          "display_options",
          "styles"
        ]
      },
      "SectionProperties": {
        "type": "object",
        "properties": {
          "is_ai_generated": {
            "type": "boolean",
            "nullable": true
          },
          "is_prebuilt_content": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "SectionStyles": {
[...]
