{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/object-schemas/{id}": {
      "get": {
        "operationId": "get_object_schema_beta",
        "summary": "Get Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the object schema with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_schema_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[profile-object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[source-mapping]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "property_mappings",
                  "relationship_mappings"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "object-schemas",
                  "profile-object-schemas",
                  "source-mapping"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APISchemaProperty": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the schema property. Must be a postive integer.",
            "type": "integer",
            "example": 1
          },
          "name": {
            "description": "The name of the schema property",
            "type": "string",
            "example": "service_plan"
          },
          "type": {
            "description": "The type of the schema property",
            "type": "string",
            "enum": [
              "boolean",
              "float",
              "int",
              "list_str",
              "string",
              "timestamp"
            ]
          },
          "description": {
            "description": "The description of the schema property",
            "type": "string",
            "default": "",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ]
      },
      "AgentHints": {
        "description": "Optional hints emitted by the API for agent callers",
        "type": "object",
        "properties": {
          "next_steps": {
            "description": "Suggested follow-up actions for agents to take after this response",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ConstantPropertyMapping": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Property ID. Must be a positive integer.",
            "type": "integer",
            "example": 1
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "constant"
            ]
          },
          "value": {
            "description": "Constant value assigned to every record",
            "example": "active",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "value"
        ]
      },
      "CustomObjectRelationshipSource": {
        "type": "object",
        "properties": {
          "source_id": {
            "description": "Data source ULID ID",
            "type": "string",
            "example": "01JXKX2HM7NV4QPTR5WE8BF6GY"
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "custom-object"
            ]
          },
          "id_path": {
            "description": "JSONPath data selector to owning ID",
            "type": "string",
            "example": "$['object_record']['subscription_id']"
          },
          "related_id_path": {
            "description": "JSONPath data selector to related ID",
            "type": "string",
            "example": "$['object_record']['pet_id']"
          },
          "update_strategy": {
            "description": "Strategy for updating relationships with each new RawDataRecord ingestion",
            "type": "string",
            "example": "replace_from_origin",
            "default": "replace_from_origin",
            "enum": [
              "additive",
              "replace_from_origin"
            ],
            "nullable": true
          }
        },
        "required": [
          "source_id",
          "type",
          "id_path",
          "related_id_path"
        ]
      },
      "GetObjectSchemaResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ObjectSchemaResponseObjectResource"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ObjectSchemaRelationshipResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/SourceMappingResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/ProfileObjectSchemaRelationshipResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "required": [
          "data"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ObjectSchemaEnum": {
        "type": "string",
        "enum": [
          "object-schema"
        ]
      },
      "ObjectSchemaRelationshipMeta": {
        "type": "object",
        "properties": {
          "relationship_id": {
            "description": "The ULID ID of the relationship.",
            "type": "string",
            "example": "01K5YKKQKM819VVGCPZZKGE6D4"
          },
          "name": {
            "description": "The name of the relationship",
            "type": "string",
            "example": "subscription"
          },
          "description": {
            "description": "The description of the relationship",
            "type": "string",
            "example": "The subscription this pet is enrolled in",
            "nullable": true
          }
        },
        "required": [
          "relationship_id",
          "name"
        ]
      },
      "ObjectSchemaRelationshipResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectSchemaEnum"
          },
          "id": {
            "description": "A compound ID uniquely identifying this relationship, in the format '{related_schema_id}:::{relationship_name}'.",
            "type": "string",
            "example": "01JXKYCN9A5M3QPVR8T2WE4BLD:::subscription"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ObjectSchemaRelationshipMeta",
            "nullable": true
          }
        },
        "required": [
          "type",
          "id",
          "links"
        ]
      },
      "ObjectSchemaResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectSchemaEnum"
          },
          "id": {
            "description": "The ULID ID of the object schema",
            "type": "string",
            "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "title": {
                "description": "The title for this object schema",
                "type": "string"
              },
              "description": {
                "description": "The description of this object schema",
                "type": "string"
              },
              "status": {
                "description": "The status of this object schema",
                "type": "string",
                "enum": [
                  "active",
                  "draft",
                  "publishing",
                  "undefined"
                ]
              },
              "properties": {
                "description": "Properties of the object schema",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/APISchemaProperty"
                }
              },
              "required": {
                "description": "Properties that are required on the object schema",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "published_at": {
                "description": "The datetime when this object schema was activated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "visibility": {
                "description": "The visibility of this object schema",
                "type": "string",
                "enum": [
                  "private",
                  "shared"
                ]
              }
            },
            "required": [
              "title",
              "description",
              "status",
              "properties",
              "required",
              "visibility"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "source-mapping": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/SourceMappingEnum"
                      },
                      "id": {
                        "description": "The source mapping for this object schema",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "object-schemas": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ObjectSchemaEnum"
                        },
                        "id": {
                          "description": "The object schema relationships for this object schema",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "profile-object-schemas": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/ProfileObjectSchemaEnum"
                        },
                        "id": {
                          "description": "The profile object schema relationships for this object schema",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "ProfileObjectSchemaEnum": {
        "type": "string",
        "enum": [
          "profile-object-schema"
        ]
      },
      "ProfileObjectSchemaRelationshipResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProfileObjectSchemaEnum"
          },
          "id": {
            "description": "The ID of the related profile schema.",
            "type": "string"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ObjectSchemaRelationshipMeta",
            "nullable": true
          }
        },
        "required": [
          "type",
          "id",
          "links"
        ]
      },
      "ProfileRelationshipSource": {
        "type": "object",
        "properties": {
          "source_id": {
            "description": "Data source ULID ID",
            "type": "string",
            "example": "01JXKX2HM7NV4QPTR5WE8BF6GY"
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "profile"
            ]
          },
          "id_path": {
            "description": "JSONPath data selector to owning ID",
            "type": "string",
            "example": "$['relationships']['owners'][*]['id']"
          },
          "related_id_paths": {
            "description": "List of profile identifier mappings to JSONPath data selectors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedIdPath"
            },
            "example": [
              {
                "identifier_type": "email",
                "path": "$['relationships']['owners'][*]['email']"
              },
              {
                "identifier_type": "phone",
                "path": "$['relationships']['owners'][*]['phone']"
              }
            ]
          },
          "update_strategy": {
            "description": "Strategy for updating relationships with each new RawDataRecord ingestion",
            "type": "string",
            "example": "replace_from_origin",
            "default": "replace_from_origin",
            "enum": [
              "additive",
              "replace_from_origin"
            ],
            "nullable": true
          }
        },
        "required": [
          "source_id",
          "type",
          "id_path",
          "related_id_paths"
        ]
      },
      "PropertySource": {
        "type": "object",
        "properties": {
          "source_id": {
            "description": "Data source ULID ID",
            "type": "string",
            "example": "01JXKX2HM7NV4QPTR5WE8BF6GY"
          },
          "id_path": {
            "description": "JSONPath ID selector",
            "type": "string",
            "example": "$['object_record']['subscription_id']"
          },
          "data_path": {
            "description": "JSONPath data selector",
            "type": "string",
            "example": "$['object_record']['service_plan']"
          }
        },
        "required": [
          "source_id",
          "id_path",
          "data_path"
        ]
      },
      "RelatedIdPath": {
        "type": "object",
        "properties": {
          "identifier_type": {
            "description": "Profile identifier type",
            "type": "string",
            "enum": [
              "anonymous",
              "email",
              "external-id",
              "klaviyo-id",
              "phone"
            ]
          },
          "path": {
            "description": "JSONPath data selector to related ID",
            "type": "string",
            "example": "$['relationships']['owners'][*]['email']"
          }
        },
        "required": [
          "identifier_type",
          "path"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "ResponseMeta": {
        "description": "Response-level metadata",
        "type": "object",
        "properties": {
          "agent_hints": {
            "$ref": "#/components/schemas/AgentHints"
          }
        }
      },
      "SimplePropertyMapping": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Property ID",
            "type": "integer",
            "example": 1
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "simple"
            ]
          },
          "source": {
            "description": "Data source mapping",
            "example": {
              "source_id": "01JXKX2HM7NV4QPTR5WE8BF6GY",
              "id_path": "$['object_record']['subscription_id']",
              "data_path": "$['object_record']['service_plan']"
            },
            "$ref": "#/components/schemas/PropertySource"
          }
        },
        "required": [
          "id",
          "type",
          "source"
        ]
      },
      "SimpleRelationshipMapping": {
        "type": "object",
        "properties": {
          "relationship_id": {
            "description": "Object schema relationship ULID ID",
            "type": "string",
            "example": "01K97SE7GH4TE57FVNQY310QAK"
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "example": "simple",
            "enum": [
              "simple"
            ]
          },
          "source": {
            "description": "Data source mapping",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CustomObjectRelationshipSource"
              },
              {
                "$ref": "#/components/schemas/ProfileRelationshipSource"
              }
            ]
          }
        },
        "required": [
          "relationship_id",
          "type",
          "source"
        ]
      },
      "SourceMappingEnum": {
        "type": "string",
        "enum": [
          "source-mapping"
        ]
      },
      "SourceMappingResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SourceMappingEnum"
          },
          "id": {
            "description": "The ULID ID of the source mapping",
            "type": "string",
            "example": "01K5HQC66PGHV35SYJC5ZV3DZA"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "property_mappings": {
                "description": "A mapping of source property IDs to source mappings",
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConstantPropertyMapping"
                    },
                    {
                      "$ref": "#/components/schemas/SimplePropertyMapping"
                    }
                  ]
                }
              },
              "relationship_mappings": {
                "description": "A mapping of source relationship IDs to source mappings",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SimpleRelationshipMapping"
                }
              }
            },
            "required": [
              "property_mappings",
              "relationship_mappings"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
