{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/application-installs": {
      "get": {
        "operationId": "get_application_installs_beta",
        "summary": "Get Application Installs",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nList application installs for your account.\n\nOAuth apps only see their own install and do not need ``applications:read``.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Optional Scopes:**\n`applications:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_application_installs_beta.json)",
        "parameters": [
          {
            "name": "fields[application-install]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "installed_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[application]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "articles",
                  "banner_image_url",
                  "categories",
                  "client_id",
                  "created_at",
                  "description",
                  "developed_by",
                  "features",
                  "gallery_items",
                  "icon_url",
                  "id",
                  "install_url",
                  "name",
                  "oauth_callback_urls",
                  "preferences_link",
                  "pricing_information_link",
                  "privacy_policy_link",
                  "scopes",
                  "short_description",
                  "status",
                  "support_link",
                  "video",
                  "video.video_id",
                  "website_link"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "application"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInstallResponseDataListWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-optional-scopes": [
          "applications:read"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "applications:read"
        ],
        "x-klaviyo-subtag": "Applications"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AccountResourceName": {
        "type": "string",
        "enum": [
          "account"
        ]
      },
      "ApplicationCategoryEnum": {
        "description": "The marketplace category an application is listed under.\n\nEach member pairs its public value with the value the applications\n    backend stores for that category, so the two cannot drift apart.",
        "type": "string",
        "enum": [
          "accounting",
          "advertising",
          "cdp",
          "crm",
          "data_warehouse",
          "design_and_content",
          "direct_mail",
          "donations",
          "ecommerce_platform",
          "email_service_provider",
          "event_management",
          "fundraising",
          "health_and_wellness",
          "journey_optimization",
          "landing_pages_and_forms",
          "payments",
          "personalization",
          "pos",
          "project_management",
          "quizzes_and_surveys",
          "restaurants",
          "reviews",
          "rewards",
          "shipping",
          "smtp",
          "subscriptions",
          "support_and_help_desk",
          "travel",
          "workflow_automation"
        ]
      },
      "ApplicationFeature": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Feature title.",
            "type": "string",
            "example": "Recover Abandoned Carts"
          },
          "short_description": {
            "description": "Feature description.",
            "type": "string",
            "example": "Trigger custom abandoned cart email flows to recover lost sales."
          }
        },
        "required": [
          "title",
          "short_description"
        ]
      },
      "ApplicationInstallResourceName": {
        "type": "string",
        "enum": [
          "application-install"
        ]
      },
      "ApplicationInstallResponse": {
        "type": "object",
        "properties": {
          "installed_at": {
            "description": "ISO 8601 timestamp when the application was installed.",
            "type": "string",
            "format": "date-time",
            "example": "2026-03-04T00:00:00Z"
          }
        },
        "required": [
          "installed_at"
        ]
      },
      "ApplicationInstallResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ApplicationInstallResourceName"
          },
          "id": {
            "description": "The ID of the application install: the application ID and the account ID joined by a colon.",
            "type": "string",
            "example": "01HQXYZAPPULID000000000000:abc123"
          },
          "attributes": {
            "$ref": "#/components/schemas/ApplicationInstallResponse"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "application": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ApplicationResourceName"
                      },
                      "id": {
                        "description": "The application that is installed.",
                        "type": "string",
                        "example": "01HQXYZAPPULID000000000000"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "account": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/AccountResourceName"
                      },
                      "id": {
                        "description": "The account the application is installed in.",
                        "type": "string",
                        "example": "abc123"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            },
            "required": [
              "application",
              "account"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "relationships",
          "links"
        ]
      },
      "ApplicationInstallResponseDataListWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationInstallResponseData"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationResponseData"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "ApplicationResourceName": {
        "type": "string",
        "enum": [
          "application"
        ]
      },
      "ApplicationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Display name of the application.",
            "type": "string",
            "example": "29 Next"
          },
          "developed_by": {
            "description": "Display name of the developer that built the application.",
            "type": "string",
            "example": "29 Next"
          },
          "status": {
            "description": "Where the application sits in the marketplace listing lifecycle.",
            "type": "string",
            "example": "published",
            "enum": [
              "draft",
              "submitted_for_review",
              "published",
              "unpublished"
            ]
          },
          "icon_url": {
            "description": "URL of the application's icon image.",
            "type": "string",
            "example": "https://static.klaviyo.com/applications/01HQXYZ/icon.svg"
          },
          "install_url": {
            "description": "URL that begins the install flow for this application. Null when none has been set.",
            "type": "string",
            "example": "https://accounts.example.com/oauth/marketing/klaviyo",
            "nullable": true
          },
          "privacy_policy_link": {
            "description": "URL of the application's privacy policy.",
            "type": "string",
            "example": "https://example.com/privacy"
          },
          "categories": {
            "description": "Marketplace categories the application is listed under.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationCategoryEnum"
            },
            "example": [
              "ecommerce_platform"
            ]
          },
          "features": {
            "description": "Highlighted features of the application.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationFeature"
            },
            "example": [
              {
                "title": "Grow Your Email and SMS Lists",
                "short_description": "Automatically sync customers and their purchases to Klaviyo."
              }
            ]
          },
          "gallery_items": {
            "description": "Images shown in the application's media gallery.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GalleryItem"
            },
            "example": [
              {
                "image_url": "https://static.klaviyo.com/applications/01HQXYZ/gallery1.png"
              }
            ]
          },
          "articles": {
            "description": "User guides and case studies attached to the application.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            },
            "example": [
              {
                "type": "user_guide",
                "title": "Getting started",
                "link": "https://example.com/docs/getting-started",
                "description": "Step-by-step setup walkthrough."
              }
            ]
          },
          "client_id": {
            "description": "OAuth client ID of the application. Null when the application does not install through OAuth.",
            "type": "string",
            "example": "8b1a9953-c461-4a3f-9d2e-7c5f0e4b6a17",
            "nullable": true
          },
          "scopes": {
            "description": "API scopes the application requests when an account installs it. Empty when the application does not install through OAuth.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "events:read",
              "profiles:read"
            ],
            "default": []
          },
          "oauth_callback_urls": {
            "description": "OAuth redirect URIs registered for the application. Returned only to the account that owns the application, and null otherwise.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "https://example.com/oauth/callback"
            ],
            "nullable": true
          },
          "short_description": {
            "description": "One-line description of the application.",
            "type": "string",
            "example": "DTC ecommerce platform designed for performance-obsessed brands.",
            "nullable": true
          },
          "description": {
            "description": "Long-form description of the application.",
            "type": "string",
            "example": "29 Next helps DTC merchants unlock profitable growth.",
            "nullable": true
          },
          "banner_image_url": {
            "description": "URL of the application's banner image. Set on featured tiles.",
            "type": "string",
            "example": "https://static.klaviyo.com/applications/01HQXYZ/banner.png",
            "nullable": true
          },
          "preferences_link": {
            "description": "URL where end users manage the installed application.",
            "type": "string",
            "example": "https://example.com/manage",
            "nullable": true
          },
          "support_link": {
            "description": "How to contact the application's support team. Either an `https://` URL or a `mailto:` address.",
            "type": "string",
            "example": "https://example.com/support",
            "nullable": true
          },
          "website_link": {
            "description": "URL of the developer's website.",
            "type": "string",
            "example": "https://example.com",
            "nullable": true
          },
          "video": {
            "description": "YouTube video shown in the media gallery, when set.",
            "example": {
              "video_id": "dQw4w9WgXcQ"
            },
            "$ref": "#/components/schemas/VideoLink",
            "nullable": true
          },
          "pricing_information_link": {
            "description": "URL of the application's pricing information.",
            "type": "string",
            "example": "https://example.com/pricing",
            "nullable": true
          },
          "created_at": {
            "description": "ISO 8601 timestamp when the application was created.",
            "type": "string",
            "format": "date-time",
            "example": "2024-03-04T00:00:00Z",
            "nullable": true
          }
        },
        "required": [
          "name",
          "developed_by",
          "status",
          "icon_url",
          "privacy_policy_link",
          "categories",
          "features",
          "gallery_items",
          "articles"
        ]
      },
      "ApplicationResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ApplicationResourceName"
          },
          "id": {
            "description": "The ID of the application.",
            "type": "string",
            "example": "01HQXYZAAAAAAAAAAAAAAAAAAA"
          },
          "attributes": {
            "$ref": "#/components/schemas/ApplicationResponse"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "account": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/AccountResourceName"
                      },
                      "id": {
                        "description": "The account that owns the application.",
                        "type": "string",
                        "example": "abc123"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "application-install": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/ApplicationInstallResourceName"
                      },
                      "id": {
                        "description": "The caller's install of this application, if any.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "Article": {
        "type": "object",
        "properties": {
          "type": {
            "description": "Article type.",
            "type": "string",
            "example": "user_guide",
            "enum": [
              "user_guide",
              "case_study"
            ]
          },
          "title": {
            "description": "Article title.",
            "type": "string",
            "example": "Getting started with 29 Next"
          },
          "link": {
            "description": "URL of the article.",
            "type": "string",
            "example": "https://example.com/docs/getting-started"
          },
          "description": {
            "description": "Article description. Set on user-guide articles.",
            "type": "string",
            "example": "Step-by-step setup walkthrough.",
            "nullable": true
          },
          "image_url": {
            "description": "URL of the article's cover image. Set on case-study articles.",
            "type": "string",
            "example": "https://static.klaviyo.com/applications/01HQXYZ/article1.png",
            "nullable": true
          }
        },
        "required": [
          "type",
          "title",
          "link"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "GalleryItem": {
        "type": "object",
        "properties": {
          "image_url": {
            "description": "URL of the gallery image.",
            "type": "string",
            "example": "https://static.klaviyo.com/applications/01HQXYZ/gallery1.png"
          }
        },
        "required": [
          "image_url"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "VideoLink": {
        "type": "object",
        "properties": {
          "video_id": {
            "description": "YouTube video ID.",
            "type": "string",
            "example": "dQw4w9WgXcQ"
          }
        },
        "required": [
          "video_id"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
