{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/agent-knowledge": {
      "get": {
        "operationId": "list_agent_knowledge_beta",
        "summary": "List Agent Knowledge",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nReturns every Agent Knowledge item for the calling company,\nincluding items that are pending, indexing, indexed, failed, or\nrejected.\n\nTo add a snippet or webpage, POST to this endpoint with the\nappropriate nested ``source.source_type``; upload files with the\nfile upload endpoint.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/list_agent_knowledge_beta.json)",
        "parameters": [
          {
            "name": "fields[agent-knowledge]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "error",
                  "id",
                  "indexed_at",
                  "source",
                  "source.auto_reindex",
                  "source.content",
                  "source.scope",
                  "source.source_type",
                  "source.title",
                  "source.url",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-created_at",
              "enum": [
                "-created_at",
                "-id"
              ]
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "Page cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 50. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKnowledgeResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_agent_knowledge"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:read"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AgentKnowledgeFileResponseSource": {
        "type": "object",
        "properties": {
          "source_type": {
            "description": "The knowledge item was created from an uploaded file.",
            "$ref": "#/components/schemas/FileEnum"
          },
          "title": {
            "description": "Human-readable title for the file-backed knowledge item.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "source_type"
        ]
      },
      "AgentKnowledgeResourceName": {
        "type": "string",
        "enum": [
          "agent-knowledge"
        ]
      },
      "AgentKnowledgeResponse": {
        "type": "object",
        "properties": {
          "source": {
            "description": "Source payload for the knowledge item.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AgentKnowledgeSnippetResponseSource"
              },
              {
                "$ref": "#/components/schemas/AgentKnowledgeWebpageResponseSource"
              },
              {
                "$ref": "#/components/schemas/AgentKnowledgeFileResponseSource"
              }
            ]
          },
          "status": {
            "description": "Indexing lifecycle state for the knowledge item.",
            "type": "string",
            "enum": [
              "pending",
              "indexing",
              "indexed",
              "failed",
              "rejected"
            ]
          },
          "created_at": {
            "description": "Date and time when the knowledge item was created.",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          },
          "updated_at": {
            "description": "Date and time when the knowledge item was last updated.",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00"
          },
          "indexed_at": {
            "description": "Date and time when indexing completed, if available.",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "error": {
            "description": "Error message when indexing failed; otherwise null.",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "source",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "AgentKnowledgeResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AgentKnowledgeResourceName"
          },
          "id": {
            "description": "Unique Agent Knowledge identifier.",
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/AgentKnowledgeResponse"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "AgentKnowledgeResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AgentKnowledgeResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "AgentKnowledgeSnippetResponseSource": {
        "type": "object",
        "properties": {
          "source_type": {
            "description": "The knowledge item was created from caller-provided content.",
            "$ref": "#/components/schemas/SnippetEnum"
          },
          "title": {
            "description": "Human-readable title for the snippet.",
            "type": "string",
            "nullable": true
          },
          "content": {
            "description": "Text body for the snippet.",
            "nullable": true,
            "type": "string"
          }
        },
        "required": [
          "source_type"
        ]
      },
      "AgentKnowledgeWebpageResponseSource": {
        "type": "object",
        "properties": {
          "source_type": {
            "description": "The knowledge item was created from a webpage.",
            "$ref": "#/components/schemas/WebpageEnum"
          },
          "url": {
            "description": "Normalized URL for the webpage-backed knowledge item.",
            "type": "string",
            "nullable": true
          },
          "scope": {
            "description": "Crawl scope for the webpage-backed knowledge item.",
            "type": "string",
            "enum": [
              "single-page",
              "entire-site"
            ],
            "nullable": true
          },
          "auto_reindex": {
            "description": "Whether the webpage is periodically re-indexed.",
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "source_type"
        ]
      },
      "FileEnum": {
        "type": "string",
        "enum": [
          "file"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "SnippetEnum": {
        "type": "string",
        "enum": [
          "snippet"
        ]
      },
      "WebpageEnum": {
        "type": "string",
        "enum": [
          "webpage"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
