{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/customer-agents/{id}": {
      "patch": {
        "operationId": "update_customer_agent_beta",
        "summary": "Update Customer Agent",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nPatches the Customer Agent resource for the calling company.\n\nThe request body ``data.id`` must match the path parameter.\nSupports ``name``, ``tone_of_voice``, ``escalation_rules``, and\n``communication_styles``. For tone, provide\n``tone_of_voice.preset`` from the supported enum, or\n``preset: \"custom\"`` together with ``custom_instruction``. For\n``escalation_rules`` and ``communication_styles``, the supplied\narray replaces the existing list; omit the field to leave the\nexisting list unchanged. Takes effect on the next turn.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_customer_agent_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[customer-agent]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "communication_styles",
                  "escalation_rules",
                  "id",
                  "name",
                  "tone_of_voice",
                  "tone_of_voice.custom_instruction",
                  "tone_of_voice.preset",
                  "tone_of_voice.updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "JSON:API request for updating the Customer Agent resource.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAgentUpdateRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAgentResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "CustomerAgentCommunicationStyle": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Short, human-readable label for the communication style.",
            "type": "string"
          },
          "description": {
            "description": "Natural-language communication style the agent must follow on every turn.",
            "type": "string"
          },
          "status": {
            "description": "Whether this guidance item is active.",
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        },
        "required": [
          "title",
          "description",
          "status"
        ]
      },
      "CustomerAgentCommunicationStyleRequest": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Short, human-readable label for the communication style.",
            "type": "string"
          },
          "description": {
            "description": "Natural-language communication style the agent must follow on every turn.",
            "type": "string"
          },
          "status": {
            "description": "Whether this guidance item is active.",
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        },
        "required": [
          "title",
          "description",
          "status"
        ]
      },
      "CustomerAgentEscalationRule": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Short, human-readable label for the escalation rule.",
            "type": "string"
          },
          "description": {
            "description": "Natural-language description of when this rule fires.",
            "type": "string"
          },
          "status": {
            "description": "Whether this guidance item is active.",
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        },
        "required": [
          "title",
          "description",
          "status"
        ]
      },
      "CustomerAgentEscalationRuleRequest": {
        "type": "object",
        "properties": {
          "title": {
            "description": "Short, human-readable label for the escalation rule.",
            "type": "string"
          },
          "description": {
            "description": "Natural-language description of when this rule fires.",
            "type": "string"
          },
          "status": {
            "description": "Whether this guidance item is active.",
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        },
        "required": [
          "title",
          "description",
          "status"
        ]
      },
      "CustomerAgentResourceName": {
        "type": "string",
        "enum": [
          "customer-agent"
        ]
      },
      "CustomerAgentResponse": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the AI agent.",
            "type": "string",
            "nullable": true
          },
          "tone_of_voice": {
            "description": "Tone-of-voice settings for the Customer Agent resource.",
            "$ref": "#/components/schemas/CustomerAgentToneOfVoice"
          },
          "escalation_rules": {
            "description": "Natural-language triggers that, when matched, cause the agent to escalate to a human. Each rule is individually enabled or disabled.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAgentEscalationRule"
            }
          },
          "communication_styles": {
            "description": "Global communication styles the agent applies on every turn, such as opening conventions, formatting preferences, and word choices to avoid. Each style is individually enabled or disabled.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAgentCommunicationStyle"
            }
          }
        },
        "required": [
          "tone_of_voice",
          "escalation_rules",
          "communication_styles"
        ]
      },
      "CustomerAgentResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentResourceName"
          },
          "id": {
            "description": "Customer Agent resource id.",
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/CustomerAgentResponse"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "CustomerAgentResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerAgentResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerAgentToneOfVoice": {
        "type": "object",
        "properties": {
          "preset": {
            "description": "Built-in tone preset.",
            "type": "string",
            "enum": [
              "neutral",
              "professional",
              "friendly",
              "playful",
              "custom"
            ]
          },
          "custom_instruction": {
            "description": "Free-text instruction the agent uses for tone when `preset` is `custom`. Ignored otherwise.",
            "type": "string",
            "nullable": true
          },
          "updated_at": {
            "description": "Date and time when the tone-of-voice configuration was last updated.",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          }
        },
        "required": [
          "preset"
        ]
      },
      "CustomerAgentToneOfVoiceUpdateRequest": {
        "type": "object",
        "properties": {
          "preset": {
            "description": "Built-in tone preset.",
            "type": "string",
            "enum": [
              "neutral",
              "professional",
              "friendly",
              "playful",
              "custom"
            ],
            "nullable": true
          },
          "custom_instruction": {
            "description": "Free-text instruction the agent uses for tone when `preset` is `custom`. Ignored otherwise.",
            "type": "string",
            "nullable": true
          }
        }
      },
      "CustomerAgentUpdateRequestRequest": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the AI agent.",
            "type": "string",
            "nullable": true
          },
          "tone_of_voice": {
            "description": "Patchable tone-of-voice settings for the Customer Agent resource.",
            "$ref": "#/components/schemas/CustomerAgentToneOfVoiceUpdateRequest",
            "nullable": true
          },
          "escalation_rules": {
            "description": "Natural-language triggers that, when matched, cause the agent to escalate to a human. When provided, the supplied array replaces the existing list; omit to leave the existing list unchanged.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAgentEscalationRuleRequest"
            },
            "nullable": true
          },
          "communication_styles": {
            "description": "Global communication styles the agent applies on every turn. When provided, the supplied array replaces the existing list; omit to leave the existing list unchanged.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAgentCommunicationStyleRequest"
            },
            "nullable": true
          }
        }
      },
      "CustomerAgentUpdateRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentResourceName"
          },
          "id": {
            "description": "Customer Agent resource id. Must match the `id` path parameter.",
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/CustomerAgentUpdateRequestRequest"
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "CustomerAgentUpdateRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerAgentUpdateRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
