{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/customer-agent-conversations/{id}": {
      "patch": {
        "operationId": "update_customer_agent_conversation_beta",
        "summary": "Update Conversation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nClose a Customer Agent conversation.\n\n``status`` is the only updatable attribute and only ``closed``\nis accepted (the DTO's ``Literal`` constraint enforces this\nbefore this handler runs).<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`agents:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_customer_agent_conversation_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[customer-agent-conversation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "id",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Sparse request to update a Customer Agent conversation.\n\nOnly ``status: closed`` is accepted today \u2014 the public surface\nexposes a single allowed transition (open \u2192 closed). Future statuses\nwill require shared billing / event-emission plumbing currently\ncoupled to the upstream-state-driven PUT.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationUpdateRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "ClosedEnum": {
        "type": "string",
        "enum": [
          "closed"
        ]
      },
      "ConversationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "description": "Current lifecycle status of the conversation.",
            "type": "string",
            "example": "resolved-by-ai",
            "enum": [
              "open",
              "routed-to-team",
              "resolved-by-ai",
              "closed"
            ]
          },
          "created_at": {
            "description": "Date and time when the conversation was created.",
            "type": "string",
            "format": "date-time",
            "example": "2026-05-13T12:00:00+00:00"
          },
          "updated_at": {
            "description": "Date and time when the conversation was last updated.",
            "type": "string",
            "format": "date-time",
            "example": "2026-05-13T12:05:00+00:00"
          }
        },
        "required": [
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "ConversationResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentConversationResourceName"
          },
          "id": {
            "description": "Conversation identifier.",
            "type": "string",
            "example": "conv_abc123"
          },
          "attributes": {
            "$ref": "#/components/schemas/ConversationResponse"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "customer-agent-messages": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/CustomerAgentMessageResourceName"
                        },
                        "id": {
                          "description": "Message turns in this conversation.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            },
            "required": [
              "customer-agent-messages"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "relationships",
          "links"
        ]
      },
      "ConversationResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ConversationResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "ConversationUpdateRequestRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ClosedEnum",
            "nullable": true
          }
        }
      },
      "ConversationUpdateRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomerAgentConversationResourceName"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "$ref": "#/components/schemas/ConversationUpdateRequestRequest"
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "ConversationUpdateRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ConversationUpdateRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "CustomerAgentConversationResourceName": {
        "type": "string",
        "enum": [
          "customer-agent-conversation"
        ]
      },
      "CustomerAgentMessageResourceName": {
        "type": "string",
        "enum": [
          "customer-agent-message"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
