{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/agent-skills": {
      "get": {
        "operationId": "get_agent_skills_beta",
        "summary": "Get Agent Skills",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nReturns every skill configured for the calling company's Customer\nAgent.\n\nUse this to inspect Customer Agent's current skills before\nadding or modifying a custom skill. Each item carries a prefixed\n``id``, ``source``, ``name``, ``display_name``, ``description``,\n``instructions``, bound ``agent-tools`` relationship data,\n``status``, and ``handoff``. Use retrieve to inspect any one\nskill in detail.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:read`",
        "parameters": [
          {
            "name": "fields[agent-skill]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "display_name",
                  "handoff",
                  "id",
                  "instructions",
                  "name",
                  "source",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSkillResponseDataListWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:read"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      },
      "post": {
        "operationId": "create_agent_skill_beta",
        "summary": "Create Agent Skill",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nAdds a skill to Customer Agent.\n\nCustomer Agent will invoke this skill when the customer message\nmatches its ``description``. Provide ``display_name``,\n``description`` (summary of the skill's capabilities and when it\nshould be used), ``instructions`` (the system prompt the skill\nuses to handle a turn), optional ``handoff`` (escalation\nbehavior), optional ``agent-tools`` relationship data, and\n``status``. Set ``status: draft`` to stage without going live,\n``live`` to activate immediately. Customer Agent generates the\nskill name and returns a prefixed custom id plus the generated\n``name`` attribute.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:write`",
        "parameters": [
          {
            "name": "fields[agent-skill]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "display_name",
                  "handoff",
                  "id",
                  "instructions",
                  "name",
                  "source",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Request to create a routable Customer Agent skill.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSkillCreateRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSkillResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    },
    "/api/agent-skills/{id}": {
      "get": {
        "operationId": "get_agent_skill_beta",
        "summary": "Get Agent Skill",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nReturns full detail for a single skill: ``name``, ``display_name``,\n``description``, ``instructions``, bound ``agent-tools`` relationship\ndata, ``status``, and ``handoff``.\n\nSkills are looked up by prefixed ``id``. To list all skills, use\n``GET /agent-skills``.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[agent-skill]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "display_name",
                  "handoff",
                  "id",
                  "instructions",
                  "name",
                  "source",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSkillResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:read"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      },
      "patch": {
        "operationId": "update_agent_skill_beta",
        "summary": "Update Agent Skill",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nPatches one or more fields on an existing skill: ``display_name``,\n``description``, ``instructions``, ``status``, ``handoff``, and the\n``agent-tools`` relationship.\n\nTo rebind tools, send a new\n``agent-tools`` relationship list; this is a full replacement, not\nmerged. Skills are looked up by prefixed ``id``. Use\n``status: draft`` to pause a custom skill.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[agent-skill]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "display_name",
                  "handoff",
                  "id",
                  "instructions",
                  "name",
                  "source",
                  "status",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Sparse request to update a Customer Agent skill.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSkillUpdateRequestRequestDataWrapper"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSkillResponseDataWrapper"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      },
      "delete": {
        "operationId": "delete_agent_skill_beta",
        "summary": "Delete Agent Skill",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nPermanently removes the skill from Customer Agent.\n\nPast conversations routed to this skill are unchanged; future\nconversations cannot route to it. To disable without deletion,\nuse ``PATCH /agent-skills/{id}`` with ``status: draft``.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`agents:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "agents:write"
        ],
        "x-klaviyo-subtag": "Customer Agent"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "AgentSkillCreateRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "description": "Human-readable name shown for the skill.",
            "type": "string"
          },
          "description": {
            "description": "Summary of the skill's capabilities and when Customer Agent should use it.",
            "type": "string"
          },
          "instructions": {
            "description": "System prompt the skill uses to handle a turn.",
            "type": "string"
          },
          "status": {
            "description": "Lifecycle status for a custom skill. Use `draft` to stage without going live and `live` to activate.",
            "$ref": "#/components/schemas/AgentSkillStatus"
          },
          "handoff": {
            "description": "Optional escalation behavior for this skill.",
            "$ref": "#/components/schemas/AgentSkillHandoff",
            "nullable": true
          }
        },
        "required": [
          "display_name",
          "description",
          "instructions",
          "status"
        ]
      },
      "AgentSkillCreateRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AgentSkillResourceName"
          },
          "attributes": {
            "$ref": "#/components/schemas/AgentSkillCreateRequest"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "agent-tools": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/AgentToolResourceName"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "AgentSkillCreateRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AgentSkillCreateRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "AgentSkillHandoff": {
        "type": "string",
        "enum": [
          "none",
          "offer",
          "immediate",
          "all"
        ]
      },
      "AgentSkillResourceName": {
        "type": "string",
        "enum": [
          "agent-skill"
        ]
      },
      "AgentSkillResponse": {
        "type": "object",
        "properties": {
          "source": {
            "description": "Who created this skill?",
            "$ref": "#/components/schemas/AgentSkillSource"
          },
          "display_name": {
            "description": "Human-readable name shown for the skill.",
            "type": "string"
          },
          "name": {
            "description": "Skill name from the backing system.",
            "type": "string"
          },
          "description": {
            "description": "Summary of the skill's capabilities and when Customer Agent should use it.",
            "type": "string"
          },
          "instructions": {
            "description": "System prompt the skill uses to handle a turn.",
            "type": "string"
          },
          "status": {
            "description": "Lifecycle status for the skill.",
            "$ref": "#/components/schemas/AgentSkillResponseStatus"
          },
          "handoff": {
            "description": "Escalation behavior for the skill.",
            "$ref": "#/components/schemas/AgentSkillHandoff"
          },
          "created_at": {
            "description": "Date and time when the skill was created.",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "description": "Date and time when the skill was last updated.",
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "source",
          "display_name",
          "name",
          "description",
          "instructions",
          "status",
          "handoff"
        ]
      },
      "AgentSkillResponseData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AgentSkillResourceName"
          },
          "id": {
            "description": "Skill identifier.",
            "type": "string",
            "example": "custom:agent_123"
          },
          "attributes": {
            "$ref": "#/components/schemas/AgentSkillResponse"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "agent-tools": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/AgentToolResourceName"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                },
                "required": [
                  "data",
                  "links"
                ]
              }
            },
            "required": [
              "agent-tools"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "relationships",
          "links"
        ]
      },
      "AgentSkillResponseDataListWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentSkillResponseData"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data",
          "links"
        ]
      },
      "AgentSkillResponseDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AgentSkillResponseData"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data",
          "links"
        ]
      },
      "AgentSkillResponseStatus": {
        "type": "string",
        "enum": [
          "draft",
          "live",
          "disabled",
          "unavailable"
        ]
      },
      "AgentSkillSource": {
        "type": "string",
        "enum": [
          "custom",
          "prebuilt"
        ]
      },
      "AgentSkillStatus": {
        "type": "string",
        "enum": [
          "draft",
          "live"
        ]
      },
      "AgentSkillUpdateRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "description": "Human-readable name shown for the skill.",
            "type": "string",
            "nullable": true
          },
          "description": {
            "description": "Summary of the skill's capabilities and when Customer Agent should use it.",
            "type": "string",
            "nullable": true
          },
          "instructions": {
            "description": "System prompt the skill uses to handle a turn.",
            "type": "string",
            "nullable": true
          },
          "status": {
            "description": "Lifecycle status for a custom skill. Use `draft` to pause the skill and `live` to activate it.",
            "$ref": "#/components/schemas/AgentSkillStatus",
            "nullable": true
          },
          "handoff": {
            "description": "Escalation behavior for this skill.",
            "$ref": "#/components/schemas/AgentSkillHandoff",
            "nullable": true
          }
        }
      },
      "AgentSkillUpdateRequestRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AgentSkillResourceName"
          },
          "id": {
            "description": "Skill identifier. This must match the `id` path parameter.",
            "type": "string",
            "example": "custom:agent_123"
          },
          "attributes": {
            "$ref": "#/components/schemas/AgentSkillUpdateRequest"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "agent-tools": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/AgentToolResourceName"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "AgentSkillUpdateRequestRequestDataWrapper": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AgentSkillUpdateRequestRequestData"
          }
        },
        "required": [
          "data"
        ]
      },
      "AgentToolResourceName": {
        "type": "string",
        "enum": [
          "agent-tool"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
