{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-07-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/brand-logos": {
      "get": {
        "operationId": "get_brand_logos_beta",
        "summary": "Get Brand Logos",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all brand logos for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_logos_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[image]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "format",
                  "hidden",
                  "id",
                  "image_url",
                  "name",
                  "size",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "image"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandLogoResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "post": {
        "operationId": "create_brand_logo_beta",
        "summary": "Create Brand Logo",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a new brand logo.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_brand_logo_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "POST /api/brand-logos \u2014 link a new logo to an existing image asset.\n\nThe `image` relationship (required) references the image the logo\nrenders \u2014 manage image assets via the v3 Images API.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandLogoCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostBrandLogoResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-logos/{id}": {
      "get": {
        "operationId": "get_brand_logo_beta",
        "summary": "Get Brand Logo",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand logo with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_logo_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand logo.",
            "required": true,
            "schema": {
              "description": "The ID of the brand logo.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[image]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "format",
                  "hidden",
                  "id",
                  "image_url",
                  "name",
                  "size",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "image"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandLogoResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_logo_beta",
        "summary": "Update Brand Logo",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the brand logo with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_logo_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand logo.",
            "required": true,
            "schema": {
              "description": "The ID of the brand logo.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "PATCH /api/brand-logos/{id} \u2014 JSON:API field-level partial update.\n\nPer https://jsonapi.org/format/#crud-updating-resource-attributes, only\nthe top-level attributes/relationships present in the request body are\nreplaced; missing top-level fields are preserved. A client can patch\njust `name` without disturbing `width`, `alt_text`, the `image`\nrelationship, etc.\n\nA present top-level field is replaced wholesale (no recursive merge\ninto nested structures), so sending `\"alt_text\": null` clears it.\n\nThe `image` relationship is optional on PATCH \u2014 omit to keep the\nexisting image; include with a non-null `data` to repoint at a\ndifferent image. A logo *must* have an image, so the JSON:API\n\"unlink\" form (`\"image\": {\"data\": null}`) is not supported and is\ntreated the same as omitting the relationship (existing image\npreserved).",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandLogoPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandLogoResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "delete": {
        "operationId": "delete_brand_logo_beta",
        "summary": "Delete Brand Logo",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the brand logo with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_brand_logo_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand logo.",
            "required": true,
            "schema": {
              "description": "The ID of the brand logo.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-buttons": {
      "get": {
        "operationId": "get_brand_buttons_beta",
        "summary": "Get Brand Buttons",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all brand buttons for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_buttons_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandButtonResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "post": {
        "operationId": "create_brand_button_beta",
        "summary": "Create Brand Button",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a new brand button.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_brand_button_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandButtonCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostBrandButtonResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-buttons/{id}": {
      "get": {
        "operationId": "get_brand_button_beta",
        "summary": "Get Brand Button",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand button with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_button_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand button.",
            "required": true,
            "schema": {
              "description": "The ID of the brand button.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandButtonResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_button_beta",
        "summary": "Update Brand Button",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the brand button with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_button_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand button.",
            "required": true,
            "schema": {
              "description": "The ID of the brand button.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandButtonPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandButtonResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "delete": {
        "operationId": "delete_brand_button_beta",
        "summary": "Delete Brand Button",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the brand button with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_brand_button_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand button.",
            "required": true,
            "schema": {
              "description": "The ID of the brand button.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-colors": {
      "get": {
        "operationId": "get_brand_colors_beta",
        "summary": "Get Brand Colors",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all brand color groups for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_colors_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-color]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "colors",
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandColorResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "post": {
        "operationId": "create_brand_color_beta",
        "summary": "Create Brand Color",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a new brand color group.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_brand_color_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-color]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "colors",
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandColorCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostBrandColorResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-colors/{id}": {
      "get": {
        "operationId": "get_brand_color_beta",
        "summary": "Get Brand Color",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand color group with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_color_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand color group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand color group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-color]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "colors",
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandColorResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_color_beta",
        "summary": "Update Brand Color",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the brand color group with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_color_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand color group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand color group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-color]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "colors",
                  "id",
                  "name"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandColorPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandColorResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "delete": {
        "operationId": "delete_brand_color_beta",
        "summary": "Delete Brand Color",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the brand color group with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_brand_color_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand color group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand color group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-voice/{id}": {
      "get": {
        "operationId": "get_brand_voice_beta",
        "summary": "Get Brand Voice",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand voice for the authenticated company.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_voice_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The company ID. Must match the authenticated account.",
            "required": true,
            "schema": {
              "description": "The company ID. Must match the authenticated account.",
              "type": "string",
              "example": "abc123"
            }
          },
          {
            "name": "fields[brand-voice]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "language_patterns",
                  "tone_descriptors",
                  "version"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandVoiceResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_voice_beta",
        "summary": "Update Brand Voice",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the brand voice for the authenticated company.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_voice_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The company ID. Must match the authenticated account.",
            "required": true,
            "schema": {
              "description": "The company ID. Must match the authenticated account.",
              "type": "string",
              "example": "abc123"
            }
          },
          {
            "name": "fields[brand-voice]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "language_patterns",
                  "tone_descriptors",
                  "version"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "PATCH /api/brand-voice/{company_id} \u2014 JSON:API field-level partial update.\n\nPer https://jsonapi.org/format/#crud-updating-resource-attributes, only\nthe top-level attributes present in the request body are replaced;\nmissing top-level fields are preserved. A client can patch just\n`tone_descriptors` without disturbing `language_patterns`, and vice\nversa.\n\nA present top-level field is replaced wholesale (no recursive merge\ninto the list contents) \u2014 the underlying service treats\n`tone_descriptors` and `language_patterns` as full-list replacements,\nso partial-list edits must be done client-side by reading, modifying,\nand writing the full list.\n\nThe path `id` must equal the auth context's company id; mismatches\nreturn 404.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandVoicePartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandVoiceResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-social-groups": {
      "get": {
        "operationId": "get_brand_social_groups_beta",
        "summary": "Get Brand Social Groups",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all brand social groups for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_social_groups_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandSocialGroupResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "post": {
        "operationId": "create_brand_social_group_beta",
        "summary": "Create Brand Social Group",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a new brand social group.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_brand_social_group_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandSocialGroupCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostBrandSocialGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-social-groups/{id}": {
      "get": {
        "operationId": "get_brand_social_group_beta",
        "summary": "Get Brand Social Group",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand social group with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_social_group_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand social group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand social group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandSocialGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_social_group_beta",
        "summary": "Update Brand Social Group",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the brand social group with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_social_group_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand social group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand social group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandSocialGroupPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandSocialGroupResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "delete": {
        "operationId": "delete_brand_social_group_beta",
        "summary": "Delete Brand Social Group",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the brand social group with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_brand_social_group_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand social group.",
            "required": true,
            "schema": {
              "description": "The ID of the brand social group.",
              "type": "string",
              "example": "42"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-email-defaults": {
      "get": {
        "operationId": "get_brand_email_defaults_beta",
        "summary": "Get Brand Email Defaults",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nList the brand email defaults for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_email_defaults_beta.json)",
        "parameters": [
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-email-default]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "body",
                  "body.background_color",
                  "body.body_background_color",
                  "body.h1_text",
                  "body.h1_text.color",
                  "body.h1_text.font_family",
                  "body.h1_text.font_size",
                  "body.h1_text.font_style",
                  "body.h1_text.font_weight",
                  "body.h1_text.letter_spacing",
                  "body.h1_text.text_decoration",
                  "body.h2_text",
                  "body.h2_text.color",
                  "body.h2_text.font_family",
                  "body.h2_text.font_size",
                  "body.h2_text.font_style",
                  "body.h2_text.font_weight",
                  "body.h2_text.letter_spacing",
                  "body.h2_text.text_decoration",
                  "body.h3_text",
                  "body.h3_text.color",
                  "body.h3_text.font_family",
                  "body.h3_text.font_size",
                  "body.h3_text.font_style",
                  "body.h3_text.font_weight",
                  "body.h3_text.letter_spacing",
                  "body.h3_text.text_decoration",
                  "body.h4_text",
                  "body.h4_text.color",
                  "body.h4_text.font_family",
                  "body.h4_text.font_size",
                  "body.h4_text.font_style",
                  "body.h4_text.font_weight",
                  "body.h4_text.letter_spacing",
                  "body.h4_text.text_decoration",
                  "body.link_text",
                  "body.link_text.color",
                  "body.link_text.font_family",
                  "body.link_text.font_size",
                  "body.link_text.font_style",
                  "body.link_text.font_weight",
                  "body.link_text.letter_spacing",
                  "body.link_text.text_decoration",
                  "body.text",
                  "body.text.color",
                  "body.text.font_family",
                  "body.text.font_size",
                  "body.text.font_style",
                  "body.text.font_weight",
                  "body.text.letter_spacing",
                  "body.text.text_decoration",
                  "footer",
                  "footer.background_color",
                  "footer.link_text",
                  "footer.link_text.color",
                  "footer.link_text.font_family",
                  "footer.link_text.font_size",
                  "footer.link_text.font_style",
                  "footer.link_text.font_weight",
                  "footer.link_text.letter_spacing",
                  "footer.link_text.text_decoration",
                  "footer.social_group_color",
                  "footer.text",
                  "footer.text.color",
                  "footer.text.font_family",
                  "footer.text.font_size",
                  "footer.text.font_style",
                  "footer.text.font_weight",
                  "footer.text.letter_spacing",
                  "footer.text.text_decoration",
                  "header",
                  "header.background_color",
                  "header.link_text",
                  "header.link_text.color",
                  "header.link_text.font_family",
                  "header.link_text.font_size",
                  "header.link_text.font_style",
                  "header.link_text.font_weight",
                  "header.link_text.letter_spacing",
                  "header.link_text.text_decoration",
                  "header.links",
                  "header.logo_max_width",
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "brand-button",
                  "brand-logo",
                  "brand-social-group"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandEmailDefaultResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    },
    "/api/brand-email-defaults/{id}": {
      "get": {
        "operationId": "get_brand_email_default_beta",
        "summary": "Get Brand Email Default",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the brand email defaults for the authenticated account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`brands:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_brand_email_default_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand email defaults (must equal the account ID).",
            "required": true,
            "schema": {
              "description": "The ID of the brand email defaults (must equal the account ID).",
              "type": "string",
              "example": "abc123"
            }
          },
          {
            "name": "fields[brand-button]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "border",
                  "border.border_color",
                  "border.border_style",
                  "border.border_width",
                  "border.is_border_active",
                  "id",
                  "is_primary",
                  "name",
                  "preview_page_hex",
                  "spacing",
                  "spacing.padding_bottom",
                  "spacing.padding_left",
                  "spacing.padding_right",
                  "spacing.padding_top",
                  "style",
                  "style.background_color",
                  "style.border_radius",
                  "style.box_shadow",
                  "style.is_shadow_active",
                  "text",
                  "text.color",
                  "text.font_family",
                  "text.font_size",
                  "text.font_style",
                  "text.font_weight",
                  "text.letter_spacing",
                  "text.text_decoration"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-email-default]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "body",
                  "body.background_color",
                  "body.body_background_color",
                  "body.h1_text",
                  "body.h1_text.color",
                  "body.h1_text.font_family",
                  "body.h1_text.font_size",
                  "body.h1_text.font_style",
                  "body.h1_text.font_weight",
                  "body.h1_text.letter_spacing",
                  "body.h1_text.text_decoration",
                  "body.h2_text",
                  "body.h2_text.color",
                  "body.h2_text.font_family",
                  "body.h2_text.font_size",
                  "body.h2_text.font_style",
                  "body.h2_text.font_weight",
                  "body.h2_text.letter_spacing",
                  "body.h2_text.text_decoration",
                  "body.h3_text",
                  "body.h3_text.color",
                  "body.h3_text.font_family",
                  "body.h3_text.font_size",
                  "body.h3_text.font_style",
                  "body.h3_text.font_weight",
                  "body.h3_text.letter_spacing",
                  "body.h3_text.text_decoration",
                  "body.h4_text",
                  "body.h4_text.color",
                  "body.h4_text.font_family",
                  "body.h4_text.font_size",
                  "body.h4_text.font_style",
                  "body.h4_text.font_weight",
                  "body.h4_text.letter_spacing",
                  "body.h4_text.text_decoration",
                  "body.link_text",
                  "body.link_text.color",
                  "body.link_text.font_family",
                  "body.link_text.font_size",
                  "body.link_text.font_style",
                  "body.link_text.font_weight",
                  "body.link_text.letter_spacing",
                  "body.link_text.text_decoration",
                  "body.text",
                  "body.text.color",
                  "body.text.font_family",
                  "body.text.font_size",
                  "body.text.font_style",
                  "body.text.font_weight",
                  "body.text.letter_spacing",
                  "body.text.text_decoration",
                  "footer",
                  "footer.background_color",
                  "footer.link_text",
                  "footer.link_text.color",
                  "footer.link_text.font_family",
                  "footer.link_text.font_size",
                  "footer.link_text.font_style",
                  "footer.link_text.font_weight",
                  "footer.link_text.letter_spacing",
                  "footer.link_text.text_decoration",
                  "footer.social_group_color",
                  "footer.text",
                  "footer.text.color",
                  "footer.text.font_family",
                  "footer.text.font_size",
                  "footer.text.font_style",
                  "footer.text.font_weight",
                  "footer.text.letter_spacing",
                  "footer.text.text_decoration",
                  "header",
                  "header.background_color",
                  "header.link_text",
                  "header.link_text.color",
                  "header.link_text.font_family",
                  "header.link_text.font_size",
                  "header.link_text.font_style",
                  "header.link_text.font_weight",
                  "header.link_text.letter_spacing",
                  "header.link_text.text_decoration",
                  "header.links",
                  "header.logo_max_width",
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-logo]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "alt_text",
                  "height",
                  "id",
                  "link_url",
                  "name",
                  "width"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[brand-social-group]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "name",
                  "social_links"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "brand-button",
                  "brand-logo",
                  "brand-social-group"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandEmailDefaultResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "brands:read"
        ],
        "x-klaviyo-subtag": "Brands"
      },
      "patch": {
        "operationId": "update_brand_email_default_beta",
        "summary": "Update Brand Email Default",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-07-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nPartial update of the brand email defaults for the authenticated account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`brands:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_brand_email_default_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the brand email defaults (must equal the account ID).",
            "required": true,
            "schema": {
              "description": "The ID of the brand email defaults (must equal the account ID).",
              "type": "string",
              "example": "abc123"
            }
          },
          {
            "name": "fields[brand-email-default]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-07-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "body",
                  "body.background_color",
                  "body.body_background_color",
                  "body.h1_text",
                  "body.h1_text.color",
                  "body.h1_text.font_family",
                  "body.h1_text.font_size",
                  "body.h1_text.font_style",
                  "body.h1_text.font_weight",
                  "body.h1_text.letter_spacing",
                  "body.h1_text.text_decoration",
                  "body.h2_text",
                  "body.h2_text.color",
                  "body.h2_text.font_family",
                  "body.h2_text.font_size",
                  "body.h2_text.font_style",
                  "body.h2_text.font_weight",
                  "body.h2_text.letter_spacing",
                  "body.h2_text.text_decoration",
                  "body.h3_text",
                  "body.h3_text.color",
                  "body.h3_text.font_family",
                  "body.h3_text.font_size",
                  "body.h3_text.font_style",
                  "body.h3_text.font_weight",
                  "body.h3_text.letter_spacing",
                  "body.h3_text.text_decoration",
                  "body.h4_text",
                  "body.h4_text.color",
                  "body.h4_text.font_family",
                  "body.h4_text.font_size",
                  "body.h4_text.font_style",
                  "body.h4_text.font_weight",
                  "body.h4_text.letter_spacing",
                  "body.h4_text.text_decoration",
                  "body.link_text",
                  "body.link_text.color",
                  "body.link_text.font_family",
                  "body.link_text.font_size",
                  "body.link_text.font_style",
                  "body.link_text.font_weight",
                  "body.link_text.letter_spacing",
                  "body.link_text.text_decoration",
                  "body.text",
                  "body.text.color",
                  "body.text.font_family",
                  "body.text.font_size",
                  "body.text.font_style",
                  "body.text.font_weight",
                  "body.text.letter_spacing",
                  "body.text.text_decoration",
                  "footer",
                  "footer.background_color",
                  "footer.link_text",
                  "footer.link_text.color",
                  "footer.link_text.font_family",
                  "footer.link_text.font_size",
                  "footer.link_text.font_style",
                  "footer.link_text.font_weight",
                  "footer.link_text.letter_spacing",
                  "footer.link_text.text_decoration",
                  "footer.social_group_color",
                  "footer.text",
                  "footer.text.color",
                  "footer.text.font_family",
                  "footer.text.font_size",
                  "footer.text.font_style",
                  "footer.text.font_weight",
                  "footer.text.letter_spacing",
                  "footer.text.text_decoration",
                  "header",
                  "header.background_color",
                  "header.link_text",
                  "header.link_text.color",
                  "header.link_text.font_family",
                  "header.link_text.font_size",
                  "header.link_text.font_style",
                  "header.link_text.font_weight",
                  "header.link_text.letter_spacing",
                  "header.link_text.text_decoration",
                  "header.links",
                  "header.logo_max_width",
                  "id"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-07-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "PATCH /api/brand-email-defaults/{id}: JSON:API field-level partial update.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/BrandEmailDefaultPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandEmailDefaultResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "brands:write"
        ],
        "x-klaviyo-subtag": "Brands"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "BorderStyles": {
        "type": "object",
        "properties": {
          "border_color": {
            "type": "string"
          },
          "border_style": {
            "description": "Border style.",
            "type": "string",
            "enum": [
              "dashed",
              "dotted",
              "solid"
            ]
          },
          "border_width": {
            "type": "integer"
          },
          "is_border_active": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "border_color",
          "border_style",
          "border_width"
        ]
      },
      "BrandButtonCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BrandButtonCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "BrandButtonCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/BrandButtonEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "style": {
                "description": "Misc button styles.",
                "$ref": "#/components/schemas/ButtonStyles"
              },
              "border": {
                "description": "Border styles.",
                "$ref": "#/components/schemas/BorderStyles"
              },
              "spacing": {
                "description": "Spacing styles.",
                "$ref": "#/components/schemas/SpacingStyles"
              },
              "text": {
                "description": "Button-text styles.",
                "$ref": "#/components/schemas/TextStyles"
              },
              "name": {
                "description": "Human-readable name for this button.",
                "type": "string",
                "nullable": true
              },
              "is_primary": {
                "description": "Whether this button is the account's primary brand button. Setting to `true` demotes any existing primary.",
                "type": "boolean",
[...]
