{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/campaign-variations/{id}": {
      "get": {
        "operationId": "get_campaign_variation_beta",
        "summary": "Get Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nGet the campaign variation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[translation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "created",
                  "fallback_locale",
                  "metadata",
                  "source_locale",
                  "target_locales",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign-message",
                  "translation"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVariationResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "patch": {
        "operationId": "update_campaign_variation_beta",
        "summary": "Update Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nUpdate the campaign variation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/VariationPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchVariationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      },
      "delete": {
        "operationId": "delete_campaign_variation_beta",
        "summary": "Delete Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nDelete the campaign variation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-variations": {
      "post": {
        "operationId": "create_campaign_variation_beta",
        "summary": "Create Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nCreate a campaign variation.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:write`",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/VariationCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVariationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:write"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-variations/{id}/campaign-message": {
      "get": {
        "operationId": "get_message_for_campaign_variation_beta",
        "summary": "Get Message for Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nGet the campaign message for the given campaign variation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "fields[campaign-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.name",
                  "definition.send_options",
                  "definition.send_options.is_ignoring_unsubscribes",
                  "definition.send_options.recipient_percentage",
                  "definition.send_options.send_strategy",
                  "definition.send_options.send_time",
                  "definition.send_options.send_times",
                  "definition.send_options.throttling_type",
                  "definition.status",
                  "definition.tracking_options",
                  "definition.tracking_options.is_add_utm",
                  "definition.tracking_options.is_tracking_clicks",
                  "definition.tracking_options.is_tracking_opens",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_campaign_variation_message"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-variations/{id}/relationships/campaign-message": {
      "get": {
        "operationId": "get_message_id_for_campaign_variation_beta",
        "summary": "Get Message ID for Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nGet the campaign message [relationship](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given campaign variation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignVariationMessageRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_campaign_variation_relationships_message"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-variations/{id}/translation": {
      "get": {
        "operationId": "get_translation_for_campaign_variation_beta",
        "summary": "Get Translation for Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nGet the translation for the given campaign variation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "fields[translation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "created",
                  "fallback_locale",
                  "metadata",
                  "source_locale",
                  "target_locales",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_campaign_variation_translation"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    },
    "/api/campaign-variations/{id}/relationships/translation": {
      "get": {
        "operationId": "get_translation_id_for_campaign_variation_beta",
        "summary": "Get Translation ID for Campaign Variation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and will be released in GA in our 2026-07-15 revision.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs.\n\nGet the translation [relationship](https://developers.klaviyo.com/en/reference/api_overview#relationships) for the given campaign variation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the variation",
            "required": true,
            "schema": {
              "description": "The ID of the variation",
              "type": "string",
              "example": "925e385b52fb405715f3616c337cc65c"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignVariationTranslationRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_campaign_variation_relationships_translation"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read"
        ],
        "x-klaviyo-subtag": "Campaigns"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "CampaignAudienceEnum": {
        "type": "string",
        "enum": [
          "campaign-audience"
        ]
      },
      "CampaignEnum": {
        "type": "string",
        "enum": [
          "campaign"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "CampaignVariationEnum": {
        "type": "string",
        "enum": [
          "campaign-variation"
        ]
      },
      "EmailChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "email",
            "default": "email",
            "enum": [
              "email"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "from_label": {
            "type": "string",
            "default": ""
          },
          "from_email": {
            "type": "string",
            "default": ""
          },
          "reply_to_email": {
            "type": "string",
            "default": ""
          },
          "cc_email": {
            "type": "string",
            "default": ""
          },
          "bcc_email": {
            "type": "string",
            "default": ""
          },
          "subject": {
            "type": "string",
            "default": ""
          },
          "preview_text": {
            "type": "string",
            "default": ""
          }
        }
      },
      "FlowMessageEnum": {
        "type": "string",
        "enum": [
          "flow-message"
        ]
      },
      "GetCampaignVariationMessageRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignMessageEnum"
              },
              "id": {
                "description": "The ID of the message",
                "type": "string"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetCampaignVariationTranslationRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/TranslationEnum"
              },
              "id": {
                "description": "The composite ID of the translation in format {resource_type}::{qualifier}::{collection_id}",
                "type": "string",
                "example": "campaign-variation::email::01KH00000000000000000000AB"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetMessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MessageResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TranslationResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetVariationResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VariationResponseObjectResource"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MessageResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/TranslationResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "MessageDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the message",
            "type": "string",
            "nullable": true
          },
          "status": {
            "description": "The status of the message",
            "type": "string",
            "enum": [
              "cancelled",
              "draft",
              "scheduled",
              "sending",
              "sent"
            ],
            "nullable": true
          },
          "tracking_options": {
            "description": "The tracking options for this message",
            "$ref": "#/components/schemas/MessageTrackingOptions",
            "nullable": true
          },
          "send_options": {
            "description": "The send options for this message",
            "$ref": "#/components/schemas/MessageSendOptions",
            "nullable": true
          }
        }
      },
      "MessageResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignMessageEnum"
          },
          "id": {
            "description": "The ID of the message",
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "created": {
                "description": "The datetime when this message was created",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              },
              "updated": {
                "description": "The datetime when this message was updated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              },
              "definition": {
                "description": "The definition of this message",
                "$ref": "#/components/schemas/MessageDefinition"
              }
            },
            "required": [
              "created",
              "updated",
              "definition"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignEnum"
                      },
                      "id": {
                        "description": "The parent campaign",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "campaign-audience": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignAudienceEnum"
                      },
                      "id": {
                        "description": "The audience this message targets",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "campaign-variations": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/CampaignVariationEnum"
                        },
                        "id": {
                          "description": "The content variations for this message",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "MessageSendOptions": {
        "type": "object",
        "properties": {
          "send_time": {
            "description": "The UTC send time for this message",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-08T00:00:00+00:00",
            "nullable": true
          },
          "send_times": {
            "description": "Per-variation send times, keyed by variation ID. Populated for send-time optimization and AB send time test strategies.",
            "type": "object",
            "nullable": true
          },
          "send_strategy": {
            "description": "The scheduling strategy for this message.",
            "type": "string",
            "enum": [
              "ab_send_time_test",
              "content_variation",
              "content_variation_local_timezone",
              "local_timezone",
              "personalized_send_time_optimization",
              "send_time_optimization",
              "static",
              "throttled",
              "variation_per_second_throttled"
            ],
            "nullable": true
          },
          "recipient_percentage": {
            "description": "The percentage of recipients to send this message to",
            "type": "integer",
            "nullable": true
          },
          "throttling_type": {
            "description": "The throttling type for this message",
            "type": "string",
            "enum": [
              "none",
              "throttle-for-campaigns",
              "throttle-for-campaigns-and-flows",
              "throttle-for-flows"
            ],
            "nullable": true
          },
          "is_ignoring_unsubscribes": {
            "description": "Whether to ignore unsubscribes for this message",
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "MessageTrackingOptions": {
        "type": "object",
        "properties": {
          "is_add_utm": {
            "type": "boolean",
            "nullable": true
          },
          "is_tracking_clicks": {
            "type": "boolean",
            "nullable": true
          },
          "is_tracking_opens": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PatchVariationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignVariationEnum"
              },
              "id": {
                "description": "The ID of the variation",
                "type": "string",
                "example": "925e385b52fb405715f3616c337cc65c"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "created": {
                    "description": "The datetime when this variation was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "updated": {
                    "description": "The datetime when this variation was updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "definition": {
                    "description": "The definition of this variation",
                    "$ref": "#/components/schemas/VariationDefinition"
                  }
                },
                "required": [
                  "created",
                  "updated",
                  "definition"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-message": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignMessageEnum"
                          },
                          "id": {
                            "description": "Related Campaign Message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "translation": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TranslationEnum"
                          },
                          "id": {
                            "description": "Related Translation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PostVariationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignVariationEnum"
              },
              "id": {
                "description": "The ID of the variation",
                "type": "string",
                "example": "925e385b52fb405715f3616c337cc65c"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "created": {
                    "description": "The datetime when this variation was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "updated": {
                    "description": "The datetime when this variation was updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00"
                  },
                  "definition": {
                    "description": "The definition of this variation",
                    "$ref": "#/components/schemas/VariationDefinition"
                  }
                },
                "required": [
                  "created",
                  "updated",
                  "definition"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-message": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignMessageEnum"
                          },
                          "id": {
                            "description": "Related Campaign Message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "translation": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TranslationEnum"
                          },
                          "id": {
                            "description": "Related Translation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PushActionButton": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "action_type": {
            "description": "The action type for a push notification action button.",
            "type": "string",
            "enum": [
              "deep_link",
              "dismiss",
              "open_app",
              "open_url"
            ]
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "custom_action_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "label",
          "action_type"
        ]
      },
      "PushChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "push",
            "default": "push",
            "enum": [
              "push"
            ]
          },
          "title": {
            "type": "string",
            "default": ""
          },
          "body": {
            "type": "string",
            "default": ""
          },
          "badge": {
            "type": "boolean",
            "default": false
          },
          "badge_config": {
            "description": "A push message variation's badge config.",
            "type": "string",
            "example": "increment-one",
            "default": "increment-one",
            "enum": [
              "increment-one",
              "set-count",
              "set-property"
            ]
          },
          "badge_value": {
            "type": "string",
            "example": "1",
            "default": "1"
          },
          "sound_file_name": {
            "type": "string",
            "default": ""
          },
          "static_asset_id": {
            "type": "integer",
            "nullable": true
          },
          "sound": {
            "type": "boolean",
            "default": false
          },
          "open_action": {
            "type": "integer",
            "default": 0
          },
          "dynamic_media_template": {
            "type": "string",
            "default": ""
          },
          "kv_pairs": {
            "type": "object",
            "nullable": true
          },
          "push_type": {
            "description": "A push message variation's push type.",
            "type": "string",
            "example": "standard",
            "default": "standard",
            "enum": [
              "silent",
              "standard"
            ]
          },
          "ios_deep_link": {
            "type": "string",
            "nullable": true
          },
          "android_deep_link": {
            "type": "string",
            "nullable": true
          },
          "content_available": {
            "type": "boolean",
            "nullable": true
          },
          "mutable_content": {
            "type": "boolean",
            "nullable": true
          },
          "video_asset_id": {
            "type": "string",
            "nullable": true
          },
          "action_buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PushActionButton"
            },
            "nullable": true
          }
        }
      },
      "RelationshipLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "related": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self",
          "related"
        ]
      },
      "SMSChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "sms",
            "default": "sms",
            "enum": [
              "sms"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "cost": {
            "description": "Not allowed on create.",
            "type": "number",
            "nullable": true
          },
          "mms_static_image_asset_id": {
            "type": "integer",
            "nullable": true
          },
          "shorten_links": {
            "type": "boolean",
            "nullable": true
          },
          "include_contact_card": {
            "type": "boolean",
            "nullable": true
          },
          "body": {
            "type": "string",
            "default": ""
          },
          "add_org_prefix": {
            "type": "boolean",
            "nullable": true
          },
          "add_info_link": {
            "type": "boolean",
            "nullable": true
          },
          "add_opt_out_language": {
            "type": "boolean",
            "nullable": true
          },
          "mms_dynamic_image_template": {
            "type": "string",
            "nullable": true
          },
          "text_message_type": {
            "description": "A sms message variation's text message type.\n\nValues match the Django OmniSMSTextMessageType (MESSAGE_FORMAT_*)\n    constants.",
            "type": "string",
            "example": "SMS",
            "default": "SMS",
            "enum": [
              "MMS",
              "RCS",
              "SMS"
            ]
          },
          "message_hierarchy": {
            "nullable": true
          }
        }
      },
      "TemplateEnum": {
        "type": "string",
        "enum": [
          "template"
        ]
      },
      "TemplateUniversalContentEnum": {
        "type": "string",
        "enum": [
          "template-universal-content"
        ]
      },
      "TranslationEnum": {
        "type": "string",
        "enum": [
          "translation"
        ]
      },
      "TranslationResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TranslationEnum"
          },
          "id": {
            "description": "The composite ID of the translation in format {resource_type}::{qualifier}::{collection_id}",
            "type": "string",
            "example": "campaign-variation::email::01KH00000000000000000000AB"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "source_locale": {
                "description": "The source locale for this translation",
                "type": "string",
                "example": "en"
              },
              "target_locales": {
                "description": "The target locales for this translation",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "fallback_locale": {
                "description": "The fallback locale for this translation",
                "type": "string",
                "example": "en",
                "nullable": true
              },
              "channel": {
                "description": "The channel for this translation",
                "type": "string",
                "enum": [
                  "email",
                  "mobile_push",
                  "sms",
                  "whatsapp"
                ]
              },
              "metadata": {
                "description": "Additional metadata for this translation",
                "type": "object",
                "nullable": true
              },
              "created": {
                "description": "The datetime when this translation was created",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "description": "The datetime when this translation was updated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              }
            },
            "required": [
              "source_locale",
              "target_locales",
              "channel"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign-variation": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignVariationEnum"
                      },
                      "id": {
                        "description": "Related Campaign Variation",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "flow-message": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/FlowMessageEnum"
                      },
                      "id": {
                        "description": "Related Flow Message",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "template": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/TemplateEnum"
                      },
                      "id": {
                        "description": "Related Template",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "template-universal-content": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/TemplateUniversalContentEnum"
                      },
                      "id": {
                        "description": "Related Template Universal Content",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "VariationCreateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VariationCreateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "VariationCreateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignVariationEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "definition": {
                "description": "The definition of this variation",
                "$ref": "#/components/schemas/VariationDefinition"
              }
            },
            "required": [
              "definition"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign-message": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignMessageEnum"
                      },
                      "id": {
                        "description": "Related Campaign Message",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            },
            "required": [
              "campaign-message"
            ]
          }
        },
        "required": [
          "type",
          "attributes",
          "relationships"
        ]
      },
      "VariationDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the variation",
            "type": "string",
            "nullable": true
          },
          "details": {
            "description": "The channel-specific content details for this variation",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmailChannelDetails"
              },
              {
                "$ref": "#/components/schemas/SMSChannelDetails"
              },
              {
                "$ref": "#/components/schemas/PushChannelDetails"
              },
              {
                "$ref": "#/components/schemas/WhatsappChannelDetails"
              }
            ]
          }
        }
      },
      "VariationPartialUpdateQuery": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VariationPartialUpdateQueryResourceObject"
          }
        },
        "required": [
          "data"
        ]
      },
      "VariationPartialUpdateQueryResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignVariationEnum"
          },
          "id": {
            "description": "The ID of the variation",
            "type": "string",
            "example": "925e385b52fb405715f3616c337cc65c"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "definition": {
                "description": "The definition of this variation",
                "$ref": "#/components/schemas/VariationDefinition"
              }
            },
            "required": [
              "definition"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "attributes"
        ]
      },
      "VariationResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CampaignVariationEnum"
          },
          "id": {
            "description": "The ID of the variation",
            "type": "string",
            "example": "925e385b52fb405715f3616c337cc65c"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "created": {
                "description": "The datetime when this variation was created",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              },
              "updated": {
                "description": "The datetime when this variation was updated",
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00"
              },
              "definition": {
                "description": "The definition of this variation",
                "$ref": "#/components/schemas/VariationDefinition"
              }
            },
            "required": [
              "created",
              "updated",
              "definition"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "campaign-message": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/CampaignMessageEnum"
                      },
                      "id": {
                        "description": "Related Campaign Message",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "translation": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/TranslationEnum"
                      },
                      "id": {
                        "description": "Related Translation",
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "WhatsappChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "whatsapp",
            "default": "whatsapp",
            "enum": [
              "whatsapp"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "shorten_links": {
            "type": "boolean",
            "example": true,
            "default": true
          }
        }
      }
    },
    "securitySchemes": {
      "Klaviyo-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Private key authentication for /api/ endpoints is performed by setting the `Authorization` header to `Klaviyo-API-Key your-private-api-key`<br>For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#authentication",
        "x-default": "Klaviyo-API-Key your-private-api-key"
      }
    }
  },
  "tags": [
    {
      "name": "Beta APIs",
      "description": "beta apis"
    }
  ]
}
