{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/source-mappings/{id}": {
      "get": {
        "operationId": "get_source_mapping_beta",
        "summary": "Get Source Mapping",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the source mapping with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_source_mapping_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source mapping",
            "required": true,
            "schema": {
              "description": "The ID of the source mapping",
              "type": "string",
              "example": "01K5HQC66PGHV35SYJC5ZV3DZA"
            }
          },
          {
            "name": "fields[source-mapping]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "property_mappings",
                  "relationship_mappings"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSourceMappingResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "patch": {
        "operationId": "update_source_mapping_beta",
        "summary": "Update Source Mapping",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the source mapping with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_source_mapping_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the source mapping",
            "required": true,
            "schema": {
              "description": "The ULID ID of the source mapping",
              "type": "string",
              "example": "01K5HQC66PGHV35SYJC5ZV3DZA"
            }
          },
          {
            "name": "fields[source-mapping]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "property_mappings",
                  "relationship_mappings"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update a source mapping by ID",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/SourceMappingPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSourceMappingResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types": {
      "get": {
        "operationId": "get_object_types_beta",
        "summary": "Get Object Types",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all object types in an account.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_types_beta.json)",
        "parameters": [
          {
            "name": "fields[object-type]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "id",
                  "namespace",
                  "status",
                  "title",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`namespace`: `equals`",
            "schema": {
              "type": "string",
              "example": "equals(namespace,'example')"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-filters": {
          "namespace": {
            "operators": {
              "single": [
                "equals"
              ]
            },
            "value": {
              "type": "string"
            }
          }
        },
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "post": {
        "operationId": "create_object_type_beta",
        "summary": "Create Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate an object type.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_object_type_beta.json)",
        "parameters": [
          {
            "name": "fields[object-type]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "id",
                  "namespace",
                  "status",
                  "title",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create an object type",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectTypeCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostObjectTypeResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}": {
      "get": {
        "operationId": "get_object_type_beta",
        "summary": "Get Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the object type with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-type]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "description",
                  "id",
                  "namespace",
                  "status",
                  "title",
                  "updated_at"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "delete": {
        "operationId": "delete_object_type_beta",
        "summary": "Delete Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the object type with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas/{id}": {
      "get": {
        "operationId": "get_object_schema_beta",
        "summary": "Get Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the object schema with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_schema_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "patch": {
        "operationId": "update_object_schema_beta",
        "summary": "Update Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the object schema with the given ID.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_object_schema_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update a object schema by ID",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectSchemaPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchObjectSchemaResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-records/{id}": {
      "get": {
        "operationId": "get_object_record_beta",
        "summary": "Get Object Record",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the object record with the given compound ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_record_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The compound ID of the object record, formatted as object_type_id:::object_record_id",
            "required": true,
            "schema": {
              "description": "The compound ID of the object record, formatted as object_type_id:::object_record_id",
              "type": "string",
              "example": "01K8XV2MM6RFVZT8W61K6CR3ER:::external-id-1"
            }
          },
          {
            "name": "fields[object-record]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "record_properties"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectRecordResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas": {
      "post": {
        "operationId": "create_object_schema_beta",
        "summary": "Create Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate an object schema.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_object_schema_beta.json)",
        "parameters": [
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create an object schema",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectSchemaCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostObjectSchemaResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-record-bulk-delete-jobs": {
      "post": {
        "operationId": "bulk_delete_object_records_beta",
        "summary": "Bulk Delete Object Records",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete a batch of object records.\n\nAccepts up to 500 object record IDs per request. The maximum allowed payload size is 5MB.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/bulk_delete_object_records_beta.json)",
        "parameters": [
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordDeleteJobCreateQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "create_object_record_bulk_delete_job"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/object-records": {
      "get": {
        "operationId": "get_records_for_object_type_beta",
        "summary": "Get Records for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all object records for a given object type.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_records_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-record]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "record_properties"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectRecordResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_records"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/object-records": {
      "get": {
        "operationId": "get_record_ids_for_object_type_beta",
        "summary": "Get Record IDs for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all object records for a given object type.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_record_ids_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeRecordsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_records"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/current-schema": {
      "get": {
        "operationId": "get_current_schema_for_object_type_beta",
        "summary": "Get Current Schema for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_current_schema_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_current_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/current-schema": {
      "get": {
        "operationId": "get_current_schema_id_for_object_type_beta",
        "summary": "Get Current Schema ID for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_current_schema_id_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeCurrentSchemaRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_current_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/draft-schema": {
      "get": {
        "operationId": "get_draft_schema_for_object_type_beta",
        "summary": "Get Draft Schema for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_draft_schema_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_draft_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/draft-schema": {
      "get": {
        "operationId": "get_draft_schema_id_for_object_type_beta",
        "summary": "Get Draft Schema ID for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_draft_schema_id_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeDraftSchemaRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_draft_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/schema-versions": {
      "get": {
        "operationId": "get_schema_versions_for_object_type_beta",
        "summary": "Get Schema Versions for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_schema_versions_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "fields[object-schema]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "id",
                  "properties",
                  "published_at",
                  "required",
                  "status",
                  "title",
                  "visibility"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_schema_versions"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/schema-versions": {
      "get": {
        "operationId": "get_schema_version_ids_for_object_type_beta",
        "summary": "Get Schema Version IDs for Object Type",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet current schema for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_schema_version_ids_for_object_type_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeSchemaVersionsRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_schema_versions"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/object-types": {
      "get": {
        "operationId": "get_object_type_relationships_beta",
        "summary": "Get Object Type Relationships",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet related object types for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_type_relationships_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeTypesRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_types",
          "get_type_ids_for_object_type"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-types/{id}/relationships/profile-object-types": {
      "get": {
        "operationId": "get_profile_type_relationships_beta",
        "summary": "Get Profile Type Relationships",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet related profile object types for an object type<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_profile_type_relationships_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object type.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object type.",
              "type": "string",
              "example": "01K5YKKQKM819VVGCPZZKGE6D4"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectTypeProfileObjectTypesRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_type_relationships_profile_object_types",
          "get_profile_object_type_ids_for_object_type"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas/{id}/source-mapping": {
      "get": {
        "operationId": "get_source_mapping_for_object_schema_beta",
        "summary": "Get Source Mapping for Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet source mapping for an object schema<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_source_mapping_for_object_schema_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "fields[source-mapping]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "property_mappings",
                  "relationship_mappings"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSourceMappingResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_schema_source_mapping"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas/{id}/relationships/source-mapping": {
      "get": {
        "operationId": "get_source_mapping_id_for_object_schema_beta",
        "summary": "Get Source Mapping ID for Object Schema",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet source mapping for an object schema<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_source_mapping_id_for_object_schema_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaSourceMappingRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_schema_relationships_source_mapping"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas/{id}/relationships/object-schemas": {
      "get": {
        "operationId": "get_object_schema_relationships_beta",
        "summary": "Get Object Schema Relationships",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet related object schemas for an object schema<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_object_schema_relationships_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaSchemasRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_schema_relationships_schemas",
          "get_schema_ids_for_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "post": {
        "operationId": "create_object_schema_relationship_beta",
        "summary": "Create Object Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a relationship between object schemas.\n\nNote that flow filtering and segmentation are currently not supported for object-to-object relationships.<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_object_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a relationship between object schemas",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectSchemaRelationshipCreateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "add_schemas_to_object_schema",
          "create_object_schema_relationships_schemas"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "patch": {
        "operationId": "update_object_schema_relationship_beta",
        "summary": "Update Object Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate a relationship between object schemas<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_object_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update a relationship between object schemas",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectSchemaRelationshipPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "update_object_schema_relationships_schemas",
          "update_schemas_for_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "delete": {
        "operationId": "delete_object_schema_relationship_beta",
        "summary": "Delete Object Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete a relationship between object schemas<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_object_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Delete a relationship between object schemas",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectSchemaRelationshipDeleteQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "delete_object_schema_relationships_schemas",
          "remove_schemas_from_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    },
    "/api/object-schemas/{id}/relationships/profile-object-schemas": {
      "get": {
        "operationId": "get_profile_schema_relationships_beta",
        "summary": "Get Profile Schema Relationships",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet related profile object schemas for an object schema<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:read`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/get_profile_schema_relationships_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetObjectSchemaProfileObjectSchemasRelationshipsResponseCollection"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_object_schema_relationships_profile_object_schemas",
          "get_profile_object_schema_ids_for_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:read"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "post": {
        "operationId": "create_profile_schema_relationship_beta",
        "summary": "Create Profile Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a relationship between an object schema and a profile<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/create_profile_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a relationship between an object schema and a profile.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileObjectSchemaRelationshipCreateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "add_profile_object_schemas_to_object_schema",
          "create_object_schema_relationships_profile_object_schemas"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "patch": {
        "operationId": "update_profile_schema_relationship_beta",
        "summary": "Update Profile Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate a relationship between an object schema and a profile<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/update_profile_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update a relationship between an object schema and a profile",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileObjectSchemaRelationshipPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "update_object_schema_relationships_profile_object_schemas",
          "update_profile_object_schemas_for_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      },
      "delete": {
        "operationId": "delete_profile_schema_relationship_beta",
        "summary": "Delete Profile Schema Relationship",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-01-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete a relationship between an object schema and a profile<br><br>*Rate limits*:<br>Burst: `3/s`<br>Steady: `60/m`\n\n**Scopes:**\n`custom-objects:write`\n\n[OpenAPI Spec](https://raw.githubusercontent.com/klaviyo/openapi/main/openapi/beta/apis/delete_profile_schema_relationship_beta.json)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ULID ID of the object schema.",
            "required": true,
            "schema": {
              "description": "The ULID ID of the object schema.",
              "type": "string",
              "example": "01K61DKJ7EKJ0ES9VE456XF5JG"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-01-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Delete a relationship between an object schema and a profile",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileObjectSchemaRelationshipDeleteQuery"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "delete_object_schema_relationships_profile_object_schemas",
          "remove_profile_object_schemas_from_object_schema"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "3/s",
          "steady": "60/m"
        },
        "x-klaviyo-scopes": [
          "custom-objects:write"
        ],
        "x-klaviyo-subtag": "Custom Objects"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "APISchemaProperty": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the schema property. Must be a postive integer.",
            "type": "integer",
            "example": 1
          },
          "name": {
            "description": "The name of the schema property",
            "type": "string",
            "example": "age"
          },
          "type": {
            "description": "The type of the schema property",
            "type": "string",
            "enum": [
              "BOOLEAN",
              "FLOAT",
              "INT",
              "STRING",
              "TIMESTAMP"
            ]
          },
          "description": {
            "description": "The description of the schema property",
            "type": "string",
            "default": "",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ConstantPropertyMapping": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Property ID. Must be a positive integer.",
            "type": "integer",
            "example": 1
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "constant"
            ]
          },
          "value": {
            "description": "Constant value assigned to every record",
            "example": "some_value",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "value"
        ]
      },
      "CustomObjectRelationshipSource": {
        "type": "object",
        "properties": {
          "source_id": {
            "description": "Data source ULID ID",
            "type": "string",
            "example": "01JT8ZFT0RD24A0XPXQVNBBB04"
          },
          "type": {
            "description": "String literal for serialization",
            "type": "string",
            "enum": [
              "custom-object"
            ]
          },
          "id_path": {
            "description": "JSONPath data selector to owning ID",
            "type": "string",
            "example": "$['id']"
          },
          "related_id_path": {
            "description": "JSONPath data selector to related ID",
            "type": "string",
            "example": "$['related_id']"
          },
          "update_strategy": {
            "description": "Strategy for updating relationships with each new RawDataRecord ingestion",
            "type": "string",
            "example": "replace",
            "default": "replace",
            "enum": [
              "additive",
              "replace"
            ],
            "nullable": true
          }
        },
        "required": [
          "source_id",
          "type",
          "id_path",
          "related_id_path"
        ]
      },
      "EmbeddedObjectSchemaResourceObject": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ObjectSchemaEnum"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "properties": {
                "description": "Properties of the object schema",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/APISchemaProperty"
                },
                "nullable": true
              },
              "status": {
                "description": "The status of this object schema",
                "type": "string",
                "example": "DRAFT",
                "default": "DRAFT",
                "enum": [
                  "ACTIVE",
                  "DRAFT"
                ],
                "nullable": true
              },
              "required": {
                "description": "Properties that are required on the object schema",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              },
              "source-mapping": {
                "description": "The source mapping to create with this object schema",
                "type": "object",
                "nullable": true,
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SourceMappingCreateQueryResourceObject"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "GetObjectRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ObjectRecordResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetObjectRecordResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectRecordResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetObjectSchemaProfileObjectSchemasRelationshipsResponseCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "type",
                "id"
              ],
              "properties": {
                "type": {
                  "$ref": "#/components/schemas/ProfileObjectSchemaEnum"
                },
                "id": {
                  "description": "The ID of the related profile schema.",
                  "type": "string"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetObjectSchemaResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ObjectSchemaResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
[...]
