{
  "openapi": "3.0.2",
  "info": {
    "title": "Klaviyo API (Beta)",
    "version": "2026-04-15.pre",
    "description": "The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.",
    "contact": {
      "name": "Klaviyo Developer Experience Team",
      "email": "developers@klaviyo.com",
      "url": "https://developers.klaviyo.com"
    },
    "termsOfService": "https://www.klaviyo.com/legal/api-terms",
    "license": {
      "name": "License",
      "url": "https://www.klaviyo.com/legal"
    }
  },
  "servers": [
    {
      "url": "https://a.klaviyo.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "Klaviyo-API-Key": []
    }
  ],
  "paths": {
    "/api/translations": {
      "get": {
        "operationId": "get_translations_beta",
        "summary": "Get Translations",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet all translations in an account.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`translations:read`",
        "parameters": [
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "content",
                  "content.android_link",
                  "content.badge",
                  "content.bcc_email",
                  "content.body",
                  "content.cc_email",
                  "content.dynamic_image",
                  "content.from_email",
                  "content.from_label",
                  "content.ios_link",
                  "content.media_url",
                  "content.on_open",
                  "content.preview_text",
                  "content.reply_to_email",
                  "content.sound",
                  "content.subject",
                  "content.title",
                  "created",
                  "name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "editor_type",
                  "html",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[translation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "created",
                  "fallback_locale",
                  "metadata",
                  "source_locale",
                  "target_locales",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#filtering<br>Allowed field(s)/operator(s):<br>`id`: `any`, `equals`<br>`resource_type`: `equals`<br>`channel`: `equals`<br>`related_resource_id`: `equals`",
            "schema": {
              "type": "string",
              "example": "equals(id,'campaign-variation::email::01KH00000000000000000000AB')"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign-variation",
                  "flow-message",
                  "template",
                  "template-universal-content"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#pagination",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Default: 20. Min: 1. Max: 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sorting",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "-id"
              ]
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationListResponseCollectionCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      },
      "post": {
        "operationId": "create_translation_beta",
        "summary": "Create Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nCreate a translation.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`translations:write`",
        "parameters": [
          {
            "name": "additional-fields[translation]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'values'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "values"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Create a translation",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationCreateQuery"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTranslationRetrieveResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "translations:write"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}": {
      "get": {
        "operationId": "get_translation_beta",
        "summary": "Get Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the translation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "additional-fields[translation]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'values'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "values"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "content",
                  "content.android_link",
                  "content.badge",
                  "content.bcc_email",
                  "content.body",
                  "content.cc_email",
                  "content.dynamic_image",
                  "content.from_email",
                  "content.from_label",
                  "content.ios_link",
                  "content.media_url",
                  "content.on_open",
                  "content.preview_text",
                  "content.reply_to_email",
                  "content.sound",
                  "content.subject",
                  "content.title",
                  "created",
                  "name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "editor_type",
                  "html",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "fields[translation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "created",
                  "fallback_locale",
                  "metadata",
                  "source_locale",
                  "target_locales",
                  "updated",
                  "values"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "campaign-variation",
                  "flow-message",
                  "template",
                  "template-universal-content"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationRetrieveResponseCompoundDocument"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      },
      "patch": {
        "operationId": "update_translation_beta",
        "summary": "Update Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nUpdate the translation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`translations:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "additional-fields[translation]",
            "in": "query",
            "description": "Request additional fields not included by default in the response. Supported values: 'values'",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "values"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "requestBody": {
          "description": "Update a translation by ID",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationPartialUpdateQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTranslationRetrieveResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "translations:write"
        ],
        "x-klaviyo-subtag": "Translations"
      },
      "delete": {
        "operationId": "delete_translation_beta",
        "summary": "Delete Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nDelete the translation with the given ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`translations:write`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "translations:write"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/campaign-variation": {
      "get": {
        "operationId": "get_campaign_variation_for_translation_beta",
        "summary": "Get Campaign Variation for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the campaign variation for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "fields[campaign-variation]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.details",
                  "definition.details.action_buttons",
                  "definition.details.add_info_link",
                  "definition.details.add_opt_out_language",
                  "definition.details.add_org_prefix",
                  "definition.details.android_deep_link",
                  "definition.details.badge",
                  "definition.details.badge_config",
                  "definition.details.badge_value",
                  "definition.details.bcc_email",
                  "definition.details.body",
                  "definition.details.cc_email",
                  "definition.details.channel",
                  "definition.details.content_available",
                  "definition.details.cost",
                  "definition.details.dynamic_media_template",
                  "definition.details.from_email",
                  "definition.details.from_label",
                  "definition.details.include_contact_card",
                  "definition.details.ios_deep_link",
                  "definition.details.kv_pairs",
                  "definition.details.message_hierarchy",
                  "definition.details.mms_dynamic_image_template",
                  "definition.details.mms_static_image_asset_id",
                  "definition.details.mutable_content",
                  "definition.details.open_action",
                  "definition.details.preview_text",
                  "definition.details.push_type",
                  "definition.details.reply_to_email",
                  "definition.details.shorten_links",
                  "definition.details.sound",
                  "definition.details.sound_file_name",
                  "definition.details.static_asset_id",
                  "definition.details.subject",
                  "definition.details.template_id",
                  "definition.details.text_message_type",
                  "definition.details.title",
                  "definition.details.video_asset_id",
                  "definition.name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVariationResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_campaign_variation"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/relationships/campaign-variation": {
      "get": {
        "operationId": "get_campaign_variation_id_for_translation_beta",
        "summary": "Get Campaign Variation ID for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the campaign variation for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`campaigns:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationCampaignVariationRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_relationships_campaign_variation"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "campaigns:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/flow-message": {
      "get": {
        "operationId": "get_flow_message_for_translation_beta",
        "summary": "Get Flow Message for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the flow message for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`flows:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "fields[flow-message]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "channel",
                  "content",
                  "content.android_link",
                  "content.badge",
                  "content.bcc_email",
                  "content.body",
                  "content.cc_email",
                  "content.dynamic_image",
                  "content.from_email",
                  "content.from_label",
                  "content.ios_link",
                  "content.media_url",
                  "content.on_open",
                  "content.preview_text",
                  "content.reply_to_email",
                  "content.sound",
                  "content.subject",
                  "content.title",
                  "created",
                  "name",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFlowMessageResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_flow_message"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/relationships/flow-message": {
      "get": {
        "operationId": "get_flow_message_id_for_translation_beta",
        "summary": "Get Flow Message ID for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the flow message for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`flows:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationFlowMessageRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_relationships_flow_message"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "flows:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/template": {
      "get": {
        "operationId": "get_template_for_translation_beta",
        "summary": "Get Template for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the template for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`templates:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "fields[template]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "amp",
                  "created",
                  "editor_type",
                  "html",
                  "name",
                  "text",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTemplateResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_template"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "templates:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/relationships/template": {
      "get": {
        "operationId": "get_template_id_for_translation_beta",
        "summary": "Get Template ID for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the template for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`templates:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationTemplateRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_relationships_template"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "templates:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/template-universal-content": {
      "get": {
        "operationId": "get_template_universal_content_for_translation_beta",
        "summary": "Get Template Universal Content for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the template universal content for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`templates:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "fields[template-universal-content]",
            "in": "query",
            "description": "For more information please visit https://developers.klaviyo.com/en/v2026-04-15.pre/reference/api-overview#sparse-fieldsets",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "definition",
                  "definition.content_type",
                  "definition.data",
                  "definition.data.content",
                  "definition.data.display_options",
                  "definition.data.display_options.content_repeat",
                  "definition.data.display_options.content_repeat.item_alias",
                  "definition.data.display_options.content_repeat.repeat_for",
                  "definition.data.display_options.show_on",
                  "definition.data.display_options.visible_check",
                  "definition.data.styles",
                  "definition.data.styles.background_color",
                  "definition.data.styles.block_background_color",
                  "definition.data.styles.block_border_color",
                  "definition.data.styles.block_border_style",
                  "definition.data.styles.block_border_width",
                  "definition.data.styles.block_padding_bottom",
                  "definition.data.styles.block_padding_left",
                  "definition.data.styles.block_padding_right",
                  "definition.data.styles.block_padding_top",
                  "definition.data.styles.color",
                  "definition.data.styles.extra_css_class",
                  "definition.data.styles.font_family",
                  "definition.data.styles.font_size",
                  "definition.data.styles.font_style",
                  "definition.data.styles.font_weight",
                  "definition.data.styles.inner_padding_bottom",
                  "definition.data.styles.inner_padding_left",
                  "definition.data.styles.inner_padding_right",
                  "definition.data.styles.inner_padding_top",
                  "definition.data.styles.letter_spacing",
                  "definition.data.styles.line_height",
                  "definition.data.styles.mobile_stretch_content",
                  "definition.data.styles.text_align",
                  "definition.data.styles.text_decoration",
                  "definition.data.styles.text_table_layout",
                  "definition.type",
                  "name",
                  "screenshot_status",
                  "screenshot_url",
                  "updated"
                ]
              }
            },
            "explode": false
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUniversalContentResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_template_universal_content"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "templates:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    },
    "/api/translations/{id}/relationships/template-universal-content": {
      "get": {
        "operationId": "get_template_universal_content_id_for_translation_beta",
        "summary": "Get Template Universal Content ID for Translation",
        "description": "\n            > \ud83d\udea7 This endpoint is in beta and subject to change.\n            >\n            > A beta revision header (2026-04-15.pre) is required to use our beta APIs. Klaviyo APIs in beta are not intended for use in production. See our [versioning and deprecation policy](https://developers.klaviyo.com/en/docs/api_versioning_and_deprecation_policy) for more information.\n\nGet the template universal content for the given translation ID.<br><br>*Rate limits*:<br>Burst: `10/s`<br>Steady: `150/m`\n\n**Scopes:**\n`templates:read`\n`translations:read`",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the translation",
            "required": true,
            "schema": {
              "description": "The ID of the translation",
              "type": "string",
              "example": "campaign-variation::email::01KH00000000000000000000AB"
            }
          },
          {
            "name": "revision",
            "in": "header",
            "description": "API endpoint revision (format: YYYY-MM-DD[.suffix])",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04-15.pre"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTranslationTemplateUniversalContentRelationshipResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/ClientError"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Beta APIs"
        ],
        "x-klaviyo-operation-aliases": [
          "get_translation_relationships_template_universal_content"
        ],
        "x-klaviyo-pre-release": "BETA",
        "x-klaviyo-ratelimit": {
          "burst": "10/s",
          "steady": "150/m"
        },
        "x-klaviyo-scopes": [
          "templates:read",
          "translations:read"
        ],
        "x-klaviyo-subtag": "Translations"
      }
    }
  },
  "components": {
    "responses": {
      "ClientError": {
        "description": "Client Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "code",
                      "title",
                      "detail"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          },
                          "parameter": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "errors"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "BlockDisplayOptions": {
        "type": "object",
        "properties": {
          "show_on": {
            "description": "Show on.",
            "type": "string",
            "enum": [
              "all",
              "desktop",
              "mobile"
            ],
            "nullable": true
          },
          "visible_check": {
            "type": "string",
            "nullable": true
          },
          "content_repeat": {
            "$ref": "#/components/schemas/ContentRepeat",
            "nullable": true
          }
        }
      },
      "ButtonBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "CampaignMessageEnum": {
        "type": "string",
        "enum": [
          "campaign-message"
        ]
      },
      "CampaignVariationEnum": {
        "type": "string",
        "enum": [
          "campaign-variation"
        ]
      },
      "CollectionLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "ContentRepeat": {
        "type": "object",
        "properties": {
          "repeat_for": {
            "type": "string"
          },
          "item_alias": {
            "type": "string"
          }
        },
        "required": [
          "repeat_for",
          "item_alias"
        ]
      },
      "CouponBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "coupon"
            ]
          },
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "DropShadowBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "drop_shadow"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "EmailChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "email",
            "default": "email",
            "enum": [
              "email"
            ]
          },
          "template_id": {
            "type": "string",
            "nullable": true
          },
          "from_label": {
            "type": "string",
            "default": ""
          },
          "from_email": {
            "type": "string",
            "default": ""
          },
          "reply_to_email": {
            "type": "string",
            "default": ""
          },
          "cc_email": {
            "type": "string",
            "default": ""
          },
          "bcc_email": {
            "type": "string",
            "default": ""
          },
          "subject": {
            "type": "string",
            "default": ""
          },
          "preview_text": {
            "type": "string",
            "default": ""
          }
        }
      },
      "EmailMessageContent": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "preview_text": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "from_label": {
            "type": "string"
          },
          "reply_to_email": {
            "type": "string",
            "nullable": true
          },
          "cc_email": {
            "type": "string",
            "nullable": true
          },
          "bcc_email": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "subject",
          "preview_text",
          "from_email",
          "from_label"
        ]
      },
      "FlowActionEnum": {
        "type": "string",
        "enum": [
          "flow-action"
        ]
      },
      "FlowMessageEnum": {
        "type": "string",
        "enum": [
          "flow-message"
        ]
      },
      "FlowMessageResponseObjectResource": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FlowMessageEnum"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "content": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EmailMessageContent"
                  },
                  {
                    "$ref": "#/components/schemas/SMSMessageContent"
                  },
                  {
                    "$ref": "#/components/schemas/MobilePushMessageContent"
                  }
                ]
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              },
              "updated": {
                "type": "string",
                "format": "date-time",
                "example": "2022-11-08T00:00:00+00:00",
                "nullable": true
              }
            },
            "required": [
              "name",
              "channel",
              "content"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "flow-action": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/FlowActionEnum"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              },
              "template": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "$ref": "#/components/schemas/TemplateEnum"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "links": {
                    "$ref": "#/components/schemas/RelationshipLinks"
                  }
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "type",
          "id",
          "attributes",
          "links"
        ]
      },
      "GetFlowMessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/FlowMessageResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTemplateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TemplateResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationCampaignVariationRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/CampaignVariationEnum"
              },
              "id": {
                "description": "The ID of the variation",
                "type": "string",
                "example": "925e385b52fb405715f3616c337cc65c"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationFlowMessageRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/FlowMessageEnum"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationListResponseCollectionCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslationListResponseObjectResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CollectionLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/VariationResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowMessageResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/TemplateResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/UniversalContentResponseObjectResource"
                }
              ]
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationRetrieveResponseCompoundDocument": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/TranslationEnum"
                  },
                  "attributes": {
                    "properties": {
                      "values": {
                        "description": "The translation values for this resource. Each entry contains the value block ID, its source text, and a map of target locale codes to translated strings. Only returned when requested via additional-fields[translation]=values.",
                        "type": "array",
                        "items": {
                          "type": "object"
                        },
                        "nullable": true
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/TranslationRetrieveResponseObjectResource"
              }
            ]
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/VariationResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/FlowMessageResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/TemplateResponseObjectResource"
                },
                {
                  "$ref": "#/components/schemas/UniversalContentResponseObjectResource"
                }
              ]
            }
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationTemplateRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/TemplateEnum"
              },
              "id": {
                "description": "The ID of template",
                "type": "string"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetTranslationTemplateUniversalContentRelationshipResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/TemplateUniversalContentEnum"
              },
              "id": {
                "description": "The ID of the universal content",
                "type": "string",
                "example": "01HWWWKAW4RHXQJCMW4R2KRYR4"
              }
            },
            "required": [
              "type",
              "id"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetUniversalContentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UniversalContentResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "GetVariationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VariationResponseObjectResource"
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "HTMLBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "html"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/HTMLBlockData"
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HTMLBlockData": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "display_options": {
            "$ref": "#/components/schemas/BlockDisplayOptions"
          }
        },
        "required": [
          "content",
          "display_options"
        ]
      },
      "HeaderBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "header"
            ]
          },
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "HorizontalRuleBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "horizontal_rule"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "ImageBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "image"
            ]
          },
          "data": {
            "nullable": true
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "MobilePushMessageContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "sound": {
            "type": "boolean",
            "default": false
          },
          "badge": {
            "type": "boolean",
            "default": false
          },
          "media_url": {
            "type": "string",
            "nullable": true
          },
          "dynamic_image": {
            "type": "string",
            "nullable": true
          },
          "ios_link": {
            "type": "string",
            "nullable": true
          },
          "android_link": {
            "type": "string",
            "nullable": true
          },
          "on_open": {
            "type": "string",
            "example": "home",
            "default": "home"
          }
        },
        "required": [
          "title",
          "body"
        ]
      },
      "ObjectLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "PatchTranslationRetrieveResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/TranslationEnum"
              },
              "id": {
                "description": "The composite ID of the translation in format {resource_type}::{qualifier}::{collection_id}",
                "type": "string",
                "example": "campaign-variation::email::01KH00000000000000000000AB"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "source_locale": {
                    "description": "The source locale for this translation",
                    "type": "string",
                    "example": "en"
                  },
                  "target_locales": {
                    "description": "The target locales for this translation",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fallback_locale": {
                    "description": "The fallback locale for this translation",
                    "type": "string",
                    "example": "en",
                    "nullable": true
                  },
                  "channel": {
                    "description": "The channel for this translation",
                    "type": "string",
                    "enum": [
                      "email",
                      "mobile_push",
                      "sms",
                      "whatsapp"
                    ]
                  },
                  "metadata": {
                    "description": "Additional metadata for this translation",
                    "type": "object",
                    "nullable": true
                  },
                  "created": {
                    "description": "The datetime when this translation was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated": {
                    "description": "The datetime when this translation was updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "values": {
                    "description": "The translation values for this resource. Each entry contains the value block ID, its source text, and a map of target locale codes to translated strings. Only returned when requested via additional-fields[translation]=values.",
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "nullable": true
                  }
                },
                "required": [
                  "source_locale",
                  "target_locales",
                  "channel"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-variation": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignVariationEnum"
                          },
                          "id": {
                            "description": "Related Campaign Variation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "flow-message": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/FlowMessageEnum"
                          },
                          "id": {
                            "description": "Related Flow Message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TemplateEnum"
                          },
                          "id": {
                            "description": "Related Template",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "template-universal-content": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TemplateUniversalContentEnum"
                          },
                          "id": {
                            "description": "Related Template Universal Content",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "PostTranslationRetrieveResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/TranslationEnum"
              },
              "id": {
                "description": "The composite ID of the translation in format {resource_type}::{qualifier}::{collection_id}",
                "type": "string",
                "example": "campaign-variation::email::01KH00000000000000000000AB"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "source_locale": {
                    "description": "The source locale for this translation",
                    "type": "string",
                    "example": "en"
                  },
                  "target_locales": {
                    "description": "The target locales for this translation",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fallback_locale": {
                    "description": "The fallback locale for this translation",
                    "type": "string",
                    "example": "en",
                    "nullable": true
                  },
                  "channel": {
                    "description": "The channel for this translation",
                    "type": "string",
                    "enum": [
                      "email",
                      "mobile_push",
                      "sms",
                      "whatsapp"
                    ]
                  },
                  "metadata": {
                    "description": "Additional metadata for this translation",
                    "type": "object",
                    "nullable": true
                  },
                  "created": {
                    "description": "The datetime when this translation was created",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "updated": {
                    "description": "The datetime when this translation was updated",
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-08T00:00:00+00:00",
                    "nullable": true
                  },
                  "values": {
                    "description": "The translation values for this resource. Each entry contains the value block ID, its source text, and a map of target locale codes to translated strings. Only returned when requested via additional-fields[translation]=values.",
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "nullable": true
                  }
                },
                "required": [
                  "source_locale",
                  "target_locales",
                  "channel"
                ]
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "campaign-variation": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/CampaignVariationEnum"
                          },
                          "id": {
                            "description": "Related Campaign Variation",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "flow-message": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/FlowMessageEnum"
                          },
                          "id": {
                            "description": "Related Flow Message",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "template": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TemplateEnum"
                          },
                          "id": {
                            "description": "Related Template",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  },
                  "template-universal-content": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "$ref": "#/components/schemas/TemplateUniversalContentEnum"
                          },
                          "id": {
                            "description": "Related Template Universal Content",
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "id"
                        ]
                      },
                      "links": {
                        "$ref": "#/components/schemas/RelationshipLinks"
                      }
                    }
                  }
                }
              },
              "links": {
                "$ref": "#/components/schemas/ObjectLinks"
              }
            },
            "required": [
              "type",
              "id",
              "attributes",
              "links"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/ObjectLinks"
          }
        },
        "required": [
          "data"
        ]
      },
      "ProductBlock": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "product"
            ]
          },
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          }
        },
        "required": [
          "content_type",
          "type",
          "data"
        ]
      },
      "PushActionButton": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "action_type": {
            "description": "The action type for a push notification action button.",
            "type": "string",
            "enum": [
              "deep_link",
              "dismiss",
              "open_app",
              "open_url"
            ]
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "custom_action_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "label",
          "action_type"
        ]
      },
      "PushChannelDetails": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "example": "push",
            "default": "push",
            "enum": [
              "push"
            ]
          },
          "title": {
            "type": "string",
            "default": ""
          },
          "body": {
            "type": "string",
            "default": ""
          },
          "badge": {
            "type": "boolean",
            "default": false
          },
          "badge_config": {
            "description": "A push message variation's badge config.",
            "type": "string",
            "example": "increment-one",
            "default": "increment-one",
            "enum": [
              "increment-one",
              "set-count",
              "set-property"
            ]
          },
          "badge_value": {
            "type": "string",
            "example": "1",
            "default": "1"
          },
          "sound_file_name": {
            "type": "string",
            "default": ""
          },
          "static_asset_id": {
            "type": "integer",
            "nullable": true
          },
          "sound": {
            "type": "boolean",
[...]
